{% extends form.base_template|default:request.EXPERIMENTS.layout.value|yesno:"2022/base_simple.html,base/base.html" %}
{% load forms_builder_tags %}
{% load title %}
{% load i18n %}

{% block settings %}
  {% title form.title %}
{% endblock %}

{% block breadcrumbs %}
  <a href="{{ form.get_absolute_url }}"><span>{{ form.title }}</span></a>
  <span>{% trans "Thank you" %}</span>
{% endblock %}

{% block title %}{{ form.title }}{% endblock %}


{% block body %}
   <h1>{{ form.title }}</h1>
   <p>{{ form.response }}</p>
{% endblock %}
