.cite {
    display: block;
    color: black;
    background: white;
    @include size(padding, 30px 20px 1px 80px);

    .vip {
        margin: 0;
        color: #575C63;
        @include size(font-size, 11px);
    }

    .cite-body {
        @include size(font-size, 18px);
        line-height: 1.3em;

        h4 {
            margin: 0;
        }
        .didaskalia {
            font-style: italic;
        }
        .verse {
            // Cancel any indentation.
            padding-left: 0 !important;
        }
        .person {
            font-style: inherit;
        }
    }

    blockquote {
        padding: 0;
        margin: 0;

        p {
            margin: 0;
        }
    }

    .source
    {
        color: #444;
        @include mono;
        @include size(font-size, 11px);
        @include size(margin-top, 16px);
    }
}




.book-wide-box .cite {
    background-color: #f7f7f7;
    vertical-align: middle;
    @include min-screen(1000px) {
        @include size(width, 395px);
    }
    margin: 0;
    @include size(padding, 10px);
}
