.picture {
    &.book-wide-box {
        .cover-area {
            position: static;
            @include size(margin-right, 15px);

            img.cover {
                @include size(width, 535px);
                height: auto;
            }
        }

        .book-box-head, .tags, .book-box-tools {
            margin: 0;
        }

        
        @media screen and (min-width: 62.5em) {
            .book-box-head, .tags, .book-box-tools {
                float: right;
                @include size(width, 403px);
            }
        }

        .other-tools {
            margin: 5em 0 0 0;
        }

        .book-box-tools, .tags, #theme-list-wrapper {
            clear: left;
            margin-left: 0;
        }
        .book-box-body {
            height: auto;
            margin-bottom: 1em;
        }

        @media screen and (min-width: 50em) {
            .book-box-body {
                @include size(height, 170px);
                margin-bottom: 0;
            }
            .book-box-tools, .tags {
                clear: none;
            }

            #theme-list-wrapper {
                clear: none;
                @include size(margin-left, 550px);
            }
        }
    }

    li.book-box-download {
        width: 15em;
    }
}


.work-list {
    .Picture-item {
        @include min-screen($S_BOOK_SHORT_FULL) {
            display: inline-block;
        }
        vertical-align: top;
    }
}
