/* jquery UI overrides us */
.ui-menu .ui-menu-item a {
    color: #0d7e85 !important;
    line-height: 1.636em !important;
}

.ui-widget {
    font-family: Georgia !important;
    @include size(font-size, 10px !important);
}

.ui-widget-content {
    background: #EEEEEE !important; /* #E2E2E2 ? */
    border-radius: 0px !important;
}



.inline-tag-lists p span:first-child {
    color: #281d1c;
}

/* just on search page */
.top-tag-list {
    @include size(margin-top, 22px);
    @include size(margin-bottom, 16px);
}


.search-result {
    @include size(width, 975px);

    .book-box-body {
        @include size(width, 310px);
    }
}



.book-list-header {
    @include size(width, 975px);
    padding: 0em;
    @include size(margin-left, -1px);

    .book-box-inner {
        min-height: 1em;
    }

    p {
        @include size(font-size, 24px);
        @include size(margin, 5px);
    }
}

.snippets {
    @include size(width, 440px);
    float: right;
    @include size(margin-top, -200px);

    .snippet-text {
        @include size(font-size, 12px);
        @include size(margin, 13px 0);
        @include size(padding, 12px);
        background: #f7f7f7;
    }

    .anchor {
        display: none;
    }
}


.search-hint-label {
    display: inline-block;
    @include size(font-size, 11px);
    @include size(width, 275px);
    line-height: 1.636em;
}

.search-hint-category {
    @include size(font-size, 11px);
    line-height: 1.636em;
}

