{% extends "base.html" %}
{% load i18n %}
{% load catalogue_tags chunks %}

{% block bodyid %}document-list-body{% endblock %}

{% block title %}{% trans "Hand-outs for teachers on " %}WolneLektury.pl{% endblock %}

{% block extrahead %}
    <script type="text/javascript" charset="utf-8">
        $(function() {
            $("#document-list a").click(function(e){
                  e.preventDefault();
                  if($("#presentation-frame").length == 0){
                    $("<iframe id='presentation-frame' width='600' height='500' border='0' src=''>").appendTo($("#document-detail"));
                  }
                  $("#presentation-frame").attr("src", this.href);
                  $('#document-list li').css('border', 'none');
                  $(this).closest('li').css('border', '1px solid green');
                  $('.download-doc').hide();
                  $(this).next('.download-doc').show();
            });
        });
    </script>
{% endblock extrahead %}
{% block body %}
    <h1>{% trans "Hand-outs for teachers" %}</h1>
    <form action="{% url search %}" method="GET" accept-charset="utf-8" id="search-form">
        <p>{{ form.q }} <input type="submit" value="{% trans "Search" %}" /> <strong>{% trans "or" %}</strong> <a href="{% url main_page %}">{% trans "return to main page" %}</a></p>
    </form>
    <div id="document-list">
        {% chunk "document-list" %}
    </div>
    <div id="document-detail">
    </div>
{% endblock %}
