{% extends "base.html" %}
{% load i18n %}
{% load chunks %}

{% block titleextra %}{{ page.title }}{% endblock %}

{% block metadescription %}{{ left_column|striptags|truncatewords:10 }}{% endblock %}

{% block body %}
    <h1>{{ page.title }}</h1>

    {% autoescape off %}
    <div class="left-column">
        <div class="normal-text">
            {{ left_column }}
        </div>
    </div>
    <div class="right-column">
        <div class="normal-text">
            {{ right_column }}
        </div>
    </div>
    {% endautoescape %}
{% endblock %}
