/* =================================================== */
/* = Common elements: headings, paragraphs and lines = */
/* =================================================== */
.fragment h1 {
    font-size: 3em;
    margin: 1.5em 0;
    text-align: center;
    line-height: 1.5em;
    font-weight: bold;
}

.fragment h2 {
    font-size: 2em;
    margin: 1.5em 0 0;
    font-weight: bold;
    line-height: 1.5em;
}

.fragment h3 {
    font-size: 1.5em;
    margin: 1.5em 0 0;
    font-weight: normal;
    line-height: 1.5em;
}

.fragment h4 {
    font-size: 1em;
    margin: 1.5em 0 0;
    line-height: 1.5em;
}

.fragment p {
    margin: 0;
}

/* ======================== */
/* = Footnotes and themes = */
/* ======================== */
.theme-begin {
    display: none;
}

.annotation {
    display: none;
}

/* =================== */
/* = Custom elements = */
/* =================== */
span.author {
    font-size: 0.75em;
    display: block;
    line-height: 1.5em;
    margin-bottom: 0.25em;
}

span.collection {
    font-size: 0.75em;
    display: block;
    line-height: 1.5em;
    margin-bottom: -0.25em;
}

span.subtitle {
    font-size: 0.75em;
    display: block;
    line-height: 1.5em;
    margin-top: -0.25em;
}

div.didaskalia {
    font-style: italic;
    margin: 0.5em 0 0;
}

div.kwestia {
    margin: 0.5em 0 0;
}

div.stanza {
    margin: 1.5em 0 0;
}

div.kwestia div.stanza {
    margin: 0;
}

p.paragraph {
    text-align: justify;
    margin: 1.5em 0 0;
}

p.motto {
    text-align: justify;
    font-style: italic;
    margin: 1.5em 0 0;
}

p.motto_podpis {
    font-size: 0.875em;
}

/*div.fragment {
    border-bottom: 0.1em solid #999;
    padding-bottom: 1.5em;
}*/

div.note p, div.note p.paragraph {
    text-align: right;
    font-style: italic;
}

hr.spacer {
    height: 3em;
    visibility: hidden;
}
