{% extends "base_simple.html" %}
{% load i18n %}

{% block settings %}
  {% load title %}
  {% trans "Strona nie istnieje" as title %}
  {% title title %}
{% endblock %}


{% block titleextra %}404 – {% trans "Strona nie istnieje" %}{% endblock %}


{% block body %}
  <h1>{% trans "Strona nie istnieje" %}</h1>

  <p class="normal-text">
    {% trans "Przepraszamy, ale ta strona nie istnieje. Sprawdź, czy podany adres jest właściwy, lub przejdź do"%}
    <a href="/">{% trans "strony głównej" %}</a>.
  </p>
{% endblock body %}
