{% load static %}
<a id='annoy-on' href="http://nowoczesnapolska.org.pl/pomoz-nam/1-procent/">TPWL</a>
<div id='annoy'>
  <div id='annoy-content'>

    <!--a href="http://nowoczesnapolska.org.pl/pomoz-nam/1-procent/">
      <img src='{% static "img/procent.png" %}' alt="Logo akcji 1%" style="float:left;margin: 0 2em" />
    </a>
    <p>
      Czy wiesz, że możesz pomóc nam rozwijać Wolne Lektury, przekazując 1% swojego podatku?
      To bardzo proste - wystarczy, że w zeznaniu podatkowym podasz nasz numer
      <strong>KRS 0000070056</strong>.
    </p>

    <p><a href="http://nowoczesnapolska.org.pl/pomoz-nam/wesprzyj-nas/">Dowiedz się więcej</a></p-->
    <p>
    <a href="/towarzystwo/">
        Wolne Lektury potrzebują pomocy! Wesprzyj bezpłatną bibliotekę internetową i przeczytaj opowiadanie Pawła Sołtysa napisane specjalnie dla Ciebie.
    </a>
    </p>

  </div>
  <a id='annoy-off'>x</a>
  <div style="clear:both;"></div>
</div>
