{% load static %}
<a id='annoy-on' href="http://nowoczesnapolska.org.pl/pomoz-nam/wesprzyj-nas/">1%</a>
<div id='annoy'>
    <a href="http://nowoczesnapolska.org.pl/pomoz-nam/wesprzyj-nas/">
        <img src='{% static "img/procent.png" %}' alt="Logo akcji 1%" style="float:left;margin: 0 2em" /></a>
    <p>Droga użytkowniczko, drogi użytkowniku!</p>
    <p>Czy wiesz, że biblioteka internetowa Wolne Lektury to jeden z&nbsp;projektów
    <strong>fundacji Nowoczesna Polska</strong> –
    organizacji pożytku publicznego działającej na rzecz wolności korzystania
    z&nbsp;dóbr kultury? Wesprzyj nasze działania, przeznaczając na nie 1% swojego podatku.
    Możesz to zrobić, wpisując w&nbsp;zeznaniu podatkowym numer
    <strong>KRS 0000070056</strong>.</p>

    <p><a href="http://nowoczesnapolska.org.pl/pomoz-nam/wesprzyj-nas/">Dowiedz się więcej</a></p>
    
    <a id='annoy-off'>x</a>
    <div style="clear:both;"></div>
</div>
