{% extends 'board_base.html' %}
{% load i18n %}
{% load static %}
{% load stylesheet from pipeline %}

{% block css %}
   {{ block.super }}
   {% stylesheet 'forum' %}
{% endblock css %}



{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'forum:index' %}">
    {% block brand %}
      <img src="{% static 'img/logo-neon-transp.png' %}" alt="Towarzystwo Przyjaciół Wolnych Lektur">
    {% endblock %}
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% block header_collapse %}
    <form class="form-inline my-2 ml-3 my-lg-0" role="search" action="{% url 'forum_search:search' %}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">{% trans "Search" %}</button>
    </form>
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" href="{% url 'forum_search:search' %}">{% trans "Advanced search" %}</a>
    </div>
    <div class="navbar-nav mr-auto">
      {% if request.user.is_authenticated %}
        <div class="nav-item">
          <a class="nav-link disabled">
            {{ request.user.username }}
          </a>
	</div>
        {% if request.user.is_staff %}
	  <div class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">
              {% trans "Administration" %}
            </a>
	  </div>
        {% endif %}
	<div class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">{% trans "Logout" %}</a>
	</div>
      {% endif %}
    </div>
    {% endblock header_collapse %}
  </div>
</nav>
{% endblock header %}
