{% extends "base/base.html" %}
{% load latest_blog_posts from blog %}
{% load carousel from social_tags %}
{% load static %}
{% load i18n catalogue_tags infopages_tags %}
{% load cache %}
{% load funding_tags %}
{% get_current_language as LANGUAGE_CODE %}


{% block title %}{% trans "Wolne Lektury internet library" %}{% endblock %}
{% block ogtitle %}{% trans "Wolne Lektury internet library" %}{% endblock %}

{% block footerlink %}#main-footer{% endblock %}

{% block body %}
  {% spaceless %}
    {% carousel 'main' %}

    <section id="main-library">
      <h1>{% trans "In our digital library you will find" %}</h1>
      <div class="main-library-row">
        <div class="covers">
          {% for book in best %}
            {{ book.mini_box }}
          {% endfor %}
        </div>
        <div class="note white-box normal-text" style="font-size: 18px">
	  <a href="{% if recommended_collection %}{{ recommended_collection.get_absolute_url }}{% else %}{% url "book_list" %}{% endif %}" style="display: block; height: 100%">
            {% trans "and many other books, poems, pictures, audiobooks…" %}
          </a>
        </div>
      </div>
    </section>

    <section>
      <h1>
        <a  href="{% url 'recent_list' %}">
          {% trans "Recent publications" %}
          &rarr;
        </a>
      </h1>
      {% for book in last_published %}
        {{ book.mini_box }}
      {% endfor %}
    </section>

    {% if collections %}
      <section>
        <h1>
          <a href="{% url 'catalogue_collections' %}">
            {% trans "Collections" %}
            &rarr;
          </a>
        </h1>
        {% for collection in collections %}
	  {{ collection.box }}
        {% endfor %}
      </section>
    {% endif %}

    <section id="main-theme">
      <h1>
        <a href="{% url 'theme_catalogue' %}">
          {% trans "Motifs and themes" %}
          &rarr;
        </a>
      </h1>
      <div class="white-box normal-text">
        <h2>{% trans "Theme" %}: {{ theme }}</h2>
        <p>{% trans "Explore works with the same theme" %}</p>
        {% for book in theme_books %}
          {{ book.mini_box }}
        {% endfor %}
        {% if theme_fragment %}
          {% cache 3600 fragment_promo theme_fragment.pk %}
            {% include 'catalogue/fragment_promo.html' with fragment=theme_fragment %}
          {% endcache %}
        {% endif %}
      </div>
    </section>

    <div id="main-footer" class="clearboth"></div>

    <section class="infopages-box">
      <h1>{% trans "News" %}</h1>
      <ol>
        {% cache 1800 latest_blog_posts %}
          {% latest_blog_posts %}
        {% endcache %}
      </ol>
    </section>

    <section class="infopages-box">
      <h1>{% trans "Utilities" %}</h1>

      <ul>
        <li><a href="{% url 'suggest' %}" id="suggest" class="ajaxable">{% trans "Report a bug or suggestion" %}</a></li>
        <li><a href="{% url 'reporting_catalogue_pdf' %}">{% trans "Download the catalogue in PDF format." %}</a></li>
	<li><a href="{% url 'gallery' %}">{% trans "Art" %}</a></li>
        <li><a href="{% url 'catalogue' %}">{% trans "All works" %}</a></li>

        <li><a href="{% url 'dictionary_notes' %}">{% trans "Footnotes" %}</a></li>
        <li><a href="{% url 'suggest_publishing' %}" id="suggest-publishing" class="ajaxable">{% trans "Missing a book?" %}</a></li>
        <li><a href="{% url 'publish_plan' %}">{% trans "Publishing plan" %}</a></li>
        <li><a href="{% url 'api' %}">API</a></li>
        <li><a href="{% url 'oaipmh' %}">OAI-PMH</a></li>
        <li><a href="{% url 'lesmianator' %}" lang="pl">Leśmianator</a></li>
        <li><a href="https://polski.wolnelektury.pl" lang="pl">Przewodnik dla piszących i czytających</a></li>
        <li><a href="{% url 'subscribe' %}">{% trans "Newsletter" %}</a></li>
      </ul>
    </section>

    <section class="infopages-box">
      <h1>{% trans "Information" %}</h1>
      <ul>
        <li><a href="https://nowoczesnapolska.org.pl/prywatnosc/">{% trans "Privacy policy" %}</a></li>
        {% infopages_on_main %}
      </ul>

      <div class="social-links">
        <a href="https://www.facebook.com/wolnelektury/" title='{% trans "Follow us on Facebook" %}'>
          <img src="{% static "img/social/f.png" %}" alt="Wolne Lektury @ Facebook" />
        </a>
      </div>
    </section>
  {% endspaceless %}
{% endblock %}


{% block add_footer %}
  {% spaceless %}
    {% if cite %}
      <p>
        {% trans "Image used:" %}
        {% cache 3600 cite_info cite.pk %}
          {% include 'social/cite_info.html' %}
        {% endcache %}
      </p>
    {% endif %}
  {% endspaceless %}
{% endblock %}
