{% load i18n %}

<li{% if active_menu_item == 'club' %} class="active"{% endif %}>
  <a href="{% url 'club_join' %}">{% trans "Support us" %}</a>
</li>
<li{% if active_menu_item == 'books' %} class="active"{% endif %}>
  <a href="{% url 'book_list' %}">{% trans "Literature" %}</a>
</li>
<li{% if active_menu_item == 'theme' %} class="active"{% endif %}>
  <a href="{% url 'theme_catalogue' %}">{% trans "Themes" %}</a>
</li>
<li{% if active_menu_item == 'audiobooks' %} class="active"{% endif %}>
  <a href="{% url 'audiobook_list' %}">{% trans "Audiobooks" %}</a>
</li>
<li{% if active_menu_item == 'collections' %} class="active"{% endif %}>
  <a href="{% url 'catalogue_collections' %}">{% trans "Collections" %}</a>
</li>
<li>
  <a href="{% url 'subscribe' %}">{% trans "Newsletter" %}</a>
</li>
<li{% if active_menu_item == 'info:lektury-szkolne' %} class="active"{% endif %}>
  <a href="{% url 'infopage' 'lektury-szkolne' %}">{% trans "School readings" %}</a>
</li>
