{% extends request.EXPERIMENTS.layout.value|yesno:"2022/base_simple.html,base/base.html" %}
{% load i18n %}

{% block settings %}
  {% load title %}
  {% trans "Publishing plan" as title %}
  {% title title %}
{% endblock %}

{% block titleextra %}{% trans "Publishing plan" %}{% endblock titleextra %}


{% block body %}
  <h1>{% trans "Publishing plan" %}</h1>

  <ul class="normal-text">
    {% for elem in plan %}
      <li><a href="{{ elem.link }}">{{ elem.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
