{% extends "base_simple.html" %}
{% load i18n %}


{% block settings %}
  {% load title %}
  {% trans "Użytkownik" as title %}
  {% title title %}
{% endblock %}

{% block titleextra %}{% trans "Użytkownik" %}{% endblock %}

{% block body %}
  <div class="normal-text white-box">
    <h1>{% trans "Użytkownik" %}</h1>

    <p><a href="{% url 'account_set_password' %}">{% trans "Hasło" %}</a></p>
    <p><a href="{% url 'account_email' %}">{% trans "E-mail" %}</a></p>
    <p><a href="{% url 'socialaccount_connections' %}">{% trans "Zewnętrzne konta" %}</a></p>
    {% if request.user.membership %}
      <p><a href="{% url 'club_join' %}">{% trans "Wspierasz Wolne Lektury, dziękujemy!" %}</a></p>
    {% endif %}
  </div>
{% endblock %}
