{% extends "2022/base_simple.html" %}
{% load i18n %}


{% block settings %}
  {% load title %}
  {% trans "User" as title %}
  {% title title %}
{% endblock %}

{% block titleextra %}{% trans "User" %}{% endblock %}

{% block body %}
  <div class="normal-text white-box">
    <h1>{% trans "User" %}</h1>

    <p><a href="{% url 'account_set_password' %}">{% trans "Password" %}</a></p>
    <p><a href="{% url 'account_email' %}">{% trans "E-mail" %}</a></p>
    <p><a href="{% url 'socialaccount_connections' %}">{% trans "Social accounts" %}</a></p>
    {% if request.user.membership %}
      <p><a href="{% url 'club_join' %}">Wspierasz Wolne Lektury, dziękujemy!</a></p>
    {% endif %}
  </div>
{% endblock %}
