{% spaceless %}
  {% load static %}
  {% load pipeline %}
  <!DOCTYPE html>

  <html>
    <head>
      <meta charset="UTF-8">
      <base target="_parent" />
      <title>Widget Wolnych Lektur</title>
      {% stylesheet 'widget' %}
    </head>
    <body>
      <div id="wl">
        <a href="/">
          <img src="{% static '2022/images/logo.svg' %}">
        </a>
        <form action="{% url 'wlsearch' %}" method="get" accept-charset="utf-8" id="wl-form">
          <div id="wl-search">
            <input data-source="{% url 'search_hint' %}?max=3" id="id_qq" name="q" title="tytuł, autor, motyw/temat, epoka, rodzaj, gatunek, cytat" placeholder="tytuł, autor, motyw/temat, epoka, rodzaj, gatunek, cytat" type="text" value=""/>
          </div>
          <button>
            <img alt="Szukaj" src="{% static 'img/search.png' %}">
          </button>
        </form>
      </div>
      {% javascript 'widget' %}
    </body>
  </html>
{% endspaceless %}
