{% load i18n catalogue_tags %}

<div class="c-media__player" id="jp_container_{{ book.pk }}">
  <div class="jp-jplayer"></div>

  <div class="c-player">
    <a class="c-player__btn" href="{{ book.get_absolute_url }}">
      <i class="icon icon-next">⏭</i>
    </a>
      <div class="c-player__timeline">
        <div class="c-player__title">
          {{ book.title }}
        </div>
        <span>
          <span class="jp-seek-bar">
            <span class="jp-play-bar"></span>
          </span>
        </span>
      </div>
    </div>
  </div>
