.c-support {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  border-top: 4px solid $color-light-gray;
  border-bottom: 4px solid $color-light-gray;
  padding: 90px 0 40px 0;

  h2 {
    margin: 0;
    font-weight: $bold;
    @include font-size(64px);
    letter-spacing: -0.02em;
    color: $color-primary;
    line-height: 64px;
  }
  a {
    font-weight: $bold;
    @include font-size(48px);
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.01em;
    color: $color-primary;
    border: 12px solid $color-yellow;
    box-sizing: border-box;
    border-radius: 40px;
    width: 550px;
    display: inline-block;
    padding: 33px 23px 33px 193px;
    margin-right: 0;
    margin-left: auto;
    position: relative;
    top: -50px;
    transition: all $ease-dynamic 350ms;

    &:hover {
      background: $color-yellow;
    }
  }
}
