{% extends 'base.html' %}
{% load i18n %}


{% block breadcrumbs %}
  <a href="/katalog/"><span>{% trans "Katalog" %}</span></a>
{% endblock %}

{% block main %}
  <div class="l-section">
    <div class="l-author__header">
      <h1>
      </h1>
    </div>
  </div>

  <div class="l-section">
    <div class="l-books__header">
      <div class="l-books__input">
        <i class="icon icon-filter"></i>
        <input type="text" placeholder="{% trans 'filtry, tytuł' %}" class="quick-filter" data-for="book-list" data-filters="with-filter">
      </div>
      <div class="l-books__sorting">
        <span>{% trans "Sortuj:" %}</span>
        <div>
          <button data-order="data-pop">{% trans "najpopularniejsze" %}</button>
          <button class="is-active">{% trans "alfabetycznie" %}</button>
          <!--button>chronologicznie</button-->
        </div>
      </div>
    </div>
  </div>
  <div class="with-filter">

    <div class="row">
      {% if suggest %}
        <div class="filter-container">
          {% for tag in suggest %}
            <span class="filter filter-category-{{ tag.category }}">
              <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
            </span>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="l-section l-section--col">
    <div class="l-books__grid" id="book-list">
      {% for book in object_list %}
        {% include "catalogue/book_box.html" %}
      {% endfor %}
    </div>
  </div>

{% endblock %}
