{% extends "base/base.html" %}
{% load i18n %}
{% load work_list from catalogue_tags %}
{% load annoy_banner from annoy %}

{% block titleextra %}{% trans "Theme" %} {{ theme }} {% trans "in work " %} {{ book }}{% endblock %}

{% block bodyid %}tagged-object-list{% endblock %}

{% block body %}
  <div class="left-column">
  <h1>{% trans "Theme" %}
    <a href="{{ theme.get_absolute_url }}">{{ theme }}</a>
    <br/>{% trans "in work " %}
    <a href="{{ book.get_absolute_url }}">{{ book }}</a></h1>

  {% annoy_banner 'book-fragment-list' %}

  </div>

  <div class="right-column">
    {% work_list fragments %}
  </div>
{% endblock %}
