{% spaceless %}
<div class="book-mini-box">
    <div class="book-mini-box-inner">
    {% if with_link %}
    <a href="{{ book.get_absolute_url }}">
    {% endif %}
        {% if book.cover_thumb %}
            <img src="{{ book.cover_thumb.url }}" alt="{{ author_str }} – {{ book.title }}" class="cover" />
        {% endif %}
        {% if show_lang %}
            <span class="language" title="{{ book.language_name }}">{{ book.language_code }}</span>
        {% endif %}
        <div class="desc">
            <span class="mono author">{{ author_str }}</span>
            <span class="title">{{ book.title }}</span>
        </div>
    {% if with_link %}
    </a>
    {% endif %}
    </div>
</div>
{% endspaceless %}