{% extends "base/base.html" %}
{% load i18n %}
{% load common_tags catalogue_tags %}
{% load ssify %}
{% load build_absolute_uri from fnp_common %}
{% load cache %}

{% block titleextra %}{{ book.pretty_title }}{% endblock %}
{% block ogimage %}{% if book.cover %}{{ book.cover.url|build_absolute_uri:request }}{% endif %}{% endblock %}

{% block metadescription %}{% book_title book %}. {{ block.super }}{% endblock %}

{% block bodyid %}book-detail{% endblock %}

{% block body %}
  {% get_current_language as LANGUAGE_CODE %}
  {% cache 86400 book_wide book.pk book|status:user LANGUAGE_CODE %}
    {% include 'catalogue/book_wide.html' %}
  {% endcache %}

  {% work_list book_children %}

  {% spaceless %}
    {% if book.other_versions %}
      <section class="see-also">
        <h1>{% trans "Other versions" %}:</h1>
        {% for rel in book.other_versions %}
          {% cache 86400 book_mini_box rel.pk %}
            {% include 'catalogue/book_mini_box.html' with book=rel %}
          {% endcache %}
          {#% ssi_include 'catalogue_book_mini' pk=rel.pk %#}
        {% endfor %}
      </section>
    {% endif %}

    <section class="see-also">
      <h2>{% trans "See also" %}:</h2>
      {% related_books book taken=book.other_versions|length %}
    </section>
  {% endspaceless %}

  {% with book.related_themes as themes %}
    {% if themes %}
      <h2>{% trans "Themes" %}</h2>
      {% plain_list themes book=book %}
    {% endif %}
  {% endwith %}


  <h2>{% trans "Information about the work" %}</h2>
  {% for author in book.authors %}
    <div class="white-box">
      <a style="display:block" href="{{ author.get_absolute_url }}">
        {% ssi_include 'catalogue_tag_box' pk=author.pk %}
      </a>
    </div>
  {% endfor %}


  {% if extra_info.source_url %}
    <div class="white-box">
      <a href="{{ extra_info.source_url }}">{% trans "Source" %}</a> {% trans "of the book" %}
      {% trans "in" %} {% source_name extra_info.source_url %}
    </div>
  {% endif %}
  {% if book|status:user != 'closed' %}
    <div class="white-box"><a href="{{ book.xml_url }}">{% trans "Source XML file" %}</a></div>
  {% endif %}
  {% if extra_info.about and not hide_about %}
    <div class="white-box">
      {% trans "Book on" %} <a href="{{ extra_info.about }}">{% trans "Editor's Platform" %}</a>
    </div>
  {% endif %}
  {% if book.wiki_link %}
    <div class="white-box">
      <a href="{{ book.wiki_link }}">{% trans "Book description on Wikipedia" %}</a>
    </div>
  {% endif %}
  <div class="white-box">
    <a href="{% url 'poem_from_book' book.slug %}">{% trans "Mix this book" %}</a>
  </div>

{% endblock %}
