{% extends "catalogue/book_short.html" %}
{% load i18n %}
{% load choose_fragment download_audio custom_pdf_link_li license_icon source_name from catalogue_tags %}
{% load choose_cite from social_tags %}
{% load ssi_include from ssify %}


{% block box-class %}book-wide-box{% endblock %}


{% block cover-area-extra %}
{% if extra_info.license %}
  {% license_icon extra_info.license %}
{% endif %}
{% endblock %}


{% block right-column %}
  <div class="right-column">
    <div class="quote">
      {% choose_cite book.pk as cite_promo %}
      {% choose_fragment book.pk unless=cite_promo as fragment_promo %}
      {{ cite_promo.if }}
        {% ssi_include 'social_cite' pk=cite_promo %}
      {{ cite_promo.endif }}
      {{ fragment_promo.if }}
        {% ssi_include 'catalogue_fragment_promo' pk=fragment_promo %}
      {{ fragment_promo.endif }}
    </div>
    {% include 'catalogue/snippets/jplayer.html' %}
  </div>
{% endblock %}


{% block book-box-body-pre %}
    {% include "catalogue/snippets/like_button.html" %}
{% endblock %}

{% block book-box-pre %}
{% endblock %}
