{% load i18n %}
{% load catalogue_tags %}
{% load thumbnail %}

{% with extra_info=book.get_extra_info_json %}
  <p>
    {% blocktrans trimmed with url="https://wolnelektury.pl/info/zasady-wykorzystania/" %}
      Wszystkie zasoby Wolnych Lektur możesz swobodnie wykorzystywać,
      publikować i rozpowszechniać pod warunkiem zachowania warunków
      licencji i zgodnie z <a href="{{ url }}">Zasadami wykorzystania Wolnych Lektur</a>.
    {% endblocktrans %}
    <br>

    {% if extra_info.license %}
      {% blocktrans trimmed context "licencji" %}
        Ten utwór jest jest udostępniony na
      {% endblocktrans %}
      <a href="{{ extra_info.license }}">{% license_locative extra_info.license extra_info.license_description %}</a>.
    {% else %}
      {% trans "Ten utwór jest w domenie publicznej." %}
    {% endif %}
    <br>
    {% blocktrans trimmed with url="https://wolnelektury.pl/info/zasady-wykorzystania/" %}
      Wszystkie materiały dodatkowe (przypisy, motywy literackie) są
      udostępnione na <a href="https://artlibre.org/licence/lal/pl/">Licencji Wolnej Sztuki 1.3</a>.<br>
      Fundacja Wolne Lektury zastrzega sobie prawa do wydania
      krytycznego zgodnie z art. Art.99(2) Ustawy o prawach autorskich
      i prawach pokrewnych. Wykorzystując zasoby z Wolnych Lektur,
      należy pamiętać o zapisach licencji oraz zasadach, które
      spisaliśmy w <a href="{{ url }}">Zasadach wykorzystania Wolnych Lektur</a>.
      Zapoznaj się z nimi, zanim udostępnisz dalej nasze książki.
    {% endblocktrans %}
  </p>

  {% if extra_info.source_name %}
    <p>{% trans "Zasób opracowany na podstawie:" %} {{ extra_info.source_name }}</p>
  {% endif %}

  {% if extra_info.description %}
    <p>{{ extra_info.description }}</p>
  {% endif %}

  {% if extra_info.logo %}
    {% thumbnail extra_info.logo '300x200' as th %}
    <img src="{{ th.url }}" style="width: 300px; max-width: 100%;"
         alt="{{ extra_info.logo_alt|default:'Sponsor' }}"
    >
  {% endthumbnail %}
  {% endif %}

  {% if extra_info.editor or extra_info.technical_editor %}
    <p>
      {% trans "Opracowanie redakcyjne i przypisy:" %}
      {% all_editors extra_info %}.
    </p>
  {% endif %}

  {% if extra_info.publisher %}
    <p>
      {% trans "Wydawca:" %}
      {{ book.publisher }}
    </p>
  {% endif %}

  {% if extra_info.funders %}
    <p>
      {% trans "Publikację wsparli i wsparły:" %}
      {% for funder in extra_info.funders %}{{ funder }}{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}
    </p>
  {% endif %}

  {% if extra_info.cover_by %}
    <p>
      {% trans "Ilustracja na okładce:" %}
      <a href="{{ extra_info.cover_source }}">{{ extra_info.cover_by }}</a>.
    </p>
  {% endif %}

{% if extra_info.isbn_html %}
  <p>
    {{ extra_info.isbn_html }}
  </p>
{% endif %}

{% endwith %}
