{% spaceless %}
  {% load i18n %}
  {% load catalogue_tags %}
  {% load book_shelf_tags from social_tags %}
  {% load static %}

  {% with ga=book.get_audiobooks %}
  {% with audiobooks=ga.0 %}
  <div class="{% block box-class %}book-box{% if audiobooks %} audiobook-box{% endif %}{% endblock %}">
    <div class="book-box-inner">

    {% block book-box-pre %}
      {% include "catalogue/snippets/like_button.html" %}
    {% endblock %}

    {% with book.tags_by_category as tags %}
    <div class="book-left-column">
      <div class="book-box-body">
        {% block book-box-body-pre %}
        {% endblock %}

        <div class="book-box-head">
          <div class="author">
            {% for tag in tags.author %}
              <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %},
            {% endif %}{% endfor %}{% for parent in book.parents %},
              <a href="{{ parent.get_absolute_url }}">{{ parent.title }}</a>{% endfor %}
          </div>
          <div class="title">
            <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
          </div>
          {% if book.translator %}
              <div class="author">
                  tłum. {{ book.translator }}
              </div>
          {% endif %}
        </div>

        <div class="cover-area">
          {% if book.cover_thumb %}
            <a href="{{ book.get_absolute_url }}">
              <img src="{{ book.cover_thumb.url }}" alt="Cover" class="cover" />
            </a>
          {% endif %}
          {% block cover-area-extra %}{% endblock %}
        </div>

        <div class="tags">
          <span class="category">
          <span class="mono"> {% trans "Epoch" %}:</span>&nbsp;<span class="book-box-tag">
            {% for tag in tags.epoch %}
              <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
              {% if not forloop.last %}<span>, </span>{% endif %}
            {% endfor %}
          </span></span>

          <span class="category">
          <span class="mono"> {% trans "Kind" %}:</span>&nbsp;<span class="book-box-tag">
            {% for tag in tags.kind %}
              <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
              {% if not forloop.last %}<span>, </span>{% endif %}
            {% endfor %}
          </span></span>

          <span class="category">
          <span class="mono"> {% trans "Genre" %}:</span>&nbsp;<span class="book-box-tag">
            {% for tag in tags.genre %}
              <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
              {% if not forloop.last %}<span>, </span>{% endif %}
            {% endfor %}
          </span></span>

          {% if book.is_foreign %}
            <span class="category">
              <span class="mono"> {% trans "Language" %}:</span>&nbsp;<span class="book-box-tag">
                <a>{{ book.language_name }}</a>
              </span>
            </span>
          {% endif %}

          {% with stage_note=book.stage_note %}
          {% if stage_note.0 %}
            <br>
            <span class="category">
              <a{% if stage_note.1 %} href="{{ stage_note.1 }}"{% endif %}>{{ stage_note.0 }}</a>
            </span>
          {% endif %}
          {% endwith %}
        </div>
      </div>
      {% book_shelf_tags book.pk %}

      <ul class="book-box-tools">
        <li class="book-box-read">
          {% if book.html_file %}
            <a href="{% url 'book_text' book.slug %}" class="downarrow">{% trans "Read online" %}</a>
          {% endif %}
          {% if book.print_on_demand %}
            <a href="{{ book.ridero_link }}" class="downarrow print tlite-tooltip" title="{% trans "Cena książki w druku cyfrowym jest zależna od liczby stron.<br>Przed zakupem upewnij się, że cena druku na żądanie jest dla Ciebie odpowiednia.<br>Wszystkie nasze zasoby w wersji elektronicznej są zawsze dostępne bezpłatnie." %}">{% trans "Print on demand –" %}
                <img src="{% static 'img/ridero.png' %}" style="height: 0.8em;"/></a>
          {% endif %}
        </li>
        <li class="book-box-download">
          <a class="downarrow">{% trans "Download" %}:</a>
          <div class="book-box-formats">
            {% if book.pdf_file %}
              <span><a href="{{ book.pdf_file.url}}">PDF</a></span>
            {% endif %}
            {% custom_pdf_link_li book %}
            {% if book.epub_file %}
              <span><a href="{{ book.epub_file.url}}">EPUB</a></span>
            {% endif %}
            {% if book.mobi_file %}
              <span><a href="{{ book.mobi_file.url}}">MOBI</a></span>
            {% endif %}
            {% if  book.fb2_file %}
              <span><a href="{{ book.fb2_file.url}}">FB2</a></span>
            {% endif %}
            {% if  book.txt_file %}
              <span><a href="{{ book.txt_file.url}}">TXT</a></span>
            {% endif %}
            {% download_audio book %}
          </div>
        </li>
      </ul>
      {% block book-box-extra-info %}{% endblock %}
      {% block box-append %}
      {% endblock %}
    </div>
    {% endwith %}

    {% block right-column %}
      {% if audiobooks %}
        <div class="audiobook-right-column">
          {% include 'catalogue/snippets/jplayer.html' %}
        </div>
      {% endif %}
    {% endblock %}

    <div class="clearboth"></div>
    </div>
  </div>
  {% endwith %}
  {% endwith %}
{% endspaceless %}
