{% extends "base/base.html" %}
{% load i18n %}
{% load catalogue_tags %}
{% load chunk from chunks %}

{% block bodyid %}book-a-list{% endblock %}

{% block titleextra %}{% trans "Listing of all works" %}{% endblock %}

{% block body %}
  {% spaceless %}
    <h1>{% block book_list_header %}{% trans "Listing of all works" %}{% endblock %}</h1>

    <div class="left-column"><div class="normal-text" style="margin-bottom: 2em">
      {% block book_list_info %}
        {% chunk 'book-list' %}
      {% endblock %}
    </div></div>

    <div style='clear:both;'></div>

    <a name="top"></a>

    <div id="book-list-nav">
      <h2>{% trans "Table of Content" %}</h2>
      <div id="book-list-nav-index">
        {{ rendered_nav }}
      </div>
    </div>
    <div id="book-list">
      {% block book_list %}
        {{ rendered_book_list }}
      {% endblock %}
    </div>
    <a id="book-list-up" href="#top">{% trans "↑ top ↑" %}</a>
  {% endspaceless %}
{% endblock %}
