{% spaceless %}
  {% load i18n %}
  {% load inline_tag_list from catalogue_tags %}
  {% load ssi_include from ssify %}
  {% load cache %}

  <div class="search-result">
    {% cache 86400 catalogue_book_short book.pk %}
      {% include 'catalogue/book_short.html' %}
    {% endcache %}

    <div class="snippets">
      {% for hit in hits %}
        {% if hit.snippet %}
          <div class="snippet-text">
            <a href="{% url 'book_text' book.slug %}#sec{{hit.section_number}}">{{hit.snippet|safe}}</a>
          </div>
        {% elif hit.fragment %}
          <div class="snippet-text">
            {% if hit.themes_hit %}
              {% inline_tag_list hit.themes_hit  %}
            {% endif %}
            <a href="{{hit.fragment.get_absolute_url}}">
              {% if hit.snippet %}
                {{hit.snippet|safe}}
              {% else %}
                {{hit.fragment.text|truncatewords_html:15|safe}} {# bad, now impossible #}
              {% endif %}
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div style="clear: right"></div>
  </div>
{% endspaceless %}