{% extends "catalogue/book_short.html" %}
{% load inline_tag_list from catalogue_tags %}

{% block right-column %}
  <div class="book-right-column">
    <div class="snippets">
      {% for hit in hits %}
        {% if hit.snippet %}
          <div class="snippet-text">
            <a href="{% url 'book_text' book.slug %}#sec{{hit.section_number}}">{{hit.snippet|safe}}</a>
          </div>
        {% elif hit.fragment %}
          <div class="snippet-text">
            {% if hit.themes_hit %}
              {% inline_tag_list hit.themes_hit  %}
            {% endif %}
            <a href="{{hit.fragment.get_absolute_url}}">
              {{hit.snippet|safe}}
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% include 'catalogue/snippets/jplayer.html' %}
  </div>
{% endblock %}
