{% extends "catalogue/book_short.html" %}
{% load i18n %}
{% load choose_fragment license_icon from catalogue_tags %}
{% load choose_cite from social_tags %}
{% load status from catalogue_tags %}
{% load chunks %}


{% block box-class %}book-wide-box{% endblock %}


{% block cover-link %}{% if book.get_first_text %}{% url 'book_text' book.get_first_text.slug %}{% endif %}{% endblock %}


{% block cover-area-extra %}
  {% with license=book.get_extra_info_json.license %}
    {% if license %}
      {% license_icon license %}
    {% endif %}
  {% endwith %}
{% endblock %}


{% block preview-info %}
  <p class="book-box-tools book-box-tools-warn">
    {% chunk "book-preview-warn" %}
  </p>
{% endblock %}



{% block right-column %}
  <div class="right-column">
    <div class="quote">
      {% choose_cite book as cite_promo %}
      {% if cite_promo %}
        {{ cite.promo_box }}
      {% else %}
        {% choose_fragment book as fragment_promo %}
	{% if fragment_promo %}
	  {{ fragment_promo.promo_box }}
	{% endif %}
      {% endif %}
    </div>
    {% include 'catalogue/snippets/jplayer.html' %}

    {% if book|status:request.user == 'closed' %}
      {% with form=club_form %}
        <form method="POST" action="/towarzystwo/" id="payment-form" class="wlform">
          {% csrf_token %}
          {% include "club/payment_form.html" %}
          {% chunk 'club_form_bottom' %}
        </form>
      {% endwith %}

      {% include "club/payment_info.html" %}
    {% endif %}


  </div>
{% endblock %}


{% block book-box-body-pre %}
  {% include "catalogue/snippets/like_button.html" %}
{% endblock %}

{% block book-box-pre %}
{% endblock %}
