{% extends "base.html" %}
{% load i18n %}
{% load catalogue_tags %}


{% block titleextra %}{% trans "Catalogue" %}{% endblock %}

{% block bodyid %}catalogue-catalogue{% endblock %}

{% block body %}
    <h1>{% trans "All works" %}</h1>


    <div class="normal-text catalogue-catalogue">

    <p><a href="{% url 'reporting_catalogue_pdf' %}">
        {% trans "Download the catalogue in PDF format." %}
    </a></p>

    <h2>{% trans "Literature" %}</h2>
    {% plain_list books by_author=True paged=False %}

    <h2>{% trans "Collections" %}</h2>
    {% plain_list collections paged=False %}

    <h2>{% trans "Gallery" %}</h2>
    {% plain_list pictures by_author=True paged=False %}


    </div>
{% endblock %}
