{% extends 'base.html' %}
{% load i18n %}

{% block breadcrumbs %}
  <a href="/katalog/"><span>{% trans "Katalog" %}</span></a>
{% endblock %}


{% block main %}

  <div class="l-section">
    <div class="l-author__header">
      <h1>{% trans "Kolekcje" %}</h1>
    </div>
  </div>

  <div class="l-search-bar">
    <div class="l-search-bar__input">
      <i class="icon icon-filter"></i>
      <input type="text" placeholder="{% trans 'filtry, tytuł' %}" class="quick-filter" data-for="collections">
    </div>
  </div>

  <div id="collections">
  {% for collection in objects %}
    <section class="l-section">
      <div class="l-collections -js-collections">
        <div class="l-collections__header">
          <h3><a class="s" href="{{ collection.get_absolute_url }}">{{ collection.title }}</a></h3>
        </div>
        <div class="l-books">
          {% for book in collection.get_5_books %}
            {% include 'catalogue/book_box.html' %}
          {% endfor %}
        </div>
      </div>
    </section>
  {% endfor %}
  </div>


{% endblock %}
