{% spaceless %}
  {% load i18n %}
  {% load thumbnail %}
  <div class="collection-box white-box">
    <h2><a href="{{ collection.get_absolute_url }}">{{ collection }}</a></h2>
    <div class="description">
    {% if collection.description %}
      {{ collection.description|safe|truncatewords_html:40 }}
    {% endif %}
    </div>
    <div class="covers">
      {% for book in collection.get_books|slice:":6" %}
        <a href="{{ book.get_absolute_url }}">
          <img src="{% thumbnail book.cover_clean '139x193' as th %}{{ th.url }}{% endthumbnail %}" alt="{{ book.pretty_title }}" title="{{ book.pretty_title }}">
        </a>
      {% endfor %}
    </div>
  </div>
{% endspaceless %}
