{% spaceless %}
  {% load i18n %}
  <div class="collection-box white-box">
    <h2><a href="{{ collection.get_absolute_url }}">{% trans "Collection" %}: {{ collection }}</a></h2>
    {% if collection.description %}
      {{ collection.description|safe|truncatewords_html:40 }}
    {% endif %}
    {% for book in collection.get_books|slice:":5" %}
      {{ book.mini_box }}
    {% endfor %}
    {% with collection.get_books.count|add:-5 as more %}
      {% if more > 0 %}
        <a href="{{ collection.get_absolute_url }}">
          {% blocktrans count c=more %}and one more{% plural %}and {{ c }} more{% endblocktrans %}
        </a>
      {% endif %}
    {% endwith %}
  </div>
{% endspaceless %}
