{% extends "catalogue/book_list.html" %}
{% load i18n %}
{% load chunk from chunks %}

{% block bodyid %}book-a-list{% endblock %}

{% block titleextra %}{% trans "Listing of all DAISY files" %}{% endblock %}

{% block extrahead %}
  <link rel="alternate" type="application/atom+xml"
        title="{% trans "Latest DAISY audiobooks" %}"
        href="{% url 'audiobook_feed' 'daisy' %}" />
{% endblock %}

{% block book_list_header %}{% trans "Listing of all DAISY files" %}{% endblock %}

{% block book_list_info %}
  {% chunk 'daisy-list' %}
{% endblock %}
