{% extends "base_simple.html" %}
{% load i18n %}
{% load catalogue_tags %}

{% block titleextra %}{% title_from_tags tags %}{% endblock %}

{% block bodyid %}differentiate_tags{% endblock %}

{% block body %}
  <h1>{% title_from_tags tags %}</h1>

  <p>{% trans "Podane kryteria są niejednoznaczne. Proszę wybrać jedną z następujących możliwości:" %}</p>
  <div id="books-list">
    {% for option in options %}
      <div class="book-description">
        <p><a href="{% url 'tagged_object_list' option.url_args %}">{% if tags %}{% title_from_tags tags %}, {% endif %}<em>{%title_from_tags option.tags %}</em>{% if unparsed %}, {{unparsed|join:', '}}{% endif %}</a></p>
        </div>
      {% endfor %}
    </div>
{% endblock %}
