<!DOCTYPE html>
<html>
  {% load static from staticfiles %}
  {% load i18n pipeline %}
  {% load catalogue_tags %}
  {% load thumbnail %}
  {% load piwik_tags %}
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="description"
        content="{{ book.title }} - darmowy audiobook na wolnej licencji" />
    <title>{% trans "Wolne Lektury" %} ::
        {{ book.title }} - {{ audiobook }}</title>
    <link rel="icon" href="{% static "img/favicon.png" %}" type="image/png" />
    {% stylesheet "all" %}
    {% stylesheet "player" %}
  </head>
  <body id="{% block bodyid %}player{% endblock %}">
    {% if book.cover_thumb %}
      <img src="{% thumbnail book.cover_thumb "101x140" as thumb %}{{ thumb.url }}{% empty %}{{ book.cover_thumb.url }}{% endthumbnail %}"
           alt="Cover" style="float: left; margin: .5em 1em 1em 1em;" />
    {% endif %}


  <h1>{% book_title book %}</h1>

  <div class="player-info normal-text">
    <p><a target="_blank" href="{{ book.get_absolute_url }}">{% trans "Book's page" %}</a>.</p>
    <p>{% trans "Download as" %} {% download_audio book False %}.</p>

    {% if book.has_daisy_file %}
      <p>DAISY:</p>
      <ul class="daisy-list">
      {% for media in book.get_daisy %}
          <li><a href="{{ media.file.url }}">{{ media.name }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div style="clear: both"></div>
    {% include "catalogue/snippets/jplayer.html" %}

    {% if projects|length > 1 %}
      <p>{% trans "Audiobooks were prepared as a part of the projects:" %}</p>
      <ul>
        {% for cs, fb in projects %}
          <li>
            {% if fb %}
              {% blocktrans %}{{ cs }}, funded by {{ fb }}{% endblocktrans %}
            {% else %}
              {{ cs }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>
        {% with cs=projects.0.0 fb=projects.0.1 %}
          {% if fb %}
            {% blocktrans %}Audiobooks were prepared as a part of the <em>{{ cs }}</em> project funded by {{ fb }}.{% endblocktrans %}
          {% else %}
            {% blocktrans %}Audiobooks were prepared as a part of the <em>{{ cs }}</em> project.{% endblocktrans %}
          {% endif %}
        {% endwith %}
      </p>
    {% endif %}

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    {% javascript "player" %}

    {% tracking_code %}
  </body>
</html>
