{% extends "base.html" %}
{% load i18n %}
{% load catalogue_tags %}

{% block settings %}
  {% load title %}
  {% trans "Recent publications" as title %}
  {% title title %}
{% endblock %}

{% block main %}
  <div class="l-article__title">
    <h1>{% trans "Recent publications" %}</h1>
  </div>

  {% url 'recent_audiobooks_list' as a %}
  {% url 'recent_daisy_list' as d %}
  <div class="l-main">
  <p>
    {% blocktrans %}You can also see <a href="{{a}}">recent audiobooks</a>
      and <a href="{{d}}">recent DAISY files</a>.{% endblocktrans %}
  </p>
  </div>

  <div class="l-section l-section--col">
    <div class="l-books__grid" id="book-list">
      {% for book in object_list %}
        {% include "catalogue/book_box.html" %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
