{% extends "base.html" %}
{% load i18n %}
{% load catalogue_tags %}

{% block settings %}
  {% load title %}
  {% trans "Ostatnio dodane audiobooki" as title %}
  {% title title %}
{% endblock %}

{% block main %}
  <div class="l-article__title">
    <h1>{% trans "Ostatnio dodane audiobooki" %}</h1>
  </div>

  <div class="l-section l-section--col">
    <div class="l-books__grid" id="book-list">
      {% for book in object_list %}
        {% include "catalogue/book_box.html" %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
