{% spaceless %}
  {% load catalogue_random_book from catalogue_tags %}
  {% load picture_random_picture from picture_tags %}

  {% for pic in pics %}
    {{ pic.mini_box }}
  {% endfor %}

  {% for book in books %}
    {{ book.mini_box }}    
  {% endfor %}

  {% if random %}
    {% catalogue_random_book random_excluded_books as random_book %}
    {% picture_random_picture random_excluded_pics unless=random_book as random_pic %}
    {% if random_book %}
      {{ random_book.mini_box }}
    {% endif %}
    {% if random_pic %}
      {{ random_pic.mini_box }}
    {% endif %}
  {% endif %}
{% endspaceless %}
