{% extends "base/base.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load inline_tag_list from catalogue_tags %}
{% load book_searched from search_tags %}
{% load ssi_include from ssify %}

{% block titleextra %}{% trans "Search" %}{% endblock %}

{% block bodyid %}tagged-object-list{% endblock %}

{% block body %}
  {% if did_you_mean %}
    <span class="did_you_mean">{% trans "Did you mean" %}
      <a href="{% url 'search' %}?q={{did_you_mean|urlencode}}">{{did_you_mean|lower}}</a>?</span>
  {% endif %}
  <div class="inline-tag-lists top-tag-list">
    {% if tags %}
      <div>
        {% for tag in tags %}
          <a class="tag-box" href="{{ tag.get_absolute_url }}">
            {% include "catalogue/tag_box.html" %}
          </a>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div>
    <ul class="work-list">
      {% for result in results %}
        <li class="Book-item">
          {% book_searched result %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
