{% extends "base/base.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load inline_tag_list from catalogue_tags %}
{% load book_searched from search_tags %}
{% load set_get_parameter %}

{% block titleextra %}{% trans "Search" %}{% endblock %}

{% block bodyid %}tagged-object-list{% endblock %}

{% block body %}

  <h1>{% trans "Search" %}</h1>

  <div class="white-box">

    <p class="search-filter">
      <strong>format:</strong>
      {% if not set.format %}<em>dowolny</em>{% else %}<a href="{% set_get_parameter format='' %}">dowolny</a>{% endif %}
      {% if set.format == "tekst" %}<em>tekst</em>{% else %}<a href="{% set_get_parameter format='tekst' %}">tekst</a>{% endif %}
      {% if set.format == "audio" %}<em>audiobook</em>{% else %}<a href="{% set_get_parameter format='audio' %}">audiobook</a>{% endif %}
      {% if set.format == "synchro" %}<em>DAISY</em>{% else %}<a href="{% set_get_parameter format='synchro' %}">DAISY</a>{% endif %}
      {% if set.format == "obraz" %}<em>obraz</em>{% else %}<a href="{% set_get_parameter format='obraz' %}">obraz</a>{% endif %}
    </p>

    <p class="search-filter">
      <strong>{% trans "language" %}: </strong>
      {% if not set.lang %}<em>dowolny</em>{% else %}<a href="{% set_get_parameter lang='' %}">dowolny</a>{% endif %}
      {% if set.lang == "pol" %}<em>polski</em>{% else %}<a href="{% set_get_parameter lang='pol' %}">polski</a>{% endif %}
      {% if set.lang == "eng" %}<em>angielski</em>{% else %}<a href="{% set_get_parameter lang='eng' %}">angielski</a>{% endif %}
      {% if set.lang == "fre" %}<em>francuski</em>{% else %}<a href="{% set_get_parameter lang='fre' %}">francuski</a>{% endif %}
      {% if set.lang == "ger" %}<em>niemiecki</em>{% else %}<a href="{% set_get_parameter lang='ger' %}">niemiecki</a>{% endif %}
      {% if set.lang == "lit" %}<em>litewski</em>{% else %}<a href="{% set_get_parameter lang='lit' %}">litewski</a>{% endif %}
    </p>

    </p>
    <p class="search-filter">
      <strong>{% trans "epoch" %}: </strong>
      {% if not set.epoch %}<em>dowolna</em>{% else %}<a href="{% set_get_parameter epoch='' %}">dowolna</a>{% endif %}

      {% for tag in tags.epoch %}
        {% if set.epoch == tag.slug %}
          <em>{{ tag.name }}</em>
        {% else %}
          <a href="{% set_get_parameter epoch=tag.slug %}">
            {{ tag.name }}
          </a>
        {% endif %}
      {% endfor %}
    </p>
    <p class="search-filter">
      <strong>{% trans "kind" %}: </strong>
      {% if not set.kind %}<em>dowolny</em>{% else %}<a href="{% set_get_parameter kind='' %}">dowolny</a>{% endif %}
      {% for tag in tags.kind %}
        {% if set.kind == tag.slug %}
          <em>{{ tag.name }}</em>
        {% else %}
          <a href="{% set_get_parameter kind=tag.slug %}">
            {{ tag.name }}
          </a>
        {% endif %}
      {% endfor %}
    </p>

    {% comment %}
    <p class="search-filter">
      <strong>{% trans "genre" %}: </strong>
      {% if not set.genre %}<em>dowolny</em>{% else %}<a href="{% set_get_parameter genre='' %}">dowolny</a>{% endif %}
      {% for tag in tags.genre %}
          {% if set.genre == tag.slug %}
            <em>{{ tag.name }}</em>
          {% else %}
            <a href="{% set_get_parameter genre=tag.slug %}">
              {{ tag.name }}
            </a>
          {% endif %}
        {% endfor %}
    </p>
    {% endcomment %}
  </div>

  {% if did_you_mean %}
    <span class="did_you_mean">{% trans "Did you mean" %}
      <a href="{% url 'search' %}?q={{did_you_mean|urlencode}}">{{did_you_mean|lower}}</a>?</span>
  {% endif %}
  <div class="top-tag-list">
    {% if pd_authors %}
      <div>
        {% for author in pd_authors %}
          <div class="tag-box">
            {% include "pdcounter/pd_author_box.html" %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div>
    {% if books %}
      <ul class="work-list">
        {% if pictures %}
          <h1>{% trans "Books" %}</h1>
        {% endif %}
        {% for result in books %}
          <li class="Book-item">
            <div class="search-result">
              {% book_searched result %}
            </div>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if pictures %}
      <h1>{% trans "Art" %}</h1>
      <ul class="work-list">
        {% for result in pictures %}
          <li class="Picture-item">
            <div class="search-result">
              {% with result.picture as picture %}
                {% include "picture/picture_searched.html" %}
              {% endwith %}
            </div>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock %}
