{% extends "base.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load inline_tag_list from catalogue_tags %}
{% load book_searched from search_tags %}
{% load ssi_include from ssify %}

{% block titleextra %}{% trans "Search" %}{% endblock %}

{% block bodyid %}tagged-object-list{% endblock %}

{% block body %}
    {% if did_you_mean %}
      <span class="did_you_mean">{% trans "Did you mean" %} <a href="{% url 'search' %}?q={{did_you_mean|urlencode}}">{{did_you_mean|lower}}</a>?</span>
    {% endif %}
    <!-- tu pójdą trafienia w tagi: Autorzy - z description oraz motywy i rodzaje -->
      <div class="inline-tag-lists top-tag-list">
	{% if tags.author %}
	<div>
	  <div class="mono inline-header">{% trans "Authors" %}:</div>
	  <div class="inline-body">
	    {% inline_tag_list tags.author %}
	  </div>
	</div>
	{% endif %}
	{% if tags.kind %}
	<div>
	  <div class="mono inline-header">{% trans "Kinds" %}:</div>
	  <div class="inline-body">
	    {% inline_tag_list tags.kind %}
	  </div>
	</div>
	{% endif %}
	{% if tags.genre %}
	<div>
	  <div class="mono inline-header">{% trans "Genres" %}:</div>
	  <div class="inline-body">
	    {% inline_tag_list tags.genre  %}
	  </div>
	</div>
	{% endif %}
	{% if tags.epoch %}
	<div class="inline-tag-list">
	  <div class="mono inline-header">{% trans "Epochs" %}:</div>
	  <div class="inline-body">
	    {% inline_tag_list tags.epoch  %}
	  </div>
	</div>
	{% endif %}
      </div>

    {% if results.title %}
    <div class="book-list-header">
      <div class="book-box-inner">
      <p>{% trans "Results by title" %}</p>
      </div>
    </div>
    <div>
      <ol class="work-list">
	{% for result in results.title %}<li class="Book-item">
	  {% ssi_include 'catalogue_book_short' pk=result.book.pk %}
	</li>{% endfor %}
      </ol>
    </div>
    {% endif %}
    
    {% if results.author %}
    <div class="book-list-header">
      <div class="book-box-inner">
	<p>{% trans "Results by authors" %}</p>
      </div>
    </div>
    <div>
      <ol class="work-list">
	{% for author in results.author %}<li class="Book-item">{% ssi_include 'catalogue_book_short' pk=author.book.pk %}</li>{% endfor %}
      </ol>
    </div>
    {% endif %}

    {% if results.translator %}
    <div class="book-list-header">
      <div class="book-box-inner">
	<p>{% trans "Results by translators" %}</p>
      </div>
    </div>
    <div>
      <ol class="work-list">
	{% for translator in results.translator %}<li class="Book-item">{% ssi_include 'catalogue_book_short' pk=translator.book.pk %}</li>{% endfor %}
      </ol>
    </div>
    {% endif %}

    {% if results.content %}
    <div class="book-list-header">
      <div class="book-box-inner">
      <p>{% trans "Results in text" %}</p>
      </div>
    </div>
    <div>
      <ol class="work-list">
	{% for result in results.content %}
	<li class="Book-item">
          {% book_searched result %}
	</li>
	{% endfor %}
      </ol>
    </div>
    {% endif %}

    {% if results.other %}
    <div class="book-list-header">
      <div class="book-box-inner">
	<p>{% trans "Other results" %}</p>
      </div>
    </div>
    <div>
      <ol class="work-list">
	{% for result in results.other %}
	<li class="Book-item">
          {% book_searched result %}
	</li>
	{% endfor %}
      </ol>
    </div>
    {% endif %}



{% endblock %}
