{% extends "base/base.html" %}
{% load i18n %}
{% load catalogue_tags switch_tag social_tags %}
{% load ssi_include from ssify %}

{% block titleextra %}{% if tags %}{% title_from_tags tags %}{% elif list_type == 'gallery' %}{% trans "Gallery" %}{% elif list_type == 'audiobooks' %}{% trans "Audiobooks" %}{% else %}{% trans "Literature" %}{% endif %}{% endblock %}


{% block extrahead %}
{{ block.super }}
{% if request.path == '/katalog/lektury/' or request.path == '/katalog/audiobooki/' %}
{% include "hotjar.html" %}
{% endif %}
{% endblock %}


{% block bodyid %}tagged-object-list{% endblock %}

{% block body %}
  <div class="tabbed-filter">
    <h1>{% if tags %}{% html_title_from_tags tags %}{% endif %}</h1>

    <div class="tabs">
      <a class="tab white-box" data-id="authors">{% trans "Authors" %}</a>
      <a class="tab white-box" data-id="epochs">{% trans "Epochs" %}</a>
      <a class="tab white-box" data-id="genres">{% trans "Genres" %}</a>
      <a class="tab white-box" data-id="kinds">{% trans "Kinds" %}</a>
      {% if theme_is_set %}
        <a class="tab white-box" data-id="themes">{% trans "Themes" %}</a>
      {% endif %}
    </div>
  </div>

  <div class="tabbed-filter-contents">
    <div id="authors" class="white-box normal-text tab-content">
      {% inline_tag_list categories.author tags 'author' list_type=list_type %}
    </div>
    <div id="epochs" class="white-box normal-text tab-content">
      {% inline_tag_list categories.epoch tags 'epoch' list_type=list_type %}
    </div>
    <div id="genres" class="white-box normal-text tab-content">
      {% inline_tag_list categories.genre tags 'genre' list_type=list_type %}
    </div>
    <div id="kinds" class="white-box normal-text tab-content">
      {% inline_tag_list categories.kind tags 'kind' list_type=list_type %}
    </div>
    {% if theme_is_set %}
      <div id="themes" class="white-box normal-text tab-content">
        {% inline_tag_list categories.theme tags 'theme' list_type=list_type %}
      </div>
    {% endif %}
  </div>

  {% comment %}
  {% if list_type == 'books' and not tags %}
    <section>
      <h1>{% trans "Recent publications" %}</h1>
      {% for book in last_published %}
        {% ssi_include 'catalogue_book_mini' pk=book.pk %}
      {% endfor %}
      <a class="more" href="{% url 'recent_list' %}">{% trans "More recent publications" %}</a>
    </section>
    <section>
      <h1>{% trans "Most popular books" %}</h1>
      {% for book in most_popular %}
        {% ssi_include 'catalogue_book_mini' pk=book.pk %}
      {% endfor %}
    </section>
  {% endif %}
  {% endcomment %}

  {% if theme_is_set %}
    {% work_list object_list %}
  {% else %}
    <div id="books-list">
      {% if object_list %}
        {% work_list best %}
        {% if tags %}
          <h2>{% trans "All matching works" %}</h2>
        {% else %}
          {% if list_type == 'audiobooks' %}
            <h2>{% trans "Listing of all audiobooks" %}</h2>
          {% else %}
            <h2>{% trans "All works" %}</h2>
          {% endif %}
        {% endif %}
        {% plain_list object_list by_author=True list_type=list_type %}
        {% if daisy %}
          <h2>{% trans "DAISY files" %}</h2>
          {% plain_list daisy by_author=True %}
        {% endif %}
      {% else %}
        {% trans "Sorry! Search cirteria did not match any resources." %}
        {% include "info/join_us.html" %}
      {% endif %}
    </div>

    {% if categories.theme and list_type != 'audiobooks' %}
      <h2>{% trans "Motifs and themes" %}</h2>
      {% plain_list categories.theme choice=tags list_type=list_type %}
    {% endif %}
  {% endif %}

  {% for tag in tags %}
    {% if tag.category != 'set' %}
      <h2>{% trans tag.category as c %}{{ c|capfirst }}: {{ tag }}</h2>
      <div class="white-box">
        {% if tag.has_description %}
          {{ tag.description|safe }}
        {% else %}
          <em>{% trans "No description." %}</em>
        {% endif %}
      </div>

      {% if tag.wiki_link %}
        <div class="white-box">
        <a href="{{ tag.wiki_link }}">
          {{ tag }} {% trans "in Wikipedia" %}
        </a></div>
      {% endif %}
      {% if tag.culturepl_link %}
        <div class="white-box">
        <a href="{{ tag.culturepl_link }}">
          {{ tag }} {% trans "in Culture.pl" %}
        </a></div>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endblock %}
