{% spaceless %}

  {% load cache %}
  {% load pagination_tags %}
  {% load class_name from catalogue_tags %}
  {% load status from catalogue_tags %}

  {% autopaginate object_list 10 %}

  <ol class='work-list'>
    {% for item in object_list %}
      <li class='{{ item|class_name }}-item'>
        {% if item|class_name == 'Book' %}
          {% include "catalogue/book_short.html" with book=item %}
        {% else %}
	  {{ item.midi_box }}
        {% endif %}
      </li>
    {% endfor %}
  </ol>

  {% paginate %}

{% endspaceless %}
