{% load i18n %}

{% if offer.is_current %}
  {% if offer.is_win %}
    <p>
      {% blocktrans trimmed with end=offer.end %}
        Zbiórka kończy się {{ end }}. Pełna kwota została już zebrana,
        ale ciągle możesz dołożyć się i pomóc uwolnić więcej książek.
      {% endblocktrans %}
    </p>
  {% else %}
  <p>
    <strong>{% blocktrans trimmed with target=offer.target|floatformat:-2 %}
      Potrzebujemy {{ target }} zł, by zdigitalizować tę książkę, opracować
      i bezpłatnie udostępnić w serwisie w wielu formatach.
    {% endblocktrans %}</strong>
  </p>
  <p>
    {% blocktrans trimmed with end=offer.end %}
      Jeśli do {{ end }} uda się zebrać pełną kwotę, opublikujemy ją i będzie
      dostępna dla wszystkich.
    {% endblocktrans %}
  </p>
  {% endif %}
{% else %}
  {% if offer.is_win %}
    <p>
      {% trans "Udało się zebrać pełną kwotę!" %}
    </p>
  {% else %}
    <p>
      {% trans "Nie udało się zebrać pełnej kwoty." %}
    </p>
  {% endif %}
{% endif %}
