{% load i18n %}

{% if offer.is_current %}
  {% if offer.is_win %}
    <p>
      {% blocktrans with end=offer.end %}The fundraiser
      ends on {{ end }}. The full amount has been successfully
      raised, but you can still contribute and help liberate
      more books.{% endblocktrans %}
    </p>
  {% else %}
  <p>
    <strong>{% blocktrans with target=offer.target|floatformat:-2 %}We need {{target}} zł to digitize it,
    compile it and publish for free in multiple formats.{% endblocktrans %}</strong>
  </p>
  <p>
    {% blocktrans with end=offer.end %}If we raise enough money before {{end}} we will
    publish it and make it available for everyone.{% endblocktrans %}
  </p>
  {% endif %}
{% else %}
  {% if offer.is_win %}
    <p>
      {% trans "Full amount was successfully raised!" %}
    </p>
  {% else %}
    <p>
      {% trans "The amount needed was not raised." %}
    </p>
  {% endif %}
{% endif %}
