/*
 * Style for handheld devices. Should cancel screen.css. 
 */

a {
    display: inline-block;
    padding: .5em;
}

.left-column {
    width: auto !important;
    float: none !important;
}
.right-column {
    float: none !important;
    width: auto !important;
}

.hidden-box ul {
    width: 20em !important;
    column-width: auto !important;
    -moz-column-width: auto !important;
    -webkit-column-width: auto !important;
}

#header-content, div#main-content, div#half-header-content, #footer-content {
    width: auto !important;
    margin: 0 !important;
}

#promo-box {
    float: none !important;
    margin-top: 0 !important;
}

#promo-box-body {
    height: auto !important;
}

#big-cite .vip {
    float: none !important;
    text-align: left !important;
    width: auto !important;
}

#big-cite .cite-body {
    margin-left: 0 !important;
}

#big-cite .source {
    margin-left: 0 !important;
}


.book-wide-box {
    width: auto !important;
}
.book-wide-box .book-box-body {
    width: auto !important;
}


#tagged-object-list .left-column, #tagged-object-list .right-column {
    width: auto !important;
}




.inline-body {
    width: auto !important;
}


.search-result {
    width: auto !important;
}


.book-list-header {
    width: auto !important;
}

.book-wide-box .right-column {
    width: auto !important;
    margin-top: 0 !important;
}

.book-wide-box #theme-list-wrapper {
    margin-bottom: 0 !important;
}

.snippets {
    width: auto !important;
    float: none !important;
    margin-top: 0 !important;
}


/* HEADER */

#header {
    height: auto !important;
    padding-top: 0 !important;
}
#logo {
    position: static !important;
}
#user-info {
    float: none !important;
    padding: 1em 0 !important;
}

#tagline {
    display: block !important;
    margin-left: 0 !important;
}

#search-area {
    margin-left: 0 !important;
    width: auto !important;
}

#search-field {
    width: auto !important;
    padding-right: 0.5em !important;
}

#search {
    width: auto !important;
}

#search-button {
    float: none !important;
}

#promo-box {
    width: auto;
}

/* Book list */

#book-list-nav {
    border-left: none !important;
    padding: 0 !important;
    position: static !important;
    right: 0 !important;
    width: auto !important;
}
