.book-wide-box {
    margin: 0;
    vertical-align: top;
}
.book-wide-box {
    /** This is a fullpage box, it must be aligned with the top menu. 
        This corresponds to a .1em margin below **/
    margin-left: -0.1em;
}





/* 
 * A mini-box wraps it's contents (image + label) in an <a>
 * other boxes have an inner box as a wrapper.
 */
.book-wide-box .book-box-inner {
   /* min, so it can grow */ 
   min-height: 24.4em;
}

.search-result .book-box-body {
    width: 31em;
}

.book-list-header {
    padding: 0em;
    margin-left: -0.1em;
}

.book-list-header .book-box-inner {
    min-height: 1em;
}

.book-list-header p {
    font-size: 2.4em;
    margin: 0.5em;
}


/* 
 * ingenous float containment hack 
 * http://www.mikepadgett.com/technology/technical/alternative-to-the-pie-clearfix-hack/
 */
/*
.search-result .book-box-inner {
    height: 1%;
    overflow: hidden;
}
*/

.book-wide-box .book-box-body {
    min-height: 17em;
}

.book-wide-box {
	min-width: 48.75em;
}
.book-wide-box .book-box-tools {
    margin-left: 14em;
    width: 32em;
}

.book-wide-box #theme-list-wrapper {
    margin-left: 15.4em;
	margin-bottom: 3em;
	width: 30em;
}



ul.inline-items, ul.inline-items li {
    margin: 0;
    padding: 0;
}

ul.inline-items li {
    display: inline-block;
}

.book-wide-box .other-tools {
    float: left;
    width: 14.5em;
    margin: 5em 0 0 1.5em;
    
}

.book-wide-box .other-download {
    float: left;
    width: 22em;
    margin: 5em 1.5em 0em 1.5em;
}
.book-wide-box .other-tools h2,
.book-wide-box .other-download h2,
.book-wide-box .other-tools ul,
.book-wide-box .other-download ul {
	font-size: 1.1em;
}
.book-wide-box .other-tools h2,
.book-wide-box .other-download h2 {
    margin: 0;
}



.book-wide-box .license-icon {
    display:block;
    margin-top: .5em
}



.snippets .snippet-text {
    background: #f7f7f7;
    font-size: 1.2em;
    margin: 1.083em 0em;
    padding: 1em;
}

.snippets .anchor {
    display: none;
}
