.book-wide-box .cite-body,
#tagged-object-list .cite-body
 {
    font-size: 1.8em;
    line-height: 1.3em;
}
.book-wide-box .source,
#tagged-object-list .source
{
    color: #444;
    font-size: 1.1em;
    margin-top: 1.6em;
}
.book-wide-box .cite {
    position: relative;
    top: -1em;
    right: -1em;
    background-color: #f7f7f7;
    vertical-align: middle;
    width: 39.5em;
    margin: 0;
    padding: 1em;
}


.Fragment-item .fragment {
	color: black;
	display: block;
}
.Fragment-item .toggle {
	font-size: 1.1em;
	display:block;
	padding: .5em 0;
}
.Fragment-item {
	margin-bottom: 2em;
	/* white-box */
	border: 1px solid #ddd;
    background: #fff;
    -moz-box-shadow: 2px 2px 2px #ddd;
    -webkit-box-shadow: 2px 2px 2px #ddd;
    box-shadow: 2px 2px 2px #ddd;
}
