.search-hint-label {
    display: inline-block;
    width: 25em;
    font-size: 1.1em;
    line-height: 1.636em;
}

.search-hint-category {
    font-size: 1.1em;
    line-height: 1.636em;
    
}



#user-menu {
	left: 0;
	top: 2em;
	width: 15em;
	line-height:1.6em;
}
#user-menu a {
	color: #0D7E85;
}
