
#promo-box-header {
    padding-top: 2em;
    height: 3.1em;
    padding-bottom: 0;
    padding-left: 2.5em;
    padding-right: 2.5em;
    background: #191919;
    color: white;
}
#promo-box-header h2 {
    font-size: 1.3em;
}
#promo-box-body {
    border-bottom: 2px solid #efefef;
    padding: 2em 2.8em;
    background: #efefef;
}
#promo-box h3 {
    color: #0d777e;
    font-size: 1.1em;
    height: 2.5em; /* 2.75@1.1 */
    margin: 0;
    font-family: "Andale Mono", "Lucida Sans Typewriter", "Courier New";
    font-weight: normal;
}
#promo-box h3:after {
	content: " >";
}
#promo-box a {
	color: #0d777e;
}
#promo-box-body a {
	display: block;
    color: #6c6c6c;
}
#promo-box-body p {
    margin-top: 0;
    font-size: 1.2em;
    line-height: 1.55em;
    color: #6c6c6c;
}

.main-last {
    padding-top: 1.9em;
    height: 3.2em;
    padding-left: 1.9em;
}
.main-last span {
    font-size: 1.1em;
}


.infopages-box {
    width: 20.6em;
    display: inline-block;
    margin: .5em 0 0 0;
    padding: 0 1.7em;
    vertical-align: top;
    color: #989898;
}
.infopages-box h2 {
    color: #017e85;
    height: 2.8em;
    padding-top: 2.5em;
}
.infopages-box h2 span {
    font-size: 1.1em;
}
.infopages-box a {
    color: black;
}

.infopages-box ol, .infopages-box ul {
    font-size: 1.1em;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.45em;
}

.infopages-box li {
	margin-bottom: .25em;
}

.infopages-box .social-links {
    margin-top: 1em;
}

.infopages-box .social-links a {
    font-family: WL-Nav, courier;
    font-size: 3em;
    color: #281d1c;
    margin-right: .2em;
}
