.book-wide-box.picture img.cover {
    width: 53.5em;
    height: auto;
}

.picture.book-wide-box .book-box-tools {
    margin-left:  50em; // 535px image + 15px margin @ 11pt
}

.picture li.book-box-download {
    width: 15em;
}


.Picture-item {
    display: inline-block;
    vertical-align: top;
    width: 48.5em;
    float: left;
}


.picture.book-wide-box .other-tools {
    margin: 5em 0 0 0;
}


.picture.book-wide-box #theme-list-wrapper {
    margin-left: 55em;
}
