.book-wide-box.picture img.cover {
    width: 53.5em;
    height: auto;
}

.picture.book-wide-box .book-box-tools {
    margin-left:  50em; // 535px image + 15px margin @ 11pt
}

.picture li.book-box-download {
    width: 15em;
}