
/* 
 *  RESET 
 *  src: http://meyerweb.com/eric/tools/css/reset/
 */

#wl div, #wl span, #wl applet, #wl object, #wl iframe,
#wl  #eh1, #wl h2, #wl h3, #wl h4, #wl h5, #wl h6, #wl p, #wl blockquote, #wl pre,
#wl a, #wl abbr, #wl acronym, #wl address, #wl big, #wl cite, #wl code,
#wl del, #wl dfn, #wl em, #wl img, #wl ins, #wl kbd, #wl q, #wl s, #wl samp,
#wl small, #wl strike, #wl strong, #wl sub, #wl sup, #wl tt, #wl var,
#wl b, #wl u, #wl i, #wl center,
#wl dl, #wl dt, #wl dd, #wl ol, #wl ul, #wl li,
#wl fieldset, #wl form, #wl label, #wl legend,
#wl table, #wl caption, #wl tbody, #wl tfoot, #wl thead, #wl tr, #wl th, #wl td,
#wl article, #wl aside, #wl canvas, #wl details, #wl embed,
#wl figure, #wl figcaption, #wl footer, #wl header, #wl hgroup, 
#wl menu, #wl nav, #wl output, #wl ruby, #wl section, #wl summary,
#wl time, #wl mark, #wl audio, #wl video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#wl {
	line-height: 1;
}

#wl ol, #wl ul {
	list-style: none;
}
#wl blockquote, #wl q {
	quotes: none;
}

#wl blockquote:before, #wl blockquote:after,
#wl q:before, #wl q:after {
	content: '';
	content: none;
}
#wl table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

#wl {
    background-color: white;
}

#wl a, a:visited, a:hover {
    border: 0;
}

#wl img {
    border: 0;
    width: 8.625em;
    margin: 0.375em 0;
}


.ui-menu {
    width: 29em;
    font-size: small;
    list-style-type: none;
    padding: 0;
    margin:0;
    border: 1px solid #ddd;
}

.ui-menu .search-hint-label {
    display: inline-block;
    width: 20em;
    margin-right: 2em;
    font-size: 1.1em;
    line-height: 1.636em;
    white-space: nowrap;
    overflow: hidden;
}

.ui-menu .search-hint-category {
    width: 9em;
}

.ui-corner-all {
    /*width: 160px;*/
    cursor: pointer;
    display:block;
}

.ui-corner-all a {
    text-decoration: none;
    color: #0D7E85;
    font-size: small;
    padding: 5px;

}

.ui-menu li {
}

.ui-menu li:nth-child(odd) {
    background-color: white;
}

.ui-menu li:nth-child(even){
    background-color: #EEE;
}

.ui-menu li .ui-state-hover {
    background-color: #fdf5ce;
}

.ui-menu li:hover{
    background-color: #053469;
    color:white;
}

.ui-menu a:hover {
/*    color:white;*/
    text-decoration: none;
}


#wl #id_qq {
    font-family: Georgia;
    font-size: 0.75em;
    
    background-color: #FFFFFF;
    border: medium none;
    border-radius: 0.38em 0.38em 0.38em 0.38em;
    box-shadow: 0 0 0.5em #444444 inset;
    color: #000000;
    height: 2.54em;
    width: 9.125em;

    line-height: 2.5em;
    padding: 0 0 0 1em;
    position: relative;
}

#wl input[type=image] {
    width: 1.5em;
    height: 1.5625em;
    top: 0.375em;
    position: relative;
    margin-left: 0.625em;
}

