@import "tools";


/* Basic layout */
html, body {
    margin: 0;
    padding: 0;
}


.clearboth {
    clear: both;
}



/* Basic colors and fonts */
body {
    font-family: Georgia;
    background: #f7f7f7;
    color: black;

    @include size-px(font-size, 13);
}

a {
    color: #0d7e85;
    text-decoration: none;

    img {
        border: 0;
    }
}

h1 {
    @include size-px(font-size, 35);
    font-weight: normal;
    @include size-px(margin-top, 14);

    a {
        color: inherit;
    }
}

.normal-text {
    line-height: 1.3em;
}
