/* listing of all books */

@import "tools";

#book-a-list {
    #book-list-nav {
        @include size-px(border-width, 0);
        @include size-px(border-bottom-width, 1);
        border-style: solid;
        border-color: #CFCFCF;
        @include size-px(padding, 9.75);
        line-height: 2em;

        @media screen and (min-width: 30em) {
            @include size-px(border-bottom-width, 0);
            @include size-px(border-left-width, 1);
            float: right;
            width: 50%;
        }

        @media screen and (min-width: 62.5em) {
            line-height: 1.3em;
        }

        h2 {
            cursor: pointer;

            &:after {
                @include size-px(padding-left, 10);
                content: url("/static/img/arrow-gray.png");
                vertical-align: top;
            }

            @media screen and (min-width: 30em) {
                font-size: 1em;
                margin: 0;
                cursor: regular;

                &:after {
                    display: none;
                }
            }
        }

        #book-list-nav-index {
            display: none;
            @media screen and (min-width: 30em) {
                display: block !important;
            }
        }

        ul {
            list-style-type: none;
            @include size-px(margin, 5);
            padding: 0;
        }
        .book-list-show-index {
            display: none;
        }
    }

    #book-list {
        @include size-px(padding-left, 5);
        line-height: 2em;

        @media screen and (min-width: 62.5em) {
            @include size-px(padding-left, 50);
            line-height: 1.3em;
        }

        ol {
            @include size-px(padding-left, 13);
            @include size-px(margin-top, 4);
            @include size-px(margin-bottom, 15.6);
            @include size-px(margin-left, 0);
            @include size-px(margin-right, 0);
            list-style: none;
        }
        h2 {
            @include size-px(font-size, 13);
            margin: 0;
            a {
                color: black;
            }
        }
    }

    #book-list-up {
        display: block;
        position: fixed;
        @include size-px(bottom, 50);
        @include size-px(right, 50);
        @include size-px(border-left-width, 1);
        border-left-style: solid;
        border-left-color: #CFCFCF;
        @include size-px(padding-top, 20);
        @include size-px(padding-bottom, 20);
        @include size-px(padding-left, 10);
        @include size-px(padding-right, 10);
        background-color: white;    
    }
}
