@import "tools";

#footer-wrapper {
    @include size-px(margin-top, 50);
    @include size-px(padding-top, 30);
    background: #fff;
    color: #767676;
    border-top-style: solid;
    border-top-color: #ddd;
    @include size-px(border-top-width, 1);
}

footer#main {
    @include size-px(font-size, 10);
    @include size-px(margin-left, 5);
    @include size-px(margin-right, 5);

    @media screen and (min-width: 62.5em) {
        @include size-px(width, 975);
        margin: auto;
    }

    p {
        @include size-px(margin-top, 2.5);
        @include size-px(margin-bottom, 2.5);
        margin-left: 0;
        margin-right: 0;
    }
}

