localsettings.py
dev.sqlite
fabfile_local.py
*.db
*.db-journal
*~
*.orig
*.log
.sass-cache

# Compress output
/static

# SCSS output
apps/wolnelektury_core/static/scss/*.css

# Python garbage
*.pyc
.coverage
coverage.xml
pip-log.txt
nosetests.xml

# Mac OS X garbage
.DS_Store

# Windows garbage
thumbs.db

# Eclipse
.project
.settings
.pydevproject
.tmp_*

# PyCharm
.idea

# Tags file
TAGS

media
search_index
doc/_build
reports

