localsettings.py
dev.sqlite
fabfile_local.py
*.db
*.db-journal
*~
*.orig
*.log
.sass-cache
*.css.map

# Compress output
/var

# SCSS output
src/wolnelektury/static/scss/*.css

# Python garbage
*.pyc
.coverage
coverage.xml
pip-log.txt
nosetests.xml

# Mac OS X garbage
.DS_Store

# Windows garbage
thumbs.db

# Eclipse
.project
.settings
.pydevproject
.tmp_*

# PyCharm
.idea

# Tags file
TAGS

doc/_build
reports

