-i http://pypi.nowoczesnapolska.org.pl/simple/ 
--find-links=http://www.pythonware.com/products/pil/

# django
Django>=1.4,<1.5
South>=0.7 # migrations for django
django-pipeline>=1.2.24,<1.3
django-pagination>=1.0
django-maintenancemode>=0.10
django-piston>=0.2.2,<0.2.3
#django-jsonfield
-e git+git://github.com/bradjasper/django-jsonfield.git@2f427368ad70bf8d9a0580df58ec0eb0654d62ae#egg=django-jsonfield
django-picklefield
#django-allauth>=0.4,<0.5
# version of django-allauth 0.4 with install script fixed
-e git+git://github.com/pennersr/django-allauth.git@3a03db9b2ecca370af228df367bd8fa52afea5ea#egg=django-allauth
pytz
pyScss

django-honeypot
django-uni-form

python-memcached
piwik
python-fb

# Feedparser 
Feedparser>=4.1

# PIL 
PIL>=1.1.6
mutagen>=1.17
sorl-thumbnail>=11.09,<12

# home-brewed & dependencies
lxml>=2.2.2
# -e git+git://github.com/fnp/librarian.git@d43d87400dcc19851442#egg=librarian

# MySQL-python>=1.2,<2.0

# celery tasks
django-celery>=2.5.1
django-kombu

# spell checking
pyenchant

# OAI-PMH
pyoai

egenix-mx-base
sunburnt

