-i http://pypi.nowoczesnapolska.org.pl/simple/ 
--find-links=http://www.pythonware.com/products/pil/

# django
Django>=1.5,<1.6
fnpdjango>=0.1.6,<0.2
South>=0.7 # migrations for django
django-pipeline>=1.2.24,<1.3
django-pagination>=1.0
django-maintenancemode>=0.10
django-piston>=0.2.2.1,<0.2.3
django-jsonfield>=0.9,<0.10
django-picklefield

#django-allauth<0.10 with migration fix
-e git+git://github.com/rczajka/django-allauth.git@4ecda71b81f9311dea4febe1d2d0105f23c642c7#egg=django-allauth

pytz
pyScss

# Some contrib apps still need it
simplejson

django-honeypot
django-uni-form

python-memcached
piwik
python-fb

# Feedparser 
Feedparser>=4.1

# PIL 
PIL>=1.1.6
mutagen>=1.17
sorl-thumbnail>=11.09,<12

# home-brewed & dependencies
lxml>=2.2.2
# -e git+git://github.com/fnp/librarian.git@d43d87400dcc19851442#egg=librarian

# MySQL-python>=1.2,<2.0

# celery tasks
django-celery>=3.0.11
django-kombu

# spell checking
pyenchant

# OAI-PMH
pyoai

egenix-mx-base
sunburnt

django-getpaid
