--find-links=http://www.pythonware.com/products/pil/

# django
Django>=1.3,<1.4
South>=0.7 # migrations for django
django-pagination>=1.0
django-rosetta>=0.5.3
django-maintenancemode>=0.9
django-piston
django-jsonfield
django-allauth

python-memcached
piwik

# Feedparser 
Feedparser>=4.1

# PIL 
PIL>=1.1.6
mutagen>=1.17
sorl-thumbnail>=11.09,<12

# home-brewed & dependencies
lxml>=2.2.2
# -e git+git://github.com/fnp/librarian.git@d43d87400dcc19851442#egg=librarian

# MySQL-python>=1.2,<2.0

# celery tasks
django-celery
django-kombu

# spell checking
pyenchant
