<VirtualHost *:80>
    ServerName $DOMAIN
    ServerAdmin $ADMIN_EMAIL

    WSGIDaemonProcess $PROJECT_NAME user=$WSGI_USER group=$WSGI_USER processes=$WSGI_PROCESSES threads=$WSGI_THREADS display-name=%{GROUP}
    WSGIProcessGroup $PROJECT_NAME

    WSGIScriptAlias / $WSGI_TARGET
    <Directory $WSGI_DIR>
        Order allow,deny
        allow from all
    </Directory>

    Alias /media $MEDIA_ROOT
    <Directory $MEDIA_ROOT >
        Order allow,deny
        Allow from all
    </Directory>

    LogLevel warn
    ErrorLog /var/log/apache2/$PROJECT_NAME/error.log
    CustomLog /var/log/apache2/$PROJECT_NAME/access.log combined
</VirtualHost>
