#!$PYTHON
import site
site.addsitedir('$PYTHON_SITE')

import os
from os.path import abspath, dirname, join
import sys

# Redirect sys.stdout to sys.stderr for bad libraries like geopy that use
# print statements for optional import exceptions.
sys.stdout = sys.stderr

# Add apps and lib directories to PYTHONPATH
sys.path = [
    '$PROJECT_ROOT',
	'$PROJECT_ROOT/lib',
    '$PROJECT_ROOT/lib/librarian',
	'$PROJECT_ROOT/apps',
] + sys.path

# Run Django
os.environ['DJANGO_SETTINGS_MODULE'] = '$PROJECT_NAME.settings'

from django.core.handlers.wsgi import WSGIHandler
application = WSGIHandler()
