
<div style="display:flex">
{% for _1, optgroup, _2 in widget.optgroups %}
  {% for option in optgroup %}
    <div style="display: flex-item;">
    {% with plan=option.label %}
      <big>{{ plan.min_amount }} zł</big><br>
      {{ plan.get_interval_display }}

      {% for pm in plan.payment_methods %}
        <div>
		<input id="id_{{ option.value }}_{{ pm.slug }}" type="radio" name="payment_method" value="{{ option.value }}_{{ pm.slug }}">
		<label for="id_{{ option.value }}_{{ pm.slug }}">
        {% include pm.template_name %}
		</label>
	</div>
      {% endfor %}

    {% endwith %}
    </div>
  {% endfor %}
{% endfor %}
</div>


