{% extends "openid/base.html" %}


{% load i18n %}
{% block settings %}
  {% load title %}
  {% trans "OpenID Sign In" as title %}
  {% title title %}
{% endblock %}


{% block breadcrumbs %}
  <a href="{% url 'login' %}"><span>{% trans "Sign In" %}</span></a>
  {{ block.super }}
{% endblock %}


{% block head_title %}{% endblock %}

{% block body %}
  <h1>{% trans 'OpenID Sign In' %}</h1>
  <div class="normal-text white-box">
    <form id="openid_login_form" class="openid_login" method="post" action="{% url 'openid_login' %}">
      {% csrf_token %}
      <label for="id_openid" class="required">
        OpenID:
      </label><br>
      <input id="id_openid" type="text" class="textinput" name="openid" /><br><br>
      <button type="submit">{% trans "Sign In" %}</button>
    </form>
  </div>
{% endblock %}
