{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "OpenID Sign In" %}{% endblock %}

{% block body %}
  <h1>{% trans 'OpenID Sign In' %}</h1>
  <div class="normal-text white-box">
    <form id="openid_login_form" class="openid_login" method="post" action="{% url 'openid_login' %}">
      {% csrf_token %}
          <label for="id_openid">
            OpenID:
	  </label><br>
	  <input id="id_openid" type="text" class="textinput" name="openid" /><br><br>
          <button type="submit">{% trans "Sign In" %}</button>
    </form>
  </div>
{% endblock %}
