{% load honeypot %}
{% load chunks %}

<h1>{{ form.title }}</h1>

    <div class="form-info">
	{{ form.intro|safe }}
    </div>

    {{ form_for_form.media }}
    <form method="POST" action="{{ form.get_absolute_url }}" {% if form_for_form.is_multipart %}enctype="multipart/form-data"{% endif %} class="submit-form">
    {% csrf_token %}
    {% render_honeypot_field %}
    <table>
        {{ form_for_form.as_table }}
        {% if form_for_form.fields %}
            <tr><td></td><td><button>{{ form.button_text }}</button></td></tr>
        {% endif %}
    </table>
    </form>


    <div class="form-info">
        {% chunk 'formularz_'|add:form.slug %}
    </div>
