{% load honeypot %}
{% load more %}
{% load i18n %}


<h1>{{ form.title }}</h1>

{{ form_for_form.media }}
<form method="POST" action="{{ form.get_absolute_url }}" {% if form_for_form.is_multipart %}enctype="multipart/form-data"{% endif %} class="submit-form">
  {% csrf_token %}
  {% render_honeypot_field %}

  <div class="form-info" style="margin-bottom:2em;">
    {{ form.intro|first_part:"---"|safe }}
  </div>

  {% if form_published %}
    {{ form_for_form.as_p }}
    {% if form_for_form.fields %}
      <button>{{ form.button_text }}</button>
    {% endif %}
  {% else %}
  <p class="l-change-pop show">{% trans "FORMULARZ ZAMKNIĘTY" %}</p>
  {% endif %}


  <div class="form-info" style="margin-top:2em;">
    {{ form.intro|second_part:"---"|safe }}
  </div>
</form>
