{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>{% trans "Authorize Token" %}</title>
		<link rel="stylesheet" href="/static/css/mobile.css" media="handheld, only screen and (max-device-width:480px)"/>
		<meta name="viewport" content="width=320" />		
	</head>
    <body>
        <h1>WolneLektury.pl - {% trans "Sign in" %} / {% trans "Register"%}</h1>
        <form method="post" action="." id="login-form" class="cuteform">
            <h2>{% trans "Sign in" %}</h2>
            <ul>
                {{ form.as_ul }}
                <li><input type="submit" value="{% trans "Sign in" %}" /></li>
            </ul>
            <p><input type="hidden" name="next" value="{{ next }}" /></p>
        </form>

        <form action="." method="post" accept-charset="utf-8" id="registration-form">
            <h2>{% trans "Register" %}</h2>
            <ul>
                <li><input type="submit" value="{% trans "Register" %}"/></li>
            </ul>
        </form>
    </body>
</html>