{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign in" %} / {% trans "Register on"%} WolneLektury.pl{% endblock %}

{% block body %}
    <h1>{% trans "Sign in" %} / {% trans "Register"%}</h1>
    <form action="." method="get" accept-charset="utf-8" id="search-form">
        <p><li>{{ search_form.q }} <input type="submit" value="{% trans "Search" %}" /></li> <strong>{% trans "or" %}</strong> <a href="{% url main_page %}">{% trans "return to main page" %}</a></p>
    </form>
    <form method="post" action="." id="login-form" class="cuteform">
        <h2>{% trans "Sign in" %}</h2>
        <ol>
            {{ form.as_ul }}
            <li><input type="submit" value="{% trans "Sign in" %}" /></li>
        </ol>
        <p><input type="hidden" name="next" value="{{ next }}" /></p>
    </form>
    
    <form action="." method="post" accept-charset="utf-8" id="registration-form">
        <h2>{% trans "Register" %}</h2>

        <p><input type="submit" value="{% trans "Register" %}"/></p>
    </form>
{% endblock %}
