.media-eink {
    .annoy-banner {
        background: white !important;
        color: black !important;
        border: 3px solid black;
    }

    .dynamic-insert {
        background: white !important;
        color: black !important;
        border: 3px solid black;
    }
    
    .annoy-banner-on_blackout {
        display: none !important;
    }
    .annoy-banner_blackout {
        display: none !important;
    }

    
}
