{% load i18n %}

{% if cite %}
<a href="{{ cite.link }}" class="cite{% if cite.small %} cite-small{% endif %}">
    {% if cite.vip %}
        <p class='vip mono'><span>{{ cite.vip }} {% trans "recommends" %}:</span></p>
    {% endif %}
    <blockquote class="cite-body">
        <span>{{ cite.text|linebreaksbr|safe }}</span>
    </blockquote>
    {% if cite.book %}
    <p class="source mono"><span>{{ cite.book.pretty_title }}</span></p>
    {% endif %}
</a>
{% else %}
    {% if fallback %}
        {% load fragment_promo from catalogue_tags %}
        {% fragment_promo ctx %}
    {% endif %}
{% endif %}
