{% load i18n %}

{% if cite %}
<a href="{{ cite.link }}" class="cite{% if cite.small %} cite-small{% endif %}">
    {% if cite.vip %}
        <p class='vip mono'>{{ cite.vip }} {% trans "recommends" %}:</p>
    {% endif %}
    <blockquote class="cite-body">
        {{ cite.text|linebreaks|safe }}
    </blockquote>
    <p class="source mono">{{ cite.book.pretty_title }}</p>
</a>
{% else %}
    {% if fallback %}
        {% load fragment_promo from catalogue_tags %}
        {% fragment_promo ctx %}
    {% endif %}
{% endif %}
