.l-aside {
  color: $color-gray;
  max-width: 350px;
  width: 100%;

  h3 {
    font-weight: $bold;
    @include font-size(18px);
    line-height: 21px;
    letter-spacing: 0.01em;
    margin-top: 0;
  }

  & > ul {
    padding-left: 0;
  }

  ul {
    list-style: none;
    padding-left: 30px;
    li {
      a {
        text-decoration: underline;
      }
    }
  }

  ul:not(.c-externals) {
    font-weight: $bold;
    @include font-size(24px);
    line-height: 28px;

    li {
      margin: 8px 0;
      a {}
    }
  }

  .c-externals {
    margin-top: 2rem;
    border-top: 2px solid $color-light-gray;
    padding-top: 0.5rem;

    li {
      a {}
    }
  }
}
