.l-button {
  &.l-button--media {
    letter-spacing: -0.01em;
    color: $color-primary;
    font-weight: $bold;
    @include font-size(16px);
    line-height: 19px;
    border: 4px solid $color-primary;
    border-radius: 10px;
    padding: 19px 20px;
    cursor: pointer;
    transition: all $ease-dynamic 350ms;
    background-color: $color-white;
    outline: 0;

    &:hover,
    &.l-button--media--full {
      color: $color-white;
      background: $color-primary;
      &:hover {
        background: darken($color-primary, 3%);
        border-color: darken($color-primary, 3%);
      }
    }
  }
}
