.l-themes__wrapper {
  border-top: 4px solid $color-light-gray;
  margin-top: 100px;
  width: 100%;

  h2 {
    font-weight: bold;
    @include font-size(32px);
    letter-spacing: -0.02em;
    color: $color-primary;
    line-height: 100%;
    margin-top: 53px;
  }
}

.l-themes {
  margin-top: 52px;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: $bold;
    @include font-size(18px);
    line-height: 21px;
    letter-spacing: 0.01em;

    color: $color-gray;
    display: flex;
    flex-wrap: wrap;

    li {
      width: 16.66666666666667%;
      margin-bottom: 17px;

      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  a.button {
    font-weight: $bold;
    @include font-size(24px);
    line-height: 28px;
    text-align: center;
    text-decoration-line: underline;
    color: $color-gray;
    appearance: none;
    background: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
    display: block;
    margin: 43px auto 0;
  }
}
