.annnoy-banner-on {
    display: none;
}

.annoy-banner_blackout {
    //display: flex;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: linear-gradient(180deg, rgba(0,0,0,1) 90%, rgba(0,0, 0,.5) 100%);

    .annoy-banner-inner {
        max-height: 100vh;
        overflow-y: auto;
        padding: 0 0 30px 0;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .annoy-banner_actions {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .annoy-banner_img {
        flex: 1;
        text-align: center;
        img {
            max-height: 100%;
            max-width: 100%;
        }
    }
    .text {
        display: flex;
        padding: 6px 30px;
        flex: 1;
        gap: 40px;
        flex-direction: column;
        color: white;
        p {
            font-size: 24px;
        }
    }
    .action {
        font-size: 1.6rem !important;
    }
    .annoy-banner-off {
        font-size: 1.2rem !important;
    }

    @include rwd($break-flow) {
        .annoy-banner-inner {
            padding: 0;
            margin: 10vh 10vw 20vh 10vw;
            max-height: 70vh;
            flex-direction: row;
            overflow-y: unset;

            .text {
                padding: 0 20px 0 0;
                overflow-y: auto;
            }
        }
        .action {

        }
        .annoy-banner-off {

        }
    }
}


.annoy-banner_crisis-container,
.annoy-banner_top-container {
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 0 10px black;
    display: flex;
    background: #c32721;
    color: black;
    align-items:center;
    cursor: pointer;

    &.annoy-banner_top-container {
	padding: 16px 0;

	@media screen and (max-height: 700px) {
	    padding: 5px 0;
	}
    }
    &.annoy-banner_crisis-container {
	height: 160px;

	@media screen and (min-height: 480px) {
	    height: 33vh;
	    top: calc(-33vh + 160px);
	}

	@media screen and (max-width: 940px) {
	    padding: 10px 0;
	    height: auto;
	    top: 0;
	}
    }


    .annoy-banner_crisis,
    .annoy-banner_top {
	position: sticky;
	top: 0;
	width: 100%;

	.annoy-banner-inner {
	    max-width: 1172px;
	    margin: auto;
	    padding-right: 16px;
	    padding-left: 16px;

	    display: flex;
	    gap: 20px;
	    align-items: flex-start;

	    .image-box {
		position: relative;
		img {
		    max-height: 159px;
		    display: block;

		    @media screen and (max-width: 700px) {
			max-height: 120px;
		    }
		}
	    }

	    .text-box {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		gap: 10px;

		@media screen and (max-width: 700px) {
		    p {
			font-size: .9em;
		    }
		}

		@media screen and (max-height: 700px) {
		    flex-direction: row;
		    justify-content: space-between;
		    p {
			font-size: .9em;
		    }
		}


		.text {
		    background: #edc016;
		    padding: 1em;
		    border: 3px solid black;
		}

		@media screen and (max-height: 400px) {
		    align-items: center;
		    .text {
			height: 1.2em;
			overflow: hidden;
		    }
		}

		a {
		    color: #c32721;
		}
		.state-box {
		    display: flex;
		    gap: 10px;
		    align-items: center;
		    @media screen and (max-width: 700px) {
			flex-direction: column;
			align-items: stretch;
			text-align: center;
		    }
		    .progress-box {
			flex-grow: 1;

			.l-checkout__support__bar span::after {
			    color: black;
			}
		    }
		    .time-box {
			width: 110px;
			margin: auto;
		    }
		    .countdown {
			margin: 0;
		    }
		}
	    }

	    p {
		margin: 0;
	    }

	    a.action {
		background: #edc016;
		color: black;
		padding: .8em 1em;
		border: 3px solid black;
		border-radius: 10px;
		display: block;
		transition: background-color .2s;

		@media screen and (max-height: 700px) {
		    font-size: .9em;
		}
		@media screen and (max-height: 400px) {
		    white-space: nowrap;
		}

		&:hover {
		    background: #ffd430;
		    text-decoration: none;
		}
	    }
	}
    }
    &.annoy-banner-style_crisis_quiet,
    &.annoy-banner_top-container {
	background: black;
	color: white;
	.annoy-banner-inner {
	    align-items: center;

	    .text-box {
		.text {
		    background: none;
		    padding: 0;
		    border: none;
		    a {
			color: #ffd430;
		    }
		}
	    }
	}
    }
}



.annoy-banner_book-page {
    background-color: #ffd430;
    color: #083F4D;
    border-radius: 10px;
    padding: 15px 20px;
    margin-top: 20px;

    .annoy-banner-inner {
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: flex-start;
	justify-content: space-between;

	p {
	    margin: 0;
	}
	a {
	    line-height: 1.35;
	    color: #c32721;
	    white-space: nowrap;
	    border: solid #c32721;
	    border-width: 0 0 1px;

	    &:hover {
		text-decoration: none;
		border-bottom-width: 2px;
	    }
	}
    }
}

.annoy-banner_book-page-center {
    background: white;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #018189;
    border-radius: 15px;
    color:#018189;

    .annoy-banner-inner {
	display: flex;
	gap: 15px;
	img {
	    max-width: 200px;
	}
	p {
	    margin: 0;
	}
    }
}
