.l-aside {
  color: $color-gray;
  max-width: 240px;
  width: 100%;

  figure {
    font-size: 0;
    margin: 7px 0 100px;
  }

  .l-aside__info {
    & + .l-aside__zbiory {
      margin-top: 15px;
    }
  }
}

.l-aside__info {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 15px;

  li {
    line-height: 26px;

    span {
      color: #007880;
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.l-aside__zbiory {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 15px;

  & > li {
    & > a {
      color: #007880;
    }

    ul {
      margin-left: 9px;
      list-style: none;
      border-left: 1px solid #D9D9D9;
      padding: 0 0 0 15px;

      li {
        line-height: 35px;
      }
    }
  }

  li {
    line-height: 26px;

    span {
      color: #007880;
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
