.l-button {
  &.l-button--media {
    @include font-size(14px);
    border: 2px solid #D5ECED;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: all $ease-dynamic 350ms;
    background-color: $color-white;
    outline: 0;

    font-weight: bold;
    line-height: 17.6px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #007880;
    font-family: $base-font;

    @include rwd($break-flow) {
        @include font-size(16px);
        line-height: 20px;
        padding: 19px 0;
    }
    
    .icon {
      font-size: 21px;
      margin-right: 10px;
    }

    img {
        height: 21px;
    }

    &:hover {
      background-color: #D5ECED;
    }

    &.l-button--media--full {
      color: $color-white;
      background: #083F4D;
      border: 2px solid #083F4D;
      &:hover {
        background: darken(#083F4D, 2%);
        border-color: darken(#083F4D, 2%);
      }
    }
  }

  &.l-button--default {
    cursor: pointer;
    color: $color-white;
    background: #007880;
    border: 2px solid #007880;
    border-radius: 5px;
    letter-spacing: -0.01em;
    font-weight: $semibold;
    text-align: center;
    @include font-size(18px);
    line-height: 140%;
    padding: 5px 20px;
    transition: all $ease-dynamic 350ms;

    @include rwd($break-flow) {
      @include font-size(25px);
    }

    &:hover {
      background: #083F4D;
      border-color: #083F4D;
    }

    &.l-button--default--dark {
      color: #083F4D;
      background: #92BD39;
      border-color: #92BD39;
      &:hover {
        background: #FFA500;
        border-color: #FFA500;
      }
    }
  }
}
