.l-container {
  width: 100%;
  max-width: 1172px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.l-breadcrumb-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
