.l-footer {
  color: #FFFFFF;
  background: #083F4D;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 38px;

  .l-container {
      display: flex;
      flex-direction: column;
      @include rwd($break-footer) {
          display: block;
      }
  }
}

.l-footer__row {
  display: flex;

  align-items: flex-start;
  flex-direction: column;

  @include rwd($break-footer) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }

      a {
        color: #85C7CC;
        &:hover {
          color: #85C7CC;
          text-decoration: underline;
        }
      }

      &:nth-child(1) {
    padding-bottom: 25px;
    border-bottom: 1px solid #007880;
    align-items: flex-start;
  }

  &:nth-child(2) {
      margin-top: 25px;
      column-gap: 20px;

    div {
        font-size: 14px;
        @include rwd($break-footer) {
            font-size: unset;
      }
      &:nth-child(1) {
        max-width: 315px;
        padding-right: 53px;

        border-right: 0;
        min-width: 0;
        margin-bottom: 20px;
        @include rwd($break-footer) {
            min-width: 270px;
            border-right: 1px solid #007880;
            margin-bottom: 0;
        }
      }
      &:nth-child(3) {
        max-width: 483px;
        margin-top: 20px;
        @include rwd($break-footer) {
            margin-top: 0;
        }
      }

    }
  }

  ul {
    padding: 0;
    list-style: none;
    margin-top: 20px 0 0 0;
    @include rwd($break-footer) {
        margin: 0;
    }
    li {
      font-weight: normal;
      font-size: 14x;
      line-height: 150%;
      @include rwd($break-footer) {
          font-size: unset;
      }
    }

    &:nth-of-type(1) {
      margin-left: 0;
      margin-right: auto;
    }

    &:nth-of-type(2) {
      margin-left: 0;
      margin-right: auto;
      @include rwd($break-footer) {
        margin-left: 10px;
      }
    }

    &.teal {
      color: #85C7CC;
      a {
        color: white;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
