.l-quotes {
  width: 100%;
  max-width: 1140px;
  margin-top: 58px;
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;

  @include rwd(tablet) {
    margin-top: 24px;
  }

  &:after {
    content: "";
    display: block;
    pointer-events: none;
    background: url("../images/quotes-slider-bg-right.svg") center no-repeat;
    width: 170px;
    height: 407px;
    position: absolute;
    right: -150px;
    top: 0;
    z-index: $middle-layer;

    @include rwd(tablet) {
      display: none;
    }
  }

  &:before {
    content: "";
    display: block;
    pointer-events: none;
    background: url("../images/quotes-slider-bg-left.svg") center no-repeat;
    width: 170px;
    height: 407px;
    position: absolute;
    left: -150px;
    top: 0;
    z-index: $middle-layer;

    @include rwd(tablet) {
      display: none;
    }
  }

  .slick-dots {
    bottom: 0;
    li button:before {
      border: 1px solid #007880;
    }
  }
}

.l-quotes__item {
  outline: 0;
  background: #E1F1F2;
  border-radius: 10px;
  width: 558px;
  margin-top: 50px;
  margin-left: 32px;
  margin-right: 32px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;

  @include rwd(tablet) {
    margin-right: 0;
    margin-left: 0;
  }

  img {
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    font-size: 0;
    margin-top: -50px;

    @include rwd(tablet) {
      width: 48px;
      height: 48px;
      margin-top: -24px;
    }
  }

  h4 {
    margin-top: 10px;
    font-weight: $semibold;
    @include font-size(25px);
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #474747;

    @include rwd(tablet) {
      margin-top: 5px;
      @include font-size(14px);
    }
  }

  p {
    margin-top: 24px;
    font-style: italic;
    font-weight: $regular;
    @include font-size(26px);
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #083F4D;

    @include rwd(tablet) {
      margin-top: 12px;
      @include font-size(20px);
    }
  }
}