.l-quotes {
  width: 100%;
  max-width: 1140px;
  margin-top: 24px;
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;

  @include rwd($break-flow) {
    margin-top: 58px;
  }

  .slick-dots {
    bottom: 0;
    li button:before {
      border: 1px solid #007880;
    }
  }
}

.l-quotes__item {
  outline: 0;
  background: #E1F1F2;
  border-radius: 10px;
  width: 558px;
  margin-top: 50px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;

  @include rwd($break-flow) {
      margin-left: 32px;
      margin-right: 32px;
  }

  img {
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    font-size: 0;
    margin-top: -24px;
    width: 48px;
    height: 48px;

    @include rwd($break-flow) {
        width: unset;
        height: unset;
        margin-top: -50px;
    }
  }

  h4 {
    margin-top: 5px;
    font-weight: $semibold;
    @include font-size(14px);
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #474747;

    @include rwd($break-flow) {
      margin-top: 10px;
      @include font-size(25px);
    }
  }

  p {
    margin-top: 12px;
    font-style: italic;
    font-weight: $regular;
    @include font-size(20px);
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #083F4D;

    @include rwd($break-flow) {
      margin-top: 24px;
      @include font-size(26px);
    }
  }
}
