.l-section {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

  @include rwd(tablet) {
    padding-left: 16px;
    padding-right: 16px;
  }

  &.l-section--col {
    flex-direction: column;
  }
}
