#global-progress {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
    border-bottom: 1px solid #F2F2F2;

    .progress-text {
        line-height: 24px;
        padding: 4px;
        color: #083F4D;
        font-size: 16px;
        .progress-text-value {
            font-weight: 600;
        }
    }
    
    .bar {
        display: flex;
        height: 18px;
        gap: 4px;
        padding: 4px;
        
        .piece {
            position: relative;
            background: #F2F2F2;
            overflow: hidden;
            border-radius: 2px;

            .filled {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                background: #92BD39;
            }
        }
    }
}

.l-text_toolbar {
    display: flex;
    gap: 16px;
    margin-right: -7px;
    position: relative;
    a {
        img {
            display: block;
        }
    }

    .box {
        z-index: 5;
    }
}

#main-text {
    position: relative;
    margin-bottom: 30px;
    .text_next-book {
        position: absolute;
        right: 0;
        top: 0;
    }
    .text_prev-book {
        position: absolute;
        left: 0;
        top: 0;
    }
    .main-text-body {
        margin: 16px;
        @include rwd($break-wide) {
            width: 717px;
            margin: 0 auto;
        }

        color: #333333;

        font-family: "Source Serif Pro";
        font-size: 18px;
        line-height: 28px;
    }
}


#toc {
    display: none;

    
}

#heretoc {
    margin-top: .5em;

    // Workaround for missing li's.
    ol a {
        line-height: 30px;
    }
}

#menu .box {
    display: none;
    position: absolute;
    right: 0px;
    top: 50px;
    width: 80vw;
    max-width: 600px;
    height: 300px;
    padding: 30px; 
    overflow: auto;
    background: #FFE79E;
    box-shadow: 0px 0px 20px rgba(1, 129, 137, 0.2);
    border-radius: 10px;
}
#menu #wltoc {
    right: 0px;
    width: 50vw;
    height: 300px;
}
#menu #settings {
    width: 200px;
    height: 200px;
}
#themes {
    display: none;
}
#other-text {
    display: none;
}
#reference-box {
    display: none;
    width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    z-index:100;
    background: #eee;
 
    img {
        margin: 0;
    }
    
    #reference-map {
        height:400px;
        width: 300px;
        @media screen and (max-height: 800px) {
            height: 300px;
        }
    }
    #reference-images {
        padding: 10px;
        white-space: nowrap;
        overflow-x: auto;
        a {
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px 0 0;
            img {
                width: auto;
                border: 5px solid white;
                box-shadow: 4px 4px 4px #666;
                max-width: 240px;
                max-height: 200px;
            }
        }
    }
    #reference-link {
        display: block;
        font-size: 1.5em;
        padding: 10px;
    }
 
    #reference-close {
        font-size: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1000;
        font-family: sans-serif;
        color: black;
    }
}




#menu #info {
    padding-top: 0;
    display: none;
    position: absolute;
    right: 0px;
    top: 50px;
    width: 80vw;
    height: 300px;
    padding: 0px 30px 30px; 
    overflow: auto;
    box-shadow: 0px 0px 20px rgba(1, 129, 137, 0.2);
    border-radius: 10px;
    
}
#annoy-stubs {
    display: none;
}
#nota_red {
    display: none;
}


.l-text_header {
    margin-top: 50px;
    display: flex;
    gap: 60px;

    .l-text_header_cover {
        width: 167px;
        height: 236px;
        
    }
    .l-text_header__content {
        flex-grow: 1;
    }

    .l-text_header_author {
        margin: 0;
        font-weight: 600;
        font-size: 21.5px;
        line-height: 1.4;
        a {
            color: #007880;
        }
    }
    .l-text_header_title {
        margin: 0;
        font-weight: 700;
        font-size: 37px;
        line-height: 1.3;
        a {
            color: #083F4D;
        }
    }
    
}
    

#main-text #book-text {

    body {
        font-size: 16px;
        font-family: Gelasio, Georgia, "Times New Roman", serif;
        line-height: 1.5em;
        margin: 0;
    }

a {
    color: blue;
    text-decoration: none;
}

img {
    max-width: 37.5rem;
    margin-top: 1em;
    width: 100%;
}
.animacja {
    margin-top: 1em;
}
.animacja img {
    margin-top: 0;
}

/* ================================== */
/* = Header with logo and menu      = */
/* ================================== */


/* =================================================== */
/* = Common elements: headings, paragraphs and lines = */
/* =================================================== */
h1 {
    font-size: 3em;
    margin: 1.5em 0;
    text-align: center;
    line-height: 1.5em;
    font-weight: bold;
}

h2 {
    font-size: 2em;
    margin: 1.5em 0 0;
    font-weight: bold;
    line-height: 1.5em;
}

h3, .subtitle2 {
    font-size: 1.5em;
    margin: 1.5em 0 1em 0;
    padding-right: 48px;
    font-weight: normal;
    line-height: 1.5em;
}

h4, .subtitle3 {
    font-size: 1em;
    margin: 1.5em 0 0;
    line-height: 1.5em;
}

.subtitle4 {
    font-weight: bold;
}

p {
    margin: 0;
}

/* ======================== */
/* = Footnotes and themes = */
/* ======================== */

.annotation {
    font-style: normal;
    font-weight: normal;
    font-size: .75em;
    padding-left: 2px;
    position: relative;
    top: -4px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#footnotes {
    margin-top: 3em;
}

#footnotes .annotation {
    display: block;
    float: left;
    width: 2.5em;
    clear: both;
    user-select: auto;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

#footnotes > div {
    margin: 1.5em 0 0 0;
}

#footnotes p, #footnotes ul, #footnotes .stanza {
    margin-left: 2.5em;
    font-size: 0.875em;
}

#footnotes .permalink {
    font-size: .75em;
}

blockquote {
    font-size: 0.875em;
}

/* ============= */
/* = Numbering = */
/* ============= */
.verse, .paragraph {
    position:relative;
    padding: 0 48px 0 0;
}
/*.anchor {
    position: absolute;
    margin: -0.25em -0.5em;
    color: #777;
    font-size: 12px;
    text-align: center;
    padding: 0.25em 0.5em;
    line-height: 1.5em;
}*/


/* =================== */
/* = Custom elements = */
/* =================== */
span.author {
    font-size: 0.5em;
    display: block;
    line-height: 1.5em;
    margin-bottom: 0.25em;
}

span.collection {
    font-size: 0.375em;
    display: block;
    line-height: 1.5em;
    margin-bottom: -0.25em;
}

span.subtitle {
    font-size: 0.5em;
    display: block;
    line-height: 1.5em;
    margin-top: -0.25em;
}

span.translator {
    font-size: 0.375em;
    display: block;
    line-height: 1.5em;
    margin-top: 0.25em;
}

div.didaskalia {
    font-style: italic;
    margin: 0.5em 0 0 1.5em;
}

div.kwestia {
    margin: 0.5em 0 0;
}

div.stanza {
    margin: 1.5em 0;
}

div.kwestia div.stanza {
    margin: 0;
}

.verse-p {
    padding-left: 1em;
}
.verse-indent {
    padding-left: 1em;
}
.verse-right { text-align: right; }
.verse-center { text-align: center; }

.verse-indent.verse-indent-2 { padding-left: 2em; }
.verse-indent.verse-indent-3 { padding-left: 3em; }
.verse-indent.verse-indent-4 { padding-left: 4em; }
.verse-indent.verse-indent-5 { padding-left: 5em; }
.verse-indent.verse-indent-6 { padding-left: 6em; }
.verse-indent.verse-indent-7 { padding-left: 7em; }
.verse-indent.verse-indent-8 { padding-left: 8em; }
.verse-indent.verse-indent-9 { padding-left: 9em; }
.verse-indent.verse-indent-10 { padding-left: 10em; }
.verse-indent.verse-indent-11 { padding-left: 11em; }
.verse-indent.verse-indent-12 { padding-left: 12em; }
.verse-cont { padding-left: 12em; }

@media screen and (max-width: 40em) {
    .verse-indent { padding-left: 4%; }
    .verse-indent.verse-indent-2 { padding-left: 8%; }
    .verse-indent.verse-indent-3 { padding-left: 12%; }
    .verse-indent.verse-indent-4 { padding-left: 16%; }
    .verse-indent.verse-indent-5 { padding-left: 20%; }
    .verse-indent.verse-indent-6 { padding-left: 24%; }
    .verse-indent.verse-indent-7 { padding-left: 28%; }
    .verse-indent.verse-indent-8 { padding-left: 32%; }
    .verse-indent.verse-indent-9 { padding-left: 36%; }
    .verse-indent.verse-indent-10 { padding-left: 40%; }
    .verse-indent.verse-indent-11 { padding-left: 44%; }
    .verse-indent.verse-indent-12 { padding-left: 48%; }
    .verse-cont { padding-left: 48%; }
}


p.paragraph {
    text-align: justify;
    margin: 0;
    text-indent: 1.5em;
}
p.paragraph.werset {
    text-indent: 0;
    margin-bottom: 1em;
}

.motto {
    text-align: justify;
    font-style: italic;
    margin: 1.5em 0 0;
}

.paragraph {
    &.miejsce_data, &.pozdrowienie, &.podpis {
	text-align: right;
    }
    &.naglowek_listu {
	text-align: center;
	margin: .5em 0;
    }
}


p.motto_podpis {
    font-size: 0.875em;
    text-align: right;
    margin-bottom: 1.5em;
}

div.fragment {
    border-bottom: 0.1em solid #999;
    padding-bottom: 1.5em;
}

div.note p, div.dedication p, div.note p.paragraph, div.dedication p.paragraph {
    text-align: right;
    font-style: italic;
}

div.frame {
    border: 1px darkgray solid;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

hr.spacer {
    height: 3em;
    visibility: hidden;
}

hr.spacer-line {
    margin: 1.5em 0;
    border: none;
    border-bottom: 0.1em solid #000;
}

p.spacer-asterisk {
    padding: 0;
    margin: 1.5em 0;
    text-align: center;
}

div.person-list ol {
    list-style: none;
    padding: 0 0 0 1.5em;
}

p.place-and-time {
    font-style: italic;
}

em.math, em.foreign-word, em.book-title, em.didaskalia {
    font-style: italic;
}
em.foreign-word.foreign-word-protected {
    font-style: normal;
}

em.author-emphasis {
    letter-spacing: 0.1em;
}

em.person {
    font-style: normal;
    font-variant: small-caps;
}

em.wieksze-odstepy {
    font-style: normal;
    word-spacing: 1em;
}

.verse:after {
    content: "\feff";
}

table {
    border-collapse: collapse;
    width: 100%;
}

table.border td, table.border th {
    border: 1px solid black;
    vertical-align: top;
}


.anchor {
    /* Show line numbers. */
    float: left;
    clear: left;
    font-size: .8em;
    margin-left: -40px;
    width: 36px;
    height: auto;
    padding: 2px;
    text-align: center;
    color: #ccc;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}



.theme-begin {
    font-size: .9em;
    position: relative;
    float: right;
    margin-bottom: 8px;
    clear: both;
    line-height: 1.5em;
    text-align: left;

    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    letter-spacing: 0;
    text-transform: none;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    margin-right: -227px;
    width: 170px;
    text-indent: 0;
    color: inherit;
    padding-left: 12px;
    border-left: 1px solid #333;
}


a.reference.interesting:after {
    content: url('../images/pin.svg');
    padding: 3px;
}
}




#menu {
#wltoc ol, #themes ol, #objects ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
#wltoc ol {
  padding-left: 1.5em;
}

#wltoc ol ol {
    padding: 0 0 1.5em 1.5em;
    margin: 0;
}

#wltoc ol ol li {
    font-weight: normal;
}

#wltoc h2 {
    display: none;
}

#wltoc .anchor {
    float: none;
    margin: 0;
    font-size: 16px;
    position: inherit;
}


#info .sponsors img {
    margin-bottom: 1em;
}
}


#main-text {
    #annotation-box {
        display: none;
        position: fixed;

        .pointer-bottom {
            transform: rotate(45deg);
            left: 27.5px;
            bottom: -6px;
            width: 12px;
            height: 12px;
            position: absolute;

                display: block;
                width: 12px;
                height: 12px;
                position: absolute;
                z-index: 1;
                border-radius: 0px 0px 2px 0px;
                background: var(--white-100, #FFF);
                border: 1px solid var(--teal-700, #007880);
                display: block;
            }
        .pointer-top {
            left: 27.5px;
            bottom: -5px;
            transform: rotate(45deg);
            display: block;
            width: 12px;
            height: 12px;
            position: absolute;
            z-index: 3;
            border-radius: 0px 0px 2px 0px;
            background: #fff;
            display: block;
        }

        #annotation {
            max-width: 470px;
            position: relative;
            z-index: 2;
            background: white;

            padding: 20px;
            box-shadow: 0px 0px 20px rgba(1, 129, 137, 0.2);
            border: 1px solid #007880;
            border-radius: 6px;

            @include rwd($break-wide) {
            }
        }

        
        #annotation-content {
            max-height: 138px;
            overflow-y: scroll;
            color: var(--black-900, #333);
            leading-trim: both;
            text-edge: cap;
            font-variant-numeric: oldstyle-nums proportional-nums;
            /* Czytnik/Desktop/p read */
            font-family: "Source Serif Pro";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 155.556% */

	    em.foreign-word.foreign-word-protected {
		font-style: normal;
	    }
        }

        #footnote-link {
            display: block;
            margin-top: 16px;
            text-align: right;
        }
    }


    #qbox {
        display: none;
        position: fixed;
        padding: 4px;
        border: 1px solid #007880;
        border-radius: 22px;
        background: white;
        box-shadow: 6px 6px 10px 0px rgba(0, 120, 128, 0.35);

        &.copied {
            .content:after {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                content: "skopiowane";
                display: flex;
                background: white;
                color: black;
                justify-content: center;
                align-items: center;
                border-radius: 22px;
            }
        }

        .content {
            overflow: hidden;
            display: flex;
            a {
                width: 70px;
                line-height: 44px;
                text-align: center;
                border-left: 1px solid #BBF6FA;

                &:nth-child(1) {
                    border-left: none;
                }

                img {
                    vertical-align: middle;
                    height: 22px;
                }
            }
        }

        .pointer-bottom {
            transform: rotate(45deg);
            left: 128px;
            top: -6px;
            width: 12px;
            height: 12px;
            position: absolute;

            display: block;
            width: 12px;
            height: 12px;
            position: absolute;
            z-index: 1;
            border-radius: 0px 0px 2px 0px;
            background: var(--white-100, #FFF);
            border: 1px solid var(--teal-700, #007880);
            display: block;
        }
        .pointer-top {
            left: 128px;
            top: -5px;
            transform: rotate(45deg);
            display: block;
            width: 12px;
            height: 12px;
            position: absolute;
            z-index: 3;
            border-radius: 0px 0px 2px 0px;
            background: #fff;
            display: block;
        }

    }
}



.zakladka {
    display: none;
    position: absolute;
    //z-index: 70;
    width: 40px;
    height: 40px;
    .icon {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .icon-exists, .icon-note {display: none;}
        img {
        }
    }

    #zakladka-box {
        padding: 20px;
        width: 270px;
        border: 1px solid #007880;
        border-radius: 8px;
        box-shadow: 6px 6px 10px 0px rgba(0, 120, 128, 0.35);
        background: #E1F1F2;
        position: relative;
        left: -225px;
        z-index: 3;
        @include rwd($break-wide) {
            left: -12px;
        }
        
        .pointer-bottom {
            transform: rotate(45deg);
            left: 238px;
            top: -7px;
            width: 12px;
            height: 12px;
            position: absolute;
            box-sizing: border-box;

            display: block;
            width: 12px;
            height: 12px;
            position: absolute;
            z-index: 1;
            border-radius: 0px 0px 2px 0px;
            background: var(--white-100, #E1F1F2);
            border: 1px solid var(--teal-700, #007880);
            display: block;

            @include rwd($break-wide) {
                left: 25px;
            }
        }
        .pointer-top {
            left: 238px;
            top: -5px;
            transform: rotate(45deg);
            display: block;
            width: 12px;
            height: 12px;
            position: absolute;
            z-index: 3;
            border-radius: 0px 0px 2px 0px;
            background: #E1F1F2;
            display: block;
            @include rwd($break-wide) {
                left: 25px;
            }
        }


        .content {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 12px;
            .zakladka-tool {
                color: #333;
                line-height: 30px;
                font-family: "Source Sans Pro";
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                cursor: pointer;
                padding-left: 38px;

                &:before {
                    height: 30px;
                    width: 30px;
                    display: inline-block;
                    vertical-align: bottom;
                    margin-left: -38px;
                    margin-right: 8px;
                }
                
                &.zakladka-tool_zakladka_delete:before {
                    content: url('/static/2022/images/zakladka-usun.svg');
                }
                &.zakladka-tool_zakladka:before {
                    content: url('/static/2022/images/add-icon.svg');
                }
                &.zakladka-tool_sluchaj:before {
                    content: url('/static/2022/images/play-now-icon.svg');
                }
                &.zakladka-tool_notka:before {
                    content: url('/static/2022/images/add-note-icon.svg');
                }
            }
            .zakladka-tool_notka_text {
                display: none;
                width: 100%;
                position: relative;
                textarea {
                    width: 100%;

display: flex;
padding: 16px;
justify-content: center;
align-items: center;
gap: 8px;
flex: 1 0 0; 
border-radius: 6px;
border: 1px solid #007880;
background: #fff;
                }
                #notka-save, #notka-saved {
                    position: absolute;
                    top: 4px;
                    right: 4px;
                    display: none;
                    width: 16px;
                    height: 16px;
                }
                #notka-saved {
                }
            }
            .zakladka-tool_zakladka_delete {
                display: none;
//                position: absolute;
//                bottom: 40px;
//                right: 3px;
//                width: 29px;
//                height: 29px;
//                cursor: pointer;
//                align-items: center;
//                justify-content: center;
            }
        }
    }

    

    &.zakladka-exists {
        .icon-empty {display: none;}
        .icon-exists {display: flex;}
        #zakladka-box .content {
            .zakladka-tool_notka_text {display: block;}
            .zakladka-tool_zakladka_delete {display: block;}
        }
    }
    &.zakladka-note {
        .icon-empty {display: none;}
        .icon-note {display: flex;}
        #zakladka-box .content {
            .zakladka-tool_notka_text {display: block;}
            .zakladka-tool_zakladka_delete {display: block;}
        }
    }
}



/*
.zakladka-tool_sluchaj {display: none;}
.has-sync .zakladka-tool_sluchaj {display: block;}
*/

#book-text-buttons {
    display: none;
    margin-top: 16px;
    border: 1px solid #D5ECED;
    border-radius: 6px;
    padding: 8px;
    max-width: 717px;
    

    a {
        display: inline-block;
        padding: 20px 30px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 6px;
        &:hover {
            background: #E1F1F2;
        }
        i {
            margin-right: 10px;
            &.icon-play {
                color: white;
                background: #018189;
                display: inline-block;
                padding: 10px 8px 10px 12px;
                border-radius: 100%;
            }
        }
    }
}



#sidebar {
    position: absolute;
    left: 0;
    top: 20px;
    width: 200px;

    h2 {
	font-size: 20px;
	margin-bottom: 1em;
    }
    
    .other-text-close {
	display: none;
    }

    #other {
	ul {
	    list-style: none;
	    margin: 0;
	    padding: 0;

	    .book-mini-box {
		position: relative;
		width: 137px;
		.language {
		    position: absolute;
		    top: 163px;
		    left: 10px;
		    color: white;
		    background: black;
		    padding: 0 10px;
		    border-radius: 10px;
		    font-size: 14px;
		    line-height: 20px;
		    
		}
		.author, .title {
		    display: block;
		    font-size: 14px;
		    line-height: 18px;
		}
	    }
	}
    }
}
.with-other-text {
    #sidebar {
	.other-text-close {
	    display: block;
	    background: red;
	    padding: 10px;
	    margin: 10px 0;
	    border-radius: 10px;
	    color: white;
	    text-decoration: none;
	}
    }
    #main-text {
	#book-text {
	    .other {
		overflow: hidden;
		margin: 10px 40px 10px 50px;
		padding: 10px 20px 0 10px;
		background: #eee;
		border-left: 10px double #ddd;

		h3 {
		    margin: 0;
		    padding: 0;
		}

		.paragraph {
		    padding: 0;
		}
	    }
	}
    }
}

:lang(pl),
:lang(en),
:lang(de),
:lang(fr),
:lang(lt),
:lang(uk)
{
    direction: ltr;
}
:lang(he) {
    direction: rtl;
}
