.l-your-books {
  background-color: $color-dark-primary;
  padding-bottom: 40px;

  .l-container {
    display: flex;
    overflow: hidden;
  }
}

.l-your-books__header {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  h3 {
    margin-top: 0;
    color: $color-secondary;
    font-weight: $semibold;
    @include font-size(21px);
    line-height: 140%;
    letter-spacing: -0.01em;
  }
}

.l-your-books__header__actions {
  display: none;
  
  @include rwd($break-flow) {
    display: flex;
  }

  button {
    outline: 0;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid #007880;
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;

    &:hover {
      background-color: darken($color-dark-primary, 2%);
    }

    &.js-collapse {
      border-color: transparent;
    }

    .icon {
      margin: auto;
      color: $color-white;
    }
  }
}

.l-your-books__continue {
  .l-books {
      border-right: 0;
      padding-right: 0;
      margin-right: 10px;

      @include rwd($break-flow) {
          border-right: 1px solid #007880;
          padding-right: 40px;
          margin-right: 40px;
      }
  }
}

.l-your-books__shelf {
  width: 100%;
    max-width: 189px;

    @include rwd($break-flow) {
        width: 100%;
        max-width: 928px;
    }

  .l-your-books__header {
    padding-right: 85px;
  }

  .l-books {
    display: block;
    flex-wrap: initial;
  }
}
