.p-homepage__info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  width: 100%;

  flex-direction: column;
  @include rwd($break-flow) {
    flex-direction: row;
  }

  &.p-homepage__info--second {
    margin-top: 10px;
    flex-wrap: initial;

    @include rwd($break-flow) {
      margin-top: 30px;
    }
  }
}

.p-homepage__info__box__rows {
  display: flex;
  flex-direction: column;
}

.p-homepage__info__box {
  border: 1px solid $color-light-gray;
  border-radius: 10px;
  overflow: hidden;

  & > a {
    display: block;
    font-size: 0;
  }

  figure {
    margin: 0;
    display: block;
    font-size: 0;
  }

  img {
    max-width: 100%;
  }

  &.p-homepage__info__box--carousel {
      width: 100%;
      height: calc((100vw - 32px) * 315 / 975);
      overflow: hidden;
 
      @include rwd($break-flow) {
          height: 368px;
      }

      div {
          background-position: 50%;
          background-size: cover;
          display: flex;
          justify-content: stretch;
          align-items: stretch;
          height: calc((100vw - 32px) * 315 / 975);

          @include rwd($break-flow) {
              height: 368px;
          }

          a {
              width: 100%;
              height: 100%;
          }
      }

      .slick-dots {
          bottom: 10px;
    li button:before {
      border: 1px solid #007880;
    }
          
      }
      
  }
  
  &.p-homepage__info__box--donate {
      width: 100%;
    display: flex;
    padding: 21px;
    color: $color-white;
    margin-top: 20px;
    margin-right: 0;
    background-color: $color-darker-primary;
    border-color: $color-darker-primary;

    @include rwd($break-flow) {
        width: calc(50% - 10px);
      margin-right: 10px;
    }
  }

  &.p-homepage__info__box--newsletter {
      width: 100%;
    display: flex;
    padding: 21px;
    margin-top: 20px;
      margin-right: 0;
      margin-left: 0;
    color: $color-darker-primary;
    background-color: $color-lighter-primary;
    border-color: $color-lighter-primary;
    position: relative;
    overflow: visible;

    @include rwd($break-flow) {
        width: calc(50% - 10px);
        margin-left: 10px;
    }

    &:after {
      content: "";
      display: none;
      width: 555px;
      height: 233px;
      bottom: 0;
      left: 0;
      background: url("../images/book-donate-bg.svg") center no-repeat;
      position: absolute;
      pointer-events: none;


      @include rwd($break-flow) {
        display: block;
      }
    }
  }

  &.p-homepage__info__box--full {
    width: 100%;
    max-width: 705px;
    padding: 0;
    color: $color-white;
    margin-right: 0;
      margin-bottom: 20px;
    background: $color-darker-primary;
    border: 0;
    display: flex;
      flex-direction: column;

      @include rwd($break-flow) {
          flex-direction: row;
          margin-right: 20px;
          margin-bottom: 0;
    }

    img {
      border-radius: 0;

      min-width: 100%;
      height: 250px;
      object-fit: cover;
      @include rwd($break-flow) {
          min-width: 270px;
          height: unset;
          object-fit: unset;
      }
    }

    .p-homepage__info__box__content {
      max-width: 100%;
      justify-content: flex-start;
      padding: 32px;
      background: url("../images/plant.png") center no-repeat;
      p {
        @include font-size(18px);

        @include rwd($break-flow) {
          @include font-size(24px);
        }

        & + p {
          margin-top: 16px;
          @include font-size(14px);
          line-height: 150%;

          @include rwd($break-flow) {
            @include font-size(18px);
          }
        }
      }
    }

    .l-button {
      margin-top: 20px;
      margin-bottom: 0;

      @include rwd($break-flow) {
        margin-top: auto;
      }
    }
  }

  &.p-homepage__info__box--full--sm {
    border: 0;
    display: flex;

    img {
      min-width: 125px;
    }

    .p-homepage__info__box__content {
      max-width: 100%;
      justify-content: flex-start;
      padding: 15px;
      p {
        @include font-size(18px);

        @include rwd($break-flow) {
          @include font-size(24px);
        }

        strong {
          color: inherit;
          font-weight: $semibold;
        }

        & + p {
          margin-top: 16px;
          @include font-size(18px);
          line-height: 150%;
        }
      }

      .l-button {
        margin-top: auto;
        margin-bottom: 0;
        @include font-size(18px);
        padding: 3px 10px;
      }
    }

    &:nth-child(1) {
      background-color: #92BD39;
      margin-bottom: 20px;
      .p-homepage__info__box__content {
        background: url("../images/flower.png") center no-repeat;
      }
    }

    &:nth-child(2) {
      background-color: #FFA500;
      .p-homepage__info__box__content {
        background: url("../images/flower-2.png") center no-repeat;
      }
    }
  }
}

.p-homepage__info__box__content {
  width: 100%;
  max-width: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: $middle-layer;

  h3 {
    font-weight: $semibold;
    line-height: 100%;
    letter-spacing: -0.01em;

    margin-top: 0;
    @include font-size(19px);
    @include rwd($break-flow) {
        // margin-top??
        @include font-size(31px);
        line-height: 100%;
    }

    strong {
      display: block;
      font-weight: $bold;
      margin-top: 4px;
      @include font-size(28px);

      @include rwd($break-flow) {
        @include font-size(46px);
        margin-top: 6px;
      }
    }
  }

  p {
    margin-top: 0;
    font-style: italic;
    font-weight: $regular;
    @include font-size(13px);
    line-height: 140%;
    letter-spacing: -0.01em;
    @include rwd($break-flow) {
      @include font-size(21px);
      line-height: 140%;
    }
    strong {
      color: #92BD39;
      font-weight: $regular;
    }
  }
  
  .l-button {
    display: block;
  }
}

.p-homepage-prapremiera {
  //  width: calc(100% + 32px);
  //background-color: #F2F2F2;
  padding: 25px 0 40px 0;
  //margin-top: 48px;
  //margin-left: -16px;
  margin-left: 16px;

  @include rwd($break-flow) {
      width: 100%;
      margin-left: 0;
  }

  .l-container {
    & > h3 {
      margin-top: 0;
      font-weight: $semibold;
      @include font-size(25px);
      line-height: 140%;
      letter-spacing: -0.01em;
      color: #92BD39;

      @include rwd($break-flow) {
        @include font-size(31px);
      }
    }
  }
}

.p-homepage-prapremiera__box {
  margin-top: 16px;
  background-color: $color-white;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;

  @include rwd($break-flow) {
      padding: 21px;
  }

  .p-homepage-prapremiera__box__item {
      display: flex;
      flex-direction: row;
      gap: 16px;
  }
  
  figure {
    margin: 0;
    font-size: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    @include rwd($break-flow) {
        display: block;
    }

    a {
      display: block;
      img {
        min-width: 240px;
        max-width: 100%;
      }
    }
  }
}

.p-homepage-prapremiera__box__content {

    width: 100%;
    margin-top: 25px;
    @include rwd($break-flow) {
        //width: 385px;
        margin-top: 0; // ?
    }

  h4 {
    margin-top: 0;
    font-weight: $regular;
    @include font-size(18px);
    line-height: 100%;
    @include rwd($break-flow) {
      @include font-size(21px);
    }
    a {
      color: #007880;
    }
  }

  h3 {
    margin-top: 10px;
    font-weight: $regular;
    @include font-size(24px);
    line-height: 120%;
    @include rwd($break-flow) {
      margin-top: 0;
      @include font-size(37px);
    }
    a {
      color: #083F4D;
    }
  }

  p {
    margin-top: 10px;
    font-weight: $regular;
    @include font-size(18px);
    line-height: 150%;
    color: #333333;

    @include rwd($break-flow) {
      margin-top: 22px;
    }
  }
}

.p-homepage-prapremiera__box__donate {
  background: #083F4D;
  border-radius: 7px;
  color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

    width: 100%;
    padding: 18px;
    margin-top: 20px;
    @include rwd($break-flow) {
        //width: 390px;
        padding: 34px;
        //margin-top: 0;
    }

  p {
    margin-top: 0;
    font-style: italic;
    font-weight: $regular;
    @include font-size(20px);
    line-height: 150%;

      margin-bottom: 20px;
      @include rwd($break-flow) {
          margin-bottom: 0;
          @include font-size(24px);
      }

    strong {
      color: #92BD39;
      font-weight: $regular;
    }
  }
}

.p-homepage__uptodate {
    margin-top: 30px;
    width: calc(100% + 32px);
    margin-left: -16px;
    @include rwd($break-flow) {
        width: 100%;
        margin-top: 60px;
        margin-bottom: 50px;
    }
}

.p-homepage__uptodate__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #007880;
  h3 {
    margin-top: 0;
    font-weight: $semibold;
    @include font-size(25px);
    line-height: 140%;
    letter-spacing: -0.01em;
    color: #474747;

    @include rwd($break-flow) {
      @include font-size(31px);
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      margin-left: 15px;
      @include rwd($break-flow) {
        margin-left: 35px;
      }
      a {
        font-size: 0;
        color: #083F4D;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
          @include font-size(40px);
        }
      }
    }
  }
}

