<!DOCTYPE html>
{% spaceless %}
  <html lang="{{ LANGUAGE_CODE }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    {% load pipeline i18n %}
    {% load static from staticfiles %}
    {% load catalogue_tags funding_tags reporting_stats %}
    {% load piwik_tags %}
    {% load ssi_include ssi_csrf_token from ssify %}
    {% load user_username user_is_staff from common_tags %}
    {% load cache %}
    {% get_current_language as LANGUAGE_CODE %}
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="application-name" content="Wolne Lektury" />
      <meta property="og:site_name" content="Wolne Lektury" />
      <meta property="og:title" content="{% block ogtitle %}{{ page_title }}{% endblock %}" />
      <meta property="og:type" content="{% block ogtype %}website{% endblock %}" />
      <meta property="og:image" content="{% block ogimage %}{{ FULL_STATIC_URL }}img/wiatrak.jpg{% endblock %}" />
      <meta name="description" content="{% block metadescription %}Darmowe, opracowane, pełne teksty lektur, e-booki, audiobooki i pliki DAISY na wolnej licencji.{% endblock %}" />
      {% block ogextra %}{% endblock %}

      <title>
        {% block title %}{% block titleextra %}{{ page_title }}{% endblock %} :: {% trans "Wolne Lektury" %}{% endblock %}
      </title>
      <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png"/>
      <link rel="search" type="application/opensearchdescription+xml" title="Wolne Lektury"
            href="{% static 'opensearch.xml' %}"/>
      {% stylesheet "main" %}
      {% block extrahead %}{% endblock %}
    </head>
    <body id="{% block bodyid %}base{% endblock %}">

      {% block bodycontent %}

        {% block annoy %}
          {% if not funding_no_show_current %}
            {% cache 120 funding_top_bar LANGUAGE_CODE %}
              {% funding_top_bar %}
            {% endcache %}
          {% endif %}
        {% endblock %}

        <div id="whole-header">
          <div id="header-wrapper">
            <header id="main">
              <a href="/" id="logo">
                <img src="{% static 'img/logo-neon.png' %}" alt="Wolne Lektury"/>
              </a>

              <p id="tagline">
                {% url 'book_list' as b %}
                {% url 'infopage' 'prawa' as r %}
                {% count_books book_count %}
                {% blocktrans count book_count as c %}
                  <a href='{{ b }}'>{{ c }}</a> free reading you have <a href='{{ r }}'>right to</a>
                {% plural %}
                  <a href='{{ b }}'>{{ c }}</a> free readings you have <a href='{{ r }}'>right to</a>
                {% endblocktrans %}
              </p>

              <div id="lang-menu" class="hoverget">
                <span id='lang-button' class='hoverclick'>
                  <span class="lang-flag">⚐</span>
                  <span class="label"> {% trans "Language" %}</span>
                </span>
                <div id="lang-menu-items">
                  {% for lang in LANGUAGES %}
                    <form action="{% url 'django.views.i18n.set_language' %}" method="post">
                      {% ssi_csrf_token %}
                      <input type="hidden" name="language" value="{{ lang.0 }}"/>
                      <button type="submit" lang="{{ lang.0 }}"
                              class="{% ifequal lang.0 LANGUAGE_CODE %}active{% endifequal %}">{{ lang.1 }}</button>
                    </form>
                  {% endfor %}
                </div>
              </div>

              <a id="show-menu"></a>
              <nav id="menu">
                <ul id="user-info">
                  {% user_username as user_username %}
                  {% user_is_staff as user_is_staff %}
                  {{ user_username.if }}
                    <li>
                      <a href="{% url 'user_settings' %}">
                        <strong>{{ user_username }}</strong>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'social_my_shelf' %}" id="user-shelves-link">{% trans "My shelf" %}</a>
                    </li>
                  {{ user_username.endif }}
                  {{ user_is_staff.if }}
                    <li><a href="{% url 'admin:index' %}">{% trans "Administration" %}</a></li>
                  {{ user_is_staff.endif }}
                  {{ user_username.if }}
                    <li>
                      <a href="{% url 'logout' %}?next={% block logout %}{{ request.get_full_path }}{% endblock %}">{% trans "Logout" %}</a>
                    </li>
                  {{ user_username.else }}
                    <li>
                      <a href="{% url 'login' %}?next={{ request.path }}" id="login">{% trans "Sign in" %}</a>
                      / <a href="{% url 'register' %}?next={{ request.path }}" id="register">{% trans "Register" %}</a>
                    </li>
                  {{ user_username.endif }}
                </ul>

                <ul id="main-menu">
                  <li{% if active_menu_item == 'books' %} class="active"{% endif %}>
                    <a href="{% url 'book_list' %}">{% trans "Literature" %}</a>
                  </li>
                  <li{% if active_menu_item == 'theme' %} class="active"{% endif %}>
                    <a href="{% url 'theme_catalogue' %}">{% trans "Themes" %}</a>
                  </li>
                  <li{% if active_menu_item == 'audiobooks' %} class="active"{% endif %}>
                    <a href="{% url 'audiobook_list' %}">{% trans "Audiobooks" %}</a>
                  </li>
                  <li{% if active_menu_item == 'gallery' %} class="active"{% endif %}>
                    <a href="{% url 'gallery' %}">{% trans "Gallery" %}</a>
                  </li>
                  <li{% if active_menu_item == 'all_works' %} class="active"{% endif %}>
                    <a href="{% url 'catalogue' %}">{% trans "All works" %}</a>
                  </li>
                </ul>
              </nav>
              <form id="search-area" action="{% url 'search' %}">
                <div id="search-field">
                  <label for="search">{{ search_form.q.label }}</label>
                  {{ search_form.q }}
                </div>
                <button type='submit'>{% trans "Search" %}</button>
              </form>
            </header>
          </div>
        </div>

        <div id="main-content">
          {% comment %}
          <div id="banners">
            <a href="https://nowoczesnapolska.org.pl/pomoz-nam/wesprzyj-nas/">
              <img src="{% static 'img/banners/960x150_wolneLektury.jpg' %}"
                   alt="Wesprzyj działalność Nowoczesnej Polski"/>
            </a>
          </div>
          {% endcomment %}
          {% block body %}
          {% endblock %}
          <div class="clearboth"></div>
        </div>

        <div id="footer-wrapper">
          <footer id="main">
            {% ssi_include 'chunk' key='footer' %}
            {% block add_footer %}{% endblock %}
            {% ssi_include 'sponsor_page' name='footer' %}
          </footer>
        </div>

        {# template #}
        <div id="ajaxable-window" class='dialog-window'>
          <div class="header"><a href="#" class="jqmClose">{% trans "Close" %}</a></div>
          <div class="target">
            <p><img src="{% static "img/indicator.gif" %}" alt="*"/> {% trans "Loading" %}</p>
          </div>
        </div>
      {% endblock bodycontent %}

      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script type="text/javascript">
        var LANGUAGE_CODE = "{{ LANGUAGE_CODE }}";
        var STATIC_URL = "{{ STATIC_URL }}";
      </script>
      {% javascript "base" %}

      {% tracking_code %}

      {% block extrabody %}{% endblock %}

      <script src="{% static "js/contrib/modernizr.custom.19652.js" %}"></script>
    </body>
  </html>
{% endspaceless %}
