{% extends "base.html" %}
{% load i18n %}
{% load time_tags %}

{% block settings %}
  {% load title %}
  {% title author.name %}
{% endblock %}

{% block breadcrumbs %}
  <a href="/katalog/"><span>Katalog</span></a>
  <a href="/katalog/autor/"><span>Autor</span></a>
{% endblock %}

{% block main %}
  <div class="l-section">
    <div class="l-author__header">
      <h1>{{ author.name }}</h1>
    </div>
  </div>

  <div class="l-section">


    {% if author.alive %}
      <p>
        {% trans "This author's works are copyrighted." %}
        {% trans "<a href='http://domenapubliczna.org/co-to-jest-domena-publiczna/'>Find out</a> why Internet libraries can't publish this author's works." %}
      </p>
    {% else %}
      {% if author.in_pd %}
        <p>{% trans "This author's works are in public domain, but they were not yet published on Internet library of Wolne Lektury." %}</p>
      {% else %}
        <div>
          <p>
            {% trans "This author's works will become part of public domain and will be allowed to be published without restrictions in" %}
          </p>
          <div class='countdown' data-until='{{ pd_counter|date_to_utc|utc_for_js }}'></div>
          <p>
            {% trans "<a href='http://domenapubliczna.org/co-to-jest-domena-publiczna/'>Find out</a> why Internet libraries can't publish this author's works." %}
          </p>
        </div>
      {% endif %}
    {% endif %}


  </div>

  <section class="l-section">
    <div class="l-author">
      {% include "catalogue/author_box.html" %}
    </div>
  </section>
{% endblock %}
