{% extends "base.html" %}
{% load i18n %}
{% load time_tags %}

{% block settings %}
  {% load title %}
  {% title author.name %}
{% endblock %}

{% block breadcrumbs %}
  <a href="/katalog/"><span>{% trans "Katalog" %}</span></a>
  <a href="/katalog/autor/"><span>{% trans "Autor" %}</span></a>
{% endblock %}

{% block main %}
  <div class="l-section">
    <div class="l-author__header">
      <h1>{{ author.name }}</h1>
    </div>
  </div>

  <div class="l-section">


    {% if author.alive %}
      <p>
        {% trans "Dzieła tego autora objęte są prawem autorskim." %}
        {% blocktrans trimmed %}
          Biblioteki internetowe nie mogą
          udostępniać dzieł tego autora.
        {% endblocktrans %}
      </p>
    {% else %}
      {% if author.in_pd %}
        <p>{% blocktrans trimmed %}
          Dzieła tego autora znajdują się w domenie publicznej, ale jeszcze nie
          zostały opublikowane w bibliotece internetowej Wolne Lektury.
        {% endblocktrans %}</p>
      {% else %}
        <div>
          <p>
            {% blocktrans trimmed %}
              Dzieła tego autora przejdą do zasobów domeny publicznej i będą mogły być
              publikowane bez żadnych ograniczeń za
            {% endblocktrans %}
          </p>
          <div class='countdown' data-until='{{ pd_counter|date_to_utc|utc_for_js }}'></div>
          <p>
            {% blocktrans trimmed %}
              Biblioteki internetowe nie mogą
              udostępniać dzieł tego autora.
            {% endblocktrans %}
          </p>
        </div>
      {% endif %}
    {% endif %}


  </div>

  <section class="l-section">
    <div class="l-author">
      {% include "catalogue/author_box.html" %}
    </div>
  </section>
{% endblock %}
