{% extends 'base.html' %}
{% load i18n %}
{% load time_tags %}

{% block global-content %}
  <div class="l-container">
    <div class="l-breadcrumb">
      <a href="/"><span>{% trans "Strona główna" %}</span></a>
      <a href="/katalog/lektury/"><span>{% trans "Literatura" %}</span></a>
    </div>
  </div>


  <main class="l-main">
    <section class="l-section">
      <div class="l-content">
        <header class="l-header">
          <div class="l-header__content">
            <p>{{ book.author }}</p>
            <h1>{{ book.title }}</h1>
            {% if book.translator %}
              <p class="l-header__translators">
                {% trans "tłum." %}
                {{ book.translator }}
              </p>
            {% endif %}
          </div>
        </header>
        <article class="l-article">
          {% if book.in_pd %}
            <p>{% blocktrans trimmed %}
              Ten utwór znajduje się w domenie publicznej i niedługo zostanie opublikowany
              w bibliotece internetowej Wolne Lektury.
            {% endblocktrans %}</p>
          {% else %}
            {% if book.pd %}
              <p>{% blocktrans trimmed %}
                Ten utwór przejdzie do zasobów domeny publicznej i będzie mógł być
                publikowany bez żadnych ograniczeń za
              {% endblocktrans %}</p>
              <div class='countdown' data-until='{{ pd_counter|date_to_utc|utc_for_js }}'></div>
              <p>
                {% blocktrans trimmed with url='https://domenapubliczna.org/co-to-jest-domena-publiczna/' %}
                  <a href="{{ url }}">Dowiedz się</a>, dlaczego biblioteki internetowe nie mogą
                  udostępniać tego utworu.
                {% endblocktrans %}
              </p>
            {% else %}
              <p>
                {% trans "Ten utwór objęty jest prawem autorskim." %}
                {% blocktrans trimmed with url='https://domenapubliczna.org/co-to-jest-domena-publiczna/' %}
                  <a href="{{ url }}">Dowiedz się</a>, dlaczego biblioteki internetowe nie mogą
                  udostępniać tego utworu.
                {% endblocktrans %}
              </p>
            {% endif %}
          {% endif %}
        </article>
      </div>
    </section>
  </main>


{% endblock %}
