{% extends 'base.html' %}
{% load i18n %}
{% load time_tags %}

{% block global-content %}
  <div class="l-container">
    <div class="l-breadcrumb">
      <a href="/"><span>Strona główna</span></a>
      <a href="/katalog/lektury/"><span>Literatura</span></a>
    </div>
  </div>


  <main class="l-main">
    <section class="l-section">
      <div class="l-content">
        <header class="l-header">
          <div class="l-header__content">
            <p>{{ book.author }}</p>
            <h1>{{ book.title }}</h1>
            {% if book.translator %}
              <p class="l-header__translators">
                tłum.
                {{ book.translator }}
              </p>
            {% endif %}
          </div>
        </header>
        <article class="l-article">
          {% if book.in_pd %}
            <p>{% trans "This work is in public domain and will be published on Internet library of Wolne Lektury soon." %}</p>
          {% else %}
            {% if book.pd %}
              <p>
                {% trans "This work will become part of public domain and will be allowed to be published without restrictions in" %}
              </p>
              <div class='countdown' data-until='{{ pd_counter|date_to_utc|utc_for_js }}'></div>
              <p>
                {% trans "<a href='http://domenapubliczna.org/co-to-jest-domena-publiczna/'>Find out</a> why Internet libraries can't publish this work." %}
              </p>
            {% else %}
              <p>
                {% trans "This work is copyrighted." %}
                {% trans "<a href='http://domenapubliczna.org/co-to-jest-domena-publiczna/'>Find out</a> why Internet libraries can't publish this work." %}
              </p>
            {% endif %}
          {% endif %}
        </article>
      </div>
    </section>
  </main>


{% endblock %}
