{% spaceless %}
  {% load i18n %}
  {% load catalogue_tags %}

  <div class="white-box normal-text">
    <h2><a href="{{ author.get_absolute_url }}">{{ author.name }}</a></h2>
    {% if author.alive %}
      <p>
        {% trans "This author's works are copyrighted." %}
        {% trans "<a href='http://domenapubliczna.org/co-to-jest-domena-publiczna/'>Find out</a> why Internet libraries can't publish this author's works." %}
      </p>
    {% else %}
      {% if author.in_pd %}
        <p>{% trans "This author's works are in public domain, but they were not yet published on Internet library of Wolne Lektury." %}</p>
      {% else %}
        <div>
          <p>
            {% trans "This author's works will become part of public domain and will be allowed to be published without restrictions in the year" %} {{ author.goes_to_pd }}.
          </p>
          <p>
            {% trans "<a href='http://domenapubliczna.org/co-to-jest-domena-publiczna/'>Find out</a> why Internet libraries can't publish this author's works." %}
          </p>
        </div>
      {% endif %}
    {% endif %}
  </div>
{% endspaceless %}
