h2.header {
    margin: 0;
    font-weight: 600;
    font-size: 21.5px;
    line-height: 140%;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 15px;
    padding-top: 5px;
    letter-spacing: -0.01em;
    color: #007880;
    margin-top: 23px;
}
