.c-lang {
  position: absolute;
  top: 11px;

  width: 150px;
  right: 50px + 16px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 350ms $ease-out;
  z-index: $master-layer + 1;
  display: none;

  @include rwd($break-menu) {
      display: block;
  }

  &.is-open {
    .c-lang__button {
      .icon-arrow-down {
        transform: rotate(-180deg);
      }
    }
    .c-lang__list {
      transform: none;
      opacity: 1;
      pointer-events: all;
    }
  }
}

.c-lang__button {
  display: flex;
  align-items: center;
  color: $color-white;
  cursor: pointer;

  .icon-lang {
    color: #92BD39;
    @include font-size(26px);
    margin-right: 8px;
  }

  .icon-arrow-down {
    margin-left: 8px;
    transition: transform 350ms $ease-out;
  }
}

.c-lang__list {
  margin-top: 10px;
  border-radius: 10px;
  background-color: #F7BA00;
  overflow: hidden;
  transform: translateY(-10px);
  opacity: 0;
  transition: all 350ms $ease-out;
  pointer-events: none;
  display: flex;
  flex-direction: column;

  button {
    display: block;
    padding: 9px 20px;
    color: #474747;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-family: "Source Sans Pro";
    font-size: 16px;
    line-height: 18.4px;
    text-align: left;

    &:hover {
      background-color: #EDAA00;
    }

    &.is-active {
      font-weight: $semibold;
      background-color: #EDAA00;
    }
  }
}
