$green: #96C13D;
$teal: #007880;
$darkteal: #083F4D;


.c-support {
  display: flex;
  margin-top: 50px;
  background: $darkteal;
  border-radius: 15px;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  h2 {
    margin: 0 auto;
    font-style: italic;
    font-weight: 400;
    font-size: 34px;
    line-height: 47px;
    letter-spacing: -0.02em;
    color: #ffffff;
    span {
        color: $green;
    }
  }

  div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 30px 30px;
      height: 280px;
  }
  
  figure {
    margin: 0;
    font-size: 0;
    position: relative;
  }

  a {
    width: 100%;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: $darkteal;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 12px 22px 14px 28px;
    background: $green;
    border-radius: 5px;
    transition: all $ease-dynamic 350ms;

    &:hover {
      background: $color-yellow;
    }
  }
}

.c-support__content {
  padding: 16px 32px 30px 32px;
}
