$green: #96C13D;
$teal: #007880;
$darkteal: #083F4D;


.c-support {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 50px;
  background: $darkteal;
  border-radius: 15px;
  overflow: hidden;
  justify-content: center;
  align-items: stretch;

  @include rwd($break-flow) {
      flex-direction: row;
  }
  
  h2 {
      margin: 0 auto 35px;
    font-style: italic;
    font-weight: 400;
    font-size: 34px;
    line-height: 47px;
    letter-spacing: -0.02em;
    color: #ffffff;
    
    span {
        color: $green;
    }
  }

  div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 30px 30px;
  }
  
  .bg {
      flex-basis: 193px;
      flex-grow: 0;
      flex-shrink: 0;
      background-image: url('/static/2022/images/dziecko.jpeg');
      background-size: cover;
      background-position: 50% 20%;

      @include rwd($break-flow) {
          flex-basis: 270px;
      }
  }

  a {
    width: 100%;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: $darkteal;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 12px 22px 14px 28px;
    background: $color-yellow;
    border-radius: 5px;
    transition: all $ease-dynamic 350ms;

    &:hover {
      background: $green;
    }
  }
}

.c-support__content {
  padding: 16px 32px 30px 32px;
}
