{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("#generated-switch").click(function() {
            $('#generated').toggle()
        });
    });
})(django.jQuery);
</script>
{% endblock %}



{% block pretitle %}


<a id="generated-switch">↓ {% trans "fundings" %} ↓</a>
<div id="generated" style="display:none; padding:1em; border: 1px solid #aaa;">
    {% for funding in original.funders %}
        {% if funding.name %}
            &lt;dc:contributor.funding>{{ funding.name }}&lt;/dc:contributor.funding><br/>
        {% endif %}
    {% endfor %}
</div>
{{ block.super }}
{% endblock %}
