{% extends "base.html" %}
{% load i18n %}

{% block title %}Sugestia do planu wydawniczego w WolneLektury.pl{% endblock %}

{% block metadescription %}Sugestia do planu wydawniczego.{% endblock %}

{% block bodyid %}suggest-publishing{% endblock %}

{% block body %}
    <form action="{% url search %}" method="get" accept-charset="utf-8" id="search-form">
        <p>{{ form.q }} <input type="submit" value="{% trans "Search" %}" /> <strong>{% trans "or" %}</strong> <a href="{% url main_page %}">{% trans "return to main page" %}</a></p>
    </form>

    <div id="books-list">
    </div>

    <div class="column-right block-form">
        {% include "publishing_suggest.html" %}
        {% if response_data.message %}
            <p>{{ response_data.message }}</p>
        {% endif %}
    </div>
{% endblock %}
