{% load i18n %}
{% load honeypot %}

<h1>{% trans "Didn't find a book? Make a suggestion." %}</h1>

<form id='suggest-publishing-form' action="{% url 'suggest_publishing' %}" method="post" accept-charset="utf-8" class="cuteform">
{% csrf_token %}
{% render_honeypot_field %}
<ol>
    <li><span class="error">{{ form.contact.errors }}</span><label for="id_contact">{{ form.contact.label }}</label> {{ form.contact }}</li>

    <li>{% trans "I'd like to find in WolneLektury.pl these…" %}</li>

    <li><span class="error">{{ form.books.errors }}</span><label for="id_books">{{ form.books.label }}:</label> {{ form.books }}</li>

    <li><span class="error">{{ form.audiobooks.errors }}</span><label for="id_audiobooks">{{ form.audiobooks.label }}:</label> {{ form.audiobooks }}</li>

    <li><input type="submit" value="{% trans "Send report" %}"/></li>
</ol>
</form>
