{% extends "base.html" %}
{% load i18n %}
{% load chunks %}
{% load picture_tags %}
{% load thumbnail %}
{% load static %}

{% block bodyid %}picture-list{% endblock %}

{% block titleextra %}{% trans "Listing of all pictures" %}{% endblock %}


{% block body %}
    <h1>{% block book_list_header %}{% trans "Listing of all pictures" %}{% endblock %}</h1>

    <div class="left-column"><div class="normal-text">
        {% block book_list_info %}
<p>Galeria zawiera obrazy, rysunki, rzeźby, fotografie pochodzące z kolekcji Muzeum Narodowego w Warszawie. Każde z dzieł oznaczyliśmy motywami występującymi w sztuce i w literaturze. Galerię można więc przeglądać w poszukiwaniu ilustracji do tekstów literackich, a także pod kątem określonych przedmiotów i postaci występujących w sztukach wizualnych. </p>
{% endblock %}
    </div></div>
    <div class="right-column" id="logo-space">
      {% block book_list_logos %}
      <a href="http://www.nck.pl">
	<img style="float:right; width:200px; margin:1em" src="{% static "img/logo_nck_200horiz_trans.png" %}" alt="Narodowe Centrum Kultury" ></img></a>
      {% endblock %}
    </div>

    <div class='clearboth'></div>
<div id="books-list">
  <ol class="work-list">{% spaceless %}
{% for picture in book_list %}
   <li class="Picture-item">
 {% picture_short picture %} 
   </li>
{% endfor %}
  {% endspaceless %}</ol>
</div>



{% endblock %}
