{% extends "picture/picture_short.html" %}
{% load i18n %}
{% load picture_tags thumbnail %}
{% load cite_promo from social_tags %}


{% block box-class %}book-wide-box{% endblock %}

{% block picture-view %}
{% thumbnail picture.image_file "535" upscale="false" as thumb %}
<img class="cover" src="{{thumb.url}}"/>
{% endthumbnail %}
{% endblock %}


{% block book-box-extra-info %}
{% if themes or things%}
    <div class="hidden-box-wrapper" id="theme-list-wrapper">
        <p><a class="mono hidden-box-trigger theme-list-link"
                href="#">{% trans "Motifs, themes and objects" %}</a></p>
        <div class="hidden-box">
	  {% if themes %}
	  <p>{% trans "Motifs and themes" %}</p>
          <ul>
            {% for theme in themes %}
            <li><a href="{% url 'picture_viewer' picture.slug %}#theme-{{theme.slug}}">{{ theme }}{# ({{ theme.picture_count }})#}</a></li>
		{% endfor %}
            </ul>
	    {% endif %}
	    {% if things %}
	  <p>{% trans "Objects" %}</p>
          <ul>
            {% for thing in things %}
            <li><a href="{% url 'picture_viewer' picture.slug %}#object-{{thing.slug}}">{{ thing }}{# ({{ thing.picture_count }})#}</a></li>
            {% endfor %}
          </ul>
	  {% endif %}
        </div>
    </div>
{% else %}
	<p>&nbsp;</p>
{% endif %}
{% endblock %}


{% block right-column %}
<div class="right-column">
  <div class="other-tools">
    <h2 class="mono">{% trans "See" %}</h2>
    <ul class="plain">
      {% if extra_info.source_url %}
      <li><a href="{{ extra_info.source_url }}">{% trans "Source" %}</a> {% trans "of the picture" %}</li>
      {% endif %}
      <li><a href="{{ picture.xml_file.url }}">{% trans "Source XML file" %}</a></li>
      {% if extra_info.about and not hide_about %}
      <li>{% trans "Picture on" %} <a href="{{ extra_info.about }}">{% trans "Editor's Platform" %}</a></li>
      {% endif %}
      {% if picture.wiki_link %}
      <li><a href="{{ picture.wiki_link }}">{% trans "Picture description on Wikipedia" %}</a></li>
      {% endif %}
    </ul>
  </div>

  {% comment %}
  <div class="other-download">
    <h2 class="mono">{% trans "Download" %}</h2>
    <ul class="plain">
      <li>
	{% if related.media.mp3 or related.media.ogg or related.media.daisy %}
        {% trans "Download all audiobooks for this book" %}:
	{% download_audio book %}.
	{% endif %}
      </li>
      {% custom_pdf_link_li book %}
    </ul>
  </div>
  {% endcomment %}
</div>
{% endblock %}
