.funding {
    background: orange;
    margin: auto;
    padding: 5px 0;
    position: relative;
    a.call {
        height: 1.2em;
        width: 9em;
        padding: .35em .5em;
        margin: .5em;
        display: inline-block;
        vertical-align: top;
        text-align: center;

        background: lighten(#018189, .05);
    }
    .description {
        display: inline-block;
        padding-left: .6em;
        a {
            display: block;
            color: black;
            padding: 0 3px;
        }
    }
    strong {
        font-size: 1.5em;
        padding: .2em 0 0;
        //display: block;
    }
    .progress {
        .piece {
            font-size: 1.3em;
            padding: .3em .5em;
        }
        width: 95.7em;
        margin: .3em 0 .4em;
        border-radius: 2em;
        background-image: url(/static/img/progress-pixel.png);
        background-repeat: repeat-y;
        background-color: fade-out(#ec6d00, .5);
        box-shadow: .1em .1em .1em #888;
    }
    .with-button .progress {
        width: 78em;
    }
    
    .funding-title {
        font-size: 1.1em;
    }
    .funding-title-strong {
        @extend .funding-title;
        font-weight: bold;
        font-size: 1.5em;
    }
    .close {
        position: absolute;
        top: 0px;
        right: 5px;
    }
}

.funding-top-header {
    @extend: .funding;
    width: 97.5em;
}


.wlfund {
    width: 100%;
    border-collapse: collapse;

    td {
        padding: 0 0 1em 0;
        text-align: center;
    }

    td:last-child {
        text-align: right;
    }

    td div {
        padding: 1em;
        box-shadow: 0 2px 0 #DDDDDD;
    }

    .funding-plus td div {
        background: fade-out(#0D7E85, .8);
    }

    .funding-minus td div {
        background: white;
    }
}



.honking {
    background: #018189;
    font-size: 1.5em;
    padding: .5em;
    color: white;
    border: 0;
    box-shadow: 0.2em 0.2em 0.3em #888888;
    position: relative;
}
.honking:hover {
    box-shadow: none;
    top: .1em;
    left: .1em;
}



.share {
    a {
        margin-right: 1.5em;

        img {
            vertical-align: middle;
        }
    }
}

.funding-handle {
    position: absolute;
    top: 0;
    right: 0;
    z-index:2;
    background: orange;
    cursor:pointer;
    padding: .2em 1em;
    border-radius: 0 0 0 1em;
    font-size: 13px;
}