.funding {
    font-size: 1.5em;
    padding: 0;
    padding: .5em 1em;
    background-image: url(/static/img/green-pixel.png);
    background-repeat: repeat-y;
    background-color: fade-out(#0D7E85, .8);

    a {
        display: block;
        color: black;
    }
}

.wlfund {
    width: 100%;
    border-collapse: collapse;

    td {
        padding: 0 0 1em 0;
        text-align: center;
    }

    td:last-child {
        text-align: right;
    }

    td div {
        padding: 1em;
        box-shadow: 0 2px 0 #DDDDDD;
    }

    .funding-plus td div {
        background: fade-out(#0D7E85, .8);
    }

    .funding-minus td div {
        bbackground: fade-out(red, .8);
        background: white;
    }
}
