a.funding {
    font-size: 1.5em;
    padding: .5em 1em;
    display: block;
    color: black;

    background-image: url(/static/img/green-pixel.png);
    background-repeat: repeat-y;
    background-color: fade-out(#0D7E85, .8);

    .mono {
        font-size: .9em;
    }
}

.wlfund {
    width: 100%;
    border-collapse: collapse;

    td {
        padding: 0 0 1em 0;
        text-align: center;
    }

    td:last-child {
        text-align: right;
    }

    td div {
        padding: 1em;
        box-shadow: 0 2px 0 #DDDDDD;
    }

    .funding-plus td div {
        background: fade-out(#0D7E85, .8);
    }

    .funding-minus td div {
        bbackground: fade-out(red, .8);
        background: white;
    }
}


.funding-stale {
    .funding {
        opacity: .5;
    }
}


button.honking {
    background: #018189;
    font-size: 1.5em;
    padding: .5em;
    color: white;
    border: 0;
}
button.honking:hover {
    background: lighten(#018189, .1);
}
