{% extends "base_simple.html" %}
{% load i18n %}


{% block titleextra %}{% trans "Wolne Lektury potrzebują Twojej pomocy!" %}{% endblock %}


{% block body %}
  <div class="white-box normal-text">

    <h1>{% trans "Wspierasz Wolne Lektury" %}</h1>

    {% if schedule.payed_at %}
      <p>
        {% blocktrans trimmed %}
          Aktualizujesz dane swojej comiesięcznej darowizny w kwocie {{ amount }} PLN. Dziękujemy!
        {% endblocktrans %}
      </p><p>
        {% blocktrans trimmed with url=schedule.get_absolute_url %}
          Jeśli chcesz zrezygnować z dalszego wsparcia Wolnych Lektur,
          możesz to zrobić na <a href="{{ url }}">stronie swojej darowizny</a>.
        {% endblocktrans %}
      </p>
    {% else %}
      <p>
        {% blocktrans trimmed with amount=schedule.amount %}
          Zlecasz comiesięczną płatność w wysokości {{ amount }} zł. Dziękujemy!
        {% endblocktrans %}
      {% endif %}
    </p>

    <p></p>
    <form id="theform" method='POST'>
      {% csrf_token %}
      {{ form }}
    </form>

    <script>
     function paymentcallback(data) {
         $("#theform #id_token").val(data.value);
         $("#theform").submit()
     }
    </script>

    <div id="payu-widget"></div>
    <script
        src="{{ pos.get_api_host }}/front/widget/js/payu-bootstrap.js"

        {% for k, v in widget_args.items %}
    	     {{ k }}="{{ v }}"
        {% endfor %}

        success-callback="paymentcallback"
        sig="{{ widget_sig }}">
    </script>

</div>

{% endblock %}
