<h3>Podaj dane karty płatniczej</h3>
<div class="iframe">
  <form id="theform" method='POST'  action='{% url "club_payu_rec_payment" schedule.key %}'>
    {% csrf_token %}
    {{ form }}
  </form>

  <script>
   function paymentcallback(data) {
       $("#theform #id_token").val(data.value);
       $("#theform").submit()
   }
  </script>

  <div id="payu-widget"></div>
  <script
      src="{{ pos.get_api_host }}/front/widget/js/payu-bootstrap.js"

      {% for k, v in widget_args.items %}
    	   {{ k }}="{{ v }}"
      {% endfor %}

      success-callback="paymentcallback"
      sig="{{ widget_sig }}">
  </script>
</div>
