{% extends request.session.from_app|yesno:"base/app.html,base/base.html" %}
{% load i18n %}


{% block titleextra %}{% trans "Wolne Lektury need your help!" %}{% endblock %}


{% block body %}
  <div class="white-box normal-text">

    {# On the card payment page. #}
    <h1>{% trans "Supporting Wolne Lektury" %}</h1>

    <p>
      {% blocktrans with amount=schedule.amount %}
        You are setting up a monthly payment in the amount of {{ amount }} PLN. Thank you!
      {% endblocktrans %}
    </p>

    <form id="theform" method='POST'>
      {% csrf_token %}
      {{ form }}
    </form>



    <script>
     function paymentcallback(data) {
         $("#theform #id_token").val(data.value);
         $("#theform").submit()
     }
    </script>

    <div id="payu-widget"></div>
    <script
        src="{{ pos.get_api_host }}/front/widget/js/payu-bootstrap.js"

        {% for k, v in widget_args.items %}
    	     {{ k }}="{{ v }}"
        {% endfor %}

        success-callback="paymentcallback"
        sig="{{ widget_sig }}">
    </script>

</div>

{% endblock %}
