$W_MENU: 80px;
$S_MENU: 600px;

$W_BOOK_TEXT_MIN: 160px;
$W_BOOK_TEXT_MAX: 600px;
$S_SMALL_TEXT_MAX: 600px;
$S_SMALL_TEXT_MAX_WOTHER: 1200px;

$W_NONUMBERS_TINY: 20px;
$S_NONUMBERS_TINY_MAX: 240px;
$W_NONUMBERS: 30px;
$S_NUMBERS: 320px;
$W_NUMBERS: 50px;

$W_NOTHEMES_TINY: 20px;
$S_NOTHEMES_TINY_MAX: 240px;
$W_NOTHEMES_SMALL: 30px;
$S_NOTHEMES_SMALL_MAX: 320px;
$W_NOTHEMES: 44px;
$S_THEMES: 600px;
$S_THEMES_WOTHER: 1200px;
$W_THEMES: 160px;

$W_BOOK_SHORT_FULL: 487.5px;
$S_BOOK_SHORT_FULL: $W_BOOK_SHORT_FULL + $W_MENU + 2px;
$S_BOOK_SHORT_MEDIUM: 400px;
