.libraries-list {
    margin: 10px 0;
}

.libraries-list-item {
    margin: 10px 0;
}

.libraries-list-item {
    margin: 10px 0;
    font-size: 1.3em;
}

.libraries-list-item-header {
    font-size: 1.2em;
}