body {
    background: #FFF url(/static/img/bg.png) repeat-x;
    color: #000;
    font-size: 16px;
}

h2 {
    font-size: 21px;
    color: #000;
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
    background-color: #FEF5C7;
}

em {
    font-style: italic;
}

#logos img {
    margin: 0 0 10px 20px;
}

#lists, #copy {
    margin-top: 60px;
}

#lists li, #lists p {
    line-height: 28px;
}

#copy p {
    text-align: justify;
}

#back {
    display: block;
    background-color: #EDEDED;
    color: #7187A7;
    width: 240px;
    text-align: center;
    padding: 10px;
    border: 2px solid #E2E2E1;
    margin: 60px auto;
}