#auth-page #main-content p {
	font-size: 1.2em;
}
#auth-page #main-content h2 {
	font-size: 2em;
	margin-top: 1em;
}

.uniForm {
	font-size: 1.2em;
}
.uniForm fieldset {
	border: none;
	margin: .5em 0;
}
.uniForm .ctrlHolder {
	margin: .5em 0;
}

.inlineLabels label {
	width: 8em;
	display: inline-block;
}
.inlineLabels .buttonHolder, .inlineLabels .formHint {
	margin-left: 8em;
}



.email_list .verified {
	display: inline-block;
	margin-left: 2em;
	font-style: italic;
}
.email_list .unverified {
	display: inline-block;
	margin-left: 2em;
	color: #717171;
	font-style: italic;
}
.email_list .primary {
	display: inline-block;
	margin-left: 2em;
	font-weight: bold;
}
.socialaccount_provider {
	display: inline-block;
	background-repeat: no-repeat;
	color: transparent;
	height: 40px;
	width: 40px;
	vertical-align: middle;
}
.socialaccount_provider.google {
	background-image: url(/static/img/auth/google.png);
}


.socialaccount_providers {
	margin: 1em 0;
	padding: 0;
}
.socialaccount_providers li {
	display: inline;
	list-style: none;
	margin-right: 1em;
}