/* Logo font */
@font-face {
    /* IE version */
    font-family: WL-Logo;
    src: url(/static/fonts/WL.eot);
}
@font-face {
  font-family: WL-Nav;
  src: url(/static/fonts/WL-Nav.ttf) format("truetype");
}


html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: #f7f7f7;
    font-size: .625em;
    font-family: Georgia;
    /*line-height: 1.4em;*/
}


a {
    color: #1199a2; /* #01adba; */
    text-decoration: none;
}

h1 {
    font-size: 3.5em;
    font-weight: normal;
    margin-top: .4em
}

.left-column {
    width: 47em;
    float: left;
}
.right-column {
    float:right;
    width: 47em;
}
.normal-text {
    font-size: 1.3em;
    line-height: 1.3em;
}

h2 {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
}


.mono {
    font-family: "Andale Mono", "Lucida Sans Typewriter", "Courier New";
/*    font-weight: bold; */
}

.accent1 {
    color: #191919;
}

.accent2 {
    color: #242424;
}

.accent3 {
    color: #575c63;
}


.accent4 {
    color: #707b7a;
}

.contrast {
    #1199a2;
}

/* #281d1c */

.clearboth {
    clear: both;
}

#header-content, div#main-content, div#half-header-content, #footer-content {
    width: 97.5em;
    margin: auto;
}


.page-desc {
    margin-left: 1.5em;
}

.inline-tag-lists p span:first-child {
    color: #281d1c;
}

.inline-tag-lists {
    font-size: 1.1em;
}

#themes-list-toggle:after {
    padding-left: 1em;
    content: "↓";
    font-family: WL-Nav;
    vertical-align: middle;
}
#themes-list-wrapper {
    position: relative;
    font-size: 1.1em;
}
#themes-list {
    position: absolute;
    display: none;
    border: 1px solid #ddd;
    padding: 1em;
    background: #fff;
    -moz-box-shadow: 2px 2px 2px #ddd;
    -webkit-box-shadow: 2px 2px 2px #ddd;
    box-shadow: 2px 2px 2px #ddd;
    z-index: 500;
}
#themes-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    -moz-column-width: 12em;
    width: 48em;
}


.see-also {
    margin-left: 8em;
    float: left;
    width: 14.3em;
}
.download {
    margin-left: 2em;
    float: left;
}

.see-also, .download {
    margin-top: 2em;
    margin-bottom: 2em;
}
.see-also h2, .download h2 {
    font-size: 1.1em;
}
.see-also ul, .download ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
}


#footer {
    color: #777;
    eborder-top: 1px solid #ddd;
    margin-top: 5em;
    padding-top:3em;
    background: #fff;
}
