.work-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.work-item {
    margin: 0;
    padding: 0;
}

.books .work-item  {
    display: inline-block;
}


#tagged-object-list .left-column, #tagged-object-list .right-column {
    width: 48em;
}


/* listing of all books */
#book-list {
   padding-left: 50px;
}
#book-list-nav {
    position: absolute;
    right: 50px;
    width: 200px;
    border-left: 1px #cfcfcf solid;
    padding: 10px;
    font-size: 1.2em;
}

#book-list-nav ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
}

.book-list-show-index {
    display: none;
    margin: 0;
    padding: 0;
}


#book-a-list #book-list ol {
    padding-left: 1em;
    margin: 0.3em 0 1.2em 0;
    list-style: none;
}

#book-a-list #book-list h2 a {
    color: black;
}

#book-list-up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-left: 1px #cfcfcf solid;
    padding: 10px;
    background-color: white;    
}



.catalogue-catalogue h2 {
    font-size: 2em;
}
.catalogue-catalogue ul {
    column-width: 30em;
    -moz-column-width: 30em;
    -webkit-column-width: 30em;
}


#description {
	margin-bottom: 2em;
	cursor: pointer;
}
#description dl {
	margin-top: 0;
}
#description dt {
	display: inline;
	font-weight: bold;
	margin: 0;
}
#description dd {
	display: inline;
	margin: 0;
}
#description p {
	margin-top: 0;
}
#description .meta {
	list-style: none;
	padding: 0;
	margin: 0;
}
#description .meta li {
	text-align:right;
	color: #666;
	font-size: .9em;
}

.inline-header {
	display: inline-block;
	vertical-align: top;
	width: 7em;
}
.inline-body {
	width: 35em;
	display: inline-block;
	vertical-align: top;
	margin-bottom: .5em;
}
.inline-body ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.inline-body li {
	display: inline;
	margin-right: 1em;
}


.see-also {
    margin-left: 8em;
    float: left;
    width: 14.3em;
}
.download {
    margin-left: 2em;
    float: left;
}

.see-also, .download {
    margin-top: 2em;
    margin-bottom: 2em;
}
.see-also h2, .download h2 {
    font-size: 1.1em;
}
.see-also ul, .download ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
}

.left-column .see-also {
	margin-left: 0;
}
