.cuteform {
    font-size: 1.1em;
}
.cuteform ol, .cuteform ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: 1.1em;
}

.cuteform ol li, .cuteform ul li {
    margin-top: 0.7em;
}

.cuteform label {
    display: block;
}

.cuteform span.help-text {
    display: block;
    font-size: 0.8em;
    color: #999;
}

.cuteform .error {
    color: #BF3024;
    display: block;
}
.cuteform .errorlist {
    color: #BF3024;
}


.jqmOverlay { background-color: #000; }


.dialog-window {
    position: absolute;
    display: none;
    background-color: transparent;
    margin-top: -0.5em;
    margin-left: 1em;
    width: 20em;
}

.dialog-window div.header {
    font-size: 1.1em;
    width: 4em;
    background-color: #FFF;
    border-right: 0.3em solid #DDD;
    padding: 0.5em 1em 0.5em 1em;
    right: 0;
    left: auto;
    float: right;
    text-align: center;
}


.dialog-window div.target {
    background-color: #FFF;
    color: black;
    border-right: 0.3em solid #DDD;
    border-bottom: 0.3em solid #DDD;
    padding: 1em;
    clear: both;
}

.dialog-window h1 {
    font-size: 1.2em;
}

.dialog-window textarea, .dialog-window input {
    width: 100%;
}

.hidelabels label {
	width: 1px;
	height: 1px;
	overflow:hidden;
}



#login-window {
    width: 26em;
}
#register-window {
    width: 26em;
}
#context-login-window {
	width: 26em;
}

#suggest-window {
    width: 26em;
}

#suggest-window textarea {
    height: 6em;
}

#suggest-publishing-window {
    width: 29em;
}

#suggest-publishing-window textarea {
    height: 3em;
}

#custom-pdf-window {
    width: 24em;   
}

#custom-pdf-window label {
    display: inline;
}
