/* Logo font */
@font-face {
    /* IE version */
    font-family: WL-Logo;
    src: url(/static/fonts/WL.eot);
}
@font-face {
  font-family: WL-Logo;
  src: url(/static/fonts/WL.ttf) format("truetype");
}


#header {
    height: 3em;
    padding-top: 1.9em;
    padding-bottom: 0;
    color: #969696;
    background: #191919;
}

#half-header {
    padding-bottom: 0;
    background: url('/static/img/bg-header.png');
    background-position: center;
    background-size: 100%;
}

#half-header-content {
    background: #191919;
}


#user-info {
    float: right;
    margin: 0;
}

#logo {
    position: absolute;
    top: 5.5em;
    margin-left: 1.5em;
}

#logo a {
    font-family: WL-Logo;
    font-size: 2.05em;
    color:#f7f7f7;
}

#tagline {
    display: inline-block;
    margin-left: 25.5em;
}
#tagline span {
    font-size: 1.1em;
}

#search-area {
    margin: 0;
    background: #444;
    margin-left: 24em;
    width: 73.5em;
}

#search-field {
    display: inline-block;
    width: 63.1em;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: 0;
    padding-bottom: 0;
}

#search-field input {
    padding: 0;
    height: 3.3em;
    border: none;
    width: 62.6em;
    font-size: 1em;
    padding-left: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow:0 0 .5em #444 inset;
    -moz-box-shadow:0 0 .5em #444 inset;
    box-shadow: 0 0 .5em #444 inset;
}

#search-button {
    display: inline-block;
    background: #02adb7;
    padding: 0;
    margin: 0;
    width: 9.4em;
}
#search-button button {
    font-size: 1em;
    height: 4.5em;
    border: none;
    background: #02adb7;
    color: white;
    width: 100%;
    padding: 0;
}

#search-button button span {
    font-size: 1.1em;
    position:relative;
}


#nav-line {
    background-color: #e2e2e2;
    height: 4.9em;
}

ul#catalogue {
    list-style: none;
    padding: 0;
    margin: 0 0 0 .6em;
}
ul#catalogue li {
    background-color: #e2e2e2;
    float: left;
}
ul#catalogue a {
    display: block;
    padding-left: 1.4em;
    padding-right: 1.4em;
    /* must match grid-line */
    height: 3.1em;
    padding-top: 1.8em;
}
ul#catalogue span {
    font-size: 1.1em;
}


#lang-button {
    color: #aaa;
}
#lang-button:after {
    padding-left: 1em;
    content: "↓";
    font-family: WL-Nav;
    vertical-align: middle;
}
#lang-menu {
    position: relative;
    float: right;
    display: block;
    padding-left: 2.5em;
    padding-right: 2em;
    /* must match grid-line */
    height: 3em;
    padding-top: 1.9em;
    background: #f7f7f7;
}

#lang-menu-items button {
    display: none;
    background: #f7f7f7;
    color: #777;
    cursor: pointer;
    width: 100%;
    border: solid #ddd;
    border-width: 0 0 1px 0;
    padding: .5em 0;
    margin: 0;
}

#lang-menu:hover button {
    display: block;
}

#lang-menu:hover #lang-menu-items {
    position: absolute;
    width: 100%;
    padding: 0;
    left: 0;
    /* must match grid-line height */
    top: 3.9em;
}

#lang-menu .active {
    color: #000;
}
