#header-bg {
	z-index: -1;
	background: #191919;
	position: absolute;
	width: 50%;
	height: 9.4em;
}

#header {
    padding-top: 1.9em;
    padding-bottom: 0;
    color: #989898;
    background: #191919;
}
#header a {
	color: #17CFDB;
}

#half-header {
    padding-bottom: 0;
}

#half-header-content {
    background: #191919;
    color: #989898;
}


#logo a {
    color:#f7f7f7;
    font-size: 2.05em;
    text-shadow: 0 0 10px #17CFDB;
}

#tagline {
	margin-left: 1.5em;
}

#tagline span {
    font-size: 1.3em;
    color: #bbb;
}

#user-info {
    margin: 0;
    padding: 1em 0;
    margin-left: 1.5em;
}

#search-area {
    margin: 0;
    background: #444;
    color: white;
}

#search-field {
    display: inline-block;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: 0.5em;
    padding-bottom: 0;
}

#search {
    font-size: 1.3em;
    padding: 0;
    /*height: 3.3em;
    width: 62.6em;
    padding-left: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border: none;
    border-radius: .5em;
    -webkit-box-shadow:0 0 .5em #444 inset;
    -moz-box-shadow:0 0 .5em #444 inset;
    box-shadow: 0 0 .5em #444 inset;*/
    height: 2.54em;
    padding-left: 1em;
    -webkit-border-radius: .38em;
    -moz-border-radius: .38em;
    border: none;
    border-radius: .38em;
    -webkit-box-shadow:0 0 .38em #444 inset;
    -moz-box-shadow:0 0 .38em #444 inset;
    box-shadow: 0 0 .5em #444 inset;
    line-height: 2.5em;

    font-family: Georgia;
    background-color: #fff;
    color: #000;
    z-index: 200;
    position: relative;
}

/* styling search placeholder */

#search:-webkit-input-placeholder
{
    font-family: Georgia;
    font-style: italic;
    color: #767676;
}

#search.placeholder
{
    font-family: Georgia;
    font-style: italic;
    color: #767676;
}

#search:-moz-placeholder
{
    font-family: Georgia;
    font-style: italic;
    color: #767676;
}

#search-button {
    display: inline-block;
    background: #018189;
    color: white;
    padding: 0;
    margin: 0;
    width: 9.4em;
}
#search-button button {
    font-size: 1em;
    height: 4.5em;
    border: none;
    background: #018189;
    color: white;
    width: 100%;
    padding: 0;
}

#search-button button span {
    font-size: 1.1em;
    position:relative;
}


#nav-line {
    background-color: #e2e2e2;
    height: 4.9em;
}

ul#menu {
    list-style: none;
    padding: 0;
    margin: 0 0 0 .6em;
}

li.menu {
    background-color: #e2e2e2;
    float: left;
}
a.menu {
    display: block;
    padding-left: 1.4em;
    padding-right: 1.4em;
    /* must match grid-line */
    height: 3.1em;
    padding-top: 1.8em;
    color: #0c7076;
}
a.menu span {
    font-size: 1.1em;
}


#lang-button {
    color: #717171;
}
#lang-button:after {
    padding-left: 1em;
    content: "↓";
    font-family: WL-Nav;
    vertical-align: middle;
}
#lang-menu {
    position: relative;
    float: right;
    display: block;
    padding-left: 2.5em;
    padding-right: 2em;
    /* must match grid-line */
    height: 3em;
    padding-top: 1.9em;
    background: #f7f7f7;
}

#lang-menu-items {
	z-index: 9999;
}

#lang-menu-items button {
    display: none;
    background: #f7f7f7;
    color: #6f6f6f;
    cursor: pointer;
    width: 100%;
    border: solid #ddd;
    border-width: 0 0 1px 0;
    padding: .5em 0;
    margin: 0;
}

#lang-menu:hover button {
    display: block;
}

#lang-menu:hover #lang-menu-items {
    position: absolute;
    width: 100%;
    padding: 0;
    left: 0;
    /* must match grid-line height */
    top: 3.9em;
}

#lang-menu .active {
    color: #000;
}

.search-hint-label {
    display: inline-block;
    width: 25em;
    font-size: 1.1em;
    line-height: 1.636em;
}

.search-hint-category {
    font-size: 1.1em;
    line-height: 1.636em;
    
}



#user-menu {
	left: 0;
	top: 2em;
	width: 15em;
	line-height:1.6em;
}
#user-menu a {
	color: #0D7E85;
}
