/* Logo font */
@font-face {
    /* IE version */
    font-family: WL-Logo;
    src: url(/static/fonts/WL.eot);
}
@font-face {
  font-family: WL-Logo;
  src: url(/static/fonts/WL.ttf) format("truetype");
}

#logo a {
    font-family: WL-Logo;
    line-height: 7em;
}
