
#promo-box {
    float: right;
    width: 32em;
    margin-top: -5.1em;
}
#promo-box-header {
    padding-top: 2em;
    height: 3.1em;
    padding-bottom: 0;
    padding-left: 2.5em;
    padding-right: 2.5em;
    background: #191919;
    color: white;
}
#promo-box-header h2 {
    font-size: 1.3em;
}
#promo-box-body {
    border-bottom: 2px solid #efefef;
    padding: 2em 2.8em;
    height: 30em;
    background: #efefef;
}
#promo-box-title {
    color: #02ADB7;
    height: 2.75em;
    margin: 0;
}
#promo-box-title span {
    font-size: 1.1em;
}
#promo-box-body p {
    margin-top: 0;
}
#promo-box-content {
    font-size: 1.2em;
    line-height: 1.55em;
    color: #989898;
}

.main-last {
    padding-top: 1.9em;
    height: 3.2em;
    padding-left: 1.9em;
}
.main-last span {
    font-size: 1.1em;
}


.infopages-box {
    width: 20.6em;
    display: inline-block;
    margin: .5em 0 0 0;
    padding: 0 1.7em;
    vertical-align: top;
    color: #989898;
}
.infopages-box h2 {
    color: #02ADB7;
    height: 2.8em;
    padding-top: 2.5em;
}
.infopages-box h2 span {
    font-size: 1.1em;
}
.infopages-box a {
    color: black;
}

.infopages-box ol, .infopages-box ul {
    font-size: 1.1em;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.45em;
}


.infopages-box .social-links {
    margin-top: 1em;
}

.infopages-box .social-links a {
    font-family: WL-Nav;
    font-size: 3em;
    color: #281d1c;
    margin-right: .2em;
}
