body {
    margin: 0 2em 2em 2em;
    font: 70% Verdana, Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    background: #FFF url(/static/img/bg.png) repeat-x;
    color: #2F4110;
}

#header {
    margin-top: -20px;
}

img {
    border: none;
}

a {
    color: #295158;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

input {
    font: 1em Verdana, Arial, Helvetica, sans-serif; 
}

h1 {
    font: normal normal bold 1.75em Arial, sans-serif;
    color: #2F4110;
    margin: 0.55em 0 0 0;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: #2F4110;
    margin: 0;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 0.2em 0 -1em 0;
    color: #333;
}

em {
    font-style: normal;
    background-color: #F5DC7D;
}

.clearboth {
    clear: both;
}

.blur {
    color: #777;
}

/* ================================== */
/* = Header with logo and user-info = */
/* ================================== */
#header {
    position: relative;
    margin-top: 1.5em;
}

#header #logo {
    float: left;
}

#header #user-info {
    margin: 0 0 0 auto;
    width: 40em;
    text-align: right;
}

#site-description {
    margin-top: -1.5em;
    height:4.5em;
    overflow: hidden;
    float: right;
    width: 42em;
    text-align: right;
    color: #777;
}

/* ======================== */
/* = Footer with sponsors = */
/* ======================== */
#footer {
    border-top: 0.1em solid #999;
    color: #777;
    font-size: 0.8em;
    padding-top: 0.5em;
    margin: 2em 0 0 0;
}

#footer p {
    margin: 0;
}

#footer a {
    color: #999;
    text-decoration: underline;
}


/* =============== */
/* = Search form = */
/* =============== */
#search-form {
    margin: 0.5em 0;
    padding: 0.5em;
    background-color: rgb(132, 191, 42);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-bottom: 0.15em solid #7B9C2D;
    border-right: 0.15em solid #7B9C2D;
}

#search-form p {
    margin: 0em 0 0 0;
}

#search-form ol {
    margin: 0;
    padding: 0;
}

#search-form li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    float: left;
}

#search-form li.category, #search-form li.book-title {
    padding: 0.2em 0.5em 0.2em 0.5em;
    background-color: rgb(242, 163, 15);
    border: 1px solid #BA8722;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-right: 0.25em;
}

#search-form li.book-title {
    background-color: #DDD;
    border: 1px solid #999;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
}

#search-form input[type=submit] {
    color: #444;
}

.ac_input {
    width: 18em;
}

p .ac_input {
    width: 28em;
}


/* ============= */
/* = Tags list = */
/* ============= */
#intro {
    margin: 0 0 2.5em 0;
}

#tags-description {
    color: #777;
    margin: 0 0.5em -0.75em 0.5em;
}

#main-page #tags-list {
    margin-right: 33%;
}

#categories-list ul, #themes-list ul {
    -moz-column-width: 12em;
    -webkit-column-width: 12em;
    column-width: 12em;
}

#tags-list {
    margin-top: 1em;
    padding: 1em;
    background-color: #FBF9E7;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-bottom: 0.15em solid #E3D888;
    border-right: 0.15em solid #E3D888;
}

#tagged-object-list #tags-list, #book-detail #tags-list {
    margin-left: 39em;
}

#book-info, #categories-list {
    float: left;
    width: 47.5%;
}

#themes-list {
    margin-left: 52.5%;
}

#tagged-object-list #categories-list, #book-detail #book-info {
    width: 12em;
}

#book-detail #formats .change-sets {
    margin-right: 0.5em;
}

#formats .wrap a {
    display: block;
    width: 100%;
    height: 1.5em;
    background-color: #EEE;
    margin-top: 0.5em;
    padding: 0.5em 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;    
}

#czytamysluchajac {
    margin-top: 2.5em;
}

#czytamy-sluchajac-info {
    width: 400px;
    height: 80px;
}

#czytamy-sluchajac-info p {
    margin-left: 170px;
    padding-top: 1em;
    padding-bottom: 0em;
}

#formats #czytamysluchajac-logo {
    background: white;
    text-align: left;
    float: left;
    width: 140px;
    height: 62px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

#tagged-object-list #themes-list, #book-detail #themes-list {
    margin-left: 14em;
}

#tags-list ol, #tags-list ul {
    padding: 0;
    margin: 0.3em 0 1.2em 0;
}

#tags-list li {
    list-style: none;
    padding: 0;
    margin: 0;
}

#books-list {
    width: 38em;
    float: left;
}

.all-tags {
    display: none;
}

div.shown-tags p, div.all-tags p {
    margin: -1em 0 1em 0;
    text-align: right;
}

.show-all-tags, .hide-all-tags {
    text-decoration: underline;
    padding-right: 1em;
}

.subcategories {
    display: block;
    padding-left: 2em;
    padding-bottom: 0.5em;
}


/* ============== */
/* = Propaganda = */
/* ============== */
#propaganda {
    float: right;
    width: 30%;
    margin: 0;
    padding: 2em 0.5em 0.5em;
}


/* ===================== */
/* = Other info        = */
/* ===================== */
#latest-blog-posts {
    padding: 0.5em;
    float: left;
    width: 30%;
}

#latest-blog-posts ol {
    padding: 0 0 0 1.5em;
    margin: 1em 0 0 0;
    list-style-type: square;
    color: #D13628;
}

#you-can-help {
    float: right;
    padding: 0.5em;
    width: 30%;
}

#about-us {
    padding: 0.5em;
    margin-left: 35%;
    margin-right: 35%;
}

/* =============== */
/* = Description = */
/* =============== */
#description {
    margin-top: 0.5em;
    text-align: justify;
    overflow: hidden;
}

#description .meta {
    margin: 0.5em;
    width: 18em;
    list-style: none;
    float: right;
}

#description dt {
    font-weight: bold;
    display: inline;
}

#description dd {
    margin: 0;
    display: inline;
}

#toggle-description, #tagged-object-list .pagination, #book-detail .pagination {
    width: 100%;
    height: 1.5em;
    background-color: #EEE;
    margin-top: 0.5em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
}

#toggle-description p {
    margin: 0;
    padding: 0;
    color: #999;
}

#download-shelf {
    display: block;
    width: 100%;
    height: 1.5em;
    background-color: #EEE;
    margin-top: 0.5em;
    padding: 0.5em 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;   
    outline: none; 
}

#download-shelf-menu {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 3px solid #EEE;
    padding: 5px;
    margin-top: -5px;
}

#download-formats-form li {
    float: left;
    height: 2em;
}

#download-formats-form input {
    float: left;
}

#download-formats-form label {
    display: block;
    background-color: #EEE;
    float: left;
    width: 8em;
    margin-right: 0.5em;
    margin-top: -0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.75em;
}

#download-formats-form li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#download-formats-form em {
    color: #999;
    background-color: #FFF;
}

#download-formats-form em strong {
    color: #000;
    font-weight: normal;
}

#download-formats-form-submit {
    margin-left: 0.5em;
    
}

#download-formats-form #download-formats-form-submit-li {
    margin-top: 0.75em;
}

#download-formats-form-cancel {
    color: #900;    
}

#toggle-share-shelf {
    display: block;
    width: 100%;
    height: 1.5em;
    background-color: #EEE;
    margin-top: 0.5em;
    padding: 0.5em 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;   
    outline: none; 
}
#toggle-share-shelf p {
	margin:0;
}

#share-shelf {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 3px solid #EEE;
    padding: 5px;
    margin-top: -5px;
}
#share-shelf input {
	width: 100%;
}


/* ============================ */
/* = Books and fragments list = */
/* ============================ */
#books-list {
    margin: 0;
}

#books-list ol {
    list-style: none;
    padding: 0;
    margin: 1.5em 0;
}

.book {
    padding: 0.5em;
    background-color: #FFF;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.fragment {
    border-bottom: 0.1em solid #EEE;
    margin-top: 0.5em;
}

.fragment-text, .fragment-short-text {
    padding: 0.5em;
    background-color: #FFF;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.fragment-metadata {
    padding: 0.5em 0.5em 1.5em 0.5em;
    float: right;
}

.change-sets {
    float: right;
}

.change-sets a {
    padding: 0.2em;
    margin: 0.3em;
    border: 0.1em solid #EEE;
    background-color: #F9F9F9;
}

.book-description {
    margin-left: 3.5em;
}

.book-thumbnail, .book-parent-thumbnail {
    background: transparent url(/static/img/book.png) no-repeat 0 0;
    width: 3em;
    height: 3em;
    float: left;
}

.book-parent-thumbnail {
    background: transparent url(/static/img/book-parent.png) no-repeat 0 0;
}


/* =============== */
/* = Simple form = */
/* =============== */
.cuteform ol, .cuteform ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.cuteform ol li, .cuteform ul li {
    margin-top: 0.7em;
}

.cuteform label {
    display: block;
}

.cuteform span.help-text {
    display: block;
    font-size: 0.8em;
    color: #999;
}

.cuteform .error {
    color: #BF3024;
	display: block;
}

/* ================ */
/* = Modal Window = */
/* ================ */
.jqmOverlay { background-color: #000; }

#set-window {
    position: absolute;
    display: none;
    width: 32em;
    background-color: transparent;
    margin-top: -0.5em;
    margin-left: -1em;
}

#set-window div.header {
    background-color: #FFF;
    border-right: 0.25em solid #DDD;
    width: 4em;
    padding: 0.5em 1em 0.5em 1em;
}

#set-window div.target {
    background-color: #FFF;
    border-right: 0.3em solid #DDD;
    border-bottom: 0.3em solid #DDD;
    padding: 1em;
}

#login-register-window {
    position: absolute;
    display: none;
    width: 24em;
    background-color: transparent;
    margin-top: -0.5em;
    margin-left: 1em;
}

#login-register-window div.header {
    background-color: #FFF;
    border-right: 0.3em solid #DDD;
    width: 4em;
    right: 0;
    left: auto;
    padding: 0.5em 1em 0.5em 1em;
    float: right;
    text-align: center;
}

#login-register-window div.target {
    clear: both;
    background-color: #FFF;
    border-right: 0.3em solid #DDD;
    border-bottom: 0.3em solid #DDD;
    padding: 1em;
}

#user-shelves-window {
    position: absolute;
    display: none;
    width: 28em;
    background-color: transparent;
    margin-top: -0.5em;
    margin-left: 1em;
}

#user-shelves-window div.header {
    background-color: #FFF;
    border-right: 0.3em solid #DDD;
    width: 4em;
    right: 0;
    left: auto;
    padding: 0.5em 1em 0.5em 1em;
    float: right;
    text-align: center;
}

#user-shelves-window div.target {
    clear: both;
    background-color: #FFF;
    border-right: 0.3em solid #DDD;
    border-bottom: 0.3em solid #DDD;
    padding: 1em;
}

.shelf-list {
    list-style: none;
    padding: 0;
}

.shelf-list li {
    padding: 0.25em;
    margin: 0 -0.25em;
}

.shelf-list a.delete-shelf {
    color: #900;
    float: right;
    padding: 0.25em 0.25em 0.25em 1em;
    margin: -0.25em;
}

.shelf-list a.delete-shelf:active, .shelf-list a.delete-shelf:hover {
    color: #FFF;
    background-color: #900;
    text-decoration: none;
}

#suggest-window {
    position: absolute;
    display: none;
    width: 35em;
    background-color: transparent;
    margin-top: -0.5em;
    margin-left: 1em;
}

#suggest-window div.header {
    background-color: #FFF;
    border-right: 0.3em solid #DDD;
    width: 4em;
    right: 0;
    left: auto;
    padding: 0.5em 1em 0.5em 1em;
    float: right;
    text-align: center;
}

#suggest-window div.target {
    clear: both;
    background-color: #FFF;
    border-right: 0.3em solid #DDD;
    border-bottom: 0.3em solid #DDD;
    padding: 1em;
}
#suggest-form textarea {
	width: 30em;
}

/* ======================== */
/* = Alphabetic book list = */
/* ======================== */
#book-a-list #book-list {
    -moz-column-width: 24em;
    -webkit-column-width: 24em;
    column-width: 24em;
}

#book-a-list #book-list ol {
    padding: 0;
    margin: 0.3em 0 1.2em 0;
    list-style: none;
}

#top-message {
    background-color: #2F4110;
    color: #FFF;
    margin: 0 -2em;
    padding: 0 2.5em;
    line-height: 2em;
}

#top-message a {
    color: #AAA;
}


/* =========== */
/* = Columns = */
/* =========== */
.column-left {
    width: 37em;
    float: left;
    text-align: justify;
    margin-top: 1em;
}

.column-right {
    margin-left: 40em;
    text-align: justify;
    margin-top: 1em;
}

.see-more {
    text-align: right;
}

.remove-from-shelf {
    float: right;
    padding: 0.2em;
    margin: 0.3em;
    color: #900;
}

.remove-from-shelf:active, .remove-from-shelf:hover {
    color: #FFF;
    background-color: #900;
    text-decoration: none;
}

/* =========== */
/* = Lessons = */
/* =========== */
#lessons {
    margin-top: 2.5em;
}

#document-list {
    width: 380px;
    float: left;
}

#document-list ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

#document-list li a {
    padding: 0.5em;
    background-color: #FFF;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
/*    font-size: 1.2em;*/
    font-weight: bold;
    width: 370px;
    margin-bottom: 0.25em;
    display: block;
}

#document-list li a:hover, #document-list li a.active {
    text-decoration: none;
    background-color: #EEE;
}

#document-list-body #document-detail {
    margin-left: 390px;
}

#document-detail {    
    width: 480px;
}

#document-detail h2 {
    margin: 0.75em 0 0.75em 0;
}

#document-list-body #document-detail .download {
    float: right;
    margin: 0;
    padding: 0
}

/* ====================== */
/* = One percent banner = */
/* ====================== */
#onepercent-banner {
    color: #FFF;
    margin: 0 -1.1em;
    padding: 0 1.1em;
    vertical-align: middle;
    background-color: #FF6B3C;
    height: 60px;
    font-size: 1.8em;
    line-height: 1.5em;
    position: relative;
}

#onepercent-text, #onepercent-line:visited, #onepercent-text:hover, #onepercent-text:active {
    display: block;
    line-height: 60px;
    color: #FFF;
    text-decoration: none;
}

#onepercent-text strong {
    font-weight: normal;
    text-decoration: underline;
}

#onepercent-see-more, #onepercent-see-more:visited, #onepercent-see-more:hover, #onepercent-see-more:active {
    position: absolute;
    right: 2em;
    width: 9em;
    text-align: right;
    bottom: 0;
    font-size: 12px;
    color: #FFF;
    text-decoration: none;
}