html {
    margin: 0;
}

body {
    margin: 0;
    padding: 1em;
    color: #2F4110;
    background: #FFF url(/static/img/bg.png) repeat-x;
    font-size: .75em;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}



#body {
    margin-top: 2em;
/*
    max-width: 900px;
    margin:auto;
*/
    margin-left: 400px;
}

#logo {
    float: left;
    margin-left: 100px;
    margin-top: 4em;
}

h1 {
    font: bold 2.2em Arial,sans-serif;
    padding-top: .7em;
    margin-bottom: .2em;
}


h2 {
    font-size: 1.1em;
    margin:0;
}

a {
    color: #295158;
    text-decoration: none;
}


.plain li {
    list-style: none;
}

li {
    margin: 1em;
}

.clr {
    clear: both;
}


.more {
    text-align: right;
}

table {
    margin-top: 1em;
}

th {
    font-weight: normal;
    text-align: left;
}
