.sponsors-sponsor-logo {
  margin-left: 1em;
  vertical-align: middle;
}

.sponsors-sponsor-column {
  line-height: 120px;
  padding-right: 5em;
}

.sponsors-sponsor-column-name {
  font-weight: bold;
  font-size: 1.25em;
}
