@font-face {
  font-family: "Futura PT";
  src: url('#{$font-path}/subset-FuturaPT-Book.ttf?20uhbq') format('truetype'),
       url('#{$font-path}/subset-FuturaPT-Book.woff?20uhbq') format('woff'),
       url('#{$font-path}/subset-FuturaPT-Book.woff2?20uhbq') format('woff2');
  font-weight: $regular;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url('#{$font-path}/subset-Canela-Light.ttf?20uhbq') format('truetype'),
       url('#{$font-path}/subset-Canela-Light.woff?20uhbq') format('woff'),
       url('#{$font-path}/subset-Canela-Light.woff2?20uhbq') format('woff2');
  font-weight: $light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Canela";
  src: url('#{$font-path}/subset-Canela-LightItalic.ttf?20uhbq') format('truetype'),
       url('#{$font-path}/subset-Canela-LightItalic.woff') format('woff'),
       url('#{$font-path}/subset-Canela-LightItalic.woff2') format('woff2');
  font-weight: $light;
  font-style: italic;
  font-display: swap;
}
