/* ------------------------------
    Base: Icons
------------------------------ */

$icomoon-font-family: "wl" !default;
$icomoon-font-path:   "../fonts" !default;

$icon-liked: "\e900";
$icon-audio: "\e903";
$icon-book: "\e904";
$icon-eye: "\e905";
$icon-prev: "\e901";
$icon-next: "\e902";
$icon-play: "\e906";
$icon-pause: "\e907";
$icon-volume: "\e908";
$icon-mute: "\e909";
$icon-quote: "\e90a";
$icon-search: "\e90b";
$icon-acc-1: "\e90c";
$icon-acc-2: "\e90d";
$icon-acc-3: "\e90e";
$icon-all: "\e90f";
$icon-arrow-right: "\e910";
$icon-arrow-up: "\e911";
$icon-arrow-down: "\e912";
$icon-close: "\e913";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?79zz52') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?79zz52') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?79zz52##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liked {
  &:before {
    content: $icon-liked;
  }
}
.icon-audio {
  &:before {
    content: $icon-audio;
  }
}
.icon-book {
  &:before {
    content: $icon-book;
  }
}
.icon-eye {
  &:before {
    content: $icon-eye;
  }
}
.icon-prev {
  &:before {
    content: $icon-prev;
  }
}
.icon-next {
  &:before {
    content: $icon-next;
  }
}
.icon-play {
  &:before {
    content: $icon-play;
  }
}
.icon-pause {
  &:before {
    content: $icon-pause;
  }
}
.icon-volume {
  &:before {
    content: $icon-volume;
  }
}
.icon-mute {
  &:before {
    content: $icon-mute;
  }
}
.icon-quote {
  &:before {
    content: $icon-quote;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-acc-1 {
  &:before {
    content: $icon-acc-1;
  }
}
.icon-acc-2 {
  &:before {
    content: $icon-acc-2;
  }
}
.icon-acc-3 {
  &:before {
    content: $icon-acc-3;
  }
}
.icon-all {
  &:before {
    content: $icon-all;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
