{% spaceless %}
  {% load thumbnail %}
  {% with picture.author_unicode as author %}
  <div class="book-mini-box">
    <div class="book-mini-box-inner">
      <a href="{{ picture.get_absolute_url }}">
        {% if picture.image_file %}
          <img src="{% thumbnail picture.image_file "139x193" crop="center" as thumb %}{{ thumb.url }}{% empty %}{{ picture.image_file.url }}{% endthumbnail %}" alt="{{ author }} – {{ picture.title }}" class="cover" />
        {% endif %}
        <div class="desc">
          <span class="mono author">{{ author }}</span>
          <span class="title">{{ picture.title }}</span>
        </div>
      </a>
    </div>
  </div>
  {% endwith %}
{% endspaceless %}
