{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ book.title }} w WolneLektury.pl{% endblock %}

{% block bodyid %}book-stub-detail{% endblock %}

{% block body %}
    <h1>{{ book.author }}, {{ book.title }}</h1>
    <form action="{% url search %}" method="get" accept-charset="utf-8" id="search-form">
        <p>{{ form.q }} <input type="submit" value="{% trans "Search" %}" /> <strong>{% trans "or" %}</strong> <a href="{% url main_page %}">{% trans "return to main page" %}</a></p>
    </form>

    <div id="books-list">
    {% if book.in_pd %}
		<p>{% trans "This work is in public domain and will be published on Internet school library of Wolne Lektury soon." %}</p>
	{% else %}
	    {% if book.pd %}
			<p>{% trans "This work will become part of public domain and will be allowed to be published without restrictions in" %}</p>
		    {% include "pdcounter/pd_counter.html" %}
			<p>{% trans "<a href='http://domenapubliczna.org/co-to-jest-domena-publiczna/'>Find out</a> why Internet libraries can't publish this work." %}</p>
		{% else %}
		    <p>{% trans "This work is copyrighted." %}
		    {% trans "<a href='http://domenapubliczna.org/co-to-jest-domena-publiczna/'>Find out</a> why Internet libraries can't publish this work." %}</p>
		{% endif %}
	{% endif %}
    {% include "info/join_us.html" %}
    </div>

    <div id="set-window">
        <div class="header"><a href="#" class="jqmClose">{% trans "Close" %}</a></div>
        <div class="target">
            <p><img src="{{ STATIC_URL }}img/indicator.gif" alt="*"/> {% trans "Loading" %}</p>
        </div>
    </div>
{% endblock %}