{% extends "base.html" %}
{% load i18n pagination_tags %}
{% load set_get from set_get %}


{% block bodyid %}footnotes{% endblock %}

{% block titleextra %}{% trans "Footnotes" %}{% endblock %}


{% block body %}
    <h1>{% trans "Footnotes" %}</h1>

<div class="normal-text">

<p>
{% trans "By first letter" %}:
{% if letter %}
    <a href='?{% set_get "page" "ltr" %}'>{% trans "all" %}</a>
{% else %}
    <strong>{% trans "all" %}</strong>
{% endif %}

{% for let in letters %}
    |
    {% if let == letter %}
        <strong>{{ let|upper }}</strong>
    {% else %}
        <a href='?{% set_get "page" ltr=let %}'>{{ let|upper }}</a>
    {% endif %}
{% endfor %}
</p>

<p>
{% trans "By type" %}:
{% if fn_type %}
    <a href='?{% set_get "page" "type" %}'>{% trans "all" %}</a>
{% else %}
    <strong>{% trans "all" %}</strong>
{% endif %}

{% for fnt in fn_types %}
    |
    {% if fnt == fn_type %}
        <strong>{{ fnt }}</strong>
    {% else %}
        <a href='?{% set_get "page" type=fnt %}'>{{ fnt }}</a>
    {% endif %}
{% endfor %}
</p>


<p>
{% trans "By qualifier" %}:
{% if qualifier %}
    <a href='?{% set_get "page" "qual" %}'>{% trans "all" %}</a>
{% else %}
    <strong>{% trans "all" %}</strong>
{% endif %}

{% for qual in qualifiers %}
    |
    {% if qual == qualifier %}
        <strong>{{ qual }}</strong>
    {% else %}
        <a href='?{% set_get "page" qual=qual.qualifier %}'>{{ qual }}</a>
    {% endif %}
{% endfor %}
</p>

<p>
{% trans "By language" %}:
{% if language %}
    <a href='?{% set_get "page" "lang" %}'>{% trans "all" %}</a>
{% else %}
    <strong>{% trans "all" %}</strong>
{% endif %}

{% for lang in languages %}
    |
    {% if lang == language %}
        <strong>{{ lang }}</strong>
    {% else %}
        <a href='?{% set_get "page" lang=lang %}'>{{ lang }}</a>
    {% endif %}
{% endfor %}
</p>

<hr/>

<p>
{% blocktrans count object_list.count as c %}{{c}} footnote found{% plural %}{{c}} footnotes found{% endblocktrans %}
</p>

{% if object_list.exists %}

{% autopaginate object_list 100 %}
{% paginate %}
{% for obj in object_list %}
    <div class='dictionary-note'>
        {{ obj.html|safe }}
        {% for note_source in obj.notesource_set.all %}
            <div class='dictionary-note-source'>
                <a href='{% url "book_text" note_source.book.slug %}#{{ note_source.anchor }}'>{{ note_source.book.pretty_title }}</a>
                (<a href='{{ note_source.book.extra_info.about }}'>źródło na Platformie Redakcyjnej</a>)
            </div>
        {% endfor %}
    </div>
{% endfor %}
{% paginate %}

{% endif %}

</div>

{% endblock %}
