{% extends "base.html" %}
{% load i18n pagination_tags %}


{% block bodyid %}footnotes{% endblock %}

{% block titleextra %}{% trans "Footnotes" %}{% endblock %}


{% block body %}
    <h1>{% trans "Footnotes" %}</h1>

<div class="normal-text">

<p>
{% trans "By first letter" %}:
{% if letter %}
    <a href='{% url "dictionary_notes" %}'>{% trans "all" %}</a>
{% else %}
    <strong>{% trans "all" %}</strong>
{% endif %}

{% for let in letters %}
    |
    {% if let == letter %}
        <strong>{{ let|upper }}</strong>
    {% else %}
        <a href='{% url "dictionary_notes" let %}'>{{ let|upper }}</a>
    {% endif %}
{% endfor %}
</p>
<hr/>

<p>
{% blocktrans count object_list.count as c %}{{c}} footnote found{% plural %}{{c}} footnotes found{% endblocktrans %}
</p>

{% if object_list.exists %}

{% autopaginate object_list 100 %}
{% paginate %}
{% for obj in object_list %}
    <div class='dictionary-note'>
    {{ obj.html|safe }}
    <div class='dictionary-note-source'>
    (<a href='{% url "book_text" obj.book.slug %}#{{ obj.anchor }}'>{{ obj.book.pretty_title }}</a>)
    </div>
    </div>
{% endfor %}
{% paginate %}

{% endif %}

</div>

{% endblock %}
