<h1>{{ title }}</h1>

<form action="{% if action_url %}{% url action_url %}{% else %}{{ action }}{% endif %}{% if action_query %}?{{ action_query }}{% endif %}" method="post" accept-charset="utf-8"
      class="cuteform">
  {% csrf_token %}
  {% if honeypot %}
    {% load honeypot %}
    {% render_honeypot_field %}
  {% endif %}
  {{ form.as_p }}
  <p class="helptext">
    {{ form.data_processing }}
  </p>
  <button>{{ submit }}</button>
</form>

<div class="form-extra">
  {% block extra %}{% endblock %}
</div>
