{% load socialaccount %}
{% load static from staticfiles %}

{% get_providers as providers %}
{% for provider in providers %}
    {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}
            <li>
                <a title="{{brand.name}}" 
                    class="socialaccount_provider {{provider.id}} {{brand.id}}" 
                    href="{% provider_login_url provider.id openid=brand.openid_url %}"
                    ><img alt="{{ brand.name }}"
                        src="{% static 'img/auth/'|add:brand.id|add:'.png' %}" /></a>
            </li>
        {% endfor %}
    {% endif %}
    <li>
        <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" 
            href="{% provider_login_url provider.id %}"
            ><img alt="{{ provider.name }}"
                src="{% static 'img/auth/'|add:provider.id|add:'.png' %}" /></a>
    </li>
{% endfor %}
