<div class="sponsors-page">
    {% for column in sponsors %}
        <div class="sponsors-column">
            <p class="sponsors-column-name">{{ column.name|default:"&nbsp;" }}</p>
            <div class='sponsor-logos'>
                {% for offset, sponsor in column.sponsors %}
                    <a href="{{ sponsor.url }}" title="{{ sponsor.description }}" 
                        style='display:block; background: url({{ page.sprite.url }}) 0px {{ offset }}px no-repeat; width: 120px; height: 120px;'>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <div style="clear: both"></div>
</div>