<div class="sponsors">
{% for group in sponsor_groups %}
	<div class="sponsor-group" style="width: {{ group.column_width }}px">
		<p class="sponsor-group-name">{{ group.name }}</p>
		{% for sponsor in group.sponsors %}
			<div class="sponsor">{% if sponsor.url %}<a style="sponsor-link" href="{{ sponsor.url }}" >{% endif %}<img class="sponsor-logo" src="{{ sponsor.logo.url }}" alt="{{ sponsor.description }}"/>{% if sponsor.url %}</a>{% endif %}</div>
		{% endfor %}
	</div>
{% endfor %}
<div style="clear: both" />
</div>
