{% extends "base.html" %}
{% load static from staticfiles %}
{% load cache chunks i18n catalogue_tags infopages_tags social_tags %}


{% block title %}{% trans "Wolne Lektury internet library" %}{% endblock %}
{% block ogtitle %}{% trans "Wolne Lektury internet library" %}{% endblock %}

{% block body %}
    <div id="big-cite"{% if cite.image %}
        style="
            background-image: url('{{ cite.image.url }}');
            background-position: 50% {{ cite.image_shift|default_if_none:50 }}%;
        "{% endif %} >
        {% render_cite cite %}
    </div>

    {% spaceless %}


    <div id="promo-box">
		<div id="promo-box-header"><h2 class="mono">
			{% trans "What's new?" %}
		</h2></div>
		<div id="promo-box-body">
        	{% chunk "promo" %}
      	</div>
    </div>


    <h2 class="main-last"><span class="mono">{% trans "Recent publications" %}</span></h2>
        {% cache 60 last-published-on-main %}
            {% for book in last_published %}
                {% book_mini book %}
            {% endfor %}
        {% endcache %}

    <div class="clearboth"></div>

    <div class="infopages-box">
        <h2><span class='mono'>{% trans "News" %}</span></h2>
	{# 135 is the id of new publications category of our master blog. perhaps this URL should go to settings. #}
        {% cache 1800 latest-blog-posts %}
            {% latest_blog_posts "http://nowoczesnapolska.org.pl/feed/?cat=-135" %}
        {% endcache %}
    </div>


    <div class="infopages-box">
        <h2><span class='mono'>{% trans "Utilities" %}</span></h2>

        <ul>
            <li><a href="{% url suggest %}" id="suggest" class="ajaxable">{% trans "Report a bug or suggestion" %}</a></li>
            <!--li><a href="http://turniej.wolnelektury.pl">Turniej Elektrybałtów</a></li-->
            <li><a href="{% url reporting_catalogue_pdf %}">
        		{% trans "Download the catalogue in PDF format." %}
    		</a></li>
            <!--li><a href="{% url infopage "widget" %}">{% trans "Widget" %}</a></li-->
            <li><a href="{% url suggest_publishing %}" id="suggest-publishing" class="ajaxable">{% trans "Missing a book?" %}</a></li>
            <li><a href="{% url publish_plan %}">{% trans "Publishing plan" %}</a></li>
            <li><a href="{% url api %}">API</a></li>
            <li><a href="{% url lesmianator %}">Leśmianator</a></li>
            <li><a href="http://polski.wolnelektury.pl">Materiały do nauki j. polskiego</a></li>
            
        </ul>
    </div>


    <div class="infopages-box">
        <h2><span class='mono'>{% trans "Information" %}</span></h2>
        {% cache 60 infopages-on-main LANGUAGE_CODE %}
            {% infopages_on_main %}
        {% endcache %}

        <div class="social-links">
            <a href="http://pl-pl.facebook.com/pages/Wolne-Lektury/203084073268"
                title='Wolne Lektury @ Facebook'>
                <img src="{% static "img/social/f.png" %}" />
            </a>
            <a href="http://nk.pl/profile/30441509"
                title='Wolne Lektury @ NK'>
                <img src="{% static "img/social/nk.png" %}" />
            </a>
        </div>
    </div>


    {% endspaceless %}

{% endblock %}


{% block add_footer %}
<p>{% trans "Image used:" %} 
{% if cite.image %}
    {% if cite.image_link %}<a href="{{ cite.image_link }}">{% endif %}
    {% if cite.image_title %}
        {{ cite.image_title }}{% else %}
        untitled{% endif %}{% if cite.image_link %}</a>{% endif %},
    {% if cite.image_author %}{{ cite.image_author }},{% endif %}
    {% if cite.image_license_link %}<a href="{{ cite.image_license_link }}">{% endif %}
    {{ cite.image_license }}
    {% if cite.image_license_link %}</a>{% endif %}
{% else %}
    <a href="http://www.flickr.com/photos/lou/430980641/">books about architecture</a>,
    saikofish@Flickr,
    <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">CC BY NC SA</a>.
{% endif %}
</p>
{% endblock %}
