{% extends "admin/change_list.html" %}
{% load club i18n %}

{% block content %}
  <table class="table">
    <tr>
      <td>{% trans "Active monthly recurring donations %}:</td>
      <td>{% club_active_monthly_count %} sztuk</td>
      <td>{% club_active_monthly_sum %} zł.</td>
    </tr>
    <tr>
      <td>{% trans "Active yearly recurring donations %}:</td>
      <td>{% club_active_yearly_count %} sztuk</td>
      <td>{% club_active_yearly_sum %} zł.</td>
    </tr>
    <tr>
      <td>{% trans "One-time donations in last 30 days %}:</td>
      <td>{% club_active_30day_count %} sztuk</td>
      <td>{% club_active_30day_sum %} zł.</td>
    </tr>
  </table>
  {{ block.super }}
{% endblock content %}
