{% extends "catalogue/book_list.html" %}
{% load i18n %}
{% load catalogue_tags %}
{% load chunks %}

{% block bodyid %}book-a-list{% endblock %}

{% block titleextra %}{% trans "Listing of all audiobooks" %}{% endblock %}

{% block metadescription %}Darmowe audiobooki na wolnej licencji. Lektury czytane przez znanych aktorów.{% endblock %}

{% block extrahead %}
    <link rel="alternate" type="application/atom+xml" title="{% trans "Latest MP3 audiobooks" %}" href="{% url 'audiobook_feed' 'mp3' %}" />
    <link rel="alternate" type="application/atom+xml" title="{% trans "Latest Ogg Vorbis audiobooks" %}" href="{% url 'audiobook_feed' 'ogg' %}" />
{% endblock %}

{% block book_list_header %}{% trans "Listing of all audiobooks" %}{% endblock %}

{% block book_list_info %}
{% chunk 'audiobook-list' %}
{% endblock %}
