{% load i18n %}
{% load catalogue_tags social_tags %}
{% load thumbnail %}
<div class="{% block box-class %}book-box{% endblock %}">
<div class="book-box-inner" style="position: relative;">


    {% if main_link %}<a href="{{ main_link }}">{% endif %}
        {% if book.cover %}
            <img src="
                {% thumbnail book.cover "139x193" as thumb %}
                    {{ thumb.url }}
                {% empty %}
                    {{ book.cover.url }}
                {% endthumbnail %}
            " alt="Cover" />
        {% endif %}
    {% if main_link %}</a>{% endif %}
    <div class="book-box-body">


<div class="star {% if not request.user|likes:book %}un{% endif %}like">
    <div class="if-like" >
        <a id="social-book-sets-{{ book.slug }}" data-callback='social-book-sets' class='ajaxable' href='{% url social_book_sets book.slug %}'>
            ★
        </a>
    </div>
    <div class="if-unlike">
        <form id="social-like-book-{{ book.slug }}" data-callback='social-like-book' method='post' class='ajax-form' action='{% url social_like_book book.slug %}'>
            {% csrf_token %}
            <button type='submit'>☆</button>
        </form>
    </div>
</div>


        <div class="book-box-head">
            <div class="mono author">
                {% for name, slug in related.tags.author %}
                    <a href="{% tag_url 'author' slug %}">{{ name }}</a>{% if not forloop.last %},
                {% endif %}{% endfor %}{% for title, slug in related.parents %},
                    <a href="{% url book_detail slug %}">{{ title }}</a>{% endfor %}
            </div>
            <div class="title">
				{% if main_link %}<a href="{{ main_link }}">{% endif %}
					{{ book.title }}
			    {% if main_link %}</a>{% endif %}
			</div>
        </div>

        <div class="tags">
        	{% spaceless %}

            <span class="mono"> {% trans "Epoch" %}:</span>&nbsp;<span class="book-box-tag">
            	{% for name, slug in related.tags.epoch %}
            		<a href="{% tag_url 'epoch' slug %}">{{ name }}</a>
            		{% if not forloop.last %}<span>,&nbsp;</span>{% endif %}
                {% endfor %}
            </span>

            <span class="mono"> {% trans "Kind" %}:</span>&nbsp;<span class="book-box-tag">
            	{% for name, slug in related.tags.kind %}
            		<a href="{% tag_url 'kind' slug %}">{{ name }}</a>
            		{% if not forloop.last %}<span>,&nbsp;</span>{% endif %}
                {% endfor %}
            </span>

            <span class="mono"> {% trans "Genre" %}:</span>&nbsp;<span class="book-box-tag">
            	{% for name, slug in related.tags.genre %}
            		<a href="{% tag_url 'genre' slug %}">{{ name }}</a>
            		{% if not forloop.last %}<span>,&nbsp;</span>{% endif %}
                {% endfor %}
            </span>

           {% endspaceless %}
        </div>
    </div>
    {% shelf_tags book %}

    <ul class="book-box-tools">
        <li class="book-box-read">
        {% if book.html_file %}
            <a href="{% url book_text book.slug %}" class="mono downarrow">{% trans "Read online" %}</a>
        {% endif %}
        </li>
        <li class="book-box-download hoverget">
            <a class="mono downarrow hoverclick">{% trans "Download" %}</a>
            <div class="book-box-formats mono">
	      {% if book.pdf_file %}
	      <span><a href="{{ book.pdf_file.url}}">PDF</a> {% trans "to print" %}</span>
	      {% endif %}
	      {% if  book.epub_file %}
	      <span><a href="{{ book.epub_file.url}}">EPUB</a> {% trans "for an e-book reader" %}</span>
	      {% endif %}
	      {% if  book.mobi_file %}
	      <span><a href="{{ book.mobi_file.url}}">MOBI</a> {% trans "for Kindle" %}</span>
	      {% endif %}
	      {% if  book.txt_file %}
	      <span><a href="{{ book.txt_file.url}}">TXT</a> {% trans "for advanced usage" %}</span>
	      {% endif %}
            </div>
        </li>
        <li class="book-box-audiobook">
        {% if related.media.mp3 or related.media.ogg %}
            <a href="{% url book_player book.slug %}" class="open-player mono downarrow">{% trans "Listen" %}</a>
        {% endif %}
        </li>
    </ul>
    {% block book-box-extra-info %}{% endblock %}
    {% block box-append %}
    {% endblock %}
    {% block right-column %}
    {% endblock %}
    <div class="clearboth"></div>
</div>
</div>
