<!DOCTYPE html>
{% load i18n %}
{% load static from staticfiles %}
{% load chunks compressed catalogue_tags %}
{% load thumbnail %}
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{{ book.pretty_title }} :: {% trans "Wolne Lektury" %}</title>
        <link rel="icon" href="{% static "img/favicon.png" %}" type="image/x-icon" />
        {% compressed_css "book_text" %}
    </head>
    <body>
        <a href="#" id="menu-toggle-on">
            >
        </a>
        <nav id="menu"><ul>
            <li><a href="#" id="menu-toggle-off">
                &lt;
            </a></li>

            <li><a href="/">
                <img src="{% static 'img/favicon.png' %}"
                    alt="Wolne Lektury"
                    title="Wolne Lektury">
                <span class="label">Wolne Lektury</span>
            </a></li>

            <li><a href="{{ book.get_absolute_url }}" id="menu-book">
                <img src="{% thumbnail book.cover "46x64" as thumb %}{{ thumb.url }}{% empty %}{{ book.cover.url }}{% endthumbnail %}"
                    alt="Książka"
                    title="Książka">
            </a></li>

            {% if book.other_versions.exists %}
                <li id="menu-other"><a href="#" data-box="other">
                    <span class="label">Inne wersje</span>
                </a>
                </li>
            {% endif %}

            <li id="menu-toc"><a href="#" data-box="toc">
                <span class="label">Spis treści</span>
            </a></li>

            <li id="menu-themes"><a href="#" data-box="themes">
                <span class="label">Motywy</span>
            </a></li>

            <li><a href="#footnotes">
                <span class="label">Przypisy</span>
            </a></li>

            <li id="menu-settings"><a href="#" data-box="settings">
                <span class="label">Ustawienia</span>
            </a></li>

            <li id="menu-nota_red"><a href="#" data-box="nota_red">
                <span class="label">Nota red.</span>
            </a></li>

            <li id="menu-info"><a href="#info" data-box="info">
                <span class="label">Informacje</span>
            </a></li>

        </ul></nav>
        <div id="big-pane">

        <article id="main-text">
            {{ book.html_file.read|safe }}
        </article>


        <article id="other-text">
            <a id="other-text-close" href="#" style="position: absolute; top: 0;">(zamknij)</a>
            <div id="other-text-waiter">wait...</div>
            <div id="other-text-body" style="display: none;"></div>
        </article>


        <footer>

            <div id="info" class="box">
                {% book_info book %}
            </div>

            {% if book.other_versions.exists %}
            <div class="box" id="other">
                <h2>Inne wersje utworu</h2>
                <ul>
                {% for other_version in book.other_versions %}
                    <li>{{ other_version.pretty_title }}
                        <a class="display-other" data-other="{{ other_version.html_file.url }}" href="#">Porównaj</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}

            <div class="box" id="settings">
                <h2>Ustawienia</h2>
                <a href="#" class="settings-switch" id="settings-line-numbers" data-setting="always-hide-line-numbers">Wyświetlanie numerów linii</a><br/>
                <a href="#" class="settings-switch" id="settings-themes" data-setting="always-hide-themes">Wyświetlanie motywów</a><br/>
                <a href="#" class="settings-switch" id="settings-annotations" data-setting="no-annotations">Wyświetlanie przypisów</a><br/>
            </div>

        </footer>

        </div>

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        {% compressed_js "book_text" %}
    </body>
</html>
