{% load thumbnail %}
<div class="book-mini-box">
    <a href="{{ book.get_absolute_url }}">
        {% if book.cover %}
            <img src="
                {% thumbnail book.cover "139x193" as thumb %}
                    {{ thumb.url }}
                {% empty %}
                    {{ book.cover.url }}
                {% endthumbnail %}
            " alt="Cover" class="cover" />
        {% endif %}
        <div class="desc">
            <span class="mono author">
                {% for name, url in related.tags.author %}
                    {{ name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </span>
            <span class="title">{{ book.title }}</span>
        </div>
    </a>
</div>


