{% extends "catalogue/book_short.html" %}
{% load i18n %}
{% load tag_list from catalogue_tags %}
{% load cite_promo from social_tags %}


{% block box-class %}book-wide-box{% endblock %}


{% block book-box-extra-info %}
{% if themes %}
    <div class="hidden-box-wrapper" id="theme-list-wrapper">
        <p><a class="mono hidden-box-trigger theme-list-link"
                href="#">{% trans "Motifs and themes" %}</a></p>
        <div class="hidden-box">
            <ul>
            {% for theme in themes %}
                <li><a href="{% url book_fragments book.slug theme.slug %}">{{ theme }} ({{ theme.count }})</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% else %}
	<p>&nbsp;</p>
{% endif %}
{% endblock %}


{% block right-column %}
<div class="right-column">
    <div class="quote">
  {% cite_promo book 1 %}
  </div>

  <div class="other-tools">
    <h2 class="mono">{% trans "See" %}</h2>
    <ul class="plain">
      {% if extra_info.source_url %}
      <li><a href="{{ extra_info.source_url }}">{% trans "Source" %}</a> {% trans "of the book" %}</li>
      {% endif %}
      <li><a href="{{ book.xml_file.url }}">{% trans "Source XML file" %}</a></li>
      {% if extra_info.about and not hide_about %}
      <li>{% trans "Book on" %} <a href="{{ extra_info.about }}">{% trans "Editor's Platform" %}</a></li>
      {% endif %}
      {% if book.gazeta_link %}
      <li><a href="{{ book.gazeta_link }}">{% trans "Book description on Lektury.Gazeta.pl" %}</a></li>
      {% endif %}
      {% if book.wiki_link %}
      <li><a href="{{ book.wiki_link }}">{% trans "Book description on Wikipedia" %}</a></li>
      {% endif %}
      <li><a href="{% url poem_from_book book.slug %}">{% trans "Mix this book" %}</a></li>
    </ul>
  </div>
  <div class="other-download">
    <h2 class="mono">{% trans "Download" %}</h2>
    <ul class="plain">
      <li>
	{% if related.media.mp3 or related.media.ogg %}
	{% trans "Download all audiobooks for this book" %}: 
	{% if related.media.mp3 %}<a href="{% url download_zip_mp3 book.slug %}">MP3</a>{% endif %}{% if related.media.mp3 and related.media.ogg %},{% endif %}
	{% if related.media.ogg %}<a href="{% url download_zip_ogg book.slug %}">OGG</a>{% endif %}.
	{% endif %}
      </li>
      <li>
	<a href="{% url custom_pdf_form book.slug %}" id="custom-pdf" class="ajaxable">{% trans "Download a custom PDF" %}</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
