{% extends "base.html" %}
{% load i18n %}
{% load catalogue_tags chunks %}

{% block bodyid %}book-a-list{% endblock %}

{% block titleextra %}{% trans "Listing of all works" %}{% endblock %}

{% block body %}
    <h1>{% block book_list_header %}{% trans "Listing of all works" %}{% endblock %}</h1>

    <div class="left-column"><div class="normal-text">
        {% block book_list_info %}{% endblock %}
    </div></div>

    <div style='clear:both;'></div>

    <a name="top"></a>

    <div id="book-list-nav" class="normal-text">
        {% trans "Table of Content" %}
        {% for index, authors in books_nav.items %}
                <ul>
                    <li><a class="book-list-index" href="#">{{ index|upper }}</a></li>
                    <ul class="book-list-show-index">
                    {% for author in authors %}
                        <li><a href="#{{ author.slug }}">{{ author }}</a></li>
                    {% endfor %}
                    </ul>
                </ul>
        {% endfor %}    
    </div>
    <div id="book-list" class="normal-text">
      {% block book_list %}
        {% book_tree orphans books_by_parent %}
        {% for author, group in books_by_author.items %}
            {% if group %}
                <a name="{{ author.slug }}"></a>
                <div class="group">
                    <h2><a href="{{ author.get_absolute_url }}">{{ author }}</a></h2>
                    {% book_tree group books_by_parent %}
                </div>
            {% endif %}
        {% endfor %}
      {% endblock %}
    </div>
    <div id="book-list-up">
        <p><a href="#top">{% trans "↑ top ↑" %}</a></p>
    </div>
{% endblock %}
