{% extends "catalogue/book_short.html" %}
{% load i18n catalogue_tags %}


{% block box-class %}search-result{% endblock %}

{% block right-column %}
<div class="snippets">
  {% for hit in hits %}
  {% if hit.snippet %}
  <div class="snippet-text"><a href="{% url book_text book.slug %}#sec{{hit.section_number}}">{{hit.snippet|safe}}</a></div>
  {% else %}
  {% if hit.fragment %}
  <div class="snippet-text">
    {% if hit.themes_hit %}
    {% inline_tag_list hit.themes_hit  %}
    {% endif %}
    <a href="{{hit.fragment.get_absolute_url}}">{{hit.fragment.text|truncatewords_html:15|safe}}</a>
  </div>
  {% endif %}
  {% endif %}
  {% endfor %}
</div>

{% endblock %}

