{% extends "base.html" %}
{% load i18n %}
{% load common_tags catalogue_tags %}

{% block titleextra %}{{ book.pretty_title }}{% endblock %}
{% block ogimage %}{% if book.cover %}{{ book.cover.url|build_absolute_uri:request }}{% endif %}{% endblock %}

{% block metadescription %}{% book_title book %}. {{ block.super }}{% endblock %}

{% block bodyid %}book-detail{% endblock %}

{% block body %}

{% book_wide book %}

{% work_list book_children %}


<h2 class="main-last"><span class="mono">{% trans "See also" %}:</span></h2>
{% related_books book %}

{% endblock %}
