{% extends "base.html" %}
{% load i18n %}
{% load common_tags catalogue_tags %}
{% load ssify %}
{% load build_absolute_uri from fnp_common %}

{% block titleextra %}{{ book.pretty_title }}{% endblock %}
{% block ogimage %}{% if book.cover %}{{ book.cover.url|build_absolute_uri:request }}{% endif %}{% endblock %}

{% block metadescription %}{% book_title book %}. {{ block.super }}{% endblock %}

{% block bodyid %}book-detail{% endblock %}

{% block body %}

{% ssi_include 'catalogue_book_wide' pk=book.pk %}

{% work_list book_children %}

{% spaceless %}
{% if book.other_versions %}
<section class="see-also" style="display: inline-block;">
<h1>{% trans "Other versions" %}:</h1>
{% for rel in book.other_versions %}
    {% ssi_include 'catalogue_book_mini' pk=rel.pk %}
{% endfor %}
</section>
{% endif %}

<section class="see-also" style="display: inline-block;">
<h1>{% trans "See also" %}:</h1>
{% related_books book taken=book.other_versions|length %}
</section>
{% endspaceless %}

{% endblock %}
