{% load i18n %}
{% load chunks compressed catalogue_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>{% trans "Wolne Lektury" %} :: {{ book.pretty_title }}</title>
        <link rel="icon" href="{{ STATIC_URL }}img/favicon.png" type="image/x-icon" />
        {% compressed_css "book" %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        {% compressed_js "book" %}
        <!--[if IE]>
            {% compressed_js "book_ie" %}
        <![endif]-->

    </head>
    <body>
        <div id="menu">
            <ul>
                <li><a class="menu" href="#toc">{% trans "Table of contents" %}</a></li>
                <li><a class="menu" href="#themes">{% trans "Themes" %}</a></li>
                <li><a class="menu" href="#nota_red">{% trans "Edit. note" %}</a></li>
                <li><a class="menu" href="#info">{% trans "Infobox" %}</a></li>
                <li><a href="{{ book.get_absolute_url }}">{% trans "Book's page" %}</a></li>
                <li><a class="menu" href="#download">{% trans "Download" %}</a></li>
            </ul>
        </div>
        <div id="info">
            {% book_info book %}
        </div>
        <div id="download">
            <ul>
            {% if book.pdf_file %}
            <li><a href="{{ book.pdf_file.url}}">PDF</a> {% trans "to print" %}</li>
            {% endif %}
            {% if  book.epub_file %}
            <li><a href="{{ book.epub_file.url}}">EPUB</a> {% trans "for a reader" %}</li>
            {% endif %}
            {% if  book.mobi_file %}
            <li><a href="{{ book.mobi_file.url}}">MOBI</a> {% trans "for Kindle" %}</li>
            {% endif %}
            {% if  book.txt_file %}
            <li><a href="{{ book.txt_file.url}}">TXT</a> {% trans "for advanced usage" %}</li>
            {% endif %}
            <li><a href="{% url custom_pdf_form book.slug %}">{% trans "Download a custom PDF" %}</a></li>
            </ul>
        </div>
        <div id="header">
            <a href="/"><img src="{{ STATIC_URL }}img/logo-220.png" alt="Wolne Lektury" /></a>
        </div>
        <div id="themes">
            <ol>
                {% for theme, fragments in book_themes %}
                <li>{{ theme }}:
                    {% for fragment in fragments %}
                        <a href="#m{{ fragment.anchor }}">{{ forloop.counter }}</a>
                    {% endfor %}
                </li>
                {% endfor %}
            </ol>
        </div>
        {{ book.html_file.read|safe }}
        {{ piwik_tag|safe }}
        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-2576694-1");
        pageTracker._trackPageview();
        </script>
    </body>
</html>
