{% extends "base.html" %}
{% load i18n %}
{% load catalogue_tags %}


{% block titleextra %}{% trans "Catalogue" %}{% endblock %}

{% block bodyid %}catalogue-catalogue{% endblock %}

{% block body %}
    <h1>{% trans "Catalogue" %}</h1>

    <div class="normal-text catalogue-catalogue">

    <p><a href="{% url reporting_catalogue_pdf %}">
        {% trans "Download the catalogue in PDF format." %}
    </a></p>

    <h2 class="white-box">{% trans "Authors" %}<a name="autorzy"></a></h2>
    <div class="white-box">{% tag_list categories.author %}</div>

    <h2 class="white-box">{% trans "Kinds" %}<a name="rodzaje"></a></h2>
    <div class="white-box" lang="pl">{% tag_list categories.kind %}</div>

    <h2 class="white-box">{% trans "Genres" %}<a name="gatunki"></a></h2>
    <div class="white-box" lang="pl">{% tag_list categories.genre %}</div>

    <h2 class="white-box">{% trans "Epochs" %}<a name="epoki"></a></h2>
    <div class="white-box" lang="pl">{% tag_list categories.epoch %}</div>

    <h2 class="white-box">{% trans "Themes and topics" %}<a name="motywy"></a></h2>
    <div class="white-box" lang="pl">{% tag_list fragment_tags %}</div>

    <h2 class="white-box">{% trans "Collections" %}<a name="kolekcje"></a></h2>
    <div class="white-box" lang="pl">{% collection_list collections %}</div>

    </div>
{% endblock %}
