{% load i18n %}
{% load tag_list from catalogue_tags %}

<ul id="menu">
	<li class="hidden-box-wrapper menu">
		<a href="{% url catalogue %}#autorzy" class="hidden-box-trigger menu">
			<span class='mono'>{% trans "Authors" %}</span></a>
		<div class="hidden-box">{% if author %}{% tag_list author %}{% endif %}</div>
	</li>
	<li class="hidden-box-wrapper menu">
		<a href="{% url catalogue %}#gatunki" class="hidden-box-trigger menu">
			<span class='mono'>{% trans "Genres" %}</span></a>
		<div class="hidden-box">{% if genre %}{% tag_list genre %}{% endif %}</div>
	</li>
	<li class="hidden-box-wrapper menu">
		<a href="{% url catalogue %}#rodzaje" class="hidden-box-trigger menu">
			<span class='mono'>{% trans "Kinds" %}</span></a>
		<div class="hidden-box">{% if kind %}{% tag_list kind %}{% endif %}</div>
	</li>
	<li class="hidden-box-wrapper menu">
		<a href="{% url catalogue %}#epoki" class="hidden-box-trigger menu">
			<span class='mono'>{% trans "Epochs" %}</span></a>
		<div class="hidden-box">{% if epoch %}{% tag_list epoch %}{% endif %}</div>
	</li>
	<li class="hidden-box-wrapper menu">
		<a href="{% url catalogue %}#motywy" class="hidden-box-trigger menu">
			<span class='mono'>{% trans "Themes" %}</span></a>
		<div class="hidden-box">{% if theme %}{% tag_list theme %}{% endif %}</div>
	</li>
	<li class="menu">
		<a href="{% url book_list %}" class="menu">
			<span class='mono'>{% trans "All books" %}</span></a>
	</li>
	<li class="menu">
		<a href="{% url audiobook_list %}" class="menu">
			<span class='mono'>{% trans "Audiobooks" %}</span></a>
	</li>
	<li class="menu">
		<a href="{% url daisy_list %}" class="menu">
			<span class='mono'>{% trans "DAISY" %}</span></a>
	</li>
</ul>