{% load i18n static %}

<a id="show-menu" href="{% url 'catalogue' %}">
    <span class="long">{% trans "Catalogue of the library" %}</span>
    <span class="short">{% trans "Catalogue" %}</span>
</a>
<ul id="menu">
    {% for category, name, hash in categories %}
	<li class="hidden-box-wrapper menu">
		<a href="{% url 'catalogue' %}#{{ hash }}" class="hidden-box-trigger menu load-menu">
			{{ name }}</a>
		<div class="hidden-box" id="menu-{{ category }}">
            <img src="{% static "img/indicator.gif" %}" alt="{% trans "Please wait…" %}" />
        </div>
	</li>
    {% endfor %}

	<li class="hidden-box-wrapper menu">
		<a href="{% url 'catalogue' %}#kolekcje" class="hidden-box-trigger menu load-menu">
			{% trans "Collections" %}</a>
		<div class="hidden-box" id="menu-collections">
            <img src="{% static "img/indicator.gif" %}" alt="{% trans "Please wait…" %}" />
        </div>
	</li>

	<li class="menu">
		<a href="{% url 'book_list' %}" class="menu">
			{% trans "All books" %}</a>
	</li>
	<li class="menu">
		<a href="{% url 'audiobook_list' %}" class="menu">
			{% trans "Audiobooks" %}</a>
	</li>
	<li class="menu">
		<a href="{% url 'daisy_list' %}" class="menu">
			{% trans "DAISY" %}</a>
	</li>
</ul>
