{% load i18n %}
{% load catalogue_tags %}
{% if one_tag %}
    <p>{% trans "See full category" %} <a href="{% catalogue_url one_tag %}">{{ one_tag }}</a></p>
{% else %}
    <ul>
    	{% if choices %}
        {% for tag in tags %}
            <li><a href="{% catalogue_url choices tag %}">{{ tag }}{% if tag.count %}&nbsp;({{ tag.count }}){% endif %}</a></li>
        {% endfor %}
        {% else %}
        {% for tag in tags %}
            <li><a href="{{ tag.get_absolute_url }}">{{ tag }}{% if tag.count %}&nbsp;({{ tag.count }}){% endif %}</a></li>
        {% endfor %}
        {% endif %}
    </ul>
{% endif %}
