{% load i18n %}
{% if books %}
<div class="simple-toggler-scope">
<p class="mono">
  <a href="#" class="simple-toggler">{% trans "Literature" %}&nbsp;↓</a>
</p>
<div class="simple-hidden-box simple-hidden-initially">{{books|safe}}</div>
</div>
{% endif %}

{% if pictures %}
<div class="simple-toggler-scope">
<p class="mono">
  <a href="#" class="simple-toggler">{% trans "Gallery" %}&nbsp;↓</a>
</p>
<div class="simple-hidden-box simple-hidden-initially">{{pictures|safe}}</div>
</div>
{% endif %}
