{% load pagination_tags %}
{% load book_short class_name book_short from catalogue_tags %}
{% load picture_short from picture_tags %}

{% autopaginate object_list 10 %}
{% spaceless %}
<ol class='work-list'>
{% for item in object_list %}
    <li class='{{ item|class_name }}-item'>
        {% if item.short_html %}
            {{ item.short_html }}
{# since we are using shor_html eerywhere, is it needed anymore? #}
        {% elif item|class_name == "Picture"  %}
            {% picture_short item %}
        {% else %}
            {% book_short item %}
        {% endif %}
    </li>
{% endfor %}
</ol>
{% endspaceless %}
{% paginate %}
