{% extends "2022/base_simple.html" %}
{% load i18n %}

{% block settings %}
  {% load title %}
  {% trans 'Sign In' as title %}
  {% title title %}
{% endblock %}


{% block sbreadcrumbs %}
  <a>Zaloguj się</a>
{% endblock %}

{% block stitle %}Zaloguj się{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>

  <form method="post">
    {% csrf_token %}
    {{ form }}
    <button>Dalej</button>

    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

    <br><br>
    <a href="{% url 'register' %}?next={{ request.GET.next }}">Nie masz jeszcze konta?</a>

    {% if USE_OPENID %}
      <h3>{% trans "Sign in using:" %}</h3>

      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" %}
      </ul>

      {% include "socialaccount/snippets/login_extra.html" %}
    {% endif %}
  </form>
{% endblock %}
