{% extends "base_simple.html" %}
{% load i18n %}

{% block settings %}
  {% load title %}
  {% trans 'Zaloguj się' as title %}
  {% title title %}
{% endblock %}


{% block sbreadcrumbs %}
  <a>{% trans "Zaloguj się" %}</a>
{% endblock %}

{% block stitle %}{% trans "Zaloguj się" %}{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>

  <form method="post">
    {% csrf_token %}
    {{ form }}
    <button>{% trans "Dalej" %}</button>

    <a href="{% url 'account_reset_password' %}">{% trans "Nie pamiętasz hasła?" %}</a>

    <br><br>
    <a href="{% url 'register' %}?next={{ request.GET.next }}">{% trans "Nie masz jeszcze konta?" %}</a>

    {% if USE_OPENID %}
      <h3>{% trans "Zaloguj się używając:" %}</h3>

      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" %}
      </ul>

      {% include "socialaccount/snippets/login_extra.html" %}
    {% endif %}
  </form>
{% endblock %}
