{% extends "base_simple.html" %}
{% load i18n %}


{% block settings %}
  {% load title %}
  {% trans "Register" as title %}
  {% title title %}
{% endblock %}


{% block simple-content %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>{% trans "Register" %}</button>
    <p class="helptext">{{ form.data_processing }}</p>

    {% if USE_OPENID %}
      <h3>{% trans "Sign in using:" %}</h3>

      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" %}
      </ul>

      {% include "socialaccount/snippets/login_extra.html" %}
    {% endif %}

  </form>
{% endblock %}
