{% extends "base.html" %}
{% load funding_tags %}

{% block titleextra %}{{ object }}{% endblock %}

{% block body %}

<h1>{{ object }}</h1>
<div class="white-box normal-text">

{% funding object add_class="standalone-funding" %}

{% if object.state == 'running' %}


<h3>Wpłać:</h3>
<form>
    {% for perk in object.get_perks %}
        <br/><label><input type="radio" name="amount" value="{{ perk.price }}" /> {{perk.price}} zł: {{perk.name}}</label>
    {% endfor %}
    <br/><label><input type="radio" name="amount" value="" /> Dowolną kwotę:</label>
        <input name="amount" size="5" /> zł
    </label>


    <br/><button type="submit">Wpłać!</button>
</form>
{% endif %}
</div>


<h2 style="font-size: 3em; margin: 1em 0 .5em;">Wpłaty:</h2>

<div class="white-box normal-text">
    

<ul>
{% for funding in object.funding_set.all %}
    <li>{{ funding.name }}: <strong>{{ funding.amount }} zł</strong></li>
{% endfor %}
</ul>
</div>

{% endblock %}
