{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load funding_tags %}
{% load pagination_tags %}

{% block titleextra %}{% trans "All fundraisers" %}{% endblock %}

{% block bodyid %}funding-offer-list{% endblock %}

{% block body %}
<h1>{% trans "All fundraisers" %}</h1>


{% autopaginate object_list 10 %}
{% for offer in object_list %}
{% with is_win=offer.is_win is_current=offer.is_current %}

    {% if is_current %}
        <h2>{% trans "Current fundraiser:" %}</h2>
    {% elif forloop.is_first %}
        <h2>{% trans "Previous fundraisers:" %}</h2>
    {% endif %}

    {% funding offer link=1 show_title_calling=False %}

    <div class="white-box normal-text">
        {% if is_current %}
            <h3>{% trans "Help free the book!" %}</h3>
            {{ offer.description|safe }}
        {% endif %}
        {% offer_status offer %}
        {% offer_status_more offer %}
    </div>

    {% if is_current and not forloop.is_last %}
        <h2>{% trans "Previous fundraisers:" %}</h2>
    {% endif %}

{% endwith %}
{% endfor %}
{% paginate %}

{% endblock %}
