{% extends "base.html" %}
{% load i18n %}
{% load fnp_share %}

{% block titleextra %}{% trans "Thank you!" %}{% endblock %}

{% block body %}

<h1>{% trans "Thank you!" %}</h1>
<div class="white-box normal-text">

{% trans "Thank you for your support!" %}

{% url 'funding_current' as c %}
<p>{% blocktrans %}Your support will appear on the <a href="{{ c }}">
current fundraiser page</a> shortly.{% endblocktrans %}</p>


<p>{% trans "Tell your friends about the fundraiser!" %}</p>

<p>{% share current _("I support Wolne Lektury.") %}</p>

</div>


{% endblock %}
