{% extends "base.html" %}
{% load i18n %}

{% block titleextra %}{% trans "Wolne Lektury Fund" %}{% endblock %}

{% block body %}

<h1>{% trans "Wolne Lektury Fund" %}</h1>


<table class="normal-text wlfund">

    <tr>
        <td><div>{% trans "Balance" %}:</div></td>
        <td><div>&nbsp;</div></td>
        <td><div>{{ amount }} zł</div></td>
        <td><div>&nbsp;</div></td>
    </tr>

    {% for tag, entry in log %}
    {% if tag == 'spent' %}
        <tr class="funding-minus">
            <td><div>{{ entry.timestamp }}</div></td>
            <td><div>-{{ entry.amount }} zł</div></td>
            <td><div>{{ entry.total }} zł</div></td>
            <td><div>{% trans "Book" %}: <a href="{{ entry.book.get_absolute_url }}">
                {{ entry.book }}</a></div></td>
        </tr>
    {% else %}
        <tr class="funding-plus">
            <td><div>{{ entry.end }}</div></td>
            <td><div>+{{ entry.wlfund }} zł</div></td>
            <td><div>{{ entry.total }} zł</div></td>
            <td><div>{% trans "Excessive money from fundraiser" %}:
                <a href="{{ entry.get_absolute_url }}">
                {{ entry }}</a></div></td>
        </tr>
    {% endif %}
    {% endfor %}
</table>


{% endblock %}
