/* listing of all books */

.catalogue-catalogue {
    ul {
        column-width: 25em;
        -moz-column-width: 25em;
        -webkit-column-width: 25em;

        @include size(padding-left, 10px);

        @media screen and (min-width: 20em) {
            @include size(padding-left, 40px);
        }

        li {
            margin-bottom: 1em;

            @media screen and (min-width: 62.5em) {
                margin-bottom: .5em;
            }
        }
    }

    h2 {
        @include size(font-size, 26px);
        margin: 0;
        @include size(padding, 26px);
    }
}


.collection-box {
    display: inline-block;
    vertical-align: top;

    @media screen and (min-width:500px) {
        width: 465px;
    }

    p {
        height: 75px;
        overflow: hidden;
    }
    .covers {
        line-height: 0;
    }
}
