/* cyrillic-ext */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: local('Cousine'), url(/static/fonts/cousine/v10/Bt5Lz7Saa5a5RtsafP9xmfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: local('Cousine'), url(/static/fonts/cousine/v10/IYQIfrNvkAhlEkaWqzgTm_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: local('Cousine'), url(/static/fonts/cousine/v10/qjsoqLzZoDyy_opKVvy-uvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: local('Cousine'), url(/static/fonts/cousine/v10/0IpceuvDvCegpU9Mz8MQ_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 700;
  src: local('Cousine Bold'), local('Cousine-Bold'), url(/static/fonts/cousine/v10/4OFqQVT4CccEiwAQMKv0eiEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 700;
  src: local('Cousine Bold'), local('Cousine-Bold'), url(/static/fonts/cousine/v10/auteuWVL5GjOhekECAkC_SEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 700;
  src: local('Cousine Bold'), local('Cousine-Bold'), url(/static/fonts/cousine/v10/JHq2r7PZMuzGPtEvdlprZCEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 700;
  src: local('Cousine Bold'), local('Cousine-Bold'), url(/static/fonts/cousine/v10/XkYjaL8YjqL9qW8o0T14ufk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Cousine';
  font-style: italic;
  font-weight: 400;
  src: local('Cousine Italic'), local('Cousine-Italic'), url(/static/fonts/cousine/v10/svY-0AsqnhB5pNHScPRpHhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
  font-family: 'Cousine';
  font-style: italic;
  font-weight: 400;
  src: local('Cousine Italic'), local('Cousine-Italic'), url(/static/fonts/cousine/v10/bS4Fjp2fQa3pRrzTYB6CXhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
  font-family: 'Cousine';
  font-style: italic;
  font-weight: 400;
  src: local('Cousine Italic'), local('Cousine-Italic'), url(/static/fonts/cousine/v10/aWxnkwXsEJCSg-HKkPTCkBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Cousine';
  font-style: italic;
  font-weight: 400;
  src: local('Cousine Italic'), local('Cousine-Italic'), url(/static/fonts/cousine/v10/0VdvlOBfHobA4eW-NVYk-VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Cousine';
  font-style: italic;
  font-weight: 700;
  src: local('Cousine Bold Italic'), local('Cousine-BoldItalic'), url(/static/fonts/cousine/v10/y_AZ5Sz-FwL1lux2xLSTZa-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
  font-family: 'Cousine';
  font-style: italic;
  font-weight: 700;
  src: local('Cousine Bold Italic'), local('Cousine-BoldItalic'), url(/static/fonts/cousine/v10/y_AZ5Sz-FwL1lux2xLSTZZX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
  font-family: 'Cousine';
  font-style: italic;
  font-weight: 700;
  src: local('Cousine Bold Italic'), local('Cousine-BoldItalic'), url(/static/fonts/cousine/v10/y_AZ5Sz-FwL1lux2xLSTZT0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Cousine';
  font-style: italic;
  font-weight: 700;
  src: local('Cousine Bold Italic'), local('Cousine-BoldItalic'), url(/static/fonts/cousine/v10/y_AZ5Sz-FwL1lux2xLSTZegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

