.hidden-box-wrapper {
    position: relative;

    .hidden-box {
        position: absolute;
        left: 0;
        display: none;
        @include size(padding, 10px 10px 5px 10px);
        @include white-box;

        z-index: 500;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            @include size(font-size, 11px);

            @include size(column-width, 132px);
            @include size(-moz-column-width, 132px);
            @include size(-webkit-column-width, 132px);

            @media screen and (min-width: 24em) {
                @include size(width, 320px);
            }

            @media screen and (min-width: 34em) {
                @include size(width, 480px);
            }

            @media screen and (min-width: 62.5em) {
                @include size(width, 528px);
            }



            li {
                margin-bottom: 1em;

                @media screen and (min-width: 62.5em) {
                    margin-bottom: .5em;
                }
            }
        }
    }
}

@media screen and (min-width: 24em) {
    #menu-collections ul {
        @include size(width, 180px);
    }
}

