.big-cite {
    background-color: #444;
    color: white;
    padding: 0;
    margin: 0;
    background-size: cover;
    background-position: 50% 68%;

    background-image: url(/static/img/backdrop/book-drawer2.jpg);

    &.banner {
        background: none;
    }

    .cite-box, .cite-box-text, .cite-text {
	box-sizing: border-box;
        //@include size(padding, 46px 10px 48px 0);
	padding:
		46/975*100vw
		40/975*100vw
		48/975*100vw
		0;

        background: none;
        color: white;

        @media screen and (min-width: 62.5em) {
		padding: 46px 40px 48px 0;
        }

        .vip {
	    padding-left: 10%;
	    margin:
                2.5/975*100vw
		0
		5/975*100vw
		10/975*100vw;

            font-size: 11/975 * 100vw;

            @media screen and (min-width: 62.5em) {
		margin: 2.5px 0 5px 10px;
		font-size: 11px;
            }
        }

        .cite-body {
	    margin: .5 /975 * 100vw;
	    font-size: (30 / 975) * 100vw;
            line-height: 1.16em;

            @media screen and (min-width: 62.5em) {
		font-size: 30px;
		margin: .5px;
            }
        }

        .source {
	    margin: 16/975*100vw 2/975*100vw 16/975*100vw 0;
	    font-size: 12/975*100vw;
	    @media screen and (min-width: 62.5em) {
		margin: 16px 2px 16px 0;
		font-size: 12px;
	    }
        }

        /* Make cite body and source slide to the left. */
        .cite-body, .source {
		padding-left: 21.9%;
	    margin-left: -38/975*100vw;

            @media screen and (min-width: 62.5em) {
                @include size(margin-left, -38px);
            }
        }

        /* Semi-transparent background. */
        .cite-body span,
        .vip span,
        .source span {
            color: white;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.6);
            /* For IE 5.5 - 7*/
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
            /* For IE 8*/
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
        }
    }


    .cite-text {
	.vip {
		float: left;
		padding-left: 0;
		margin-left: 16/975*100vw;
		text-align: right;
		width: 147/975*100vw;
	}
        .cite-body, .source {
		padding-left: 0;
		margin-left: 175/975*100vw;
	}

        @media screen and (min-width: 62.5em) {
            .vip {
                @include size(margin-left, 16px);
                @include size(width, 147px);
	    }
	    .cite-body, .source {
                @include size(margin-left, 175px);
	    }

        }
    }


    .cite-box-text {
	    padding-left: (975 / 2 + 45) /975 * 100vw;

	    @media screen and (min-width: 62.5em) {
		    padding-left: 975px / 2 + 45px;
	    }
    }

    /* a long cite displays smaller */
    .cite-text-small .cite-body {
        //@include size(font-size, 16px);
	font-size: (20/975) * 100vw;
        @media screen and (min-width: 62.5em) {
            @include size(font-size, 20px);
        }
    }

    h2 {
        margin: 0;
        @include size(font-size, 11px);
        color: #575c63;
    }
}


#main-library {
    .main-library-row {
        position: relative;

        .covers {
            white-space: nowrap;
            width: 90%;
            overflow-x: hidden;
            padding-bottom: 2px;

        }
        .note {
            position: absolute;
            right: 0;
            top: 1px;
            width: 139px;
            height: 289px - 22px;
        }
    }
}


#main-last {
    h1 {
        @include size(height, 32px);
        margin: 0;
        @include size(padding-top, 19px);
        @include size(padding-left, 10px);

        @include size(font-size, 11px);
        @include mono;
        font-weight: normal;

        @media screen and (min-width: 33em) {
            @include size(padding-left, 19px);
        }

        a {
            color: black;

            &:after {
                content: " >";
            }
        }
    }
    .book-mini-box:nth-child(3) {
        @media screen and (min-width: 30em) {
            margin-right: 3em;
        }
        @media screen and (min-width: 33em) {
            margin-right: 0;
        }
    }
}


.infopages-box {
    margin: 0;
    @include size(margin-top, 5px);
    @include size(padding, 0 5px);
    vertical-align: top;
    color: #989898;

    @media screen and (min-width: 20em) {
        display: inline-block;
        @include size(width, 206px);
        @include size(padding-left, 17px);
        @include size(padding-right, 17px);
    }

    h1 {
        @include size(height, 28px);
        margin: 0;
        @include size(padding-top, 25px);
        @include size(font-size, 11px);
        color: #017e85;
        font-weight: normal;
        @include mono;
    }

    a {
        color: black;
    }

    ol, ul {
        @include size(font-size, 11px);
        list-style: none;
        padding: 0;
        margin: 0;
        line-height: 1.45em;

        li {
            @include size(margin-bottom, 8px);
            @media screen and (min-width: 62.5em) {
                @include size(margin-bottom, 2.5px);
            }
        }
    }

    .social-links {
        @include size(margin-top, 10px);

        a {
            @include size(margin-right, 6px);
        }
    }
}

.more {
    display: block;
    margin-top: .5em;
}


section {
    margin-top: 2em;
}


.tag-box-section {
    @media screen and (min-width: 768px) {
        display: inline-block;
        width: 48%;
        margin-right: 2%;
        vertical-align: top;

        .tag-box {
            display: block;
            width: 100%;
        }
    }
}

#main-theme {
    .white-box {
        position: relative;

        .cite-text, .cite-text-small {
            display: none;

            @media screen and (min-width: 768px) {
                display: block;
                position: absolute;
                right: 1em;
                top: 7em;
                background: #F7F7F7;
                width: 200px;
                padding-left: 20px;
            }

            @media screen and (min-width: 1024px) {
                width: 340px;
                padding-left: 80px;
            }
        }
    }
}


.carousel {
    position: relative;
    width: 100%;
    height: 315/975*100vw;
    overflow: hidden;

    @media screen and (min-width: 62.5em) {
	width: 975px;
	height: 315px;
    }

    .cycle-prev {
        left: 0;
        &::after {
            content: "◀";
        }
    }
    .cycle-next {
        right: 0;
        &::after {
            content: "▶";
        }
    }

    .cycle-prev, .cycle-next {
        position: absolute;
        top: 50/975 * 100vw;
        bottom: 50/975 * 100vw;
        width: 15%;
        z-index: 1000;
        background: black;
        color: white;
        opacity: 0;

        @media screen and (min-width: 62.5em) {
            top: 50px;
            bottom: 50px;
        }

        &::after {
            top: 50/975 * 100vw;
            bottom: 50/975 * 100vw;
            font-size: 100/975*100vw;
            display: block;
            line-height: (315-100)/975*100vw;
            text-align: center;
            cursor: pointer;

            @media screen and (min-width: 62.5em) {
                font-size: 100px;
                line-height: 315px - 100px;
                top: 50px;
                bottom: 50px;
            }
        }
        &:hover {
            opacity: .33;
        }
    }
}


.cycle-pager {
    text-align: center;
    width: 100%;
    z-index: 500;
    position: absolute;
    bottom: 0;
    overflow: hidden;

    span {
        font-family: arial;
        font-size: 64 /975*100vw;
        width: 32 /975*100vw;
        height: 32 /975*100vw;
        display: inline-block;
        color: #ddd;
        cursor: pointer;

        text-shadow: 0px 0px 5px rgba(0,0,0,0.75);

        @media screen and (min-width: 62.5em) {
            font-size: 64px;
            width: 32px;
            height: 32px;
        }

        &.cycle-pager-active {
            color: #018189;
        }
    }

    > * {
        cursor: pointer;
    }
}
