/* jquery UI overrides us */
.ui-menu .ui-menu-item a {
    color: #0d7e85 !important;
    line-height: 1.636em !important;
}

.ui-widget {
    font-family: Gelasio, Georgia, serif !important;
    @include size(font-size, 10px !important);
}

.ui-widget-content {
    background: #EEEEEE !important; /* #E2E2E2 ? */
    border-radius: 0px !important;
}



.inline-tag-lists p span:first-child {
    color: #281d1c;
}

/* just on search page */
.top-tag-list {
    @include size(margin-top, 22px);
    @include size(margin-bottom, 16px);
}

/*.search-result {
    @include size(border, 1px solid #ddd);
    @include size(box-shadow, 2px 2px 2px #ddd);
    @include size(margin, 1px);
    background: white;

    @include min-screen($S_BOOK_SHORT_FULL) {
        @include size(width, $W_BOOK_SHORT_FULL -4px);
    }

    @media screen and (min-width: 62.5em) {
        @include size(width, 965px);
        @include size(padding-right, 8px);
    }

    .book-box {
        display: inline-block;

        @include min-screen($S_BOOK_SHORT_FULL) {
            @include size(width, $W_BOOK_SHORT_FULL - 4px);
        }

        .book-box-inner {
            border: none;
            box-shadow: none;
            margin: 0;
        }
    }
}*/



.book-list-header {
    @media screen and (min-width: 62.5em) {
        @include size(width, 975px);
    }
    padding: 0em;
    @include size(margin-left, -1px);

    .book-box-inner {
        min-height: 1em;
    }

    p {
        @include size(font-size, 24px);
        @include size(margin, 5px);
    }
}

.snippets {
    @media screen and (min-width: 62.5em) {
        @include size(width, 360px);
        float: right;
    }

    .snippet-text {
        @include size(font-size, 16px);
        @include size(margin, 13px 0);
        @include size(padding, 12px);
        background: #f7f7f7;
    }

    .anchor {
        display: none;
    }
}


.search-result {
    @media screen and (min-width: 62.5em) {
        .picture-left-column {
            display: inline-block;
            @include size(width, 800px);
        }
        .picture-right-column {
            display: inline-block;
            @include size(padding-top, 15px);
            @include size(width, 150px);
        }
    }

    .area-hit {
        @include size(font-size, 16px);
        @include size(margin, 13px 0);
        @include size(padding-left, 20px);
        @include size(padding-right, 20px);
        @include size(padding-top, 1px);
        @include size(padding-bottom, 20px);
        background: #f7f7f7;
    }
}


.search-hint-label {
    display: inline-block;
    @include size(font-size, 16px);
    //@include size(width, 275px);
    line-height: 1.636em;
}




.search-filter {
    a {
        margin-right: 1em;
    }
    strong {
        display: inline-block;
        width: 5em;
    }
    em {
        margin-right: 1em;
    }
        
}
