<div class="title">
    SQL Queries
</div>
<table>
    <thead>
        <tr>
            <th>Time&nbsp;(ms)</th>
            <th>Query</th>
        </tr>
    </thead>
    <tbody>
        {% for query in queries %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>{{ query.0|floatformat:"4" }}</td>
                <td><a href="javascript:djDebugWindow('?djDebug=SQL&amp;op=explain&amp;sql={{ query.2|urlencode }}&amp;params={{ query.3|urlencode }}');">{{ query.1|escape }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>