{% extends "base_simple.html" %}
{% load i18n %}

{% block settings %}
  {% load title %}
  {% trans 'Katalogi bibliotek' as title %}
  {% title title %}
{% endblock %}

{% block breadcrumbs %}
  <a href="{% url 'libraries_main_view' %}"><span>{% trans 'Katalog bibliotek' %}</span></a>
{% endblock %}

{% block titleextra %}{% trans 'Katalog bibliotek' %}{% endblock %}


{% block body %}
  <h1>{{ catalog.name }}</h1>
  <div class="left-column">
    <div class="normal-text">
      <ul>
        {% for library in catalog.libraries.all %}
          <li><a href="{{library.get_absolute_url}}">{{library.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
