{% extends request.EXPERIMENTS.layout.value|yesno:"2022/base_simple.html,base/base.html" %}
{% load i18n %}

{% block settings %}
  {% load title %}
  {% title library.name %}
{% endblock %}

{% block breadcrumbs %}
  <a href="{% url 'libraries_main_view' %}"><span>{% trans 'Libraries directory' %}</span></a>
  <a href="{{ library.catalog.get_absolute_url }}"><span>{{ library.catalog.name }}</span></a>
{% endblock %}

{% block titleextra %}{{ library.name }}{% endblock %}

{% block body %}
  <h1>{{ library.name }}</h1>
  <div class="normal-text">
    <p>Adres strony www: <a href="{{library.url}}">{{library.url}}</a></p>
    {% autoescape off %}{{library.description}}{% endautoescape%}
  </div>
{% endblock %}
