{% extends "2022/base_simple.html" %}
{% load i18n %}

{% block settings %}
  {% load title %}
  {% trans 'Library directories' as title %}
  {% title title %}
{% endblock %}

{% block titleextra %}{% trans 'Library directories' %}{% endblock %}

{% block body %}
  <h1>{% trans 'Library directories' %}</h1>
  <div class="left-column">
    <div class="normal-text">
      <ul>
        {% for catalog in catalogs %}
          <li><a href="{{catalog.get_absolute_url}}">{{catalog}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
