{% extends "base.html" %}
{% load catalogue_tags chunks %}

{% block bodyid %}book-a-list{% endblock %}

{% block title %}Alfabetyczny spis utworów w WolneLektury.pl{% endblock %}

{% block body %}
    <h1>Alfabetyczny spis utworów</h1>
    <form action="{% url search %}" method="GET" accept-charset="utf-8" id="search-form">
        <p>{{ form.q }} <input type="submit" value="Szukaj" /> <strong>lub</strong> <a href="{% url main_page %}">wróć do strony głównej</a></p>
    </form>
    
    <div id="book-list">
        {% for first_letter, group in books_by_first_letter.items %}
        <div class="group">
            <h2>{{ first_letter }}</h2>
            <ol>
            {% for book in group %}
                <li><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></li>
            {% endfor %}
            </ol>
        </div>
        {% endfor %}    
    </div>
{% endblock %}
