{% load i18n %}
{% extends "base.html" %}
{% load catalogue_tags chunks %}

{% block bodyid %}book-a-list{% endblock %}

{% block title %}{% trans "Alphabetical listing of works on WolneLektury.pl" %}{% endblock %}

{% block body %}
    <h1>{% trans "Alphabetical listing of works" %}</h1>
    <form action="{% url search %}" method="GET" accept-charset="utf-8" id="search-form">
        <p>{{ form.q }} <input type="submit" value="{% trans "Search" %}" /> <strong>{% trans "or" %}</strong> <a href="{% url main_page %}">{% trans "return to main page" %}</a></p>
    </form>
    
    <div id="book-list">
        {% for first_letter, group in books_by_first_letter.items %}
        <div class="group">
            <h2>{{ first_letter }}</h2>
            <ol>
            {% for book in group %}
                <li><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></li>
            {% endfor %}
            </ol>
        </div>
        {% endfor %}    
    </div>
{% endblock %}