{% load thumbnail %}
<div class="book-mini-box">
    <a href="{{ book.get_absolute_url }}">
        {% if book.cover %}
            <img src="
                {% thumbnail book.cover "216x288" as thumb %}
                    {{ thumb.url }}
                {% empty %}
                    {{ book.cover.url }}
                {% endthumbnail %}
            " alt="Cover" />
        {% endif %}
        {% for author in authors %}
            <div class="mono author">{{ author }}</div>
            {{ book.title }}
        {% endfor %}
    </a>
</div>


