{% extends "base.html" %}
{% load i18n %}
{% load catalogue_tags chunks %}

{% block bodyid %}book-a-list{% endblock %}

{% block title %}{% trans "Listing of all works on WolneLektury.pl" %}{% endblock %}

{% block body %}
    <h1>{% block book_list_header %}{% trans "Listing of all works" %}{% endblock %}</h1>
    <form action="{% url search %}" method="get" accept-charset="utf-8" id="search-form">
        <p>{{ form.q }} {{ form.tags }} <input type="submit" value="{% trans "Search" %}" />
            <strong>{% trans "or" %}</strong> {% trans "see" %}: 
            <span class='collections'>
                <a href="{% url catalogue.views.book_list %}">{% trans "all books" %}</a>
                <a href="{% url catalogue.views.audiobook_list %}">{% trans "audiobooks" %}</a>
                <a href="{% url catalogue.views.daisy_list %}">{% trans "DAISY" %}</a>
            </span></p>
    </form>
    <a name="top">
    <div id="book-list-nav">
        {% trans "Table of Content" %}
        {% for index, authors in books_nav.items %}
                <ul>
                    <li><a class="book-list-index" href="#">{{ index|upper }}</a></li>
                    <ul class="book-list-show-index">
                    {% for author in authors %}
                        <li><a href="#{{ author.slug }}">{{ author }}</a></li>
                    {% endfor %}
                    </ul>
                </ul>
        {% endfor %}    
    </div>
    <div id="book-list">
        {% book_tree orphans books_by_parent %}
        {% for author, group in books_by_author.items %}
            {% if group %}
                <a name="{{ author.slug }}">
                <div class="group">
                    <h2><a href="{{ author.get_absolute_url }}">{{ author }}</a></h2>
                    {% book_tree group books_by_parent %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div id="book-list-up">
        <p><a href="#top">{% trans "↑ top ↑" %}</a></p>
    </div>
{% endblock %}
