{% extends "base.html" %}
{% load catalogue_tags pagination_tags %}

{% block title %}Lektura {{ book.title }} w WolneLektury.pl{% endblock %}

{% block bodyid %}book-detail{% endblock %}

{% block body %}
    <h1>{{ book.title }}, {{ categories.author|join:", " }}</h1>
    <form action="{% url search %}" method="get" accept-charset="utf-8" id="search-form">
        <p>{{ form.q }} <input type="submit" value="Szukaj" /> <strong>lub</strong> <a href="{% url main_page %}">wróć do strony głównej</a></p>
    </form>
    
    <div id="books-list">
        {% if extra_info.license %}
        <p>Utwór jest udostępniony na licencji <a href="{{ extra_info.license }}">{{ extra_info.license_description }}</a>.</p>
        {% endif %}
        <p>Na podstawie: {{ extra_info.source_name }}</p>
        {% if book.has_description %}
            <div id="description">
                {{ book.description|safe }}
            </div>
            <div id="toggle-description"><p>Zwiń opis ▲</p></div>
        {% endif %}
        <div id="formats">
            <p class="change-sets">Wrzuć lekturę <span><a href="{% url catalogue.views.book_sets book.slug %}" class="jqm-trigger">na półkę!</a></span></p>
            <div class="clearboth"></div>
            <div class="wrap">
            {% if book.html_file %}
                <a href="{% url book_text book.slug %}">Czytaj online</a>
            {% endif %}
            {% if book.pdf_file %}
                <a href="{{ book.pdf_file.url }}">Pobierz plik PDF</a>
            {% endif %}
            {% if book.odt_file %}
                <a href="{{ book.odt_file.url }}">Pobierz plik ODT</a>
            {% endif %}
            {% if book.txt_file %}
                <a href="{{ book.txt_file.url }}">Pobierz plik TXT</a>
            {% endif %}
            {% if book.mp3_file and book.ogg_file %}
            <div id="czytamy-sluchajac-info">
                    <a href="http://czytamysluchajac.pl/" id="czytamysluchajac-logo"><img src="/media/img/czytamysluchajac-logo-small.png" /></a>     
                    <p>Czyta: {{ book.get_extra_info_value.artist_name }}</p>
                    <p>Reżyseruje: {{ book.get_extra_info_value.director_name }}</p>
                </div>
                <a href="{{ book.mp3_file.url }}">Pobierz plik MP3</a>
                <a href="{{ book.ogg_file.url }}">Pobierz plik Ogg Vorbis</a>
                <object type="application/x-shockwave-flash" style="margin-top: 0.5em" data="/media/player.swf" width="426" height="20">
                    <param name="movie" value="/media/player.swf" />
                    <param name="bgcolor" value="#ffffff" />
                    <param name="FlashVars" value="mp3={{ book.mp3_file.url }}&amp;width=426&amp;showvolume=1&amp;bgcolor1=eeeeee&amp;bgcolor2=eeeeee&amp;buttoncolor=666666" />
                </object>
            {% endif %}
            </div>
        </div>
    
        {% if book_children %}
        {% autopaginate book_children 10 %}
        <div id="book-children">
            <ol>
            {% for book in book_children %}
                <li>{{ book.short_html }}</li>
            {% endfor %}
            </ol>
        </div>
        {% paginate %}
        {% endif %}
    
    </div>
        
    <div id="tags-list">
        <div id="book-info">
            <h2>O utworze</h2>
            <ul>
                <li>
                    Autor: 
                    {% for tag in categories.author %}
                    <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
                    {% endfor %}
                </li>
                <li>
                    Epoka:
                    {% for tag in categories.epoch %}
                    <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
                    {% endfor %}
                </li>
                <li>
                    Rodzaj:
                    {% for tag in categories.kind %}
                    <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
                    {% endfor %}
                </li>
                <li>
                    Gatunek:
                    {% for tag in categories.genre %}
                    <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
                    {% endfor %}
                </li>
            </ul>
            <h2>W innych miejscach</h2>
            <ul>
                <li><a href="{{ extra_info.about }}">Lektura na wiki projektu</a></li>
                <li><a href="{{ extra_info.source_url }}">Lektura w CBN Polona</a></li>
                {% if book.gazeta_link %}
                <li><a href="{{ book.gazeta_link }}">Opis lektury w Lektury.Gazeta.pl</a></li>
                {% endif %}
                {% if book.wiki_link %}
                <li><a href="{{ book.wiki_link }}">Opis lektury w Wikipedii</a></li>
                {% endif %}
            </ul>
        </div>
        <div id="themes-list">
            <h2>Motywy w utworze</h2>
            <ul>
            {% for theme in book_themes %}
                <li><a href="{% url book_fragments book.slug,theme.slug %}">{{ theme }} ({{ theme.count }})</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="clearboth"></div>
    </div>
    <div id="set-window">
        <div class="header"><a href="#" class="jqmClose">Zamknij</a></div>
        <div class="target">
            <p><img src="/media/img/indicator.gif" alt="*"/> Ładowanie</p>
        </div>
    </div>
{% endblock %}
