{% extends "base.html" %}
{% load i18n %}
{% load catalogue_tags pagination_tags %}

{% block title %}{% trans "Theme" %} {{ theme }} {% trans "in work " %} {{ book }} {% "on " %} WolneLektury.pl{% endblock %}

{% block bodyid %}tagged-object-list{% endblock %}

{% block body %}
    <h1>{% trans "Theme" %} {{ theme }} {% trans "in work " %} {{ book }} </h1>
    <form action="{% url search %}" method="get" accept-charset="utf-8" id="search-form">
        <p>{{ form.q }} <input type="submit" value="{% trans "Search" %}" /> <strong>{% trans "or" %}</strong> <a href="{{ book.get_absolute_url }}">{% trans "return to book's page" %}</a></p>
    </form>

    {% autopaginate fragments 10 %}
    <div id="books-list">
        <ol>
        {% for fragment in fragments %}
            <li>{{ fragment.short_html }}</li>
        {% endfor %}
        </ol>
        {% paginate %}
    </div>
    <div id="tags-list">
        <div id="categories-list">
            {% trans "See description" %} <a href="{{ book.get_absolute_url }}">{% trans "of the book "%} {{ book }}</a>
        </div>
        <div id="themes-list">
        </div>
        <div class="clearboth"></div>
    </div>
    <div id="set-window">
        <div class="header"><a href="#" class="jqmClose">{% trans "Close" %}</a></div>
        <div class="target">
            <p><img src="{{ STATIC_URL }}img/indicator.gif" alt="*"/> {% trans "Loading" %}</p>
        </div>
    </div>
{% endblock %}