{% load i18n %}
{% load chunks compressed catalogue_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}WolneLektury.pl{% endblock %}</title>
        <link rel="icon" href="{{ STATIC_URL }}img/favicon.png" type="image/x-icon" />
        {% compressed_css "book" %}
        {% compressed_js "jquery" %}
        {% compressed_js "book" %}
    </head>
    <body>
        <div id="menu">
            <ul>
                <li><a href="#toc">{% trans "Table of content" %}</a></li>
                <li><a href="#themes">{% trans "Themes" %}</a></li>
            </ul>
        </div>
        <div id="header">
            <div id="logo">
                <a href="/"><img src="{{ STATIC_URL }}img/logo.png" alt="WolneLektury.pl - logo" /></a>
            </div>
        </div>
        <div id="themes">
            <ol>
                {% for theme, fragments in book_themes %}
                <li>{{ theme }}:
                    {% for fragment in fragments %}
                        <a href="#m{{ fragment.anchor }}">{{ forloop.counter }}</a>
                    {% endfor %}
                <li>
                {% endfor %}
            </ol>
        </div>
        {{ book.html_file.read|safe }}
        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-2576694-1");
        pageTracker._trackPageview();
        </script>
    </body>
</html>
