{% load i18n %}
{% load social_tags %}
{% load thumbnail %}
<div class="{% block box-class %}book-box{% endblock %}">
<div class="book-box-inner" style="position: relative;">


    <a href="{{ book.get_absolute_url }}">
        {% if book.cover %}
            <img src="
                {% thumbnail book.cover "216x288" as thumb %}
                    {{ thumb.url }}
                {% empty %}
                    {{ book.cover.url }}
                {% endthumbnail %}
            " alt="Cover" />
        {% endif %}
    </a>
    {% block right-column %}
    {% endblock %}
    <div class="book-box-body">


<div class="star {% if not request.user|likes:book %}un{% endif %}like">
    <div class="if-like" >
        <a id="social-book-sets-{{ book.slug }}" data-callback='social-book-sets' class='ajaxable' href='{% url social_book_sets book.slug %}'>
            ★
        </a>
    </div>
    <div class="if-unlike">
        <form id="social-like-book-{{ book.slug }}" data-callback='social-like-book' method='post' class='ajax-form' action='{% url social_like_book book.slug %}'>
            <button type='submit'>☆</button>
        </form>
    </div>
</div>


        <div class="book-box-head">
            <div class="mono author">
                {% for name, url in related.tags.author %}
                    {{ name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
            <div class="title">{{ book.title }}</div>
        </div>
        <div class="tags">
            {% spaceless %}

            <span class="mono">{% trans "Epoch" %}:</span>&nbsp;<span class="book-box-tag">
                {% for name, url in related.tags.epoch %}
                    <a href="{{ url }}">{{ name }} </a>
                {% endfor %}
            </span>

            <span class="mono">{% trans "Kind" %}:</span>&nbsp;<span class="book-box-tag">
                {% for name, url in related.tags.kind %}
                    <a href="{{ url }}">{{ name }} </a>
                {% endfor %}
            </span>

            <span class="mono">{% trans "Genre" %}:</span>&nbsp;<span class="book-box-tag">
                {% for name, url in related.tags.genre %}
                    <a href="{{ url }}">{{ name }} </a>
                {% endfor %}
            </span>

            {% endspaceless %}
        </div>
    </div>
    <ul class="book-box-tools">
        <li class="book-box-read">
        {% if book.html_file %}
            <a href="{% url book_text book.slug %}" class="mono downarrow">{% trans "Read online" %}</a>
        {% endif %}
        </li>
        <li class="book-box-download">
            <a class="mono downarrow">{% trans "Download" %}</a>
            <div class="book-box-formats mono">
	      {% if formats.pdf %}
	      <span><a href="{{formats.pdf.url}}">PDF</a> do wydruku</span>
	      {% endif %}
	      {% if formats.epub %}
	      <span><a href="{{formats.epub.url}}">EPUB</a> na czytnik</span>
	      {% endif %}
	      {% if formats.mobi %}
	      <span><a href="{{formats.mobi.url}}">MOBI</a> na Kindle</span>
	      {% endif %}
	      {% if formats.txt %}
	      <span><a href="{{formats.txt.url}}">TXT</a> do zadań specjalnych</span>
	      {% endif %}
            </div>
        </li>
        <li class="book-box-audiobook">
        {% if related.media.mp3 or related.media.ogg %}
            <a href="{% url book_player book.slug %}" class="open-player mono downarrow">{% trans "Listen" %}</a>
        {% endif %}
        </li>
    </ul>
    {% block box-append %}
    {% endblock %}
</div>
</div>
