{% extends "base.html" %}
{% load catalogue_tags pagination_tags %}

{% block title %}Lektura {{ book.title }} w WolneLektury.pl{% endblock %}

{% block bodyid %}book-detail{% endblock %}

{% block body %}
    <h1>{{ book.title }}, {{ categories.author|join:", " }}</h1>
    <form action="{% url search %}" method="get" accept-charset="utf-8" id="search-form">
        <p>{{ form.q }} <input type="submit" value="Szukaj" /> <strong>lub</strong> <a href="{% url main_page %}">wróć do strony głównej</a></p>
    </form>
    
    <div id="books-list">
        {% if book.has_description %}
            <div id="description">
                {{ book.description|safe }}
            </div>
            <div id="toggle-description"><p>Zwiń opis ▲</p></div>
        {% endif %}
        <div id="formats">
            <ul>
            {% if book.html_file %}
                <li><a href="{% url book_text book.slug %}">Czytaj online</a></li>
            {% endif %}
            {% if book.pdf_file %}
                <li><a href="{{ book.pdf_file.url }}">Pobierz plik PDF</a></li>
            {% endif %}
            {% if book.odt_file %}
                <li><a href="{{ book.odt_file.url }}">Pobierz plik ODT</a></li>
            {% endif %}
            {% if book.txt_file %}
                <li><a href="{{ book.txt_file.url }}">Pobierz plik TXT</a></li>
            {% endif %}
            </ul>
        </div>
    
        {% if book_children %}
        {% autopaginate book_children 10 %}
        <div id="book-children">
            <ol>
            {% for book in book_children %}
                <li>{{ book.short_html }}</li>
            {% endfor %}
            </ol>
        </div>
        {% paginate %}
        {% endif %}
    
    </div>
        
    <div id="tags-list">
        <div id="book-info">
            <h2>O utworze</h2>
            <ul>
                <li>
                    Autor: 
                    {% for tag in categories.author %}
                    <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
                    {% endfor %}
                </li>
                <li>
                    Epoka:
                    {% for tag in categories.epoch %}
                    <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
                    {% endfor %}
                </li>
                <li>
                    Rodzaj:
                    {% for tag in categories.kind %}
                    <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
                    {% endfor %}
                </li>
                <li>
                    Gatunek:
                    {% for tag in categories.genre %}
                    <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>
        <div id="themes-list">
            {% if categories.theme %}
                <h2>Motywy w utworze</h2>
                <ul>
                {% for theme in categories.theme %}
                    <li><a href="{{ theme.get_absolute_url }}">{{ theme }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="clearboth"></div>
    </div>
    <div id="set-window">
        <div class="header"><a href="#" class="jqmClose">Zamknij</a></div>
        <div class="target">
            <p><img src="/media/img/indicator.gif" alt="*"/> Ładowanie</p>
        </div>
    </div>
{% endblock %}