{% load i18n %}
{% load chunks compressed catalogue_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}WolneLektury.pl{% endblock %}</title>
        <link rel="icon" href="{{ STATIC_URL }}img/favicon.png" type="image/x-icon" />
        {% compressed_css "book" %}
        {% compressed_js "jquery" %}
        {% compressed_js "book" %}
        <!--[if IE]>
            {% compressed_js "book_ie" %}
        <![endif]-->

    </head>
    <body>
        <div id="menu">
            <ul>
                <li><a href="#toc">{% trans "Table of contents" %}</a></li>
                <li><a href="#themes">{% trans "Themes" %}</a></li>
                <li><a href="#nota_red">{% trans "Edit. note" %}</a></li>
                <li><a href="#info">{% trans "Infobox" %}</a></li>
            </ul>
        </div>
        <div id="info">
            <p>
                {% if book.get_extra_info_value.license %}
                    {% trans "This work is licensed under:" %}
                    <a href="{{ book.get_extra_info_value.license }}">{{ book.get_extra_info_value.license_description }}</a>
                {% else %}
                    {% blocktrans %}This work isn't covered by copyright and is part of the
                    public domain, which means it can be freely used, published and
                    distributed. If there are any additional copyrighted materials
                    provided with this work (such as annotations, motifs etc.), those
                    materials are licensed under the 
                    <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0</a>
                    license.{% endblocktrans %}
                {% endif %}
            </p>
    
            {% if book.get_extra_info_value.source_name %}
              <p>{% trans "Text prepared based on:" %} {{ book.get_extra_info_value.source_name }}</p>
            {% endif %}
    
            {% if book.get_extra_info_value.description %}
              <p>{{ book.get_extra_info_value.description }}</p>
            {% endif %}

            {% if book.get_extra_info_value.editor or book.get_extra_info_value.technical_editor %}
              <p>{% trans "Edited and annotated by:" %}
                  {% all_editors book.get_extra_info_value %}.</p>
            {% endif %}

        </div>
        <div id="header">
            <div id="logo">
                <a href="/"><img src="{{ STATIC_URL }}img/logo.png" alt="WolneLektury.pl - logo" /></a>
            </div>
        </div>
        <div id="themes">
            <ol>
                {% for theme, fragments in book_themes %}
                <li>{{ theme }}:
                    {% for fragment in fragments %}
                        <a href="#m{{ fragment.anchor }}">{{ forloop.counter }}</a>
                    {% endfor %}
                <li>
                {% endfor %}
            </ol>
        </div>
        {{ book.html_file.read|safe }}
        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-2576694-1");
        pageTracker._trackPageview();
        </script>
    </body>
</html>
