{% load i18n %}
{% load catalogue_tags %}
<div id="searchContainer">
    <form action="{% url search %}" method="get" accept-charset="utf-8" id="search-form">
    <ul class="facelist-selections" style="float:left;">
        {% for tag in tag_list %}
        <li class="facelist-selection-item">
	        <span style="margin-left: 5px;">
	        <a href="{% catalogue_url tag %}">{{ tag }}</a>
	        <a class="facelist-close" href="{% catalogue_url tag_list -tag %}">x</a>
	        </span>
	    </li>
        {% empty %}
            <li class="facelist-selection-item">
            </li>
        {% endfor %}
        {% if search_form %}
            <li>{{ search_form.q }} {{ search_form.tags }}</li>
        {% endif %}
    </ul>
    <input type="submit" value="{% trans "Search" %}" id="searchSubmit"/>
    </form>
</div>    
<div class="clearboth"></div>
