{% extends "catalogue/book_list.html" %}
{% load i18n %}

{% block bodyid %}book-a-list{% endblock %}

{% block title %}{% trans "Listing of all DAISY files on WolneLektury.pl" %}{% endblock %}

{% block extrahead %}
    <link rel="alternate" type="application/atom+xml" title="{% trans "Latest DAISY audiobooks" %}" href="{% url audiobook_feed 'daisy' %}" />
    <link rel="alternate" type="application/atom+xml" title="{% trans "Latest audiobooks - all formats" %}" href="{% url audiobook_feed 'all' %}" />
{% endblock %}

{% block book_list_header %}{% trans "Listing of all DAISY files" %}{% endblock %}

{% block book_list_info %}
<p>{% blocktrans %}System DAISY to uznany na całym świecie format udostępniania książek
dostosowany do potrzeb osób słabowidzących, niewidomych oraz innych osób
mających trudności z czytaniem. Możecie z nich korzystać bezpłatnie i bez ograniczeń.{% endblocktrans %}</p>
{% endblock %}
