{% load catalogue_tags %}
{% if one_tag %}
    <p>Zobacz całą kategorię <a href="{% catalogue_url one_tag %}">{{ one_tag }}</a>.</p>
{% else %}
    <div class="shown-tags">
        <ul class="shown-tags">
            {% for tag in shown_tags %}
                <li><a href="{% catalogue_url choices tag %}">{{ tag }}&nbsp;({{ tag.count }})</a></li>
            {% endfor %}
        </ul>
        {% if some_tags_hidden %}
            <p><a href="#" class="show-all-tags">Zobacz więcej</a></p>
        {% endif %}
    </div>
    <ul class="all-tags">
        {% for tag in tags %}
            <li><a href="{% catalogue_url choices tag %}">{{ tag }}&nbsp;({{ tag.count }})</a></li>
        {% endfor %}      
    </ul>    
{% endif %}
