{% load i18n %}

<div class="cite {% if fragment.short_text %}fragment-with-short{% endif %}">
	{% if fragment.short_text %}
	<div class="fragment-short-text">
    	<blockquote class="cite-body">
			<a href="{{ fragment.get_absolute_url }}" class="fragment">
		    	{{ fragment.short_text|safe }}
			</a>
	    </blockquote>
		<a href="#" class="toggle mono">↓ {% trans "Expand fragment" %} ↓</a>
    </div>
    {% endif %}
	<div class="fragment-long-text" {% if fragment.short_text %}style="display:none;"{% endif %}>
    <blockquote class="cite-body fragment-text">
		<a href="{{ fragment.get_absolute_url }}" class="fragment">
        {{ fragment.text|safe }}
		</a>
    </blockquote>
		{% if fragment.short_text %}
		<a href="#" class="toggle mono">↑ {% trans "Hide fragment" %} ↑</a>
		{% endif %}
    </div>
<p class="mono source">{{ fragment.book.pretty_title }}</p>
</div>





{% comment %}
{% load catalogue_tags %}
<div class="fragment">
    {% if fragment.short_text %}
    <div class='fragment-short-text'>
        {{ fragment.short_text|safe }}
        <a href="#">↓ {% trans "Expand fragment" %} ↓</a>
    </div>
    {% endif %}
    <div class="fragment-text" {% if fragment.short_text %}style="display:none;"{% endif %}>
        {{ fragment.text|safe }}
        {% if fragment.short_text %}
            <a href="#">↑ {% trans "Hide fragment" %} ↑</a>
        {% endif %}
    </div>
    <div class="fragment-metadata">
        <p>{% book_title_html fragment.book %}
           <a href="{{ fragment.get_absolute_url }}">({% trans "See in a book" %})</a></p>
    </div>
    <div class="clearboth"></div>
</div>
{% endcomment %}
