{% load i18n %}
{% load catalogue_tags %}
<div class="fragment">
    {% if fragment.short_text %}
    <div class='fragment-short-text'>
        {{ fragment.short_text|safe }}
        <a href="#">↓ {% trans "Expand fragment" %} ↓</a>
    </div>
    {% endif %}
    <div class="fragment-text" {% if fragment.short_text %}style="display:none;"{% endif %}>
        {{ fragment.text|safe }}
        {% if fragment.short_text %}
            <a href="#">↑ {% trans "Hide fragment" %} ↑</a>
        {% endif %}
    </div>
    <div class="fragment-metadata">
        <p>{% book_title_html fragment.book %}
           <a href="{{ fragment.get_absolute_url }}">({% trans "See in a book" %})</a></p>
    </div>
    <div class="clearboth"></div>
</div>
