{% extends "base.html" %}
{% load catalogue_tags chunks cache %}

{% block bodyid %}main-page{% endblock %}

{% block body %}
    <div id="site-description">
        {% chunk "site-description" %}
    </div>
    <div class="clearboth"></div>
    <form action="{% url search %}" method="get" accept-charset="utf-8" id="search-form">
        <p>{{ form.q }} {{ form.tags }} <input type="submit" value="Szukaj" /> <strong>lub</strong> <a href="{% url catalogue.views.book_list %}">zobacz spis utworów</a> w naszym zbiorze</p>
    </form>
    
    <div id="intro">
        <p id="tags-description">↓ Przeglądaj lektury według wybranych kategorii i motywów literackich ↓</p>
        <div id="propaganda">
            <h2>Twoje półki z lekturami</h2>
            {% if user.is_authenticated %}
                {% if shelves %}
                <ul class="shelf-list">
                {% for shelf in shelves %}
                    <li><a href="{% url delete_shelf shelf.slug %}" class="delete-shelf">usuń</a> <a href="{{ shelf.get_absolute_url }}" class="visit-shelf">{{ shelf.name }}</a></li>
                {% endfor %}
                </ul>
                {% else %}
                <p>Nie posiadasz żadnych półek. Jeśli chcesz, możesz utworzyć półkę poniżej.</p>
                {% endif %}
                <hr />
                <form action="{% url catalogue.views.new_set %}" method="post" accept-charset="utf-8" class="cuteform">
                <ol>
                    <li>{{ new_set_form.name }} <input type="submit" value="Utwórz półkę"/></li>
                </ol>
                </form>
            {% else %}
                <p>Stwórz własny zestaw lektur. Możesz się nim później podzielić z innymi, przesyłając im link do Twojej półki.</p>
                <p>Aby zarządzać swoimi półkami, musisz się <a class="login-register-link" href="#">zalogować</a>.</p>
            {% endif %}
        </div>
        <div id="tags-list">
            <div id="categories-list">
                {% if categories.author %}
                    <h2>Autorzy</h2>
                    {% folded_tag_list categories.author %}
                {% endif %}
            
                {% if categories.epoch %}
                    <h2>Epoki</h2>
                    {% folded_tag_list categories.epoch %}
                {% endif %}
            
                {% if categories.kind %}
                    <h2>Rodzaje</h2>
                    {% folded_tag_list categories.kind %}
                {% endif %}
            
                {% if categories.genre %}
                    <h2>Gatunki literackie</h2>
                    {% folded_tag_list categories.genre %}
                {% endif %}
            </div>
            <div id="themes-list">
                {% if fragment_tags %}
                    <h2>Motywy</h2>
                    {% folded_tag_list fragment_tags %}
                {% endif %}
            </div>
            <div class="clearboth"></div>
        </div>
    </div>
    <div class="clearboth"></div>
    
    <div id="site-info">
        <div id="latest-blog-posts">
            <h2>Aktualności</h2>
            {% cache 1800 latest-blog-posts %}
            {% latest_blog_posts "http://wolnepodreczniki.pl/feed/?s=Wolne%20Lektury" %}
            {% endcache %}
        </div>
        <div id="you-can-help">
            <h2>Możesz nam pomóc!</h2>
            <p>Utwory włączane sukcesywnie do naszej biblioteki staramy się opracowywać jak najdokładniej. Jest to możliwe tylko dzięki współpracującym z nami wolontariuszom.</p>
            <p>Zapraszamy wszystkie osoby, które chcą współtworzyć szkolną bibliotekę internetową Wolne Lektury.</p>
        </div>
        <div id="about-us">
            <h2>O projekcie</h2>
            <p>Biblioteka internetowa z lekturami szkolnymi „Wolne Lektury” (<a href="http://wolnelektury.pl">www.wolnelektury.pl</a>) to projekt realizowany przez Fundację Nowoczesna Polska. Działa od 2007 roku i udostępnia w swoich zbiorach lektury szkolne, które są zalecane do użytku przez Ministerstwo Edukacji Narodowej i które trafiły już do domeny publicznej.</p>
        </div>
    </div>
{% endblock %}
