{% extends "base.html" %}
{% load i18n %}
{% load search_tags pagination_tags %}

{% block titleextra %}{% trans "Search" %}{% endblock %}

{% block bodyid %}tagged-object-list{% endblock %}

{% block body %}
    {% if did_you_mean %}
      <span class="did_you_mean">{% trans "Dod you mean" %} <a href="{% url search %}?q={{did_you_mean|urlencode}}">{{did_you_mean|lower}}</a></b>?</span>
    {% endif %}
    <!-- tu pójdą trafienia w tagi: Autorzy - z description oraz motywy i rodzaje (z book_count) -->

    <div id="results">
      {% for result in results %}
        {% book_searched result %}
      {% endfor %}
    </div>



{% endblock %}
