{% extends "base.html" %}
{% load i18n %}
{% load catalogue_tags pagination_tags %}

{% block title %}{% trans "Search in WolneLektury.pl" %}{% endblock %}

{% block bodyid %}tagged-object-list{% endblock %}

{% block body %}
    <h1>{% title_from_tags tags %}</h1>
    {% breadcrumbs tags %}
    
    <div id="books-list">
        <p>{% trans "Sorry! Search cirteria did not match any resources." %}</p>
		
		<p>{% blocktrans %}Search engine supports following criteria: title, author, theme/topic, epoch, kind and genre.
		As for now we do not support full text search.{% endblocktrans %}</p>
        {% include "info/join_us.html" %}
    </div>

    <div id="set-window">
        <div class="header"><a href="#" class="jqmClose">{% trans "Close" %}</a></div>
        <div class="target">
            <p><img src="{{ STATIC_URL }}img/indicator.gif" alt="*"/> {% trans "Loading" %}</p>
        </div>
    </div>
{% endblock %}