{% extends "base.html" %}
{% load i18n %}
{% load catalogue_tags pagination_tags %}

{% block titleextra %}{% trans "Search" %}{% endblock %}

{% block bodyid %}tagged-object-list{% endblock %}

{% block body %}
    <h1>{% trans "Search" %}</h1>

    <div id="books-list">
        <p>{% trans "More than one result matching the criteria found." %}</p>
        <ul class='matches'>
        {% for match, link, type in results %}
          <li>{% trans type %}: <a href='{{ link }}'>
            {% ifequal type "book" %}
                {% book_title match %}
            {% else %}
                {{ match.name }}
            {% endifequal %}
          </a></li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}