{% extends "base.html" %}
{% load i18n %}
{% load catalogue_tags pagination_tags %}

{% block title %}{% title_from_tags tags %} w WolneLektury.pl{% endblock %}

{% block bodyid %}tagged-object-list{% endblock %}

{% block body %}
    <h1>{% title_from_tags tags %}</h1>
    {% breadcrumbs tags %}
    
    {% if shelf_is_set and not object_list %}
    <div id="books-list">
        <h2>{% trans "Your shelf is empty" %}</h2>
        <p>{% trans "You can put a book on a shelf by entering page of the reading and clicking 'Put on the shelf'." %}</p>
    </div>
    {% else %}
    {% autopaginate object_list 10 %}
    <div id="books-list">
        {% with tags|last as last_tag %}
        {% if last_tag.has_description %}
            <div id="description">
                {{ last_tag.description|safe }}
            </div>
            <div class="clearboth"></div>
            <div id="toggle-description"><p>{% trans "Hide description" %} ▲</p></div>
        {% endif %}
        {% if shelf_is_set %}
            <a id="download-shelf" href="{% url download_shelf last_tag.slug %}">
                {% trans "Download all books from this shelf" %}
            </a>
            <div id="download-shelf-menu" style="display:none;">
                <form action="{% url download_shelf last_tag.slug %}" method="get" accept-charset="utf-8" id="download-formats-form" data-formats-feed="{% url shelf_book_formats last_tag.slug %}">
                    <p>{% trans "Choose books' formats which you want to download:" %}</p>
                    <li data-format="pdf"><label for="id_formats_2"><input type="checkbox" name="formats" value="pdf" id="id_formats_2" /> PDF</label> <em><strong>{% trans "for reading" %}</strong> {% trans "and printing using" %} <a href="http://get.adobe.com/reader/">Adobe Reader</a></em></li>
                    <li data-format="epub"><label for="id_formats_5"><input type="checkbox" name="formats" value="epub" id="id_formats_5" /> EPUB</label> </li>
                    <li data-format="odt"><label for="id_formats_3"><input type="checkbox" name="formats" value="odt" id="id_formats_3" /> ODT</label> <em><strong>{% trans "for reading" %}</strong> {% trans "and editing using" %} <a href="http://pl.openoffice.org/">OpenOffice.org</a></em></li>
                    <li data-format="txt"><label for="id_formats_4"><input type="checkbox" name="formats" value="txt" id="id_formats_4" /> TXT</label> <em><strong>{% trans "for reading" %}</strong> {% trans "on small displays, for example mobile phones" %}</em></li>
                    <li data-format="mp3"><label for="id_formats_0"><input type="checkbox" name="formats" value="mp3" id="id_formats_0" /> MP3</label> <em><strong>{% trans "for listening" %}</strong> {% trans "on favourite MP3 player" %}</em></li>
                    <li data-format="ogg"><label for="id_formats_1"><input type="checkbox" name="formats" value="ogg" id="id_formats_1" /> Ogg Vorbis</label> <em><strong>{% trans "for listening" %}</strong> &mdash; {% trans "open format" %} <a href="http://www.vorbis.com/">{% trans "Xiph.org Foundation" %}</a></em></li>
                    <li id="download-formats-form-submit-li"><label><input type="submit" name="submit" value="{% trans "Download" %}" id="download-formats-form-submit" disabled="disabled" />&nbsp;<img src="{{ STATIC_URL }}img/indicator.gif" /></label> <span id="updating-formats">{% trans "Updating list of books' formats on the shelf" %}</span><span id="formats-updated" style="display:none;">{% trans "or" %} <a href="#" id="download-formats-form-cancel">{% trans "cancel" %}</a></span></li>
                    <div class="clearboth"></div>
                </form>
            </div>
            {% if user_is_owner %}
            <div id="toggle-share-shelf"><p>{% trans "Share this shelf" %}</p></div>
            <div id="share-shelf">
                <p>{% trans "Copy this link and share it with other people to let them see your shelf." %}
                <input id="share-shelf-url" value='http://{{ request.META.HTTP_HOST }}{{ request.path }}' />
                </p>
            </div>
			{% endif %}
        {% endif %}
        {% if last_tag.gazeta_link %}
        <p><a href="{{ last_tag.gazeta_link }}">
            {% ifequal last_tag.category "author" %}
				{% trans "Read work's study of this author on Lektury.Gazeta.pl" %}
			{% endifequal %}
            {% ifequal last_tag.category "epoch" %}
				{% trans "Read study of epoch" %} {{ last_tag }} {% trans "on Lektury.Gazeta.pl" %}
			{% endifequal %}
        </a></p>
        {% endif %}
        {% if last_tag.wiki_link %}
        <p><a href="{{ last_tag.wiki_link }}">
            {% ifequal last_tag.category "author" %}
				{% trans "Read article about this author on Wikipedia" %}
			{% endifequal %}
            {% ifequal last_tag.category "epoch"  %}
				{% trans "Read article about epoch" %} {{ last_tag }} {% trans "on Wikipedia" %}
			{% endifequal %}
        </a></p>
        {% endif %}

        {% if object_list %}
            <ol>
            {% for book in object_list %}
                <li>
                    {% if user_is_owner %}
                        <a href="{% url remove_from_shelf last_tag.slug book.slug %}" class="remove-from-shelf">{% trans "Delete" %}</a>
                    {% endif %}
                    {{ book.short_html }}</li>
            {% endfor %}
            </ol>
        {% else %}
			{% if only_author %}
	            {% if last_tag.alive %}
					{% trans "This author's works are copyrighted." %}
				{% else %}{% comment %} Is dead {% endcomment %}
            	    {% if last_tag.in_pd %}
						<p>{% trans "This author's works are in public domain and will be published on Internet school library of Wolne Lektury soon." %}</p>		 
	                {% else %}
						{% comment %} Is dead, but not yet in public domain {% endcomment %}
    	                <div>
        	                <p>{% trans "This author's works will become part of public domain and will be allowed to be published without restrictions in" %}</p>
							{% include "catalogue/pd_counter.html" %}
                            <p>{% trans "Find out why Internet libraries can't publish this author's works." %}</p>
						</div>
	                {% endif %}
                {% endif %}
			{% else %}
			    {% trans "Sorry! Search cirteria did not match any resources." %}
			{% endif %}
            {% include "info/join_us.html" %}
        {% endif %}
        {% endwith %}
        {% paginate %}
    </div>
	{% if object_list %}
	{% comment %} If we didn't find anything there will be nothing on the right side as well {% endcomment %}
    <div id="tags-list">
        <div id="categories-list">
            {% if categories.author %}
                <h2>{% trans "Authors" %}</h2>
                {% tag_list categories.author tags %}
            {% endif %}
            {% if categories.kind %}
                <h2>{% trans "Kinds" %}</h2>
                {% tag_list categories.kind tags %}
            {% endif %}
            {% if categories.genre %}
                <h2>{% trans "Genres" %}</h2>
                {% tag_list categories.genre tags %}
            {% endif %}
            {% if categories.epoch %}
                <h2>{% trans "Epochs" %}</h2>
                {% tag_list categories.epoch tags %}
            {% endif %}        
        </div>
        <div id="themes-list">
            {% if categories.theme %}
                <h2>{% trans "Themes" %}</h2>
                {% tag_list categories.theme tags %}
            {% endif %}
        </div>
        <div class="clearboth"></div>
    </div>
	{% endif %}
    {% endif %}
    <div id="set-window">
        <div class="header"><a href="#" class="jqmClose">{% trans "Close" %}</a></div>
        <div class="target">
            <p><img src="{{ STATIC_URL }}img/indicator.gif" alt="*"/> {% trans "Loading" %}</p>
        </div>
    </div>
{% endblock %}