{% extends "base.html" %}
{% load catalogue_tags pagination_tags %}

{% block title %}{% title_from_tags tags %} w WolneLektury.pl{% endblock %}

{% block bodyid %}tagged-object-list{% endblock %}

{% block body %}
    <h1>{% title_from_tags tags %}</h1>
    {% breadcrumbs tags %}
    
    {% if shelf_is_set and not object_list %}
    <div id="books-list">
        <h2>Twoja półka jest pusta</h2>
        <p>Możesz wrzucić książkę na półkę, wchodząc na stronę danej lektury i klikając na przycisk „Na półkę!”.</p>
    </div>
    {% else %}
    {% autopaginate object_list 10 %}
    <div id="books-list">
        {% with tags|last as last_tag %}
        {% if last_tag.has_description %}
            <div id="description">
                {{ last_tag.description|safe }}
            </div>
            <div class="clearboth"></div>
            <div id="toggle-description"><p>Zwiń opis ▲</p></div>
        {% endif %}
        {% if shelf_is_set %}
            <a id="download-shelf" href="{% url download_shelf last_tag.slug %}">
                Pobierz wszystkie książki z tej półki
            </a>
        {% endif %}
        {% endwith %}
        <ol>
        {% for book in object_list %}
            <li>{{ book.short_html }}</li>
        {% endfor %}
        </ol>
        {% paginate %}
    </div>
    <div id="tags-list">
        <div id="categories-list">
            {% if categories.author %}
                <h2>Autorzy</h2>
                {% tag_list categories.author tags %}
            {% endif %}
            {% if categories.kind %}
                <h2>Rodzaje</h2>
                {% tag_list categories.kind tags %}
            {% endif %}
            {% if categories.genre %}
                <h2>Gatunki literackie</h2>
                {% tag_list categories.genre tags %}
            {% endif %}
            {% if categories.epoch %}
                <h2>Epoki</h2>
                {% tag_list categories.epoch tags %}
            {% endif %}        
        </div>
        <div id="themes-list">
            {% if categories.theme %}
                <h2>Motywy</h2>
                {% tag_list categories.theme tags %}
            {% endif %}
        </div>
        <div class="clearboth"></div>
    </div>
    {% endif %}
    <div id="set-window">
        <div class="header"><a href="#" class="jqmClose">Zamknij</a></div>
        <div class="target">
            <p><img src="/media/img/indicator.gif" alt="*"/> Ładowanie</p>
        </div>
    </div>
{% endblock %}