{% extends "base.html" %}
{% load i18n %}
{% load catalogue_tags switch_tag social_tags %}

{% block titleextra %}{% title_from_tags tags %}{% endblock %}

{% block bodyid %}tagged-object-list{% endblock %}

{% block body %}
    <div class="left-column">
    <div class="page-desc">
    <h1>{% title_from_tags tags %}</h1>

    {% with tags|last as last_tag %}
    {% if last_tag.has_description %}
        <div id="description">
            <div id='description-long'>{{ last_tag.description|safe }}</div>
            <div id='description-short'>{{ last_tag.description|safe|truncatewords_html:30 }}</div>
        </div>
        <div class="clearboth"></div>
        <div id="toggle-description"><p></p></div>
    {% endif %}


    <div class="inline-tag-lists">
    {% if categories.author %}
        <p><span class="mono">{% trans "Authors" %}:</span>
        {% inline_tag_list categories.author tags %}
        </p>
    {% endif %}
    {% if categories.kind %}
        <p><span class="mono">{% trans "Kinds" %}:</span>
        {% inline_tag_list categories.kind tags %}
        </p>
    {% endif %}
    {% if categories.genre %}
        <p><span class="mono">{% trans "Genres" %}:</span>
        {% inline_tag_list categories.genre tags %}
        </p>
    {% endif %}
    {% if categories.epoch %}
        <p><span class="mono">{% trans "Epochs" %}:</span>
        {% inline_tag_list categories.epoch tags %}
        </p>
    {% endif %}
    </div>

    {% if categories.theme %}
        <div class="hidden-box-wrapper">
            <p><a href="#" class="hidden-box-trigger theme-list-link" class="mono">
            	{% trans "Motifs and themes" %}</a></p>
            <div class="hidden-box">
                {% tag_list categories.theme tags %}
            </div>
        </div>
    {% endif %}

    </div>
    </div>


    <div class="right-column">
        {% cite_promo tags 1 %}

        <div class="see-also">
            {% if last_tag.gazeta_link or last_tag.wiki_link %}
            <h2 class='mono'>{% trans "See also" %}:</h2>
            <ul>
        {% if last_tag.gazeta_link %}
        <li><a href="{{ last_tag.gazeta_link }}">
            {% switch last_tag.category %}
                {% case "author" %}
                    {% trans "Read work's study of this author on Lektury.Gazeta.pl" %}
                {% case "epoch" %}
                    {% blocktrans %}Read study of epoch {{ last_tag }} on Lektury.Gazeta.pl{% endblocktrans %}
                {% case "kind" %}
                    {% blocktrans %}Read study of kind {{ last_tag }} on Lektury.Gazeta.pl{% endblocktrans %}
                {% case "genre" %}
                    {% blocktrans %}Read study of genre {{ last_tag }} on Lektury.Gazeta.pl{% endblocktrans %}
                {% else %}
                    {% trans "Read related study on Lektury.Gazeta.pl" %}
            {% endswitch %}
        </a></li>
        {% endif %}
        {% if last_tag.wiki_link %}
        <li><a href="{{ last_tag.wiki_link }}">
        	{% switch last_tag.category %}
			    {% case "author" %}
				    {% trans "Read article about this author on Wikipedia" %}
				{% case "epoch" %}
                    {% blocktrans %}Read article about epoch {{ last_tag }} on Wikipedia{% endblocktrans %}
				{% case "kind" %}
                    {% blocktrans %}Read article about kind {{ last_tag }} on Wikipedia{% endblocktrans %}
				{% case "genre" %}
                    {% blocktrans %}Read article about genre {{ last_tag }} on Wikipedia{% endblocktrans %}
				{% else %}
				    {% trans "Read related article on Wikipedia" %}
			{% endswitch %}
        </a></li>
        {% endif %}



            </ul>
            {% endif %}
        </div>

        <div class="download">
            {% comment %}
            <h2 class='mono'>{% trans "Download" %}:</h2>
            <ul>
                <li><a href="">wszystko</a></li>
                <li><a href="">część</a></li>
            </ul>
            {% endcomment %}
        </div>

    </div>

    <div class="clearboth"></div>




    <div id="books-list">
        {% if object_list %}
            {% work_list object_list %}
        {% else %}
            {% trans "Sorry! Search cirteria did not match any resources." %}
            {% include "info/join_us.html" %}
        {% endif %}
        {% endwith %}
    </div>
{% endblock %}
