{% extends "base.html" %}
{% load i18n %}

{% block titleextra %}{% trans 'Libraries directory' %}{% endblock %}


{% block body %}
    <h1>{% trans 'Libraries directory' %}: {{ catalog.name }}</h1>

    <div class="libraries-list">
        {% for library in catalog.libraries.all %}
        <div class="libraries-list-item">
            <div class="libraries-list-item-header"><a href="{{library.get_absolute_url}}">{{library.name}}</a></div>
            <div class="libraries-list-item-description">
                
                
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}