{% extends "base.html" %}
{% load i18n %}

{% block titleextra %}{% trans 'Libraries directory' %}{% endblock %}


{% block body %}
    <h1>{% trans 'Libraries directory' %}</h1>

    <div class="libraries-list">
        {% for library in libraries %}
        <div class="libraries-list-item">
            <div class="libraries-list-item-header"><a href="{{library.url}}">{{library.name}}</a></div>
            <div class="libraries-list-item-description">
                
                {% autoescape off %}{{library.description}}{% endautoescape%}
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}