{% load i18n %}
{% load time_tags %}
{% if offer %}
<a
    class="funding {{ add_class }}"
    style="background-size: {{ percentage|stringformat:'.2f' }}% 1px;"
    {% if link %}href="{{ offer.get_absolute_url }}"{% endif %}
    >
    {% if is_current %}
        {% trans "Support a book:" %}
    {% endif %}
    <em>{{ offer }}</em>
    <span style="float:right">
    <span style="display:inline-block;margin-right: 1.5em;">{% trans "missing" %}: <em>{{ missing }} zł</em></span>
    <span style="display:inline-block;margin-right: 1.5em;">{% trans "collected" %}: <em>{{ sum }} </em></span>
    {% if is_current %}
        <span style="display:inline-block;margin-right: 0em;">{% trans "until fundraiser end" %}:
            <strong class="countdown inline mono" data-until='{{ offer.end|date_to_utc:True|utc_for_js }}'></strong>
        </span>
    {% endif %}
    </span>
    <div style="clear:both"></div>
</a>
{% endif %}
