{% load i18n %}
{% load time_tags %}
{% if offer %}
{% spaceless %}
<div class="funding {{ add_class }}" data-offer-id="{{offer.id}}" style="">
    {% if closeable %}<a href="#" class="close">X</a>{% endif %}
    {% if link and is_current %}
        <div style="float:left; padding-right: .6em;">
            <a class="call honking" href="{% url 'funding_current' offer.slug %}">
                {% trans "Support!" %}</a>
            <div style="text-align: center; margin: auto;">
                <a href="{% url 'infopage' 'wesprzyj' %}">{% trans "Learn more" %}</a>
            </div>
        </div>
    {% endif %}
    <div class="description {% if link and is_current %}with-button{% endif %}"
        style="display: inline-block;">
    {% if link %}<a href="{% if is_current %}{% url 'funding_current' offer.slug %}{% else %}{{ offer.get_absolute_url }}{% endif %}">{% endif %}
    {% if show_title %}
        {% if is_current %}<strong style="margin-right: .6em;">{% trans "Help free the book!" %}</strong>{% endif %}
        <span class="funding-title{% if not is_current %}-strong{% endif %}">{{ offer }}</span>
    {% endif %}

    <div class="progress"
        style="text-align: center; background-size: {{ percentage|stringformat:'.2f' }}% 1px;"
    >
        {% if sum %}
            <span class="piece" style="float:left">{% trans "missing" %}: {{ missing }} zł</span>
        {% endif %}
        {% if not is_win %}
            <span class="piece" style="float: right">{% trans "collected" %}: {{ sum }} zł</span>
        {% endif %}
        {% if is_current %}
            <span class="piece" style="display:inline-block;margin-right: 0em;">{% trans "until fundraiser end" %}:
                <span class="countdown inline" data-until='{{ offer.end|date_to_utc:True|utc_for_js }}'></span>
            </span>
        {% endif %}

        <div style="clear: both"></div>
    </div>
    {% if link %}</a>{% endif %}
    </div>
    <div style="clear: both"></div>
</div>
{% if closeable %}
    <div class="funding-handle">{% trans "Help free the book!" %}</div>
{% endif %}
{% endspaceless %}
{% endif %}
