{% load i18n %}
{% load time_tags %}
{% if offer %}
<a
    class="funding {{ add_class }}"
    style="background-size: {{ percentage|stringformat:'.2f' }}% 1px;"
    {% if link %}href="{{ offer.get_absolute_url }}"{% endif %}
    >
    {% if is_current %}
        {% trans "Support a book:" %}
    {% endif %}
    <em>{{ offer }}</em>
    <span style="float:right">
    {% trans "collected" %}: <em>{{ offer.sum }} / {{ offer.target }} zł</em>
    {% if is_current %}
        <span style="margin-left: 2em;">{% trans "until fundraiser end" %}:
            <strong class="countdown inline" data-until='{{ offer.end|local_to_utc|utc_for_js }}'></strong>
        </span>
    {% endif %}
    </span>
    <div style="clear:both"></div>
</a>
{% endif %}
