{% load i18n %}

{% if offer.is_current %}
        <p>
            {% include "funding/snippets/any_remaining.html" %}
        </p>
{% else %}
    <p class="date">{% trans "Fundraiser span" %}: {{ offer.start }} – {{ offer.end }}</p>
    {% if offer.is_win %}
        <p>
            {% if offer.book %}
                {% blocktrans with bu=offer.book.get_absolute_url bt=offer.book %}The book
                <a href="{{ bu }}">{{ bt }}</a> has been already published.{% endblocktrans %}
            {% else %}
                {% if offer.redakcja_link %}
                    {% blocktrans with r=offer.redakcja_url %}You can follow
                    the work on the <a href="{{ r }}">Editorial Platform</a>.{% endblocktrans %}
                {% endif %}
            {% endif %}
        </p>
    {% endif %}

    {% if offer.remaining %}
        <p>{% include "funding/snippets/any_remaining.html" %}</p>
    {% endif %}
{% endif %}
