{% extends "base_simple.html" %}
{% load i18n %}
{% load fnp_share %}

{% block titleextra %}{% trans "Wyłącz powiadomienia" %}{% endblock %}

{% block body %}
  <h1>{% trans "Wyłącz powiadomienia" %}</h1>
  <div class="white-box normal-text">
    {% if view.object.notifications %}
      <p>
        {% blocktrans with e=view.object.email %}Czy na pewno chcesz wyłączyć powiadomienia dla adresu {{e}}?{% endblocktrans %}
      </p>
      <form method="post" action="">
        <button>{% trans "Wyłącz powiadomienia" %}</button>
      </form>
    {% else %}
      <p>
        {% blocktrans with e=view.object.email %}Powiadomienia dla adresu {{ e }} zostały wyłączone.{% endblocktrans %}
      </p>
    {% endif %}

    {% url 'funding_current' as current %}
    <p>
      {% blocktrans with current=current %}Wróć do <a href="{{ current }}">aktualnej zbiórki</a>.{% endblocktrans %}
    </p>
  </div>
{% endblock %}
