{% extends request.EXPERIMENTS.layout.value|yesno:"2022/base_simple.html,base/base.html" %}
{% load i18n %}
{% load fnp_share %}

{% block titleextra %}{% trans "Payment failed" %}{% endblock %}

{% block body %}
  <h1>{% trans "Payment failed" %}</h1>
  <div class="white-box normal-text">
    <p>{% trans "You're support has not been processed successfully." %}</p>
    {% url 'funding_current' as current %}
    <p>
      {% blocktrans with current=current %}Return to the <a href="{{current}}">current fundraiser</a> and try again or try to use a different payment method.{% endblocktrans %}
    </p>
  </div>
{% endblock %}
