{% extends "base_simple.html" %}
{% load i18n %}
{% load fnp_share %}

{% block titleextra %}{% trans "Płatność nie doszła do skutku" %}{% endblock %}

{% block body %}
  <h1>{% trans "Płatność nie doszła do skutku" %}</h1>
  <div class="white-box normal-text">
    <p>{% trans "Twoje wsparcie nie zostało zaksięgowane." %}</p>
    {% url 'funding_current' as current %}
    <p>
      {% blocktrans trimmed with current=current %}
        Wróć do <a href="{{ current }}">aktualnej zbiórki</a> i spróbuj ponownie lub
        użyj innej metody płatności.
      {% endblocktrans %}
    </p>
  </div>
{% endblock %}
