{% extends "base/base.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block titleextra %}{% trans "All fundraisers" %}{% endblock %}

{% block bodyid %}funding-offer-list{% endblock %}

{% block body %}
  <h1>{% trans "All fundraisers" %}</h1>

  {% autopaginate object_list 10 %}
  {% if page_obj.number == 1 %}
    <h2>{% trans "Current fundraiser:" %}</h2>
  {% endif %}

  {% for offer in object_list %}
    {% with is_win=offer.is_win is_current=offer.is_current %}
      {% if not is_current  and forloop.first and page_obj.number == 1 %}
        <p class="normal-text">{% trans "No fundraiser is currently running." %}</p>
        <h2>{% trans "Previous fundraisers:" %}</h2>
      {% endif %}

      {{ offer.list_bar }}

      <div class="white-box normal-text">
        {% if is_current %}
          <h3>{% trans "Help free the book!" %}</h3>
          {{ offer.description|safe }}
        {% endif %}
	{{ offer.status }}
	{{ offer.status_more }}
      </div>

      {% if is_current and not forloop.last %}
        <h2>{% trans "Previous fundraisers:" %}</h2>
      {% endif %}
    {% endwith %}
  {% endfor %}
  {% paginate %}
{% endblock %}
