{% extends "base_simple.html" %}
{% load i18n %}
{% load fnp_share %}
{% load polls_tags %}

{% block titleextra %}{% trans "Dziękujemy za Twoje wsparcie!" %}{% endblock %}

{% block body %}
  <h1>{% trans "Dziękujemy!" %}</h1>
  <div class="white-box normal-text">
    <a href='/info/wesprzyj-nas/' target="_blank" style='float:right;border:1px solid #ddd;padding: 1em;margin:0 0 1em 1em;background:#eee;'><img src='/media/chunks/attachment/poltora-procent.png' alt='1,5%' style='float:left;margin-right: 1em;margin-top:.2em;'>{% blocktrans trimmed %}
      Możesz też przekazać<br/>1,5% podatku na rozwój biblioteki.
    {% endblocktrans %} &rarr;</a>

    <p>{% trans "Dziękujemy za Twoje wsparcie!" %}</p>

    {% if offer.is_win %}
      <p>{% trans "Udało się zebrać pełną kwotę!" %}</p>
      <p>{% blocktrans trimmed with b=offer.title %}
        Wpłacone przez Ciebie pieniądze przeznaczymy na digitalizację, opracowanie
        i udostępnienie książki {{ b }} w bibliotece w wielu formatach.
      {% endblocktrans %}</p>
    {% else %}
      <p>{% blocktrans trimmed with b=offer.title %}
        Jeśli uda się zebrać pełną kwotę, wpłacone przez Ciebie pieniądze
        przeznaczymy na digitalizację, opracowanie i udostępnienie książki {{ b }}
        w bibliotece w wielu formatach.
      {% endblocktrans %}</p>
    {% endif %}

    <p>
      {% include "funding/snippets/any_remaining.html" %}
      <a href="{% url 'infopage' 'wesprzyj' %}">{% trans "Dowiedz się więcej" %}</a>.
    </p>

    {% url 'funding_current' offer.slug as current %}
    <p><a href="{{ current }}">{% trans "Wróć do aktualnej zbiórki." %}</a></p>


    <h3>{% trans "Powiedz swoim znajomym!" %}</h3>
    <p class="share">{% share current _("Wspieram Wolne Lektury") "big" %}</p>

    {% if offer.poll %}
      <h3>{% trans "Pomóż wybrać następną książkę, na którą będziemy zbierać pieniądze" %}</h3>
      {% poll offer.poll %}
    {% endif %}
  </div>
{% endblock %}
