{% extends "base_simple.html" %}
{% load i18n %}

{% block titleextra %}{% trans "Pozostałe środki" %}{% endblock %}

{% block body %}
  <h1>{% trans "Pozostałe środki" %}</h1>

  <div class="left-column normal-text">
    <p>
      {% blocktrans trimmed with r="http://redakcja.wolnelektury.pl/" %}
        Gdy nie udaje się zebrać pełnej kwoty potrzebnej do opublikowania książki,
        środki przekazujemy na redakcję <a href="{{ r }}">innych utworów
        oczekujących na publikację w serwisie</a>. Na ten cel przekazujemy również
        nadmiarowe środki ze zbiórek ukończonych sukcesem.
      {% endblocktrans %}

      <a href="{% url 'infopage' 'wesprzyj' %}">{% trans "Dowiedz się więcej" %}</a>.
    </p>

    <p>{% trans "W poniższej tabeli rejestrujemy wydatkowanie tych środków." %}</p>
  </div>

  <table class="normal-text wlfund">

    <tr>
      <td>{% trans "Data" %}:</td>
      <td>{% trans "Rozdysponowanie środków" %}:</td>
      <td>{% trans "Kwota" %}:</td>
      <td>{% trans "Bilans" %}:</td>
    </tr>

    {% for tag, entry in log %}
      {% if tag == 'spent' %}
        <tr class="funding-minus">
          <td class="oneline">{{ entry.timestamp }}</td>
          <td>
            {% trans "Pieniądze przeznaczone na opublikowanie książki" %}:
            <a href="{{ entry.book.get_absolute_url }}">{{ entry.book }}</a>
          </td>
          <td>-{{ entry.amount }}&nbsp;zł</td>
          <td>{{ entry.total }}&nbsp;zł</td>
        </tr>
      {% else %}
        <tr class="funding-plus">
          <td class="oneline">{{ entry.end }}</td>
          <td>
            {% trans "Pieniądze pozostałe ze zbiórki na" %}:
            <a href="{{ entry.get_absolute_url }}">{{ entry }}</a>
          </td>
          <td>+{{ entry.wlfund }}&nbsp;zł</td>
          <td>{{ entry.total }}&nbsp;zł</td>
        </tr>
      {% endif %}
    {% empty %}
      <tr>
        <td colspan="4" style="text-align:center; color: #888;">
          <em>{% trans "Nie ma jeszcze żadnych zakończonych zbiórek." %}</em>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
