{% extends "base_simple.html" %}
{% load i18n %}
{% load static from static %}


{% block settings %}
  {% load title %}

  {% if file_url %}
    {% trans "Plik jest gotowy do pobrania!" as title %}
  {% else %}
    {% if waiting %}
      {% trans "Plik jest generowany, proszę czekać." as title %}
    {% else %}
      {% trans "Coś poszło nie tak." as title %}
    {% endif %}
  {% endif %}

  {% title title %}
{% endblock %}


{% block extrahead %}
  {% if file_url %}
    <meta http-equiv="refresh" content="3; url={{ file_url }}" />
  {% else %}
    {% if waiting %}
      <noscript>
        <meta http-equiv="refresh" content="10" />
      </noscript>
    {% endif %}
  {% endif %}
{% endblock %}


{% block body %}
  {% if file_url %}
    <h1>{% trans "Plik jest gotowy do pobrania!" %}</h1>

    <div class="normal-text white-box">
      <p>
        {% blocktrans trimmed %}
          Twój plik jest gotowy!
          Jeśli pobieranie nie zacznie się w ciągu kilku sekund,
          skorzystaj z tego <a href="{{ file_url }}">bezpośredniego linku</a>.
        {% endblocktrans %}
      </p>
    </div>
  {% else %}
    {% if waiting %}
      <h1>
        {% trans "Plik jest generowany, proszę czekać." %}
      </h1>

      <div class="normal-text">
        <p>
          <img src="{% static "img/indicator.gif" %}" alt="{% trans 'Proszę czekać' %}"/>
          {% blocktrans with d=waiting.description %}Zamówiony plik to: <em>{{d}}</em>.{% endblocktrans %}
        </p>

        <p>
          {% blocktrans trimmed%}
            <strong>Uwaga:</strong> Generowanie pliku może trwać dłuższą chwilę.
            Poczekaj cierpliwie, albo dodaj tę stronę do zakładek i wróć później.
          {% endblocktrans %}
        </p>
      </div>
    {% else %}
      <h1>{% trans "Coś poszło nie tak." %}</h1>

      <div class="normal-text">
        {% url 'suggest' as s %}
        <p>
          {% blocktrans trimmed %}
            Wygląda na to, że coś poszło źle podczas generowania Twojego pliku.
            Spróbuj zamówić go jeszcze raz albo <a href="{{ s }}">napisz do nas</a>.
          {% endblocktrans %}
        </p>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}

{% block extrabody %}
  {% if waiting %}
  <script language="JavaScript">
    <!--
    (function($) {
        $(function(){

    function wait() {
        $.ajax({
            href: '',
            success: function(data) {
                if (data) {
                    location.reload();
                }
                else
                    setTimeout(wait, 10*1000);
            },
            error: function(xhr) {
                location.reload();
            }
        });
    }
    setTimeout(wait, 10*1000);

        });
    })(jQuery);
    //-->
  </script>
  {% endif %}
{% endblock %}
