{% extends "base/base.html" %}
{% load i18n %}
{% load static from static %}

{% block titleextra %}
  {% if file_url %}
    {% trans "The file is ready for download!" %}
  {% else %}
    {% if waiting %}
      {% trans "Your file is being prepared, please wait." %}
    {% else %}
      {% trans "Something went wrong." %}
    {% endif %}
  {% endif %}
{% endblock %}


{% block extrahead %}
  {% if file_url %}
    <meta http-equiv="refresh" content="3; url={{ file_url }}" />
  {% else %}
    {% if waiting %}
      <noscript>
        <meta http-equiv="refresh" content="10" />
      </noscript>
    {% endif %}
  {% endif %}
{% endblock %}


{% block body %}
  {% if file_url %}
    <h1>{% trans "The file is ready for download!" %}</h1>

    <div class="normal-text white-box">
      <p>
        {% blocktrans %}Your file is ready!
          If the download doesn't start in a few seconds,
          feel free to use this <a href="{{ file_url }}">direct link</a>.{% endblocktrans %}
      </p>
    </div>
  {% else %}
    {% if waiting %}
      <h1>
        <img src="{% static "img/indicator.gif" %}" alt="{% trans 'Please wait' %}"/>
        {% trans "Your file is being prepared, please wait." %}
      </h1>

      <div class="normal-text">
        <p>{% blocktrans with d=waiting.description %}The file you requested was: <em>{{d}}</em>.{% endblocktrans %}</p>

        <p>
          {% blocktrans %}<strong>Be aware:</strong> Generating the file can take a while.
            Please be patient, or bookmark this page and come back later.{% endblocktrans %}
        </p>
      </div>
    {% else %}
      <h1>{% trans "Something went wrong." %}</h1>

      <div class="normal-text">
        {% url 'suggest' as s %}
        <p>
          {% blocktrans %}Something seems to have gone wrong while generating your file.
            Please order it again or <a id='suggest' class='ajaxable' href="{{s}}">complain to us</a> about it.{% endblocktrans %}
        </p>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}

{% block extrabody %}
  {% if waiting %}
  <script language="JavaScript">
    <!--
    (function($) {
        $(function(){

    function wait() {
        $.ajax({
            href: '',
            success: function(data) {
                if (data) {
                    location.reload();
                }
                else
                    setTimeout(wait, 10*1000);
            },
            error: function(xhr) {
                location.reload();
            }
        });
    }
    setTimeout(wait, 10*1000);

        });
    })(jQuery);
    //-->
  </script>
  {% endif %}
{% endblock %}
