<!doctype html>
{% load cache %}
{% load pipeline %}
{% load static %}
{% load funding_tags %}
{% load piwik_tags %}
{% load title %}

{% block settings %}
{% endblock %}

<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <title>{% if title %}{{ title }} | {% endif %}WolneLektury.pl</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png"/>
    <link rel="search" type="application/opensearchdescription+xml" title="Wolne Lektury"
          href="{% static 'opensearch.xml' %}"/>
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    {% stylesheet '2022' %}
      {% tracking_code %}
      {% block extrahead %}{% endblock %}
  </head>
  <body>
    {% include '2022/header.html' %}

    {% block under-menu %}{% endblock %}

    {% if not funding_no_show_current %}
      <div class="l-container funding-promo-bar">
        {% cache 120 funding_top_bar LANGUAGE_CODE %}
          {% funding_top_bar_2022 %}
        {% endcache %}
      </div>
    {% endif %}

    {% block global-content %}
      <div class="l-container">
        <div class="l-breadcrumb">
          <a href="/"><span>Strona główna</span></a>
          {% block breadcrumbs %}<span>{{ title }}</span>{% endblock %}
        </div>
      </div>

      <main class="l-main">
        {% block main %}{% endblock %}
      </main>
    {% endblock %}

    <div class="l-main">
    <div class="l-change-pop">
      <h3>Zmieniamy się!</h3>
      <p>
        Jeżeli to czytasz jesteś jedną z osób, której prezentujemy nowy wygląd części stron.
        Będziemy bardzo! wdzięczni za Twoją opinię – <a href='/formularz/ux-strona-ksiazki-T1/' target="_blank">możesz nam ją przesłać tutaj</a>.
        Jeżeli wolisz klasyczny wygląd - wystarczy, że <a class="quit-experiment" href="#">klikniesz tutaj</a>
      </p>
    </div>
    </div>


    {% include '2022/footer.html' %}

    <script type="text/javascript">
      var LANGUAGE_CODE = "{{ LANGUAGE_CODE }}";
    </script>
    {% javascript '2022' %}
    {% javascript '2022_player' %}
    {% block extrabody %}{% endblock %}
    {% include '2022/hotjar.html' %}
    {% csrf_token %}
  </body>
</html>
