{% load static %}

<div class="l-footer">
  <div class="l-container">
    <div class="l-footer__row">
      <ul>
        <li><a href="https://fundacja.wolnelektury.pl">Fundacja Wolne Lektury</a></li>
        <li>ul. Marszałkowska 84/92 lok. 125</li>
        <li>00-514 Warszawa</li>
        <li>tel. <a href="tel:+48-22-621-30-17">+48 22 621 30 17</a></li>
        <li>email <a href="mailto:fundacja@wolnelektury.pl">fundacja@wolnelektury.pl</a></li>
      </ul>
      <ul>
        <li>NIP: 952-187-70-87</li>
        <li>KRS: 0000070056</li>
        <li>REGON: 017423865</li>
        <li>Numer konta: 75 1090 2851 0000 0001 4324 3317</li>
      </ul>
    </div>
    <div class="l-footer__row">
      <div>
        Wolne Lektury to projekt prowadzony przez fundację <a href="https://fundacja.wolnelektury.pl">Wolne Lektury</a>. <br>
      </div>
      <div>
        <a href="https://www.gov.pl/web/kultura"><img src="{% static '2022/images/MKiDN.png' %}" alt="MKiDN"></a>
      </div>
      <div>
        Strona biblioteki Wolne Lektury powstała dzięki dofinansowaniu ze środków Ministra <a href="https://www.gov.pl/web/kultura">Kultury i Dziedzictwa Narodowego</a>
        pochodzących z Funduszu Promocji Kultury – państwowego funduszu celowego.
      </div>
    </div>
  </div>
</div>
