{% load static %}

<div class="l-footer">
  <div class="l-container">
    <div class="l-footer__row">
      <a href="https://nowoczesnapolska.org.pl"><img src="{% static '2022/images/FNP-logo.png' %}" alt="FUNDACJA Nowoczesna Polska"></a>
      <ul>
        <li>ul. Marszałkowska 84/92 lok. 125</li>
        <li>00-514 Warszawa</li>
      </ul>
      <ul class="teal">
        <li>tel. <a href="tel:+48-22-621-30-17">+48 22 621 30 17</a></li>
        <li>email <a href="mailto:fundacja@nowoczesnapolska.org.pl">fundacja@nowoczesnapolska.org.pl</a></li>
      </ul>
    </div>
    <div class="l-footer__row">
      <div>
        Wolne Lektury to projekt prowadzony przez fundację <a href="https://nowoczesnapolska.org.pl">Nowoczesna Polska</a>. <br>
        Hosting: <a href="#">ICM</a>.
      </div>
      <div>
        <a href="https://www.gov.pl/web/kultura"><img src="{% static '2022/images/MKiDN.png' %}" alt="MKiDN"></a>
      </div>
      <div>
        Strona biblioteki Wolne Lektury powstała dzięki dofinansowaniu ze środków Ministra <a href="https://www.gov.pl/web/kultura">Kultury i Dziedzictwa Narodowego</a>
        pochodzących z Funduszu Promocji Kultury – państwowego funduszu celowego.
      </div>
    </div>
  </div>
</div>
