{% if errors %}
  {{ errors }}
  {% if not fields %}
  {% endif %}
{% endif %}
{% for field in hidden_fields %}{{ field }}{% endfor %}
{% for field, errors in fields %}
  <div class="l-checkout__form__row {% if field.field.required %}required {% endif %} {{ field.css_classes }}">
    <div class="l-checkout__input">
      {{ errors }}
      {% if field.label %}{{ field.label_tag }}{% endif %}
      {# <span>*</span> #}
      {{ field }}
      {# field.help_text|safe #}
    </div>
    <div class="l-checkout__input">
    </div>
  </div>
{% endfor %}
