{% extends "base.html" %}
{% load i18n %}
{% load catalogue_tags chunks %}

{% block bodyid %}document-list-body{% endblock %}

{% block titleextra %}{% trans "Hand-outs for teachers" %}{% endblock %}

{% block metadescription %}Scenariusze lekcji. Materiały dla nauczycieli na wolnej licencji.{% endblock %}

{% block extrahead %}
    <script type="text/javascript" charset="utf-8">
        $(function() {
            $("#document-list a").click(function(e){
                  e.preventDefault();
                  if($("#presentation-frame").length == 0){
                    $("<iframe id='presentation-frame' width='600' height='500' border='0' src=''>").appendTo($("#document-detail"));
                  }
                  $("#presentation-frame").attr("src", this.href);
                  $('#document-list li').css('background-color', 'white');
                  $('#document-list li a').css('background-color', 'white');
                  $(this).closest('li').css('background-color', '#EEEEEE');
                  $(this).css('background-color', '#EEEEEE');
                  $(this).next('a').css('background-color', '#EEEEEE');                                    
                  $('.download-doc').hide();
                  $(this).next('.download-doc').show();
            });
        });
    </script>
{% endblock extrahead %}
{% block body %}
    <h1>{% trans "Hand-outs for teachers" %}</h1>

    <div id="document-list">
        {% chunk "document-list" %}
    </div>
    <div id="document-detail">
    </div>
{% endblock %}
