{% extends "base_simple.html" %}

{% load i18n %}

{% block head_title %}{% trans "Logowanie anulowane" %}{% endblock %}

{% block body %}
  <div class="normal-text white-box">

    <h1>{% trans "Logowanie anulowane" %}</h1>

{% url 'socialaccount_login' as login_url %}
{{ login_url }}

    <p>{% blocktrans trimmed %}
      Logowanie przy pomocy zewnętrznego konta zostało anulowane.
      Jeśli to pomyłka, przejdź do <a href="{{login_url}}">strony logowania</a>.
    {% endblocktrans %}</p>
</div>

{% endblock %}
