.social-shelf-tags {
    list-style: none;
    padding: 0;
    margin: 1em 0;
    width: 30em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position:absolute;
    margin-left: 15.4em;
    top: 13.5em;
    padding: .5em 0;
    background: #fff;
}

.social-shelf-tags li {
    display: inline-block;
    margin-right:1em;
    margin-bottom: .5em;
}

.social-shelf-tags a {
    display: block;
    padding: .3em 1em;
    background: #ABDADE;
    color: #0b838d;
    border-radius: 1em;
}


.social-shelf-tags:hover {
    overflow: visible;
    text-overflow: ellipsis;
    white-space: normal;
    z-index: 1000;
}
