-i https://py.mdrn.pl/simple/

# django
Django==2.2.27
fnpdjango==0.4.5
docutils==0.16

django-pipeline==2.0.5
libsasscompiler==0.1.8
jsmin==2.2.2

fnp-django-pagination==2.2.3
django-modeltranslation==0.16.2
django-allauth==0.44
django-extensions==3.1.1
djangorestframework==3.12.4
djangorestframework-xml
django-admin-ordering==0.10.0
django-machina==1.0.2
django-countries==7.2.1

# A version compatible with Django 2.2, with long help text and editable max_length.
-e git+https://github.com/rczajka/django-forms-builder@8ec4022f2a185658b4b23c3d020e0d5c3cb88774#egg=django-forms-builder


oauthlib>=3.0.1,<3.1

# contact
pyyaml==5.4.1

polib==1.1.1

pytz==2021.1

django-honeypot==0.9.0

python-memcached==1.59
python-fb==0.2

Feedparser==6.0.2

Pillow==8.4.0
mutagen==1.45.1
sorl-thumbnail==12.7.0

# home-brewed & dependencies
librarian==2.3.5

# celery tasks
celery[redis]==4.4.7

# OAI-PMH
pyoai==2.5.0

scorched==0.12

django-getpaid==1.8.0
deprecated

httplib2

sentry-sdk==0.10.2

requests

paypalrestsdk

python-slugify

firebase-admin
Wikidata==0.7.0

