{% extends "2022/base.html" %}
{% load l10n %}

{% block global-content %}

  <div id="references-map"></div>

{% endblock %}


{% block extrabody %}
  <script>
   var map = L.map('references-map').setView([52, 20], 7);

   if (navigator.geolocation) {
       navigator.geolocation.getCurrentPosition(function(position) {
           map.setView(
               [position.coords.latitude, position.coords.longitude], 8,
               {
                   animate: true,
               }
           );
       });
   }

   L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
       attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
   }).addTo(map);
   var markers = L.markerClusterGroup();

   function showMarker(m) {
       $.get(
           '/mapa/popup/' + m.target.options.mid,
           function(data) {
               let p = L.popup({minWidth: 340}).setLatLng(m.latlng).setContent(data);
               map.openPopup(p);
           }
       );
   }


   {% localize off %}
   {% for e in entities %}
   L.marker(
       [{{ e.lat }}, {{ e.lon }}],
       {
           title: "{{ e.label }}",
           alt: "{{ e.label }}",
           mid: {{ e.pk }},
       }
   ).on('click', showMarker).addTo(markers);
   {% endfor %}
   {% endlocalize %}

   map.addLayer(markers);

  </script>
{% endblock %}


{% block footer %}
{% endblock %}
