#book-short {
    margin: 0;
    padding: 0;
    overflow: visible;
    max-width: 560px;

    .book-box .book-box-inner {
        border: none;
        box-shadow: none;
    }

    .book-box-read {
        opacity: .5;
    }

    .book-right-column {display: none;}
    .read-more-hide, .read-more-show {display: none;}
}
