<div class="row">
  <h2>O autorze</h2>
  <div>
    {% if author.photo %}
      <figure class="l-author__photo">
        <img src="{{ author.photo.url }}" alt="{{ author.name }}" style="width: 238px;">
        <figcaption>
          {{ author.photo_attribution|safe }}
        </figcaption>
      </figure>
    {% endif %}
    <article class="l-author__info">
      <h3><a href="{{ author.get_absolute_url }}">{{ author.name }}</a></h3>
      <div class="l-article__overlay" data-max-height="327">
        {{ author.description|safe }}
      </div>
      <button class="l-article__read-more" aria-label="Kliknij aby rozwinąć" data-label="Czytaj więcej" data-action="Zwiń tekst">Czytaj więcej</button>
    </article>
  </div>
</div>
