<article class="l-books__item">
  <figure class="l-books__item__img">
    <a href="{{ fragment.get_absolute_url }}">
      {% if fragment.book.cover_clean %}
        <img src="{{ fragment.book.cover_clean.url }}" alt="{{ fragment.book.title }}">
      {% endif %}
    </a>
    <div class="l-books__item__actions">
      <a href="{{ fragment.book.get_absolute_url }}" class="icon icon-book-alt"></a>
      {% if fragment.book.has_mp3_file %}
        <a href="{{ fragment.book.get_absolute_url }}" class="icon icon-audio"></a>
      {% endif %}
    </div>
  </figure>
  <div class="l-books__item__content">
    <h3>
      {% for author in fragment.book.authors %}
        <a href="{{ author.get_absolute_url }}">{{ author }}</a>{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </h3>
    <h2><a href="{{ fragment.book.get_absolute_url }}">{{ fragment.book.title }}</a></h2>
    <div class="fragment-text">
      {{ fragment.short_text|safe }}
    </div>
    <a href="{{ fragment.get_absolute_url }}">Czytaj więcej</a>
  </div>
</article>
