{% extends "base.html" %}
{% load chunks %}

{% block title %}O projekcie WolneLektury.pl{% endblock %}

{% block body %}
    <h1>O projekcie Wolne Lektury</h1>
    <form action="{% url search %}" method="GET" accept-charset="utf-8" id="search-form">
        <p>{{ form.q }} <input type="submit" value="Szukaj" /> <strong>lub</strong> <a href="{% url main_page %}">wróć do strony głównej</a></p>
    </form>

    <div class="column-left">
        {% chunk "about_us_left" %}
    </div>
    <div class="column-right">
        {% chunk "about_us_right" %}
    </div>
{% endblock %}
