{% extends "base.html" %}
{% load i18n %}
{% load chunks %}

{% block title %}{{ object.page_title }}{% endblock %}

{% block metadescription %}{{ object.left_column|striptags|truncatewords:10 }}{% endblock %}

{% block body %}
    <h1>{{ object.title }}</h1>
    <form action="{% url search %}" method="get" accept-charset="utf-8" id="search-form">
        <p>{{ form.q }} <input type="submit" value="{% trans "Search" %}" /> <strong>{%trans "or" %}</strong> <a href="{% url main_page %}">{% trans "return to the main page" %}</a></p>
    </form>

    {% autoescape off %}
    <div class="column-left">
    	{{ object.left_column }}
    </div>
    <div class="column-right">
    	{{ object.right_column }}
    </div>
	{% endautoescape %}
{% endblock %}
