{% load i18n %}
<p>{% blocktrans %}We have over 1200 works published in Wolne Lektury!
Help us expand the library and set new readings free by
making a donation or transferring 1% of your income tax.{% endblocktrans %}
{% comment %}<a href='{}'>{% trans "More..." %}</a>{% endcomment %}</p>

<p>{% blocktrans %}Become an editor of Wolne Lektury! Find out if
we're currently working on a reading you're looking for and prepare
a publication by yourself by logging into the Editorial Platform.{% endblocktrans %}
<a href='{% url help_us %}'>{% trans "More..." %}</a></p>
