{% load i18n %}
{% load reporting_stats %}

{% count_books_nonempty book_count %}
<p>
{% blocktrans count book_count as c %}
We have {{c}} work published in Wolne Lektury!
Help us expand the library and set new readings free by
<a href="http://nowoczesnapolska.org.pl/wesprzyj_nas/">making a donation
or transferring 1&#37; of your income tax</a>.
{% plural %}
We have {{c}} works published in Wolne Lektury!
Help us expand the library and set new readings free by
<a href="http://nowoczesnapolska.org.pl/wesprzyj_nas/">making a donation
or transferring 1&#37; of your income tax</a>.
{% endblocktrans %}
{% comment %}<a href='{}'>{% trans "More..." %}</a>{% endcomment %}</p>

<p>{% blocktrans %}Become an editor of Wolne Lektury! Find out if
we're currently working on a reading you're looking for and prepare
a publication by yourself by logging into the Editorial Platform.{% endblocktrans %}
<a href='{% url help_us %}'>{% trans "More..." %}</a></p>
