{% extends "base.html" %}

{% block title %}Wolontariat dla wiedzy w WolneLektury.pl{% endblock %}

{% block body %}
    <h1>Wolontariat dla wiedzy</h1>
    <form action="{% url search %}" method="GET" accept-charset="utf-8" id="search-form">
        <p>{{ form.q }} <input type="submit" value="Szukaj" /> <strong>lub</strong> <a href="{% url main_page %}">wróć do strony głównej</a></p>
    </form>

    <div id="volontariat" class="column-left">
    <h2>Wolontariat</h2>
	<p>
		Biogramy pisarzy oraz definicje epok i gatunków literackich w
		bibliotece internetowej Wolne Lektury napisali uczniowie
		czterech szkół podczas warsztatów „Wolontariat dla wiedzy”.
	</p>

	<p>
		Uczniowie pracowali wspólnie pod merytorycznym nadzorem
		nauczycieli i specjalistów – literaturoznawców na
		<a href="http://wolnepodreczniki.pl/wolontariat/">
			platformie internetowej wiki</a>
		przygotowanej przez zespół
		<a href="http://2ia.pl/">2ia</a>. Praca nad notami była jednocześnie nauką wykorzystywania
		komputerów i internetu do wyszukiwania informacji, a także
		weryfikowania ich wiarygodności.
	</p>

	<p>
		Projekt "Wolontariat dla wiedzy" został zrealizowany dzięki
		wsparciu
		<a href="http://www.menis.gov.pl/">
			Ministerstwa Edukacji Narodowej</a>. Nagrody dla uczniów ufundowali
		<a href="http://www.nk.com.pl/engine/index.php?page=glowna">
			Wydawnictwo Nasza Księgarnia</a>
		i
		<a href="http://helion.pl/">Wydawnictwo Helion</a>. Noty zweryfikowano w serwisie
		<a href="http://www.plagiat.pl/webplagiat/main.action">
			Plagiat.pl</a>.
	</p>

	<p>
		<a href="{{ STATIC_URL }}wolontariat.pdf">Raport z realizacji projektu „Wolontariat dla wiedzy"</a>.
	</p>
	<p>
	<img src="{{ STATIC_URL }}img/wolontariat/okladka.jpg" style='margin: 10px' />
	<img src="{{ STATIC_URL }}img/wolontariat/01.jpg" style='margin: 10px' />
	<img src="{{ STATIC_URL }}img/wolontariat/02.jpg" style='margin: 10px' />
    <img src="{{ STATIC_URL }}img/wolontariat/03.jpg" style='margin: 10px' />
    <img src="{{ STATIC_URL }}img/wolontariat/04.jpg" style='margin: 10px' />
	</p>
	
    </div>
    
    
    <div class="column-right">
	<h2>Autorzy</h2>

	<ol>
		<li>
			<p>
				Gimnazjum nr 40 z Oddziałami Integracyjnymi w Zespole
				Szkół nr 69 im. Armii Krajowej Grupy Bojowej „KRYBAR”,
				ul. Drewniana 8, 00-345 Warszawa; klasa druga pod opieką
				Anny Budziarek-Friedrich:
			</p>

			<ul>
				<li>Burdon Filip;</li>
				<li>Dębski Bartek;</li>
				<li>Jackowicz Kamil;</li>
				<li>Kurek Paweł;</li>
				<li>Makles Bartosz;</li>
				<li>Markiewicz Jeremiasz;</li>
				<li>Migdał Katarzyna;</li>
				<li>Mioduszewski Michał;</li>
				<li>Pfeiffer Ida;</li>
				<li>Płaskowicka Karolina;</li>
				<li>Sailer Ewa.</li>
			</ul>
		</li>

		<li>
			<p>
				XXXIII Liceum Ogólnokształcące im. Mikołaja Kopernika,
				ul. Bema 76, 01-225 Warszawa; klasa pierwsza o profilu
				biologiczno-chemicznym pod opieką Elżbiety Konkowskiej:
			</p>

			<ul>
				<li>Chwil Bartłomiej;</li>
				<li>Czarnecka Natalia;</li>
				<li>Gawrońska Iga;</li>
				<li>Grabarczyk Marta;</li>
				<li>Jastrząb Katarzyna;</li>
				<li>Krawczak Olga;</li>
				<li>Krawczyk Marianna;</li>
				<li>Kur Natalia;</li>
				<li>Kwiatek Marta;</li>
				<li>Laśkiewicz Joanna;</li>
				<li>Machczyńska Daria;</li>
				<li>Miecznikowska Izabela;</li>
				<li>Moczulska Karolina;</li>
				<li>Mościcka Aneta;</li>
				<li>Narloch Sabina;</li>
				<li>Przybysz Paweł;</li>
				<li>Puchta Marek;</li>
				<li>Ryska Cezary;</li>
				<li>Sandomierski Bartłomiej;</li>
				<li>Sławiński Tomasz;</li>
				<li>Słowik Olga;</li>
				<li>Starzycka Katarzyna;</li>
				<li>Strzelczak Karolina;</li>
				<li>Szafran Danuta;</li>
				<li>Szmigielska Magdalena;</li>
				<li>Szulkowska Alicja;</li>
				<li>Ślusarczyk Anna;</li>
				<li>Tytkowska Anna.</li>
			</ul>
			<li>
				<p>
					Autorskie Niepubliczne Liceum Ogólnokształcące nr
					42, ul. Iwicka 47 B, 00-735 Warszawa; klasa pierwsza
					o profilu ogólnym pod opieką Michała Friedricha:
				</p>

				<ul>
					<li>Baraniecka Marta;</li>
					<li>Gołaszewska Ewa;</li>
					<li>Kwiatkowski Michał;</li>
					<li>Machnikowska Monika;</li>
					<li>Pietrzak Bartosz;</li>
					<li>Przespolewski Przemysław;</li>
					<li>Rosińska Zuzanna;</li>
					<li>Sibiga Magdalena.</li>
				</ul>
			</li>
			<li>
				<p>
					LXIV Liceum Ogólnokształcące im. St. I. Witkiewicza,
					ul. Elbląska 51, 01-737 Warszawa; klasa pierwsza o
					profilu ogólnym pod opieką Daniela Zycha:
				</p>

				<ul>
					<li>Andrzejczak Kamil;</li>
					<li>Czubaj Konrad;</li>
					<li>Drągowska Katarzyna;</li>
					<li>Gajewska Magdalena;</li>
					<li>Głowacki Jan;</li>
					<li>Grad Paweł;</li>
					<li>Hnatowski Bartek;</li>
					<li>Karwowski Marcin;</li>
					<li>Kłos Aneta;</li>
					<li>Kozieł Barbara;</li>
					<li>Kozłowska Anna;</li>
					<li>Krug Pamela;</li>
					<li>Krzosek Jakub;</li>
					<li>Lubaś Michał;</li>
					<li>Masewicz Natalia;</li>
					<li>Mastalerz Agnieszka;</li>
					<li>Modelska Marta;</li>
					<li>Nowak Aleksandra;</li>
					<li>Pabian Agnieszka;</li>
					<li>Paszkowska Aleksandra;</li>
					<li>Pielat Zofia;</li>
					<li>Poniecka Agnieszka;</li>
					<li>Pytlak Urszula;</li>
					<li>Rosa Karolina;</li>
					<li>Smyczyńska Kamila;</li>
					<li>Stolińska Barbara;</li>
					<li>Szymańska Katarzyna;</li>
					<li>Ścibior Ewa;</li>
					<li>Witczak Magda;</li>
					<li>Witkowska Justyna;</li>
					<li>Wyrzykowska Jowita;</li>
					<li>Ziółkowska Adrianna.</li>
				</ul>
			</li>
	  </li>
	  </ol>
	  </div>
{% endblock %}

