{% extends "base.html" %}

{% block title %}Wolontariat dla wiedzy w WolneLektury.pl{% endblock %}

{% block body %}
    <h1>Możesz nam pomóc</h1>
    <form action="{% url search %}" method="GET" accept-charset="utf-8" id="search-form">
        <p>{{ form.q }} <input type="submit" value="Szukaj" /> <strong>lub</strong> <a href="{% url main_page %}">wróć do strony głównej</a></p>
    </form>

    <div class="column-left">
        <h2>Wolontariat</h2>

        <p>Utwory włączane sukcesywnie do naszej biblioteki staramy się opracowywać jak najdokładniej. Jest to możliwe
        tylko dzięki współpracującym z nami wolontariuszom.</p>
        
        <p>Zapraszamy wszystkie osoby, które chcą współtworzyć szkolną bibliotekę internetową Wolne Lektury.</p>
        
        <p>Wszystkim wolontariuszom oferujemy szkolenia i praktykę w zakresie edycji tekstów: redakcji technicznej i
        merytorycznej. Wolontariusze mogą poznać problemy, ale i możliwości, jakie wiążą się z publikacjami internetowymi.
        Współorganizują z nami szkolenia i konferencje, pomagają w przygotowaniu wersji tekstów do słuchania (tzw.
        audiobooków). Wystawiamy umowy i zaświadczenia o tym, kiedy i jakie prace wykonywał wolontariusz na rzecz naszej
        fundacji. Szkolenia, praktyka edytorska i potwierdzające je zaświadczenia mogą się okazać istotne w procesie
        podnoszenia kwalifikacji i awansu zawodowego.</p>
        
        <h2>Co jest do zrobienia?</h2>
        
        <p>Najwięcej pracy mamy przy przygotowaniu lektur do publikacji. Z tekstu, który otrzymujemy z Biblioteki
        Narodowej, należy usunąć literówki i inne mechaniczne błędy, a następnie opatrzyć tekst przypisami, pamiętając o
        tym, że nasza oferta skierowana jest przede wszystkim do uczniów, dla których wiele słów i zwrotów będzie brzmiało
        anachronicznie. Wydania dawniejsze (rygor wyznacza tu prawo autorskie) poddawane są koniecznym uwspółcześnieniom
        językowym, np. w zakresie ortografii lub fleksji, przy czym pilnujemy, aby nie naruszać artystycznej swoistości
        tekstu. Ostatnim etapem jest wyszukiwanie motywów i tematów literackich, mające pomóc przejrzeć literaturę "na
        wskroś". We wszystkich tych pracach wspomagają nas wolontariusze – nauczyciele i studenci – często służąc również
        radami i uwagami przy podejmowaniu ważnych decyzji.</p>
        
        <h2>Jak się do nas zgłosić?</h2>
        
         <p>Wszystkie zainteresowane osoby prosimy o przysłanie maila na adres fundacja@nowoczesnapolska.org.pl.
        Zapraszamy także na naszą stronę roboczą, na której pracujemy nad tekstami:
        http://wiki.wolnepodreczniki.pl/Lektury.</p>

    </div>
    <div class="column-right">
        <h2>Najbardziej zasłużeni wolontariusze</h2>

        <h3>Anerys (współpracuje z nami od 5 lipca 2007)</h3>

        <p>m.in. brała udział w tworzeniu listy motywów i tematów literackich, dyskusji o gatunkach literackich, opracowywała Bogurodzicę, „Fraszki” i „Treny” Kochanowskiego; wiersze Słowackiego (Grób Agamemnona), „Świętoszka” Moliere'a, czy poezje Kasprowicza (w tym hymn „Dies Irae”); zob. też na naszej stronie „wkład użytkownika”: <a href="http://wiki.wolnepodreczniki.pl/Specjalna:Wk%C5%82ad/Anerys">http://wiki.wolnepodreczniki.pl/Specjalna:Wk%C5%82ad/Anerys</a></p>


        <h3>Olga_Wojtczak (współpracuje z nami od 21 października 2008)</h3>

        <p>m.in. opracowywała powieści Sienkiewicza (Trylogia), Reymonta, Żeromskiego, dramaty Shakespeare'a; zob. też na naszej stronie „wkład użytkownika”: <a href="http://wiki.wolnepodreczniki.pl/Specjalna:Wk%C5%82ad/Olga_Wojtczak">http://wiki.wolnepodreczniki.pl/Specjalna:Wk%C5%82ad/Olga_Wojtczak</a></p>


        <h3>Renataml (współpracuje z nami od 30 czerwca 2007)</h3>

        <p>brała udział w dyskusji na temat listy motywów, wspomagała nas radami jako doświadczona nauczycielka, edytowała „Lalkę” Prusa, „Balladynę” Słowackiego, „Siłaczkę” Żeromskiego.

        <a href="http://wiki.wolnepodreczniki.pl/Specjalna:Wk%C5%82ad/Renataml">http://wiki.wolnepodreczniki.pl/Specjalna:Wk%C5%82ad/Renataml</a></p>


        <h3>Ingene (współpracuje z nami od 16 lipca 2008)</h3>

        <p>m.in. opracowywała „Siłaczkę” Żeromskiego, „Quo vadis” Sienkiewicza oraz „Treny” Kochanowskiego; zob. też na naszej stronie „wkład użytkownika”: <ahref="http://wiki.wolnepodreczniki.pl/Specjalna:Wk%C5%82ad/Ingene">http://wiki.wolnepodreczniki.pl/Specjalna:Wk%C5%82ad/Ingene</a></p>


        <h3>Marysia Bailey (współpracuje z nami od 1 października 2007)</h3>

        <p>m.in. brała udział w tworzeniu listy motywów i tematów literackich oraz opisywaniu ich użycia; opracowywała „Chłopów” Reymonta, „Lalkę” Prusa, „Nie-Boską komedię” Krasińskiego, „Bajki” i „Satyry” Krasickiego, „Antygonę” Sofoklesa oraz utwory Kochanowskiego, Morsztyna, Mickiewicza, Kasprowicza, Goethego, Oppmana, Kasprowicza; zob. też na naszej stronie „wkład użytkownika”: <a href="http://wiki.wolnepodreczniki.pl/index.php?title=Specjalna:Wk%C5%82ad&amp;limit=500&amp;target=Marysiabailey">http://wiki.wolnepodreczniki.pl/index.php?title=Specjalna:Wk%C5%82ad&amp;limit=500&amp;target=Marysiabailey</a>; ponadto przygotowywała i prowadziła szkolenie dla wolontariuszy 15 marca 2008; zajmowała się proofreadingiem, a obecnie kieruje pracami nad audiobookami.</p>


        <h3>Agnieszka Kappa (współpracuje z nami od 16 marca 2008)</h3>

        <p>m.in. brała udział w tworzeniu listy i opisie użycia motywów i tematów literackich; opracowywała teksty Sienkiewicza (Latarnik, Janko Muzykant, Quo vadis); zob. też na naszej stronie „wkład użytkownika”: <a href="http://wiki.wolnepodreczniki.pl/index.php?title=Specjalna:Wk%C5%82ad&amp;limit=500&amp;target=AgnieszkaKappa">http://wiki.wolnepodreczniki.pl/index.php?title=Specjalna:Wk%C5%82ad&amp;limit=500&amp;target=AgnieszkaKappa</a></p>


        <h3>Ewa_Serafin (współpracuje z nami od 15 marca 2008)</h3>

        <p>m.in. brała udział w tworzeniu listy i opisie użycia motywów i tematów literackich, opracowywała poezje Kasprowicza („Z wichrów i hal”, „Nad przepaściami”, „W ciemności schodzi moja dusza” oraz „Nad Niemnem” Orzeszkowej; zob. też na naszej stronie „wkład użytkownika”: <a href="http://wiki.wolnepodreczniki.pl/Specjalna:Wk%C5%82ad/Ewa_Serafi">http://wiki.wolnepodreczniki.pl/Specjalna:Wk%C5%82ad/Ewa_Serafi</a>n</p>


        <h3>Agatapaszkowska (współpracuje z nami od 15 marca 2008)</h3>

        <p>m.in. opracowywała „W pustyni i w puszczy” Sienkiewicza ; zob. też na naszej stronie „wkład użytkownika”: <a href="http://wiki.wolnepodreczniki.pl/Specjalna:Wk%C5%82ad/Agatapaszkowska">http://wiki.wolnepodreczniki.pl/Specjalna:Wk%C5%82ad/Agatapaszkowska</a></p>


        <h3>EmiliaZdankiewicz (współpracuje z nami od 17 marca 2008)</h3>

        <p>m.in. motywy literackie dyskusja i opisywanie, Słowacki, Kordian; Konopnicka, Nasza szkapa; Mickiewicz, Dziady cz. III; zob. też na naszej stronie „wkład użytkownika”: <a href="http://wiki.wolnepodreczniki.pl/Specjalna:Wk%C5%82ad/EmiliaZdankiewicz">http://wiki.wolnepodreczniki.pl/Specjalna:Wk%C5%82ad/EmiliaZdankiewicz</a></p>


        <h3>Jmyszkowska (współpracuje z nami od 26 marca 2008)</h3>

        <p>m. in. opracowywała „Giaura” Byrona oraz „Quo vadis” Sienkiewicza; zob. też na naszej stronie „wkład użytkownika”: <a href="http://wiki.wolnepodreczniki.pl/Specjalna:Wk%C5%82ad/Jmyszkowska">http://wiki.wolnepodreczniki.pl/Specjalna:Wk%C5%82ad/Jmyszkowska</a></p>


        <h3>Hanna_Golab (współpracuje z nami od 15 marca 2008)</h3>

        <p>opracowywała „Króla Edypa” Sofoklesa oraz „Dusiołka” Leśmiana; zob. też na naszej stronie „wkład użytkownika”: <a href="http://wiki.wolnepodreczniki.pl/Specjalna:Wk%C5%82ad/Hanna_Golab">http://wiki.wolnepodreczniki.pl/Specjalna:Wk%C5%82ad/Hanna_Golab</a></p>
    </div>

    <div class="clearboth"></div>

    <div id="volontariat" class="column-left">
    <h2>Wolontariat dla wiedzy</h2>
	<p>
		Biogramy pisarzy oraz definicje epok i gatunków literackich w
		bibliotece internetowej Wolne Lektury napisali uczniowie
		czterech szkół podczas warsztatów „Wolontariat dla wiedzy”.
	</p>

	<p>
		Uczniowie pracowali wspólnie pod merytorycznym nadzorem
		nauczycieli i specjalistów – literaturoznawców na
		<a href="http://wolnepodreczniki.pl/wolontariat/">
			platformie internetowej wiki</a>
		przygotowanej przez zespół
		<a href="http://2ia.pl/">2ia</a>. Praca nad notami była jednocześnie nauką wykorzystywania
		komputerów i internetu do wyszukiwania informacji, a także
		weryfikowania ich wiarygodności.
	</p>

	<p>
		Projekt "Wolontariat dla wiedzy" został zrealizowany dzięki
		wsparciu
		<a href="http://www.menis.gov.pl/">
			Ministerstwa Edukacji Narodowej</a>. Nagrody dla uczniów ufundowali
		<a href="http://www.nk.com.pl/engine/index.php?page=glowna">
			Wydawnictwo Nasza Księgarnia</a>
		i
		<a href="http://helion.pl/">Wydawnictwo Helion</a>. Noty zweryfikowano w serwisie
		<a href="http://www.plagiat.pl/webplagiat/main.action">
			Plagiat.pl</a>.
	</p>

	<p>
		<a href="/media/wolontariat.pdf">Raport z realizacji projektu „Wolontariat dla wiedzy"</a>.
	</p>
	<p>
	<img src="/media/img/wolontariat/okladka.jpg" style='margin: 10px' />
	<img src="/media/img/wolontariat/01.jpg" style='margin: 10px' />
	<img src="/media/img/wolontariat/02.jpg" style='margin: 10px' />
    <img src="/media/img/wolontariat/03.jpg" style='margin: 10px' />
    <img src="/media/img/wolontariat/04.jpg" style='margin: 10px' />
	</p>
	
    </div>
    
    
    <div class="column-right">
	<h2>Autorzy</h2>

	<ol>
		<li>
			<p>
				Gimnazjum nr 40 z Oddziałami Integracyjnymi w Zespole
				Szkół nr 69 im. Armii Krajowej Grupy Bojowej „KRYBAR”,
				ul. Drewniana 8, 00-345 Warszawa; klasa druga pod opieką
				Anny Budziarek-Friedrich:
			</p>

			<ul>
				<li>Burdon Filip;</li>
				<li>Dębski Bartek;</li>
				<li>Jackowicz Kamil;</li>
				<li>Kurek Paweł;</li>
				<li>Makles Bartosz;</li>
				<li>Markiewicz Jeremiasz;</li>
				<li>Migdał Katarzyna;</li>
				<li>Mioduszewski Michał;</li>
				<li>Pfeiffer Ida;</li>
				<li>Płaskowicka Karolina;</li>
				<li>Sailer Ewa.</li>
			</ul>
		</li>

		<li>
			<p>
				XXXIII Liceum Ogólnokształcące im. Mikołaja Kopernika,
				ul. Bema 76, 01-225 Warszawa; klasa pierwsza o profilu
				biologiczno-chemicznym pod opieką Elżbiety Konkowskiej:
			</p>

			<ul>
				<li>Chwil Bartłomiej;</li>
				<li>Czarnecka Natalia;</li>
				<li>Gawrońska Iga;</li>
				<li>Grabarczyk Marta;</li>
				<li>Jastrząb Katarzyna;</li>
				<li>Krawczak Olga;</li>
				<li>Krawczyk Marianna;</li>
				<li>Kur Natalia;</li>
				<li>Kwiatek Marta;</li>
				<li>Laśkiewicz Joanna;</li>
				<li>Machczyńska Daria;</li>
				<li>Miecznikowska Izabela;</li>
				<li>Moczulska Karolina;</li>
				<li>Mościcka Aneta;</li>
				<li>Narloch Sabina;</li>
				<li>Przybysz Paweł;</li>
				<li>Puchta Marek;</li>
				<li>Ryska Cezary;</li>
				<li>Sandomierski Bartłomiej;</li>
				<li>Sławiński Tomasz;</li>
				<li>Słowik Olga;</li>
				<li>Starzycka Katarzyna;</li>
				<li>Strzelczak Karolina;</li>
				<li>Szafran Danuta;</li>
				<li>Szmigielska Magdalena;</li>
				<li>Szulkowska Alicja;</li>
				<li>Ślusarczyk Anna;</li>
				<li>Tytkowska Anna.</li>
			</ul>
			<li>
				<p>
					Autorskie Niepubliczne Liceum Ogólnokształcące nr
					42, ul. Iwicka 47 B, 00-735 Warszawa; klasa pierwsza
					o profilu ogólnym pod opieką Michała Friedricha:
				</p>

				<ul>
					<li>Baraniecka Marta;</li>
					<li>Gołaszewska Ewa;</li>
					<li>Kwiatkowski Michał;</li>
					<li>Machnikowska Monika;</li>
					<li>Pietrzak Bartosz;</li>
					<li>Przespolewski Przemysław;</li>
					<li>Rosińska Zuzanna;</li>
					<li>Sibiga Magdalena.</li>
				</ul>
			</li>
			<li>
				<p>
					LXIV Liceum Ogólnokształcące im. St. I. Witkiewicza,
					ul. Elbląska 51, 01-737 Warszawa; klasa pierwsza o
					profilu ogólnym pod opieką Daniela Zycha:
				</p>

				<ul>
					<li>Andrzejczak Kamil;</li>
					<li>Czubaj Konrad;</li>
					<li>Drągowska Katarzyna;</li>
					<li>Gajewska Magdalena;</li>
					<li>Głowacki Jan;</li>
					<li>Grad Paweł;</li>
					<li>Hnatowski Bartek;</li>
					<li>Karwowski Marcin;</li>
					<li>Kłos Aneta;</li>
					<li>Kozieł Barbara;</li>
					<li>Kozłowska Anna;</li>
					<li>Krug Pamela;</li>
					<li>Krzosek Jakub;</li>
					<li>Lubaś Michał;</li>
					<li>Masewicz Natalia;</li>
					<li>Mastalerz Agnieszka;</li>
					<li>Modelska Marta;</li>
					<li>Nowak Aleksandra;</li>
					<li>Pabian Agnieszka;</li>
					<li>Paszkowska Aleksandra;</li>
					<li>Pielat Zofia;</li>
					<li>Poniecka Agnieszka;</li>
					<li>Pytlak Urszula;</li>
					<li>Rosa Karolina;</li>
					<li>Smyczyńska Kamila;</li>
					<li>Stolińska Barbara;</li>
					<li>Szymańska Katarzyna;</li>
					<li>Ścibior Ewa;</li>
					<li>Witczak Magda;</li>
					<li>Witkowska Justyna;</li>
					<li>Wyrzykowska Jowita;</li>
					<li>Ziółkowska Adrianna.</li>
				</ul>
			</li>
	  </li>
	  </ol>
	  </div>
{% endblock %}

