{% extends "base.html" %}
{% load chunks %}

{% block title %}Wolontariat dla wiedzy w WolneLektury.pl{% endblock %}

{% block body %}
    <h1>Wolontariat dla wiedzy</h1>
    <form action="{% url search %}" method="GET" accept-charset="utf-8" id="search-form">
        <p>{{ form.q }} <input type="submit" value="Szukaj" /> <strong>lub</strong> <a href="{% url main_page %}">wróć do strony głównej</a></p>
    </form>

    <div id="volontariat" class="column-left">
        {% chunk "voluntary_services_left" %}
    </div>
    <div class="column-right">
        {% chunk "voluntary_services_right" %}
    </div>
{% endblock %}

