$teal: #007880;


.l-change-pop {
    transition: 350ms all;
    
    p {
        a {
            color: $teal;
        }
    }
}


.is-open .l-change-pop {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}


.ui-autocomplete a {
    display: block;
    transition: none;
}


.jp-state-playing .icon-play {
  &:before {
    content: $icon-pause;
  }
}
.jp-state-muted .icon-volume {
  &:before {
    content: $icon-mute;
  }
}
