$teal: #007880;


.l-change-pop {
    transition: 350ms all;
    
    p {
        a {
            color: $teal;
        }
    }
}


.is-open .l-change-pop {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}


.ui-autocomplete a {
    display: block;
    transition: none;
}


.jp-state-playing .icon-play {
  &:before {
    content: $icon-pause;
  }
}
.jp-state-muted .icon-volume {
  &:before {
    content: $icon-mute;
  }
}


.sponsors-page {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;

    @include rwd(tablet) {
        flex-wrap: wrap;
    }

    .sponsors-column {
        margin: 1em 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0;
        .sponsors-column-name {
            font-weight: $regular;
            @include font-size(18px);
            line-height: 150%;
            text-align: center;
            color: #474747;
        }
        .sponsor-logos {
            height: 120px;
            overflow: hidden;
            a {
                margin-top: 20px;
                display: block;
                width: 120px;
                height: 120px;
            }
        }
    }
}




.l-checkout__support__bar span.little-progress::after {
    white-space: nowrap;
    justify-content: left;
    width: 200px;
    right: -210px;
    color: #083F4D;
}
.funding-details {
    h2 {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
    .funding-description {
        h2 {
            font-size: 1.25rem;
            line-height: 1.35;
        }
    }
}
