.sponsors-page {
    background: white;
    margin-top: 1em;
}

.sponsors-column {
    float: left;
    width: 135px;
}

.sponsor-logos {
    height: 130px;
}

.sponsors-page img {
    float: left;
}

.sponsors-page a {
    display: block;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
}
