<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	{% load i18n chunks compressed catalogue_tags sponsor_tags %}
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Style-Type" content="text/css">
        <title>{% block title %}WolneLektury.pl{% endblock %}</title>
        <link rel="icon" href="{{ STATIC_URL }}img/favicon.png" type="image/png" />
        <link rel="search" type="application/opensearchdescription+xml" title="Wolne Lektury" href="{{ STATIC_URL }}opensearch.xml">
        {% compressed_css "all" %}
        <script type="text/javascript">var LANGUAGE_CODE = "{{ LANGUAGE_CODE }}";</script>
        {% compressed_js "jquery" %}
        {% compressed_js "all" %}
        {% block extrahead %}
        {% endblock %}
    </head>
    <body id="{% block bodyid %}base{% endblock %}">
        <!--[if lt IE 7]><link href={{ STATIC_URL }}infobar/infobar.css rel=stylesheet>
        <div id=infobar><a href=http://browsehappy.pl/infobar>
        {% trans "Internet Explorer cannot display this site properly. Click here to read more..." %}
        </a></div><div id=viewplot><script src={{ STATIC_URL }}infobar/infobar.js></script><![endif]-->
        {% block bodycontent %}
        <div id="top-message">
            {% chunk "top-message" %}
        </div>
        <div id="header">
            <div id="logo">
                <a href="/"><img src="{{ STATIC_URL }}img/logo-bez.png" alt="WolneLektury.pl" /><br/>szkolna biblioteka internetowa</a>
            </div>
            <div id="user-info" style="display:none">
                {% if user.is_authenticated %}
                    <p>
                        {% trans "Welcome" %}, <strong>{{ user.username }}</strong>
                        | <a href="{% url user_shelves %}" id="user-shelves-link">{% trans "Your shelves" %}</a>
                        {% if user.is_staff %}
                        | <a href="/admin/">{% trans "Administration" %}</a>
                        {% endif %}
						| <a href="{% url suggest %}" id="suggest-link">{% trans "Report a bug" %}</a>
                        | <a href="{% url logout %}?next={{ request.get_full_path }}">{% trans "Logout" %}</a>
                    </p>
                {% else %}
                    <p><a href="{% url suggest %}" id="suggest-link">{% trans "Report a bug" %}</a>
                        | <a href="{% url login %}" class="login-register-link">{% trans "Sign in" %} / {% trans "Register" %}</a></p>
                {% endif %}
            </div>
            <div class="social-links" style="float:right">
                <a href="http://pl-pl.facebook.com/pages/Wolne-Lektury/203084073268"><img src="{{ STATIC_URL }}img/social/facebook.png" alt="WolneLektury @ Facebook" /></a>
                <a href="http://nk.pl/profile/30441509"><img src="{{ STATIC_URL }}img/social/naszaklasa.png" alt="WolneLektury @ NK" /></a>
            </div>
				<form action="{% url django.views.i18n.set_language %}" method="post">
            <div class="lang-menu" style="float:right;">
					{% spaceless %}
					{% for lang in LANGUAGES %}					     
					    <button type="submit" name="language" title="{{ lang.1 }}"
							class="{% ifequal lang.0 LANGUAGE_CODE %}active{% endifequal %} {% if forloop.last %}last{% endif %}" 
							value="{{ lang.0 }}">{{ lang.0|upper }}</button>
					{% endfor %}	
					{% endspaceless %}				
			</div>
                </form>
            <div class="clearboth"></div>
        </div>
        <div id="maincontent">
            {% block body %}
            {% endblock %}
        </div>
        <div class="clearboth"></div>
        <div id="footer">
            <p>
            	{% blocktrans %}
				Wolne Lektury is a project lead by <a href="http://nowoczesnapolska.org.pl/">Modern Poland Foundation</a>.
				Digital reproductions are made by <a href="http://www.bn.org.pl/">The National Library</a> and <a href="http://www.bs.katowice.pl/">Biblioteka Śląska</a>, based on TNL and BŚ resources.
				Hosting <a href="http://eo.pl/">EO Networks</a>.
				{% endblocktrans %}
            </p>
            <p>
            	{% blocktrans %}
				Modern Poland Foundation, 00-514 Warsaw, ul. Marszałkowska 84/92 lok. 125, tel/fax: (22) 621-30-17
                e-mail: <a href="mailto:fundacja@nowoczesnapolska.org.pl">fundacja@nowoczesnapolska.org.pl</a>
				{% endblocktrans %}
            </p>

			{% sponsor_page "footer" %}
        </div>
        <div id="login-register-window">
            <div class="header"><a href="#" class="jqmClose">{% trans "Close" %}</a></div>
            <div class="target">
                <form method="post" action="{% url login %}" id="login-form" class="cuteform">
                    <h2>{% trans "Sign in" %} / <a href="#" id="show-registration-form" style="font-size: 0.85em; font-weight: normal">{% trans "Register" %}</a></h2>
                    <p><span id="id_login-__all__"></span></p>
                    <ol>
                        {% authentication_form %}
                        <li><input type="submit" value="{% trans "Sign in" %}" /></li>
                    </ol>
                </form>
                <form method="post" action="{% url register %}" id="registration-form" class="cuteform" style="display: none;">
                    <h2><a href="#" id="show-login-form" style="font-size: 0.85em; font-weight: normal">{% trans "Sign in" %}</a> / {% trans "Register" %}</h2>
                    <p><span id="id_registration-__all__"></span></p>
                    <ol>
                        {% user_creation_form %}
                        <li><input type="submit" value="{% trans "Register" %}" /></li>
                    </ol>
                </form>
            </div>
        </div>
        <div id="user-shelves-window">
            <div class="header"><a href="#" class="jqmClose">{% trans "Close" %}</a></div>
            <div class="target">
                <p><img src="{{ STATIC_URL }}img/indicator.gif" alt="*"/> {% trans "Loading" %}</p>
            </div>
        </div>
        <div id="suggest-window">
            <div class="header"><a href="#" class="jqmClose">{% trans "Close" %}</a></div>
            <div class="target">
                <p><img src="{{ STATIC_URL }}img/indicator.gif" alt="*"/> {% trans "Loading" %}</p>
            </div>
        </div>
        {% endblock bodycontent %}
        {{ piwik_tag|safe }}
        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-2576694-1");
        pageTracker._trackPageview();
        </script>
    </body>
</html>