{% extends "base.html" %}
{% load cache i18n catalogue_tags infopages_tags %}


{% block title %}{% trans "Wolne Lektury internet library" %}{% endblock %}

{% block body %}

    <blockquote id="big-cite">
        <a href='http://google.com'>
        <h2 class="mono">Jarosław Lipszyc poleca:</h2>
        <p id="big-cite-text">Dobranoc, obróć jeszcze raz na mnie oczęta,<br/>
        (…) Daj mi pierś ucałować<br/>
        Dobranoc, zapięta.</p>
        <p class="mono" id="big-cite-source">Adam Mickiewicz, Dziady część III</p>
        </a>
    </blockquote>


    {% spaceless %}


    <div id="promo-box">
        <div class="grid-line" id="promo-box-header">
            <h2 class="mono">Trwa konkurs</h2>
        </div>
        <div id="promo-box-body" class="accent4">
            <p id="promo-box-title" class="mono"><span>Konkurs poezji automatycznej</span></p>
            <div id="promo-box-content">
            <p>Znacie Leśmianatora? To niewielki skrypt miskujący na życzenie
            wiersze z Wolnych Lektur.</p>
            </div>
        </div>
    </div>


    <h2 class="main-last"><span class="mono">Ostatnie publikacje</span></h2>
        {% for book in last_published %}
            {{ book.mini_box }}
        {% endfor %}

    <div class="clearboth"></div>

    <div class="infopages-box">
        <h2><span class='mono'>Aktualności</span></h2>
        {% cache 1800 latest-blog-posts %}
            {% latest_blog_posts "http://nowoczesnapolska.org.pl/category/wolne-lektury/feed/" %}
        {% endcache %}
    </div>


    <div class="infopages-box">
        <h2><span class='mono'>Narzędzia</span></h2>

        <ul>
            <li><a href="{% url suggest %}" id="suggest" class="ajaxable">{% trans "Report a bug or suggestion" %}</a></li>
            <li><a href="http://turniej.wolnelektury.pl">Turniej Elektrybałtów</a></li>
            <li><a href="{% url lesmianator %}">Leśmianator</a></li>
            <li><a href="{% url infopage "mobilna" %}">{% trans "Mobile app" %}</a></li>
            <li><a href="{% url infopage "widget" %}">{% trans "Widget" %}</a></li>
            <li><a href="{% url suggest_publishing %}" id="suggest-publishing" class="ajaxable">{% trans "Missing a book?" %}</a></li>
            <li><a href="{% url publish_plan %}">{% trans "Publishing plan" %}</a></li>
        </ul>
    </div>


    <div class="infopages-box">
        <h2><span class='mono'>Informacje</span></h2>

        {% infopages_on_main %}

        <div class="social-links">
            <a href="http://pl-pl.facebook.com/pages/Wolne-Lektury/203084073268"><img src="{{ STATIC_URL }}img/social/facebook.png" alt="WolneLektury @ Facebook" /></a>
            <a href="http://nk.pl/profile/30441509"><img src="{{ STATIC_URL }}img/social/naszaklasa.png" alt="WolneLektury @ NK" /></a>
        </div>
    </div>


    {% endspaceless %}

{% endblock %}
