{% extends "base.html" %}
{% load cache chunks i18n catalogue_tags infopages_tags social_tags %}


{% block title %}{% trans "Wolne Lektury internet library" %}{% endblock %}

{% block body %}

    <div id="big-cite">
        {% cite_promo %}
    </div>

    {% spaceless %}


    <div id="promo-box">
        {% chunk "promo" %}
    </div>


    <h2 class="main-last"><span class="mono">Ostatnie publikacje</span></h2>
        {% cache 60 last-published-on-main %}
            {% for book in last_published %}
                {% book_mini book %}
            {% endfor %}
        {% endcache %}

    <div class="clearboth"></div>

    <div class="infopages-box">
        <h2><span class='mono'>Aktualności</span></h2>
        {% cache 1800 latest-blog-posts %}
            {% latest_blog_posts "http://nowoczesnapolska.org.pl/category/wolne-lektury/feed/" %}
        {% endcache %}
    </div>


    <div class="infopages-box">
        <h2><span class='mono'>Narzędzia</span></h2>

        <ul>
            <li><a href="{% url suggest %}" id="suggest" class="ajaxable">{% trans "Report a bug or suggestion" %}</a></li>
            <li><a href="http://turniej.wolnelektury.pl">Turniej Elektrybałtów</a></li>
            <li><a href="{% url lesmianator %}">Leśmianator</a></li>
            <li><a href="{% url infopage "mobilna" %}">{% trans "Mobile app" %}</a></li>
            <li><a href="{% url infopage "widget" %}">{% trans "Widget" %}</a></li>
            <li><a href="{% url suggest_publishing %}" id="suggest-publishing" class="ajaxable">{% trans "Missing a book?" %}</a></li>
            <li><a href="{% url publish_plan %}">{% trans "Publishing plan" %}</a></li>
        </ul>
    </div>


    <div class="infopages-box">
        <h2><span class='mono'>Informacje</span></h2>
        {% cache 300 infopages-on-main LANGUAGE_CODE %}
            {% infopages_on_main %}
        {% endcache %}

        <div class="social-links">
            <a href="http://pl-pl.facebook.com/pages/Wolne-Lektury/203084073268"
                title='Wolne Lektury @ Facebook'>[f]</a>
            <a href="http://nk.pl/profile/30441509"
                title='Wolne Lektury @ NK'>[nk]</a>
        </div>
    </div>


    {% endspaceless %}

{% endblock %}
