{% if banner %}
  {% if closable %}
    <a class='annoy-banner-on annoy-banner-on_{{ banner.place }}'
       href="{{ banner.url }}"
       data-target="#annoy-banner-{{ banner.id }}"
    >
      {{ banner.open_label }}
    </a>
  {% endif %}
  <div class="annoy-banner annoy-banner_{{ banner.place }}{% if banner.image %} with-image{% endif %}" id="annoy-banner-{{ banner.id }}">
    {% if not banner.action_label %}
      <a href="{{ banner.url }}">
    {% endif %}
    <div class="annoy-banner-inner">

      {% if banner.image %}
        <img src="{{ banner.image.url }}">
      {% endif %}
      <div class="text">
        {{ banner.text|safe|linebreaks }}
      </div>

      {% if banner.action_label %}
        <a class="action" href="{{ banner.url }}">
          {{ banner.action_label }}
        </a>
      {% endif %}
    </div>
    {% if not banner.action_label %}
      </a>
    {% endif %}
    {% if closable %}
      <a class='annoy-banner-off annoy-banner-off_{{ banner.place }}'>{{ banner.close_label|default:"x" }}</a>
    {% endif %}
  </div>

{% endif %}
