{% extends "catalogue/viewer_base.html" %}
{% load i18n %}


{% block title %}Leśmianator{% endblock %}


{% block menu %}
    <li><a href='{% url 'lesmianator' %}'><span class="label">Wolne Lektury przepuszczone przez mikser.</span></a></li>
    {% if shelf or not books %}
        {# shelf or global mixing #}
        <li><a href=''><span class='label'>Twórzże się jeszcze raz!</span></a></li>
    {% else %}{% if book %} 
        <li><a href='{% url "poem_from_book" book.slug %}'><span class='label'>Twórzże się jeszcze raz!</span></a></li>
    {% endif %}{% endif %}
{% endblock menu %}



{% block main-text %}
    <div id="book-text">
            <h1>
                <span class="author">Leśmianator</span>
                <span class="title">***</span>
            </h1>
            {{ poem.text|linebreaksbr }}
        <div id="footnotes" >
            <h3>O utworze</h3>
            <div><p>
                Aby pokazać innym ten utwór, użyj linku:<br/>
                <a class="permalink" href="{{ poem.get_absolute_url }}">http://www.wolnelektury.pl{{ poem.get_absolute_url }}</a>
            </p></div>
            <div>
            {% if book %}
                <p>Tekst powstał przez zmiksowanie utworu
                <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>.<br/>
                <a href="{% url 'poem_from_book' book.slug %}">Zmiksuj go ponownie</a>
                albo <a href="{% url 'lesmianator' %}">zobacz</a>, co jeszcze możesz zamieszać.</p>
            {% else %}{% if books %}
                <p>Tekst powstał przez zmiksowanie utworów:</p>
                <ul>
                    {% for book in books %}
                        <li><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></li>
                    {% endfor %}
                </ul>
                {% if shelf %}
                    <p>
                    <a href="">Zmiksuj</a>
                    półkę <a href="{{ shelf.get_absolute_url }}">{{ shelf.name }}</a>
                    jeszcze raz, albo
                    <a href="{% url 'lesmianator' %}">zobacz</a>, co jeszcze możesz zamieszać.</p>
                {% else %}
                    <p><a href="{% url 'lesmianator' %}">Zobacz</a>,
                    jak łatwo możesz stworzyć własny wierszmiks.</p>
                {% endif %}
            {% else %}
                <p>Wiersz powstał przez zmiksowanie ze sobą całej liryki z Wolnych Lektur.
                <a href="">Spróbuj jeszcze raz</a>, albo
                <a href="{% url 'lesmianator' %}">zobacz</a>, co jeszcze możesz zamieszać.</p>
            {% endif %}{% endif %}
            <div>
        </div>
        </div>
    </div>
{% endblock main-text %}
