{% extends '2022/base.html' %}
{% load chunks %}
{% load club %}
{% load static %}


{% block content %}
  <div class="l-container">
    <div class="l-breadcrumb">
      <a href="#"><span>Strona główna</span></a>
      <a href="#"><span>Wesprzyj nas</span></a>
    </div>
  </div>


  <main class="l-main">
    <div class="l-checkout__support">
      <div class="l-checkout__support__bar">
        <span data-label="Jest nas {% club_count_recurring %}" style="width: calc({% club_count_recurring %}% / 10);"></span>
      </div>
      <div class="l-checkout__support__footer">
        <p>Dołącz do naszych stałych <strong>darczyńców</strong>!</p>
        <p>Minimalną stabilność uzyskamy przy <strong>1000</strong> regularnych darczyńców!</p>
      </div>
    </div>

    <div class="l-checkout__box">
      <div class="l-checkout__box__header">
        <img src="{% block donation-jumbo-image %}{% static '2022/images/checkout-img-1.jpg' %}{% endblock %}" alt="Wspieraj Wolne Lektury">
        <div class="l-checkout__box__header__content">
          <h1>Wspieraj Wolne Lektury</h1>
          <p>Dziękujemy, że chcesz razem z nami uwalniać książki!</p>
          <p>Wspieraj Wolne Lektury stałą wpłatą – nawet niewielka ma wielką moc! Możesz też wesprzeć Wolne Lektury jednorazowo.</p>
        </div>
      </div>
      <div class="l-checkout__steps">

        {% if view.step > 1 and view.step != 4 %}
          <a href="{% url 'donation_step1' schedule.key %}">
        {% endif %}
        <div class="{% if view.step == 1 %}is-current{% else %}is-completed{% endif %}">
          <span>1</span>
          <p>Rodzaj wsparcia</p>
        </div>
        {% if view.step > 1 and view.step != 4 %}
          </a>
        {% endif %}

        {% if view.step != 2 and schedule and view.step != 4 %}
          <a href="{% url 'donation_step2' schedule.key %}">
        {% endif %}
        <div class="{% if view.step == 2 %}is-current{% elif not schedule %}is-inactive{% else %}is-completed{% endif %}">
          <span>2</span>
          <p>Dane</p>
        </div>
        {% if view.step != 2 and schedule and view.step != 4 %}
          </a>
        {% endif %}

        {% if view.step != 3 and schedule.email and view.step != 4 %}
          <a href="{{ schedule.get_absolute_url }}">
        {% endif %}
        <div class="{% if view.step == 3 %}is-current{% elif not schedule or not schedule.method %}is-inactive{% else %}is-completed{% endif %}">
          <span>3</span>
          <p>Forma płatności</p>
        </div>
        {% if view.step != 3 and schedule.email and view.step != 4 %}
          </a>
        {% endif %}

        <div class="{% if view.step == 4 %}is-completed{% else %}is-inactive{% endif %}">
          <span>4</span>
          <p>Gotowe</p>
        </div>
      </div>


      {% block donation-step-content %}{% endblock %}

    </div>

    <div class="l-checkout__footer">
      <div class="l-checkout__footer__content">
        <div class="l-checkout__footer__content__item">
          <h3>Transparentność jest dla nas bardzo ważna.</h3>
          <div>
            <div class="l-article__overlay" data-max-height="91">
              {% chunk 'donation-transparency' %}
            </div>
          </div>
        </div>
        <div class="l-checkout__footer__content__item">
          <h3>Informacja o przetwarzaniu danych osobowych</h3>
          <div>
            <div class="l-article__overlay" data-max-height="91">
              {% chunk 'donation-data-processing' %}
            </div>
            <button class="l-article__read-more" aria-label="Kliknij aby rozwinąć" data-label="Więcej" data-action="Mniej">Więcej</button>
          </div>
        </div>
        <div class="l-checkout__footer__content__item">
          <h3>FAQ</h3>
          <div>
            <div class="l-article__overlay" data-max-height="91">
              {% chunk 'donation-faq' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>



{% endblock %}
