<h2>Półki zawierające utwór {{ book.title }}</h2>
{% if not user.tag_set.count %}
    <p>Nie posiadasz żadnych półek. Jeśli chcesz, możesz utworzyć nową półkę poniżej.</p>
{% else %}
    <form action="{% url catalogue.views.book_sets book.slug %}" method="POST" accept-charset="utf-8" class="cuteform">
    <ol>
        <li>{{ form.set_ids }}</li>
        <li><input type="submit" value="Zapisz półki"/></li>
    </ol>
    </form>
{% endif %}
<hr />
<form action="{% url catalogue.views.new_set %}" method="POST" accept-charset="utf-8" class="cuteform">
<ol>
    <li>{{ new_set_form.name }} <input type="submit" value="Utwórz nową półkę"/></li>
</ol>
</form>