{% extends 'club/donation_step_base.html' %}
{% load i18n %}


{% block donation-step-content %}
  <div class="l-checkout__completed">
    <div class="l-checkout__completed__wrapper">
      <h1>{% trans "Dziękujemy za wpłatę!" %}</h1>
      <p>
        {% blocktrans trimmed %}
          Zajrzyj teraz do e-maila. Tam znajdziesz link,
          który powiąże płatność z Twoim kontem użytkownika Wolnych Lektur.
        {% endblocktrans %}
      </p>
      <a href="/">{% trans "Wracam do lektur" %}</a>
    </div>
  </div>
{% endblock %}
