{% extends 'club/donation_step_base.html' %}
{% load i18n %}
{% load static %}
{% load club %}


{% block donation-jumbo-image %}{% static '2022/images/checkout-img-4.jpg' %}{% endblock %}


{% block donation-step-content %}
  <div class="l-checkout__cols q-reload-is-monthly {% if schedule.monthly %}is-monthly{% endif %}">
    <div class="l-checkout__col">
      <div class="l-checkout__payments__box is-active">
        <h3>
          {{ schedule.amount|floatformat }} zł
          {% if schedule.monthly %}
            <span>{% trans "/mies." context "kwota na miesiąc" %}</span>
          {% endif %}</h3>
          <img src="{% static '2022/images/checkout-img-3.jpg' %}" alt="">
      </div>
    </div>
    <div class="l-checkout__col">
      {% include "club/donation_infobox.html" %}

      {% if schedule.monthly %}
      <h3>Comiesięczna darowizna będzie pobierana automatycznie</h3>
      <p>Możesz z niej zrezygnować w dowolnej chwili, korzystając z linku który dostaniesz mailem.</p>
      {% endif %}

      <div class="l-checkout__form">
        <div class="l-checkout__form__row full">


      <div class="iframe">
	    
            {% for method in schedule.get_payment_methods %}
              {% invite_payment method schedule %}
            {% endfor %}
          </div>
        </div>
        <div class="l-checkout__form__row full">
          <h3>{% trans "Możesz też ustawić stały przelew na konto:" %}</h3>
          {% include "club/transfer_info.html" %}
        </div>
        <div class="l-checkout__form__row confirm">
          <a href="{% url 'donation_step2' schedule.key %}">{% trans "Powrót" %}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="l-checkout__secure">
    <img src="{% static '2022/images/payments-padlock.png' %}" class="l-checkout__secure__padlock">
    {% trans "Bezpieczne płatności zapewniają" %}:
    <img src="{% static '2022/images/payments-payu.png' %}" class="l-checkout__secure__img" alt="PayU Visa MasterCard">
    {% if club.paypal_enabled %}
      <img src="{% static '2022/images/payments-paypal.png' %}" class="l-checkout__secure__img" alt="PayPal">
    {% endif %}
  </div>
{% endblock %}
