<div class="checkout-infobar" style="background: yellow; padding:20px; border: 1px solid yellow; border-radius: 10px; margin: 0 0 20px;">
  <div class="if-monthly">
    Dziękujemy, że decydujesz się wspierać nas co miesiąc.<br/>
    Jeśli to pomyłka, możesz zmienić darowiznę na <a class="donation-mod-monthly" data-url="{% url 'donation_set_monthly' schedule.key %}" data-monthly="false" href="{% url 'donation_step1' schedule.key %}">jednorazową</a>.
  </div>
  <div class="if-not-monthly">
    Wolę wspierać co miesiąc! 
    <a class="donation-mod-monthly" data-url="{% url 'donation_set_monthly' schedule.key %}" data-monthly="true" href="{% url 'donation_step1' schedule.key %}">Zmień na comiesięczną wpłatę.</a>
  </div>
</div>
