{% extends "base_simple.html" %}
{% load i18n %}
{% load active_schedule from club %}
{% load chunks %}


{% block titleextra %}{% trans "Wolne Lektury potrzebują Twojej pomocy!" %}{% endblock %}


{% block body %}

  <h1>{% trans "Wolne Lektury potrzebują Twojej pomocy!" %}</h1>
  <div class="white-box normal-text">

    {% chunk 'club' %}

    <p style="margin-top: 2em;">
      {% with schedule=request.user|active_schedule %}
        {% if schedule %}
          <a href="{{ schedule.get_absolute_url }}">{% trans "Gratulacje — wspierasz Wolne Lektury!" %}</a>
        {% else %}
          <a style="background:#018189;color:white;border-radius: 10px;padding:1em 2em" href="{% url 'club_join' %}">{% trans "Zacznij wspierać" %}</a>
        {% endif %}
      {% endwith %}
    </p>
  </div>

{% endblock %}
