{% load i18n %}

<ul class="errorlist">
  {% for e in  form.non_field_errors %}
    <li>{{ e }}</li>
  {% endfor %}
  {% for e in  form.plan.errors %}
    <li>{{ e }}</li>
  {% endfor %}
  {% for e in  form.amount.errors %}
    <li>{{ e }}</li>
  {% endfor %}
  {% for e in  form.method.errors %}
    <li>{{ e }}</li>
  {% endfor %}
</ul>

<h3>1. {% trans "Choose your type of support" %}</h3>

{{ form.amount }}
{{ form.monthly }}
{{ form.method }}
<div class="plan-select">
  <span class="button plan-toggle" data-plan="plan-single" data-monthly="False">{% trans "one-time" %}</span>
  <span class="button plan-toggle active" data-plan="plan-monthly" data-monthly="True">{% trans "monthly" %}</span>
</div>

<h3>2. {% trans "Choose the amount" %}</h3>

<div class="plan" id="plan-single" style="display:none;" data-monthly="False" data-min-for-year="{{ club.min_for_year }}" data-amount="{{ club.default_single_amount }}">
  {% for amount in club.singleamount_set.all %}
    <span class="button kwota{% if amount.amount == club.default_single_amount %} active{% endif %}{% if amount.amount >= club.min_for_year %} yearly{% endif %}">{{ amount.amount }}</span>
  {% endfor %}

  <span class="inna">
    <span class="button">{% trans "different amount" %}</span>
    <input type="number" min="{{ club.min_amount }}">
  </span>
  <div class="methods">{% include 'club/payment/payu.html' %}</div>
</div>


<div class="plan" id="plan-monthly" data-monthly="True" data-amount="{{ club.default_monthly_amount }}">
  {% for amount in club.monthlyamount_set.all %}
    <span class="button kwota{% if amount.amount == club.default_monthly_amount %} active{% endif %}">{{ amount.amount }}</span>
  {% endfor %}

  <span class="inna">
    <span class="button">{% trans "different amount" %}</span>
    <input type="number" min="{{ club.min_amount }}">
  </span>
  <div class="methods">
    {% include 'club/payment/payu-re.html' %}
  </div>
</div>

<h3>3. {% trans "Provide contact details" %}</h3>

<p>
  <label class="required">{% trans "First and last name:" %}</label><br>
  {{ form.first_name }}
  <br><br>
  {{ form.last_name }}
</p>


<p>
  <label for="id_email" {% if form.email.field.required %}class="required"{% endif %}>{% trans "E-mail:" %}</label><br>
  {{ form.email }}
</p>

<p>
  <label for="id_phone" {% if form.phone.field.required %}class="required"{% endif %}>{% trans "Phone number:" %}</label><br>
  {{ form.phone }}
</p>

<p>
  <label for="id_postal"  {% if form.postal.field.required %}class="required"{% endif %}>{% trans "Postal address:" %}</label><br>
  {{ form.postal }}<br>
  {{ form.postal_code }} {{ form.postal_town }}<br>
  {{ form.postal_country }}
</p>

{% for c, key, consent_field in form.consent %}
  <p>
    {{ consent_field }}
    <label for="id_{{ key }}" {% if c.required %}class="required"{% endif %}>
      {{ consent_field.label }}
    </label>
  </p>
{% endfor %}


<p>
  {{ form.agree_newsletter }}
  <label for="id_agree_newsletter">
    {% trans "I'd like to subscribe the newsletter." %}
  </label>
</p>

<p class="helptext">{% trans 'You can unsubscribe at any point. More in the <a target="_blank" href="https://nowoczesnapolska.org.pl/prywatnosc/">privacy policy</a>.' %}</p>

<div class="helptext">{{ form.data_processing|safe }}</div>

<div><button class="submit" type='submit'>{% trans "Donate" %}</button></div>
