{% extends "base/base.html" %}


{% block titleextra %}Towarzystwo Przyjaciół Wolnych Lektur{% endblock %}


{% block body %}
<div class="white-box normal-text">

<h1>
Cieszymy się, że jesteś z nami! Dziękujemy za wsparcie!
</h1>
<p>
Od <strong>{{ schedule.started_at.date }}</strong>
{% if schedule.expires_at %}
  do <strong>{{ schedule.expires_at.date }}</strong>
{% endif %}
wspierasz nas kwotą {{ schedule.amount }} zł{% if schedule.monthly %} miesięcznie{% endif %}{% if schedule.yearly %} rocznie{% endif %}.
</p>

{% if schedule.is_active %}
  {% if schedule.is_recurring %}
     {% if schedule.is_cancelled %}
         <p><strong>Płatność anulowana.</strong></p>
         <p>
           <a style="background:#018189;color:white;border-radius: 10px;padding:1em 2em" href="/towarzystwo/dolacz/">Wpłać ponownie</a>
         </p>
     {% else %}
       <form class="wlform" method='post' action="{% url 'club_cancel' schedule.key %}">
        {% csrf_token %}
	<button type="submit" class="submit" style="font-size: .9em">Zrezygnuj z kolejnej płatności</button>
       </form>
     {% endif %}
  {% else %}
     <form class="wlform" method='post' action=''>
	{% csrf_token %}
	<button type="submit" class="submit">Dorzuć się ponownie</button>
     </form>
  {% endif %}


{% else %}
 {% if schedule.is_expired %}
   Członkostwo wygasło.
   <form method='post' action='' class="wlform">
        {% csrf_token %}
	<button type="submit" class="submit">Dorzuć się ponownie</button>
   </form>


 {% else %}
  {% if not schedule.payed_at %}
   <p>Płatność nie została jeszcze wykonana.</p>
   {% if schedule.payuorder_set.exists %}
     Czekamy na potwierdzenie płatności.
   {% else %}

     <form method='post' action=''>
        {% csrf_token %}
	<button type="submit" class="submit">Dorzuć się</button>
     </form>

   {% endif %}
  {% endif %}
 {% endif %}
{% endif %}


<hr style="margin: 2em 0;">


<h2>Towarzystwo Przyjaciół Wolnych Lektur</h2>


{% if schedule.membership %}
  <p>
  Należysz już do Towarzystwa Przyjaciół Wolnych Lektur!</p>
{% else %}

<p>
Twoje wsparcie upoważnia Cię do członkostwa w Towarzystwie Przyjaciół Wolnych Lektur.
Aby w pełni z niego korzystać, zapisz się do Towarzystwa swoim kontem użytkownika na Wolnych Lekturach.
</p>


<p>
<a style="background:#018189;color:white;border-radius: 10px;padding:1em 2em;" href="{% url 'club_claim' schedule.key %}">Zapisz się</a>
</p>
{% endif %}




	
<a href="">

</div>

{% endblock %}
