{% extends "base_simple.html" %}
{% load chunks i18n %}


{% block titleextra %}{% trans "Wolne Lektury potrzebują Twojej pomocy!" %}{% endblock %}


{% block body %}
  <div class="white-box normal-text">
    <h1>{% blocktrans trimmed with year=view.kwargs.year email=object.email %}
      Zestawienie darowizn w roku {{ year }} dla adresu {{ email }}.
    {% endblocktrans %}</h1>

    <table class="table" border="1">
      <thead>
        <tr>
          <th>{% trans "Data" %}</th>
          <th>{% trans "Kwota" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for order in payments %}
          <tr>
	    <td>{{ order.completed_at.date }}</td>
	    <td>{{ order.get_amount }} zł</td>
          </tr>
        {% endfor %}
        <tr>
	  <th>{% trans "Suma" %}:</th>
	  <th>{{ total_amount|default:0 }} zł</th>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
